/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


@media(max-width:900px){
  #btnCode{
      background: #66BB6A;
      color: white;
      border-radius: 15px;
      padding: 40px 100px 40px 100px;
      font-size: 25px;
      margin:300px 0px 250px 0px;
  }
  .btn{
      padding: 300 150 300 150;
  }
  .schoolDiv{
      margin-left: 20px;
  }
  .logoutDiv{
      margin-left: 20px;
  }
  .container1{
      text-align: center;
      margin: auto;
  } 
  .helpDiv{
      font-size: 20px;
      margin-left: 225px;
  }
  body{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      padding-top: 100px; 
      padding-right: 20px; 
      height: 100%; 
      width: 100%;
  }
  header{
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 0;
      background: white;
      width: 100%;
      box-sizing: border-box;
  }
  header .logo{
      color: white;
      height: 50px;
      line-height: 50px;
      font-size: 24px;
      float: left;
      font-weight: bold; 
  }
 header nav{
     float: left;
 }
 header nav ul{
     margin: 0;
     padding: 0;
     display: flex;
 }
 header nav ul li{
  list-style: none;
  margin-top: 20px;
 }
 header nav ul li a{
     height: 50px;
     line-height: 50px;
     color: white;
     padding: 0 20px;
     text-decoration: none;
 }
 header nav ul li a:hover,header nav ul li a.active{
      color :white;
      background: #66BB6A;
 }
 .menu-toggle:hover{
     cursor: pointer;
 }
 .menu-toggle{
     color: black;
     float: left;
     line-height: 50px;
     font-size: 24px;
     margin-left:10px;
     height: 200px;
     width:200px
 }
 button:hover{
     background-color:pink;
     cursor: pointer;
 }
 a:hover{
     cursor: pointer;
 }
 header nav{
     position: absolute;
     width: 70%;
     height: calc(100vh - 50px);
     background: #66BB6A;
     top: 50px;
     left: 0;
     transition: 0.5s;
     display: none;
 }
 header nav.active{
     left: 0;
     display: block;
     font-size: 30px;
     font-family: sans-serif;
 }
 header nav ul{
     display: block;
     text-align: center;
 }
 header nav ul li a{
     border-bottom: 0px solid rgba(0,0,0,.2);
 }
 img{
     border-radius: 30px;
 }
}



/* code end */



 #search-2{
   display: none;
    position: relative;
    width: 650px;
    padding-left: 200px;
    padding-top:10px;
    color: rgb(43, 43, 43);
    
    cursor: auto;
 }
 .drawingBuffer{
  display:none !important;

}
 #search-2 input[type=search]:focus {
    width: 650px;
    color: #000;    
    cursor: auto;
}
.top-nav{
  z-index: 10000000;
}

.form{
  z-index: 50;
}
 .header{
   position: fixed;
   z-index: 50000;
   margin-top: 0px;
 }

 .body{
   padding-top: 60px;
   z-index: 40;
   min-height: 535px;
   display: flex;
   flex-direction: column;
 }

 #readMoreDiv{
   display: none;

 }

 #completeCourseDetailsDiv{
   display: none;
 }

.container input{
  width:350px;
  height: 15px;
  font-size: 15px;
  margin:2px;
  z-index: 40;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 900px;
  margin: 0 auto;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}


#submitbutton{

  border-radius: 2cm;
  height: 400px;
}

.scrollableDiv{
  overflow-y: auto;
}

.error-wall
  width: 100%
  height: 100%
  position: fixed
  text-align: center
  &.load-error
    background-color: white
  &.matinence
    background-color: white
  &.missing-page
    background-color: white
  .error-container
    display: block
    width: 100%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%,-50%)
    -moz-transform: translate(-50%,-50%)
    h1
      color: green
      font-size: 80px
      margin: 0
      @media (max-width: 850px)
        font-size: 65px
    h3
      color: #464444
      font-size: 34px
      margin: 0
      @media (max-width: 850px)
        font-size: 25px
    h4
      margin: 0
      color: green
      font-size: 40px
      @media (max-width: 850px)
        font-size: 35px
    p
      font-size: 15px
      &:first-of-type
        color: #464444
        font-weight: lighter
      &:nth-of-type(2)
        color: #464444
        font-weight: bold
      &.type-white
        color: #fff
      @media (max-width: 850px)
        font-size: 12px
      @media (max-width: 390px)
        font-size: 10px