{% if info or data %}
{%extends "layout.html"%} {%block content%}

<div class="container">
    <h3 style="margin-bottom: 40px;">Content Details</h3>
        <div id="contentBoxDiv">
        <div class="card id">
            <div class="card-body">
                {% if flag %}
                <div id="table" class="table-bordered" style="overflow-y: auto; height:500px; position: relative;margin-top: -21px;overflow-x: hidden;">
                {% else %}
                <div id="table" class="table-bordered" style="overflow-y: auto; height:600px; position: relative;margin-top: -21px;overflow-x: hidden;">
                {% endif %}
        <table>
            {% if flagTopic=='true' %}
                    {% for con in contents %}
                    {% for content in con %}    
                    <div class="row z-depth-1" style="padding-left:15px;padding-top:20px;margin-top: -18px;">  
                                 <div class="col s12 m6 l5">
                            {%if content.content_type==92%}
             
                            <video class="responsive-video" >
                                      <source src="{{content.reference_link}}">
                                    </video>
                                    {%elif content.content_type==96%}
        
                                    <iframe src="{{content.reference_link}}" style="height: 130px;width: 180px;margin-top: 10px;margin-left: 15px;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              {%elif content.content_type==93 or content.content_type==97 %}  
                              <audio controls style="margin-top: 60px;width:180px;">
                                      <source src="{{content.reference_link}}">
                                    Your browser does not support the audio.
                                    </audio>
                              {%elif content.content_type==94 or content.content_type==98%}
                                    <div class="center-align responsive-image">
                                    <img class="materialboxed" style="height: 130px;width: 180px;margin-top: 10px;margin-left: 15px;" src="{{content.reference_link}}">
                                  </div>
                              {%elif content.content_type==95 or content.content_type==99%}            
                              <a href="#modal1" class="modal-trigger"><img height="120" src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/documentIcon.png"></a>
                              <div id="modal1" class="modal" style="background-color:white;">
                                      <div class="modal-content" style="height: 100%">
                                        <h2 style="margin-left: 8px;font-size: 18px;">{{content.content_name}}</h4>                         
                                    </div>  
                                    </div>
                              {%endif%}
                    </div> 
                            <div class="col s12 m6 l6">
                                <div class="row" style="margin-bottom: -12px;margin-top: -10px;">
                                    
                                    <div>
                                        
                                        <h3><span style="margin-left: 8px;font-size: 18px;"> <a href="{{content.reference_link}}" target="_blank">{{content.content_name|capitalize}}</a></span></h3>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <h4 style="font-size: 16px;">{{content.topic_name}}</h4>
                                    </div>
                                    <div>
                                        <h5>Date Modified: {{content.last_modified_date.strftime('%d-%B-%Y')}}</h5>
                                    </div>
                                    <div style="display: flex;">
                                        <h5 style="margin-top: 0px;">Class : <span>{{content.class_val}}</span></h5>
                                        <h5 style="margin-left: 50px;margin-top: 0px;">Subject: <span>{{content.subject_name}}</span></h5>
                                    </div>
                                    <div style="height: 40px;">
                                        <h5 style="margin-top: 0px;display: inline;">Uploaded By : <span>{{content.uploaded_by}}</span></h5>
                                        <a title="Delete Content" name="" style="margin-left: 100px;" href="javascript:void(0);" class=" btn-floating btn-small orange deleteBTNClass">
                                            <i class="material-icons small" onclick="deleteContent('{{content.content_id}}');" style="cursor:pointer;">
                                                delete
                                            </i>
                                        </a>
                                    </div>
                                </div>           
                            </div>                                                   
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% else %}
                        {% for content in contents %}    
                        <div class="row z-depth-1" style="padding-left:15px;padding-top:20px;margin-top: -18px;">  
                                     <div class="col s12 m6 l5">
                                {%if content.content_type==92%}
                 
                                <video class="responsive-video" >
                                          <source src="{{content.reference_link}}">
                                        </video>
                                        {%elif content.content_type==96%}
            
                                        <iframe src="{{content.reference_link}}" style="height: 130px;width: 180px;margin-top: 10px;margin-left: 15px;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                  {%elif content.content_type==93 or content.content_type==97 %}  
                                  <audio controls style="margin-top: 60px;width:180px;">
                                          <source src="{{content.reference_link}}">
                                        Your browser does not support the audio.
                                        </audio>
                                  {%elif content.content_type==94 or content.content_type==98%}
                                        <div class="center-align responsive-image">
                                        <img class="materialboxed" style="height: 130px;width: 180px;margin-top: 10px;margin-left: 15px;" src="{{content.reference_link}}">
                                      </div>
                                  {%elif content.content_type==95 or content.content_type==99%}            
                                  <a href="#modal1" class="modal-trigger"><img height="120" src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/documentIcon.png"></a>
                                  <div id="modal1" class="modal" style="background-color:white;">
                                          <div class="modal-content" style="height: 100%">
                                            <h2 style="margin-left: 8px;font-size: 18px;">{{content.content_name}}</h4>                         
                                        </div>  
                                        </div>
                                  {%endif%}
                        </div> 
                                <div class="col s12 m6 l6">
                                    <div class="row" style="margin-bottom: -12px;margin-top: -10px;">
                                        
                                        <div>
                                            
                                            <h3><span style="margin-left: 8px;font-size: 18px;"> <a href="{{content.reference_link}}" target="_blank">{{content.content_name|capitalize}}</a></span></h3>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <h4 style="font-size: 16px;">{{content.topic_name}}</h4>
                                        </div>
                                        <div>
                                            <h5>Date Modified: {{content.last_modified_date.strftime('%d-%B-%Y')}}</h5>
                                        </div>
                                        <div style="display: flex;">
                                            <h5 style="margin-top: 0px;">Class : <span>{{content.class_val}}</span></h5>
                                            <h5 style="margin-left: 50px;margin-top: 0px;">Subject: <span>{{content.subject_name}}</span></h5>
                                        </div>
                                        <div style="height: 40px;">
                                            <h5 style="margin-top: 0px;display: inline;">Uploaded By : <span>{{content.uploaded_by}}</span></h5>
                                            <a title="Delete Content" style="margin-left: 100px;" name="" href="javascript:void(0);" class=" btn-floating btn-small orange deleteBTNClass">
                                                <i class="material-icons small" onclick="deleteContent('{{content.content_id}}');" style="cursor:pointer;">
                                                    delete
                                                </i>
                                            </a>
                                        </div>
                                    </div>           
                                </div>                                                   
                            </div>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>        
            </div>
        </div>
        </div>       
        </div>
        <script>
            $(document).ready(function(){
    $('.modal').modal();
  });
        </script>
    {% endblock %}
{% else %}
<div>
    <div id="contentBoxDiv">
    <h3></h3>
    <div class="card id">
        <div class="card-body">
            {% if flag %}
            <div id="table" class="table-bordered" style="overflow-y: auto; height:500px; position: relative;margin-top: -21px;overflow-x: hidden;">
            {% else %}
            <div id="table" class="table-bordered" style="overflow-y: auto; height:340px; position: relative;margin-top: -21px;overflow-x: hidden;">
            {% endif %}
    <table>
        {% if flagTopic=='true' %}
                {% for con in contents %}
                {% for content in con %}    
                <div class="row z-depth-1" style="padding-left:15px;padding-top:20px;margin-top: -18px;">  
                             <div class="col s12 m6 l5">
                        {%if content.content_type==92%}
         
                        <video class="responsive-video" >
                                  <source src="{{content.reference_link}}">
                                </video>
                                {%elif content.content_type==96%}
    
                                <iframe src="{{content.reference_link}}" style="height: 130px;width: 180px;margin-top: 10px;margin-left: 15px;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          {%elif content.content_type==93 or content.content_type==97 %}  
                          <audio controls style="margin-top: 60px;width:180px;">
                                  <source src="{{content.reference_link}}">
                                Your browser does not support the audio.
                                </audio>
                          {%elif content.content_type==94 or content.content_type==98%}
                                <div class="center-align responsive-image">
                                <img class="materialboxed" style="height: 130px;width: 180px;margin-top: 10px;margin-left: 15px;" src="{{content.reference_link}}">
                              </div>
                          {%elif content.content_type==95 or content.content_type==99%}            
                          <a href="#modal1" class="modal-trigger"><img height="120" src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/documentIcon.png"></a>
                          <div id="modal1" class="modal" style="background-color:white;">
                                  <div class="modal-content" style="height: 100%">
                                    <h2 style="margin-left: 8px;font-size: 18px;">{{content.content_name}}</h4>                         
                                </div>  
                                </div>
                          {%endif%}
                </div> 
                        <div class="col s12 m6 l6">
                            <div class="row" style="margin-bottom: -12px;margin-top: -10px;">
                                
                                <div>
                                    
                                    <h3><span style="margin-left: 8px;font-size: 18px;"> <a href="{{content.reference_link}}" target="_blank">{{content.content_name|capitalize}}</a></span></h3>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <h4 style="font-size: 16px;">{{content.topic_name}}</h4>
                                </div>
                                <div>
                                    <h5>Date Modified: {{content.last_modified_date.strftime('%d-%B-%Y')}}</h5>
                                </div>
                                <div style="display: flex;">
                                    <h5 style="margin-top: 0px;">Class : <span>{{content.class_val}}</span></h5>
                                    <h5 style="margin-left: 50px;margin-top: 0px;">Subject: <span>{{content.subject_name}}</span></h5>
                                </div>
                                <div style="height: 40px;">
                                    <h5 style="margin-top: 0px;display: inline;">Uploaded By : <span>{{content.uploaded_by}}</span></h5>
                                    <a title="Delete Content" name="" style="margin-left: 100px;" href="javascript:void(0);" class=" btn-floating btn-small orange deleteBTNClass">
                                        <i class="material-icons small" onclick="deleteContent('{{content.content_id}}');" style="cursor:pointer;">
                                            delete
                                        </i>
                                    </a>
                                </div>
                            </div>           
                        </div>                                                   
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% else %}
                    {% for content in contents %}    
                    <div class="row z-depth-1" style="padding-left:15px;padding-top:20px;margin-top: -18px;">  
                                 <div class="col s12 m6 l5">
                            {%if content.content_type==92%}
             
                            <video class="responsive-video" >
                                      <source src="{{content.reference_link}}">
                                    </video>
                                    {%elif content.content_type==96%}
                                    <!-- <div id="videoDisplay"></div> -->
                                    
                                    <iframe width="180" height="130" src="{{content.reference_link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <!-- <iframe src="https://youtu.be/DPh3mj4uvU4" style="height: 130px;width: 180px;margin-top: 10px;margin-left: 15px;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                              {%elif content.content_type==93 or content.content_type==97 %}  
                              <audio controls style="margin-top: 60px;width:180px;">
                                      <source src="{{content.reference_link}}">
                                    Your browser does not support the audio.
                                    </audio>
                              {%elif content.content_type==94 or content.content_type==98%}
                                    <div class="center-align responsive-image">
                                    <img class="materialboxed" style="height: 130px;width: 180px;margin-top: 10px;margin-left: 15px;" src="{{content.reference_link}}">
                                  </div>
                              {%elif content.content_type==95 or content.content_type==99%}            
                              <a href="#modal1" class="modal-trigger"><img height="120" src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/documentIcon.png"></a>
                              <div id="modal1" class="modal" style="background-color:white;">
                                      <div class="modal-content" style="height: 100%">
                                        <h2>{{content.content_name}}{{content.reference_link}}</h4>                         
                                    </div>  
                                    </div>
                              {%endif%}
                    </div> 
                            <div class="col s12 m6 l6">
                                <div class="row" style="margin-bottom: -12px;margin-top: -10px;">
                                    
                                    <div>
                                        
                                        <h3><span style="margin-left: 8px;font-size: 18px;"> <a href="{{content.reference_link}}" target="_blank">{{content.content_name|capitalize}}</a></span></h3>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <h4 style="font-size: 16px;">{{content.topic_name}}</h4>
                                    </div>
                                    <div>
                                        <h5>Date Modified: {{content.last_modified_date.strftime('%d-%B-%Y')}}</h5>
                                    </div>
                                    <div style="display: flex;">
                                        <h5 style="margin-top: 0px;">Class : <span>{{content.class_val}}</span></h5>
                                        <h5 style="margin-left: 50px;margin-top: 0px;">Subject: <span>{{content.subject_name}}</span></h5>
                                    </div>
                                    <div style="height: 40px;">
                                        <h5 style="margin-top: 0px;display: inline;">Uploaded By : <span>{{content.uploaded_by}}</span></h5>
                                        {% if forDash=='Dashboard'  %}
                                        {% else %}
                                        <a title="Delete Content" name="" style="margin-left: 100px;" href="#modal1" class=" btn-floating btn-small modal-trigger orange deleteBTNClass">
                                            <i class="material-icons small" style="cursor:pointer;">
                                                delete
                                            </i>
                                        </a>
                                        {% endif %}
                                        <div id="modal1" class="modal" style="width:52%;height:25%;">
                                            <div class="modal-content">
                                              <h1> 
                                                Are you sure want to delete? 
                                              </h1>
                                            </div>
                                            <div class="modal-footer">
                                              <a href="#" onclick="deleteContent('{{content.content_id}}');" name="{{ content.content_id }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                                               <a href="#" id="no" class="modal-close waves-effect waves-green btn-flat">No</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>           
                            </div>                                                   
                        </div>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>        
        </div>
    </div>
    </div>       
    </div>
    <script>
        $(document).ready(function(){
$('.modal').modal();
});

function deleteContent(content_id){
    // alert('Delete function');
    $.ajax({
        url:"/deleteContentById?content_id="+content_id,
        type:"POST",
        data:"",
        success:function(response){
            if(response==1){
                // alert('Delete permanently');
                var class_val = $('#selectClass').val();
        var DataUrl = '';
        {% if user_type_val=='134' %}
        DataUrl =  "/recentContentDetails?class_val="+class_val,
            {% else %}
            DataUrl =  "/recentContentDetails",
            {% endif %}
           
        $.ajax({
          
            url: DataUrl,
            type: "POST",
            contentType: "application/json",
            data: "",
            success: function (response) {
                console.log(response);
                if (response=="NA"){
                    $("#contentDiv").html('<h3 class="grey-text">No recent content found</h5>');
                }
                else{
                $("#contentDiv").html(response);
            }
            },
            error: function (xhr) { 
                window.alert("error occurred while loading contents");
            }
        });
            }
        },
        error:function(xhr){

        }
    });
}
    </script>
{% endif %}