<div class="box-title">
    <h3 class="box-title">Feedback Report </h3>
</div>
<div class="box-body">
  <table class="table table-bordered table-responsive-md table-striped text-center">
      <tr>
          <td class="pt-3-half" contenteditable="false">Total Unique Responses Received</td>
          <td class="pt-3-half" contenteditable="false">30</td>
          
        </tr>
        <!-- This is our clonable table line -->
        <tr>
          <td class="pt-3-half" contenteditable="false">Average Class Percentage</td>
          <td class="pt-3-half" contenteditable="false">70%</td>

        </tr>
  </table>
<table class="table table-bordered table-responsive-md table-striped text-center">
                      <tr>
                        <th>Roll Number </th>
                        <th>Student Name</th>
                        <th>Points Scored</th>
                        <th>Total Points </th>
                        <th>Percentage </th>
                        <th>Details </th>
                      </tr>                      
                           {% for row in responseResultRow %}   
                      <tr> 
                        <td>{{row.roll_number}} </td>
                        <td> {{row.full_name}}</td>
                        <td> :80</td>
                        <td> :100</td>
                        <td> :80%</td>
                        <td> <a href="{{url_for('studentFeedbackReport',student_id=row.student_id, student_name= row.full_name, resp_session_id = resp_session_id ) }}" target="_blank">Details</a> </td>
                      </tr>
                      {% endfor %}
                    </table>
                    <br>
                    <br>
                    <a class="btn btn-primary"  href="{{url_for('classCon')}}">Complete Class</a>
                  </div>