<div class="box-title">
    <h3 class="box-title">Feedback Report </h3>
</div>
<div class="box-body table-responsive">
  <table class="table table-bordered table-responsive-md table-striped table-centered">
      <tr>
          <td class="pt-3-half" contenteditable="false"><h4>Total Unique Responses</h4></td>
          <td class="pt-3-half" contenteditable="false"><h3 >{{responseResultRowCount}}</h3></td>
          
        </tr>
        <!-- This is our clonable table line -->
        <tr>
          <td class="pt-3-half" contenteditable="false"><h4>Average Class Percentage</h4></td>
          {% if classAverage > 50 %}
          <td class="pt-3-half" contenteditable="false"><h3 class="green-text">{{'%0.2f' % classAverage|float}}%</h3></td>
          {% else %}
          <td class="pt-3-half" contenteditable="false"><h3 class="red-text">{{'%0.2f' % classAverage|float}}%</h3></td>
          {% endif %}
        </tr>
  </table>
<table class="table table-bordered table-hover table-striped text-center">
                      {% if flag==1 %} 
                      <tr>
                       
                        <th>Student Name</th>
                        <th>Student Id </th>
                        <th>Objective Marks</th>
                        <th>Subjective </th>
                        <th>Total Marks </th>
                        <th>Details </th>
                      </tr>                                                                    
                           {% for row in responseResultRow %}   
                      <tr> 
                        <td>{{row.full_name}} </td>
                        <td> {{row.student_id}}</td>
                        <td> 
                          {% if row.objective_marks >= 0 %}
                          {{row.objective_marks}}
                          {% else %}
                          0
                          {% endif %}
                        </td>
                        <td> 
                          {% if row.subjective_marks > 0 %}
                          {{row.subjective_marks}}
                          {% else %}
                          <a href="{{url_for('reviewSubjective', resp_session_id=resp_session_id,student_id=row.student_id)}}" target="_blank">Not Reviewed</a>
                          {% endif %}
                        </td>
                        <td>
                          {% if row.subjective_marks > 0 %}
                          {% if row.total_marks>=0 %}
                           {{ row.total_marks}}
                          {% else %}
                          0
                          {% endif %}
                          {% else %}
                          ____
                          {% endif %}
                          </td>
                        <td> <a href="{{url_for('studentFeedbackReport',student_id=row.student_id, student_name= row.full_name, resp_session_id = resp_session_id ) }}" target="_blank">Details</a> </td>
                      </tr>
                      {% endfor %}
                      {% else %}
                             <tr>
                        <th>Roll Number </th>
                        <th>Student Name</th>
                        <th>Marks Scored</th>
                        <th>Total Marks </th>
                        <th>Percentage </th>
                        <th>Details </th>
                      </tr>                                                                    
                           {% for row in responseResultRow %}   
                      <tr> 
                        <td>{{row.roll_number}} </td>
                        <td> {{row.full_name}}</td>
                        <td> 
                          {% if row.marks_scored >= 0 %}
                          {{row.marks_scored}}
                          {% else %}
                          0
                          {% endif %}
                        </td>
                        <td> {{totalPointsLimit}}</td>
                        <td>
                          {% if row.percentage_marks>=0 %}
                           {{'%0.2f' % row.percentage_marks|float}}%
                          {% else %}
                          0.00%
                          {% endif %}
                          </td>
                        <td> <a href="{{url_for('studentFeedbackReport',student_id=row.student_id, student_name= row.full_name, resp_session_id = resp_session_id ) }}" target="_blank">Details</a> </td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    </table>                                                                       
                    <br>
                    <br>                    
                  </div>

                  <script>
                    function reviewPage(resp_sess_id,studID){
                      console.log('Resp_sess_id:'+resp_sess_id);
                      console.log('studID:'+studID);
                      $.ajax({
        url: "/reviewSubjective?resp_session_id=" +resp_sess_id+"&student_id="+studID,
        type: "get",
        data: '',  
        success: function (response) {
             console.log(response);
          $("#feedbackReportDiv").html(response);
        },
        error: function (xhr) {
          window.alert("error occurred while loading report");
        }
      });
                    }
                  </script>