<div class="box-title">
    <h3 class="box-title">Feedback Report </h3>
</div>
<div class="box-body">
  <table class="table table-bordered table-responsive-md table-striped text-center">
      <tr>
          <td class="pt-3-half" contenteditable="false">Total Unique Received</td>
          <td class="pt-3-half" contenteditable="false">30</td>
          
        </tr>
        <!-- This is our clonable table line -->
        <tr>
          <td class="pt-3-half" contenteditable="false">Correct Percentage</td>
          <td class="pt-3-half" contenteditable="false">70%</td>

        </tr>
  </table>
<table class="table table-bordered table-responsive-md table-striped text-center">
                      <tr>
                        <th>Roll Number </th>
                        <th>Student Name</th>
                        <th>Points Scored</th>
                        <th>Total Points </th>
                        <th>Percentage </th>
                        <th>Details </th>
                      </tr>                      
                              
                      <tr> 
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                      </tr>
                    </table>
                    <a class="btn btn-primary"  href="{{url_for('classCon')}}">Complete Class</a>
                  </div>