<div class="row">
    {% if flag=='1' %}
    <div class=""> 
    {% else %}
    <div class="col s8 offset-s2">   
    {% endif %}          
        <div style="padding: 1px;margin-bottom: 20px;" class="white-text center green z-depth-1 lighten-1">
            <h3>Student Details<a href="{{url_for('studentRegistration',student_id=studentProfileRow.student_id)}}" 
                style="color:white;float:right;margin-right: 10px;font-size: 20px;"><i
                class="material-icons">edit</i></a></h3>                
                         
        </div>        
        <div class="col s4 m4 l4 center">        
            {%if studentProfileRow%}    
            {%if studentProfileRow.profile_picture!="" and studentProfileRow.profile_picture!=None  %}
            <img class="responsive-img " src="{{studentProfileRow.profile_picture}}">
            {%else%}
            <img class="responsive-img "
                src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png">
            {%endif%}
            <h4 style="font-weight: bold;">{{studentProfileRow.full_name}}</h4>
            <h4>Class {{studentProfileRow.class_val}} - {{studentProfileRow.section}}</h4>
            <br><br>
            <table class='responsive-table'>
                <tr>
                    <td><b>Email</b> </td>
                    <td>{{studentProfileRow.email}}</td>
                </tr>
                <tr>
                    <td><b>Phone</b> </td>
                    <td>{{studentProfileRow.phone}}</td>
                </tr>
                <tr>
                    <td><b>Date of Birth</b> </td>
                    {% if studentProfileRow.dob is not none %}
                    <td>{{studentProfileRow.dob.strftime('%d %B %Y')}}</td>
                    {% endif %}
                </tr>                
                <tr>
                    <td><b>Gender</b> </td>
                    <td>{{studentProfileRow.gender}}</td>
                </tr>                
                <tr>
                    <td><b>Roll Number</b></td>
                    <td> {{studentProfileRow.roll_number}}</td>
                </tr>
                <tr>
                    <td><b>Admission Number</b></td>
                    <td> {{studentProfileRow.school_adm_number}}</td>
                </tr>
                <tr>
                        <td><b>Student Id</b></td>
                        <td> {{studentProfileRow.student_id}}</td>
                </tr>
                <tr>
                    <td><a href="#modal2" class="modal-trigger">QR Codes for tests</a></td>
                </tr>
            </table>            
            <div style="max-height: 300px;overflow-y: auto;">
            <h4 class="grey-text left">Student Surveys</h4>
            {%if surveyRows|length>0%}
            <table>
            {%for survey in surveyRows%}            
            <tr><td>
            <a href="#surveyModal"  name="survey_{{survey.survey_id}}" class="modal-trigger surveyModalBTN indivSurveyClass">{{survey.survey_name}}</a> 
            </td></tr>
            {%endfor%}
            </table>
            {%else%}
            <br><br>
            <span class="left">No Surveys created</span>
            {%endif%}
        </div>
        {%else%}
        <h4 class="grey-text">No data found for the student</h4>
        {%endif%}
        </div>
        <div class="col s4 m4 l6">                       
                {%if amount!=None and amount!='None' and amount!=''%}
                <div class="row" id="sponsorAllocationDiv">
                    {%if studentProfileRow.sponsored_status!='Y'%}
                <a href="#" class="btn cyan" id="allocateStudentBTN">Allocate Student to sponsor </a>
                {%endif%}
                </div>
                {%endif%}
            <div id="performanceDiv">
                <table class='responsive-table'>
                    <td>
                        <h4>Overall Performance Average</h4>
                    </td>
                    <td>{% if flag == 1 %}
                        {%if overallPerfValue > 49 %}
                        <h3 class='green-text'>{{overallPerfValue}}%</h3> (<a href="{{url_for('resultUploadHistory',student_id=student_id)}}" target="_blank">{{testCount.testcountval}} tests</a>)
                        {%else%}
                        <h3 class='red-text'>{{overallPerfValue}}%</h3> (<a href="{{url_for('resultUploadHistory',student_id=student_id)}}" target="_blank">{{testCount.testcountval}} tests</a>)
                        {%endif%}
                        {% else %}
                        {%if overallPerfValue > 49 %}
                        <h3 class='green-text'>{{overallPerfValue}}%  </h3> (<a href="#modal1" data-target="modal1" class="modal-trigger">{{testCount.testcountval}} tests</a>)                                               
                        {%else%}
                        <h3 class='red-text'>{{overallPerfValue}}%</h3> (<a href="#modal1" data-target="modal1" class="modal-trigger">{{testCount.testcountval}} tests</a>)
                        {%endif%}
                        {% endif %} 
                        <div id="modal1" class="modal" style="background-color: white;">
                            <div class="modal-content" style="height: 460px;">
                                <div class="rows">
                                    <div class="col s12">
                                        <ul class="tabs">
                                          <li class="tab col s3"><a class="active" href="#offline">offline Tests</a></li>
                                          <li class="tab col s3"><a href="#online">Online Tests</a></li>
                                        </ul>
                                      </div>
                                      <div id="offline" class="col s12" style="margin-top: 20px;max-height: 350px;position: relative;overflow-y: auto;">
                                        <table class="table table-hover" style='overflow-x:auto'>
                                            <thead>
                                                <tr>
                                                    <th>Exam date</th>
                                                    <th>Test Type</th>
                                                    <th>Subject</th>
                                                    <th>Marks Scored</th>
                                                    <th>Total Marks</th>
                                                </tr>                                      
                                            </thead>
                                            <tbody>
                                                {% if testResultRows %}
                                                {%for dataRows in testResultRows%}
                                                <tr> 
                                                    <td>{{dataRows.exam_date.strftime('%d %B %Y')}}</td>
                                                    <td>{{dataRows.test_type}}</td>
                                                    <td>{{dataRows.subject}}</td>
                                                    <td>{{dataRows.marks_scored}}</td>
                                                    <td>{{dataRows.total_marks}}</td>
                                                </tr>
                                                {%endfor%}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="5" style="text-align: center;">No test details available</td>
                                                    </tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                      </div>
                                      <div id="online" class="col s12" style="margin-top: 20px;max-height: 350px;position: relative;overflow-y: auto;">
                                          <table class="table table-hover" style='overflow-x:auto'>
                                            <thead>
                                                <tr>
                                                    <th>Exam date</th>
                                                    <th>Test Type</th>
                                                    <th>Subject</th>
                                                    <th>Marks Scored</th>
                                                    <th>Total Marks</th>
                                                </tr>                                      
                                            </thead>
                                            <tbody>
                                                {% if onlineTestResultRows %}
                                                {%for dataRows in onlineTestResultRows%}
                                                <tr> 
                                                    <td>{{dataRows.last_modified_date.strftime('%d %B %Y')}}</td>
                                                    <td>{{dataRows.test_type}}</td>
                                                    <td>{{dataRows.description}}</td>
                                                    <td>{{dataRows.marks_scored}}</td>
                                                    <td>{{dataRows.total_marks}}</td>
                                                </tr>
                                                {%endfor%}
                                                {% else %}
                                                <tr>
                                                    <td colspan="5" style="text-align: center;">
                                                        No test details available
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                      </div>
                                </div>
                              
                          </div>  
                          </div>
                    </td>
                </table>
                <br>            
                <h4 class='grey-text'>Subject Level Performance</h4>
                {%if perfRows|length>0%}
                <table class='responsive-table' style='font-size: 18px;'>
                    <thead>
                        {%for rows in perfRows%}
                        <th>{{rows.subject}}</th>
                        {%endfor%}
                    </thead>
                    <tbody>
                        <tr>
                            {%for rows in perfRows%}
                            {%if rows.student_score > 49%}
                            <td class='green-text'>{{rows.student_score}}</td>
                            {%else%}
                            <td class='red-text'>{{rows.student_score}}</td>
                            {%endif%}
                            {%endfor%}
                        </tr>                       
                    </tbody>
                </table>
                {%else%}
                <h5>No Info Present</h5>
                {%endif%}
            </div>            
            <br>
            
            <h4 class='grey-text'>Parent/Guardian Details</h4>
            {% if guardianRows | length != 0 %}
            <table class='responsive-table'>
                {% for guardian in guardianRows %}
                <tr>
                    <td> <b>{{guardian.first_name}} {{guardian.last_name}}</b></td>
                </tr>
                <tr>
                    <td> Relation</td>
                    {% if guardian.relation==44 %}
                    <td> Father</td>
                    {%elif guardian.relation==45%}
                    <td> Mother</td>
                    {%else%}
                    <td> Other</td>
                    {%endif%}
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{guardian.phone}}</td>
                </tr>
                {%endfor%}
            </table>
            {%else%}
            <h5>No info present</h5>
            {%endif%}
            <br>      
            <div style="max-height: 200px;">               
            <h4 class="grey-text">Sponsor Details</h4>
            {%if studentProfileRow.sponsor_status=='Y'%}
            <span>{{studentProfileRow.sponsor_name}} sponsored on {{studentProfileRow.sponsored_on.strftime('%d %b %Y')}}</span>
            {%else%}
            <span>No Sponsor Data Found</span>
            {%endif%}
            </div>
            <br><br>

            
        <div id="studentRemarksDiv" >
                <h4 class='grey-text'>Teacher Remarks</h4>
                <div id="insideRemarkDiv" style="max-height: 350px;width:500px;overflow-y: auto;">
                {%if studentRemarkRows|length>0%}
                <table id="remarkTable" >
                    <tbody>
                    {%for remarksRow in studentRemarkRows%}
                    <tr>
                        <td>
                    <div class=" green lighten-4" style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                        <span class="grey-text">{{remarksRow.teacher_name}}</span><br>
                        <span style="margin-left: 5px;">{{remarksRow.remark_desc}}</span><br>                       
                    </div>
                    <span class="right grey-text"> {{remarksRow.last_modified_date.strftime('%d %b %Y')}}</span>                        
                        </td></tr>                    
                    {%endfor%}
                </tbody>                          
                </table>                          
                <br>
                {%else%}
                <table id="remarkTable" >
                    <tbody>
                <h5 id="noRemark">No Remarks Added</h5>   
                </tbody>
                </table>                
                {%endif%}
            </div>
                <form id="remarkForm">
                    <label for="remark">Add Remark</label>
                    <input type="text" id="remark" name="remark">
                    <a href="#" id="remarkPostButton" class="btn green right">Add</a>
                    <input type="hidden" name="student_id" value="{{studentProfileRow.student_id}}">
                </form>           
        </div>


        </div>
    </div>

    <div class="col s8 offset-s2">        
            <div class="divider"></div>
        <h4 class='grey-text'>Overall Performance Graph</h4>
    <div id='studentPerformanceGraphDiv'> Loading graph...</div>
</div>

<div id="modal2" class="modal" style="background-color: white;height: 300px;width: 300px;">
    <div class="modal-content" >
    {%if qrArray  | length != 0 %}
    <h4 class='grey-text'>QR Codes for feedback sessions</h4>
    <p><i>Please print the qr codes in full size on A4 sheets </i></p>
    <ul>
        {% for qrRow in qrArray%}
        <li>
            <a href="{{qrRow}}" target="_blank">Option: {{ qrRow[-1] }}</a>
        </li>
        {%endfor%}
    </ul>
    {%endif%}
</div>
</div>

<div id="surveyModal" name="surveyModal" class="modal" style="background-color: white;">
    <div class="modal-content" style="height: 100%;">        
            <div id="surveyLoader" style="display: none;" class="center">
                <img src="../static/images/loader.gif">
            </div>
            <div id="surveyQuestionsDiv">
    <!--This will contain ajax data for the selected survey-->
        </div>
    </div>
</div>


</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    $(document).ready(function () {        
        var data = "";
        $.ajax({
            url: "/studentPerformanceGraph?student_id=" + "{{student_id}}",
            type: "get",
            data: data,
            success: function (response) {                
                $("#studentPerformanceGraphDiv").show();
                $("#studentPerformanceGraphDiv").html(response);
            },
            error: function (xhr) {
                window.alert("error occurred while fetching graph");
            }
        });
    });

//$('#testCountValLink').click(function(){
//    $("#studentPerformanceGraphDiv").show();
//});
$(document).ready(function(){
    console.log('Inside model');
    $('.modal').modal();
    $('.tabs').tabs();
  });

$('#remarkPostButton').click(function($e){
    $e.preventDefault();
    var form = $('#remarkForm');
    var remark = $('#remark').val();
    $.ajax({
            url: "/addStudentRemarks",
            type: "POST",
            data: form.serialize(),
            success: function (formResponse) {
                if (formResponse=='0'){     
                    $('#noRemark').html('');                  
                    $("#remarkTable tbody").append( 
                    '<tr>'+
                    '<td>'+
                    '<div class=" green lighten-4" style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">'+
                        '<span style="margin-left: 5px;">'+remark+'</span>'+
                    '</div>'+
                    '<span class="right grey-text">Now</span>'+
                     '</td></tr>'
                );                
                $('#remark').val('');
                M.toast({html: '<h4>Remark Added</h4>'});
                $('#insideRemarkDiv').animate({
                scrollTop: $('#insideRemarkDiv').get(0).scrollHeight
                }, 2000);
            }
            else{
                window.alert("Error");
            }
            },
            error: function (xhr) {
                window.alert("Error while adding remark");
            }
        });
});

$('.surveyModalBTN').click(function(){
    $('#surveyQuestionsDiv').html('');
    $('#surveyLoader').show();
    var survey_id= $(this).attr('name');
    $.ajax({
                url: "/indivSurveyDetail?student_id={{studentProfileRow.student_id}}&survey_id="+survey_id,
                type: "get",
                data: '',
                success: function (surveyResponse) {
                    $('#surveyLoader').hide();      
                    $('#surveyQuestionsDiv').html(surveyResponse);
                },
            error: function (xhr) {
                $('#surveyLoader').hide();   
                $('#surveyQuestionsDiv').html("Error Loading Survey Data");
            }
            })
});

  $('#allocateStudentBTN').click(function () {
            var need_id = $(this).attr("name");
            $.ajax({
                url: "/allocateStudentToSponsor?student_id={{studentProfileRow.student_id}}&sponsor_name={{sponsor_name}}&sponsor_id={{sponsor_id}}&amount={{amount}}",
                type: "get",
                data: '',
                success: function (archiveResponse) {
                    if (archiveResponse==0){
                        M.toast({html: 'Sponsor Allocation Done!'})
                        $('#sponsorAllocationDiv').html('<h4 class="cyan-text">Sponsor Allocated!</h4>');
                        var sp_id = "{{sponsor_id}}";
                        var sponsor_id = encodeURIComponent(sp_id.trim());

                        var full_name = "{{studentProfileRow.full_name}}";                                                
                        var full_name_encoded = full_name.replace(" ", "%20");

                        var gen_id = "{{studentProfileRow.gender}}";
                        var gender = encodeURIComponent(gen_id.trim());
                        
                        if ("{{studentProfileRow.profile_picture}}"==''){
                            var profile_pic = "NA";
                        }
                        else{
                            profile_pic= "{{studentProfileRow.profile_picture}}";
                        }

                        var urlForResponse = "{{urlForAllocationComplete}}/"+sponsor_id+"/{{studentProfileRow.student_id}}/"+full_name_encoded+"/"+gender+"/{{studentProfileRow.class_val}}/{{overallPerfValue}}/"+profile_pic;          
                        window.location.replace(urlForResponse);
                    }
                    else{
                        M.toast({html: 'Error Allocating Sponsor!'})
                    }
                }
            })
        });
</script>