<div class="content">
    {%if reviewData%}
    <form id="homeworkRemarkForm">
        <h3 style="margin-left:30px ;margin-bottom: 20px;">{{homework_name}}</h3>
        <ol>
        {%for row in reviewData%}        
            <li>
               <h4>{{row.question}}</h4>        
               <div class="row">
                {% if row.ref_url!='' %}
                {% if row.ref_type==98 %}
                <img style="border:1px solid rgb(155, 115, 115); width:251px; height: 115px;margin-left: 90px;float: right;"
                    id="preview" src="{{row.ref_url}}">
                {% elif row.ref_type==96 %}
                <iframe src="{{row.ref_url}}" id="iframeDiv"
                    style="width: 251px;height: 115px;float: left;margin-top: 16;margin-right: 10;" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                {% elif row.ref_type==97 %} 
                <audio controls id="audioDiv"
                    style="width: 251px;height: 115px;margin-left: 90px;float: right;margin-top: -15px;">
                    <source src="{{row.ref_url}}"></audio>
                {% else %}
                <embed width="251" height="115" id="docDiv" style="margin-left: 90px;float: right;margin-top: -15px;"
                    src="{{row.ref_url}}" type="application/pdf">
                {% endif %}
                {% endif %}
            </div>        
            <div class="row">           
                <input type="hidden" name="sq_id" value="{{row.sq_id}}">
                {%if row.answer%}
                <span class="grey-text">Answered:</span> <input type="text" class="green-text" name="answer" placeholder="Add Answer" value="{{row.answer}}" style="font-size: large;" disabled>
                {%else%}
                <input type="text" name="answer" placeholder="Not yet answered" style="font-size: large;" disabled>
                {%endif%}
                </div>
                <div class="row">
                {% if row.teacher_remark %}
                Remark &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" disable name="remark"  value="{{row.teacher_remark}}"
                    style="margin-left:10px;width: 200px;">
                {% else %}
                Enter remark&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="remark"  style="margin-left:10px;width: 200px;" />
                {% endif %}
                </div>
            </li>
        
        {%endfor%}
    </ol>
        <a href="#" style="margin-top: 20px;margin-left: 40px;" id="homeworkAnsBTN" class="green btn right">Save</a>
    </form>
    {%else%}
    <h5 class="grey-text">No questions in this Homework</h5>
    {%endif%}

</div>
<script>
    $('#homeworkAnsBTN').click(function ($e) {
        $e.preventDefault();
        studId = "{{student_id}}";
        var form = $('#homeworkRemarkForm');
        //$('#errorSurveyUpdate').hide();
        $.ajax({
            url: "/addAnswerRemark?student_id=" + studId,
            type: "POST",
            data: form.serialize(),
            success: function (updateResponse) {
                M.toast({
                    html: '<h4>Remark Added</h4>'
                });
                var elem = $('#reviewModal');
                var instance = M.Modal.getInstance(elem);
                instance.close();
            },
            error: function (xhr) {
                //$('#errorSurveyUpdate').show();
            }
        })
    });
</script>