<div class="row">
    <div class="col s8 offset-s2">
        <div style="padding: 1px;margin-bottom: 20px;" class="white-text center green z-depth-1 lighten-1">
            <h3>Student Details<a href="{{url_for('studentRegistration',student_id=studentProfileRow.student_id)}}" style="color:white;float:right;margin-right: 10px;font-size: 20px;">Edit</a></h3>
        </div>

        <div class="col s4 m4 l4 center">
            {%if studentProfileRow.profile_picture!="" %}
            <img class="responsive-img " src="{{studentProfileRow.profile_picture}}">
            {%else%}
            <img class="responsive-img "
                src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png">
            {%endif%}
            <h4 style="font-weight: bold;">{{studentProfileRow.full_name}}</h4>
            <h4>Class {{studentProfileRow.class_val}} - {{studentProfileRow.section}}</h4>
            <br><br>
            <table class='responsive-table'>
                <tr>
                    <td><b>Email</b> </td>
                    <td>{{studentProfileRow.email}}</td>
                </tr>
                <tr>
                    <td><b>Phone</b> </td>
                    <td>{{studentProfileRow.phone}}</td>
                </tr>
                <tr>
                    <td><b>Date of Birth</b> </td>
                    {% if studentProfileRow.dob is not none %}
                    <td>{{studentProfileRow.dob.strftime('%d %B %Y')}}</td>
                    {% endif %}
                </tr>
                {% if studentProfileRow.gender == 16%}
                <tr>
                    <td><b>Gender</b> </td>
                    <td>Male</td>
                </tr>
                {%else%}
                <tr>
                    <td><b>Gender</b> </td>
                    <td>Female</td>
                </tr>
                {%endif%}

                <tr>
                    <td><b>Roll Number</b></td>
                    <td> {{studentProfileRow.roll_number}}</td>
                </tr>
                <tr>
                    <td><b>Admission Number</b></td>
                    <td> {{studentProfileRow.school_adm_number}}</td>
                </tr>
                <tr>
                        <td><b>Student Id</b></td>
                        <td> {{studentProfileRow.student_id}}</td>
                </tr>
            </table>
        </div>
        <div class="col s4 m4 l6">
            <div id="performanceDiv">
                <table class='responsive-table'>
                    <td>
                        <h4>Overall Performance Average</h4>
                    </td>
                    <td>{% if flag == 1 %}
                        {%if overallPerfValue > 49 %}
                        <h3 class='green-text'>{{overallPerfValue}}%</h3> (<a href="{{url_for('resultUploadHistory',student_id=student_id)}}" target="_blank">{{testCount.testcountval}} tests</a>)
                        {%else%}
                        <h3 class='red-text'>{{overallPerfValue}}%</h3> (<a href="{{url_for('resultUploadHistory',student_id=student_id)}}" target="_blank">{{testCount.testcountval}} tests</a>)
                        {%endif%}
                        {% else %}
                        {%if overallPerfValue > 49 %}
                        <h3 class='green-text'>{{overallPerfValue}}%  </h3> (<a href="#modal1" data-target="modal1" class="modal-trigger">{{testCount.testcountval}} tests</a>)                                               
                        {%else%}
                        <h3 class='red-text'>{{overallPerfValue}}%</h3> (<a href="#modal1" data-target="modal1" class="modal-trigger">{{testCount.testcountval}} tests</a>)
                        {%endif%}
                        {% endif %}
                        <div id="modal1" class="modal" style="background-color: white;">
                            <div class="modal-content" >
                              <h4>Tests details</h4>
                              <table class="table table-hover" style='overflow-x:auto'>
                                  <thead>
                                      <tr>
                                          <th>Exam date</th>
                                          <th>Test Type</th>
                                          <th>Subject</th>
                                          <th>Marks Scored</th>
                                          <th>Total Marks</th>
                                      </tr>                                      
                                  </thead>
                                  <tbody>
                                      {%for dataRows in testResultRows%}
                                      <tr>
                                          <td>{{dataRows.exam_date.strftime('%d %B %Y')}}</td>
                                          <td>{{dataRows.test_type}}</td>
                                          <td>{{dataRows.subject}}</td>
                                          <td>{{dataRows.marks_scored}}</td>
                                          <td>{{dataRows.total_marks}}</td>
                                      </tr>
                                      {%endfor%}
                                  </tbody>
                              </table>
                          </div>  
                          </div>
                    </td>
                </table>
                <br>            
                <h4 class='grey-text'>Subject Level Performance</h4>
                <table class='responsive-table' style='font-size: 18px;'>
                    <thead>
                        {%for rows in perfRows%}
                        <th>{{rows.subject}}</th>
                        {%endfor%}
                    </thead>
                    <tbody>
                        <tr>
                            {%for rows in perfRows%}
                            {%if rows.student_score > 49%}
                            <td class='green-text'>{{rows.student_score}}</td>
                            {%else%}
                            <td class='red-text'>{{rows.student_score}}</td>
                            {%endif%}
                            {%endfor%}
                        </tr>                       
                    </tbody>
                </table>

            </div>            
            <br>
            {% if guardianRows | length != 0 %}
            <h4 class='grey-text'>Parent/Guardian Details</h4>
            {%endif%}
            <table class='responsive-table'>
                {% for guardian in guardianRows %}
                <tr>
                    <td> <b>{{guardian.first_name}} {{guardian.last_name}}</b></td>
                </tr>
                <tr>
                    <td> Relation</td>
                    {% if guardian.relation==44 %}
                    <td> Father</td>
                    {%elif guardian.relation==45%}
                    <td> Mother</td>
                    {%else%}
                    <td> Other</td>
                    {%endif%}
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{guardian.phone}}</td>
                </tr>
                {%endfor%}
            </table>
            <br>
            {%if qrArray  | length != 0 %}
            <h4 class='grey-text'>QR Codes for feedback sessions</h4>
            <p><i>Please print the qr codes in full size on A4 sheets </i></p>
            <ul>
                {% for qrRow in qrArray%}
                <li>
                    <a href="{{qrRow}}" target="_blank">Option: {{ qrRow[-1] }}</a>
                </li>
                {%endfor%}
            </ul>
            {%endif%}
        </div>
    </div>

    <div class="col s8 offset-s2">
            <div class="divider"></div>
        <h4 class='grey-text'>Overall Performance Graph</h4>
    <div id='studentPerformanceGraphDiv'> Loading graph...</div>
</div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    $(document).ready(function () {        
        var data = "";
        $.ajax({
            url: "/studentPerformanceGraph?student_id=" + {{student_id}},
            type: "get",
            data: data,
            success: function (response) {                
                $("#studentPerformanceGraphDiv").show();
                $("#studentPerformanceGraphDiv").html(response);
            },
            error: function (xhr) {
                window.alert("error occurred while fetching graph");
            }
        });
    });

//$('#testCountValLink').click(function(){
//    $("#studentPerformanceGraphDiv").show();
//});
$(document).ready(function(){
    console.log('Inside model');
    $('.modal').modal();
  });
</script>