<div class="box-body table-responsive no-padding" style="height:500px;">
      
        <table class="table table-hover">
            
        <thead>
          <tr>
            
           <th>Student</th>
           <th>Class</th>
            <th>Section</th>
            <th>Subject</th>                
            <th>Marks %</th>      
          </tr>
        </thead>
          <tbody>
          {% if leaderBoardData %} 
          {% for eachRow in leaderBoardData%}
          <tr style="margin-top:5px;">
                {% if profile_pic %}
                <td style="width:250px;"><img src="{{ profile_pic }}" height="50" width="50"> 
                  <a href="{{url_for('studentProfile',student_id=eachRow.student_id)}}" target="_blank"> {{eachRow.student_name}}</a>
                </td>    
                {% else %} 
                <td style="width:250px;"><img src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png" height="50" width="50"> 
                  <a href="{{url_for('studentProfile',student_id=eachRow.student_id)}}" target="_blank"> {{eachRow.student_name}}</a>
                </td>    
                {% endif %}                 
            <td>{{eachRow.class}}</td>
            <td>{{eachRow.section}}</td>
            <td>{{eachRow.subjects}}</td>
            <td>{{eachRow.marks}}</td>                
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="5"><span class="grey-text text-lighten-1"><p style="font-size: 15px;text-align: center;">No data found</p></span></td>
          </tr>  
          {% endif %}
        </tbody>
        </table>    
      </div>