<label id="currQuestionLabel">        
    {% set qnum = qnum | int %}
    {% set qnum = qnum + 1 %}
            Q <label id="qnum">{{ qnum}}</label> of <label id="totalQCount">{{ totalQCount }}</label><br>     
            <input id="qnum" type="text" style="display: none" value="{{ qnum}}">  <input id="totalQCount" type="text" style="display: none" value="{{ totalQCount }}">       
    </label>
    <h3>Q: {{ question.question_description }}</h3>
<aside class="right">
    <img src="{{ question.reference_link }}" height="300px" width="300px">
</aside>
 
 <br>
 <ol type="A">
    {% for optionVal in questionOp %}    
    <li><h4>&nbsp;&nbsp;&nbsp;{{ optionVal.option_desc }}</h4></li>
    {% endfor %}
</ol>
