<table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Fee collected</th>
      <th class="text-center">Unpaid fee</th>
      <th class="text-center">Paid students count</th>
      <th class="text-center">Unpaid students count</th>
    </tr> 
    <tr>
      <td class="pt-3-half" style="color:forestgreen;font-size: 15px;font-weight: 800;" contenteditable="false">
        {% if paid_fees %}
        {{paid_fees}}
        {% else %}
        0
        {% endif %}
      </td>
      <td class="pt-3-half" style="color:red;font-size: 15px;font-weight: 800;" contenteditable="false">
        {% if total_unpaid_fee %}
        {{total_unpaid_fee}}
        {% else %}
        0
        {% endif %}
      </td>
      <td class="pt-3-half" style="color: forestgreen;font-size: 15px;font-weight: 800;" contenteditable="false">{{paid_student_count}}</td>
      <td class="pt-3-half" style="color: red;font-size: 15px;font-weight: 800;" contenteditable="false">{{total_unpaid_students}}</td>                        
      
    </tr>
  </table>