
  <div id="testDiv" class="col-md-12">    
    <div class="box-body table-responsive no-padding">      
      <table class="table table-hover">
        <tr>
          <th>Class</th>
          <th>Test Type</th>
          <th>Subject</th>
          <th>Total Marks</th>
          <th>Creation Date</th>
          <th>Chapters and Topics</th>
          <th>Download Paper</th>
          <th>Conduct Test</th>
        </tr>
        {%if testPaperData | length !=0%}
        {% for eachRow in testPaperData%}
        <tr style="margin-top:5px;">
          <td><img height="50px"
              src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/classNumberImages/class{{eachRow.class_val}}.png">
          </td>
          <td>{{eachRow.test_type}}</td>
          {%for subRow in subjectNames%}
          {% if eachRow.subject_id== subRow.msg_id %}
          <td>{{subRow.description}}</td>
          {%endif%}
          {%endfor%}
          <td>{{eachRow.total_marks}}</td>
          <td>{{eachRow.date_of_creation.strftime('%d-%B-%Y')}}</td>
          <td><a href="#chapterModal" name='{{eachRow.test_id}}' class='modal-trigger chapterClass'>Chapters and Topics</a></td>

          <!--<div><a href="#modal2" class="waves-effect waves-light modal-trigger questionData"></a></div>-->
          <div id="chapterModal" class="modal" style="background-color:white;">
            <div id="questionloader1" style="display: none;">
              <img src="../static/images/loader.gif">
            </div>
            <div class="modal-content" id="content" style="display:none;">
              <p>
                <div id="chapterListDiv"></div>
              </p>
            </div>
          </div>
          <td><a href="{{eachRow.test_paper_link}}" target="_blank">Download Paper</a></td>
          {% if eachRow.test_type =='Class Feedback' %}
          <td><a href="#modal2{{eachRow.test_id}}" name='{{eachRow.test_id}}' class='btn green modal-trigger'>Conduct
              Test</a></td>
              {%endif %}
          <!-- Modal structure-->
          <div id="modal2{{eachRow.test_id}}" class="modal" style="background-color:white; height: 420px;overflow-y: auto;position: fixed;">
            <form action="/feedbackCollection" method="GET">
              <div class="modal-content">
                <p> Starting Test</p>
                <h4>Class: {{eachRow.class_val}}</h4>
                <h4>Enter <b>section</b> for which you want to run the test</h4>
                <input type="text" name='section' placeholder="eg. A">
                <p>
                  <label>
                    <input name="timeOption" class="Toption" value="Untimed" type="radio" checked/>
                    <span style="font-size: 18px;">Untimed</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="timeOption" class="Toption" value="Timed" type="radio" />
                    <span style="font-size: 18px;">Timed</span>
                  </label>
                </p>
                <div id="durationDiv" style="display: none;">
                <h4>Duration</h4>
                <input type="text" name='duration' value="0"></div>
                <h4>Weightage</h4>
                <input type="text" name="weightage" value="10">
                <h4>Negative Marking</h4>
                <input type="text" name="negativeMarking" value="0">
                <input type="hidden" name='class_val' value="{{eachRow.class_val}}">
                <input type="hidden" name='subject_id' value="{{eachRow.subject_id}}">
                <input type="hidden" name='test_id' value="{{eachRow.test_id}}">
                <button class='btn green' type='submit' class='startTestButtonClass'>Submit</button>   
                </div>
              <!-- <div class="modal-footer"> 
                <button class='btn green' type='submit' class='startTestButtonClass'>Submit</button>
              </div> -->
            </form>
          </div>
        </tr>
        {% endfor %}

        {%else%}
        <td>
          <h3 class="grey-text">No test papers created yet</h3>
          <br>
          <h5>You can create test papers using <a href="{{url_for('testBuilder')}}">Test Builder</a></h5>
        </td>
        {%endif%}
      </table>
    </div>
  </div>