<div class="box-body table-responsive no-padding">
  <h4 style="margin-left: 25px;">Teacher Allocation table</h4>
    <table class="table table-hover table-striped" style="width:250px;">
        <tr>
            <th>Subject Name</th>
            <th>Teacher Name</th>
        </tr>
        {% if fetchTeacher %}
        {% for row in fetchTeacher %}
        <tr style="margin-top:5px;">
            <td>{{row.subject_name}}</td>
            <td>{{row.teacher_name}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="2" style="text-align: center;">No Teacher Available</td>
        </tr>
        {% endif %}
    </table>
    <h4 style="text-align: center;">Class schedule table</h4>
    <table class="table table-hover table-striped">
      <tr>
        <th>periods</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday </th>
        <th>Thursday</th> 
        <th>Friday</th>
        <th>Saturday</th>                        
      </tr>
      {% if timeTableData %}
      {% for eachRow in timeTableData%}
      <tr style="margin-top:5px;">
        <td>{{eachRow.period_no}}</td>
        <td>{{eachRow.monday}}</td>     
        <td>{{eachRow.tuesday}}</td>     
        <td>{{eachRow.wednesday}}</td>                                       
        <td>{{eachRow.thursday}}</td>
        <td>{{eachRow.friday}}</td>
        <td>{{eachRow.saturday}}</td>
      </tr>
           {% endfor %}
           {% else %}
        <tr>
          <td colspan="7" style="text-align: center;">No Schedule Available</td>
        </tr>
           {% endif %}
    </table>
  </div>
