<div style="height: 500px;overflow-y:auto;">

                      <div class="box-header">
                          <h3 class="box-title">Curriculum details for Class: {{ qclass_val }}</h3>                                      
                        </div>

                  <div class="box-body  no-padding table-responsive">
                
                      <div class="switch pull-right">
                          <label>
                            Show Covered
                            <input type="checkbox">
                            <span class="lever"></span>
                            Hide Covered
                          </label>
                          </div>
                    <table class="table table-hover">
                        <thead>
                      <tr>
                          
                        <th>Subject</th>                        
                        <th>Book</th>
                        
                        <th>Chapter</th>
                        <th>Topic</th>
                        <th>Covered</th>
                        <th>Class Average</th>
                        <th> &nbsp; &nbsp; &nbsp; Start Class</th>                       
                      </tr>
                    </thead>
                      {% if topicList!="" %}
                      <div >
                          <tbody>
                      {% for row in topicList %}
                      
                      <tr class="{{row.is_covered}} list">
                        <td>{{row.subject_name}}</td>
                        <td>{{row.book_name}}</td>
                                           
                        <td>{{row.chapter_num}}</td>
                        <td>{{row.topic_name}}</td>
                        <td>{{row.is_covered}}</td>                        
                        {% if row.is_covered == 'Y'%}
                        <td>10%</td>
                        <td><a class="btn btn-default"  href="{{url_for('classDelivery',class_sec_id=class_sec_id, subject_id = row.subject_id,topic_id= row.topic_id)}}"><span class=" label label-success ">Retake Class</span></a></td>
                        {% else %}
                        <td>-</td>
                        <td><a class="btn btn-default"  href="{{url_for('classDelivery',class_sec_id=class_sec_id, subject_id = row.subject_id, topic_id= row.topic_id)}}"><span class=" label label-success ">Start Class</span></a></td>
                        {% endif %}
                      </tr>                    
                      {% endfor %}
                    </tbody>
                    </div>
                      {% else %}
                      <p>No data found in DB</p>
                      {% endif %}
                    
                    </table>
                  </div>
                  </div>
                  <script type="text/javascript">
                    $(document).ready(function(){
                        $('input[type="checkbox"]').click(function(){
                            if($(this).is(":checked")) {
                            console.log("Is checked");
                            $(".Y").hide();
                            }
                            else {
                                $(".Y").show();
                            }                           
                        });
                    });
                    </script>
                    
                  