

                      <div class="box-header">
                          <h3 class="box-title">Result Details - Class {{class_val_record}}  {{section_record}} | {{test_type_record}}  | Exam Date  - {{exam_date_record.strftime('%d %B %Y')}}  |  <a href="{{question_paper_ref}}">See Question Paper</a></h3>
                        </div>
                          <div style="height: 500px;overflow-y:auto;">
                                <div class="box-body  no-padding table-responsive">
                    <table class="table table-hover">
                        <thead>
                      <tr>
                        <th>Name</th>                        
                        <th>Total Marks</th>                        
                        <th>Marks Scored</th>                                                                 
                      </tr>
                    </thead>
                      {% if resultUploadRows!="" %}
                      <div >
                          <tbody>
                      {% for row in resultUploadRows %}                      
                      <tr>
                        {%if row.profile_picture=="" %}
                        
                        <td> <img src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png" alt="Profile picture" height="50" width="50">&nbsp;&nbsp;&nbsp;   {{row.full_name}}</td>
                        {%else%}
                        <td> <img src="{{row.profile_picture}}" alt="Profile picture" height="50" width="50">&nbsp;&nbsp;&nbsp;   {{row.full_name}}</td>
                        {%endif%}
                        {%if row.total_marks is none%}
                        <td>100</td>  
                        {%else %}                  
                        <td>{{row.total_marks}}</td>  
                        {%endif%}
                        <td>{{row.marks_scored}}</td>
                      </tr>                    
                      {% endfor %}
                    </tbody>
                    </div>
                      {% else %}
                      <p>No data found in DB</p>
                      {% endif %}
                    
                    </table>
                    </div>
                  </div>                  

                    
                  