{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3 z-depth-3 grey lighten-5">
      <h3 style="color: Green">Add Event</h3>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
          {{ form.eventName.label(style='color:black;font-weight:400') }}
          <br />
          {{ form.eventName(size=32,style='font-size:14px') }} <br />
          {% for error in form.eventName.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.eventDate.label(style='color:black;font-weight:400') }}
          <br />
          {{ form.eventDate(class=datepicker,style='font-size:14px') }} <br />
          {% for error in form.eventDate.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.duration.label(style='color:black;font-weight:400') }}
          <br />
          {{ form.duration(size=32,style='font-size:14px') }} <br />
          {% for error in form.duration.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.startDate.label(style='color:black;font-weight:400') }}
          <br />
          {{ form.startDate(class=datepicker,style='font-size:14px') }} <br />
          {% for error in form.startDate.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.endDate.label(style='color:black;font-weight:400') }}
          <br />
          {{ form.endDate(class=datepicker,style='font-size:14px') }} <br />
          {% for error in form.endDate.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.category.label(style='color:black;font-weight:400') }}
          <br />
          {{ form.category(style='font-size:14px') }} <br />
          {% for error in form.category.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          <button
            class="btn waves-effect waves-light green lighten-1 white-text"
            type="submit"
          >
            Submit
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".datepicker").datepicker();
  });
</script>
{% endblock %}
