{%extends "layout.html"%} {%block content%}
<div class="container">
    <h3>Attendance</h3>    

    <div style="width: 1200px; height: 800px; overflow: hidden">
        <iframe height="800px" width="1200px"  style="position: relative; left: 0px; top: -130px" src="https://docs.google.com/spreadsheets/d/1fwOGcg2aIzPTaGPKZGWp1rSKM_4WuN2L_XwKOCcj2t0/edit?usp=sharing?widget=true&amp;headers=false"></iframe>
        <!--<iframe height="500px" width="1200px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQj2RoOVNWH8nd0Ev6sLPPYSK2uiwMPXKUZ51Ii6nzNdHLuobnbpdYdoX6cPAqRWUS_KWBoYUOQH0x2/pubhtml?widget=true&amp;headers=true"></iframe>-->
        <!--https://docs.google.com/spreadsheets/d/1fwOGcg2aIzPTaGPKZGWp1rSKM_4WuN2L_XwKOCcj2t0/edit?usp=sharing-->
    </div>
</div>
</div>
{%endblock%}