{%extends "layout.html"%} {%block content%}
<div class="container" >


<div class="hold-transition skin-blue sidebar-mini">
    
<div id="sidebarDiv" >   
    <div class="main-sidebar" style="margin-top:15px;">
        <!-- sidebar: style can be found in sidebar.less -->
        
        <section class="sidebar">                     
              <ul class="sidebar-menu" data-widget="tree">
                  {% for singleClass in distinctClasses %}
                         <li class="treeview">
                           <a href="#">
                             <i class="glyphicon glyphicon-education"></i>
                             <span>Class {{singleClass[0]}}</span>
                             <span class="pull-right-container">
                               <span class="label label-primary pull-right">{{singleClass[1]}}</span>
                             </span>
                           </a>                                                      
                           <ul class="treeview-menu">                            
                              {% for classsection in classsections %}
                                 {% if classsection.class_val==singleClass[0] %}
                             <li><a href="{{ url_for('classCon',class_val=classsection.class_val, section=classsection.section) }}"><i class="fa fa-circle-o"></i> Section {{classsection.section}}</a></li>                              
                              {% endif %}
                             {% endfor %}
                           </ul>
                                                      
                         </li>
                         {% endfor %}                
         <ul>
         
         
        </section>
        <!-- /.sidebar -->
    </div>

</div>
<div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                
                <div class="col-xs-12">
                  <div class="box" id="classTrackerDiv">
                    <div class="box-header">
                      <h3 class="box-title">Class Tracker</h3><span style="padding-left: 10px;">    Class: {{qclass_val}} | Section: {{qsection}}</span>
        
                      
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                        <tr>
                          <th>Subject</th>
                          <th>Chapter</th>
                          <th>Topic</th>                          
                          <th> &nbsp; &nbsp; &nbsp; Start Class</th>
                          <th>Complete Course details</th>
                        </tr>
                        {% for topicrow in classTrackerDetails %}
                        <tr style="margin-top:5px;">
                          <td>{{ topicrow.subject }}</td>
                          <td>{{ topicrow.chapter_name }}</td>
                          <td>{{ topicrow.topic }}</td>                          
                          <td  ><a class="btn btn-default"  href="{{url_for('classDelivery',class_val=qclass_val, section=qsection)}}"><span class=" label label-success ">Start Class</span></a></td>
                          <td><a id="courseDetailsButton" href="#">Complete course details</a></td>
                        </tr>
                        {% endfor %}                        
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                  <div id="completeCourseDetailsDiv">

                      <div class="box-header">
                          <h3 class="box-title">Curriculum details for Class: {{ qclass_val }}</h3>
            
                          
                        </div>
                  <div class="box-body  no-padding table-responsive">
                    <table class="table table-hover">
                      <tr>
                        <th>Subject</th>
                        <th>Book</th>
                        <th>Unit</th>
                        <th>Chapter</th>
                        <th>Topic</th>
                        <th>Expected Start Date</th>
                        <th>Expected End Date</th>
                      </tr>
                      {% if courseDetails!="" %}
                      {% for row in courseDetails %}
                      <tr>
                        <td>{{row.subject}}</td>
                        <td>{{row.subject}} book</td>
                        <td>{{row.unit_num}}</td>
                        <td>{{row.chapter_num}}</td>
                        <td>{{row.topic_name}}</td>
                        <td>{{row.start_date}}</td>
                        <td>{{row.end_date}}</td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <p>No data found in DB</p>
                      {% endif %}
                    </table>
                  </div>
                    <button class="btn pull-right" id="closeCourseDetailsButton" style="background-color:green; margin-top: 10px;">Back</button>
                  </div>
                  <!-- /.box -->                              
        </div>
    </section>
</div>



</div>
</div>


{%endblock%}