{%extends "layout.html"%} {%block content%}
<div class="container">
        <h2>Class - Feedback Report</h2>        
        {{ form.hidden_tag() }}
        <div class="form-group ">
                <div class="row">
                        <div class="col-sm-2">
                                <div>
                                        {{ form.class_val.label(class='labelsize') }}
                                        <br>
                                        {% if form.class_val.errors %}
                                        {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.class_val.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.class_val(class='form-control') }}
                                        {% endif %}
                                </div>
                        </div>
                        <div class="col-sm-2">
                                <div style="width:150px;" >
                                                {{ form.section.label(class='labelsize') }}
                                                <div id='loader'style='display: none; float: right;'>
                                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                </div>
                                        <br>
                                                {% if form.section.errors %}
                                                {{ form.section(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                {% for error in form.section.errors %}
                                                 <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                                {% else %}
                                                {{ form.section(class='form-control') }}
                                                {% endif %}                                                
                                </div>
                        </div>
                        <div class="col-sm-2">
                        <label class='labelsize' for='Date'>Date</label>
                        <input type="date" name='testdate' id='testdate'>
                        </div>
                        <div class="col-sm-2"> 
                                        {{ form.subject_name.label(class='labelsize') }}
                                        <div id='loader'style='display: none; float: right;'>
                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                </div>
                                        <br>
                                        {% if form.subject_name.errors %}
                                        {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.subject_name.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                        {% else %}
                                        {{ form.subject_name(class='form-control') }}
                                        {% endif %}
                        </div>    

                        <div class="col-sm-2" style="margin-top:25px;">
						
                <input type="button"  class="btn green lighten-1"  style="height:35px; width:100px;" id="fetchFeedbackBtn" value="Submit">                
                </div>              
						</div>
						<div class="row">
                        
				</div>
				<div class="row">  
        <span id="message" style="color:Red;display: none;float:left;"></span>     
        <img src="../static/images/loader.gif" style="display: none;padding-left: 400px;" id="loaderDiv">    
        <div id="feedbackReportDiv" style="display:none;">
        </div>
		</div>        
      </div>
</div>
      <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
        } 
        if(mm<10){
                mm='0'+mm
        }
        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("testdate").setAttribute("max", today);
        var class_select = document.getElementById("class_val");
        var section_select = document.getElementById("section");
        var subject_select = document.getElementById("subject_name");

        var optionHTMLClass = '';
        var optionHTMLSubject = '';
        var optionHTMLSection = '';
    $(document).ready(function(){
        $('#class_val').val("na");
        optionHTMLClass += '<option value="na"  selected disabled> Select Class </option>';
        class_select.innerHTML = optionHTMLClass + class_select.innerHTML;
        optionHTMLSubject += '<option value="na"  selected disabled> Select Subject </option>';
        subject_select.innerHTML = optionHTMLSubject + subject_select.innerHTML;
        optionHTMLSection += '<option value="na"  selected disabled> Select Section </option>';
        section_select.innerHTML = optionHTMLSection + section_select.innerHTML;
    });

    $(document).ready(function(){
        $('#fetchFeedbackBtn').click(function(){
            classValue = document.getElementById('class_val').value;
            sectionValue = document.getElementById('section').value;
            subjectValue = document.getElementById('subject_name').value;
            dateValue = document.getElementById('testdate').value;
            console.log(classValue);
            if(classValue=='na'){
                console.log('Inside message');
                tag = document.getElementById('message');
                tag.innerHTML = 'No Class Selected';
                $('#message').show();
                event.preventDefault();
            }
            else
            if(sectionValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Section Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(dateValue==''){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Date Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(subjectValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Subject Selected';
                $('#message').show();
                event.preventDefault();
            }else{
                $('#message').hide();
                $("#feedbackReportDiv").html('');     
              var class_val = $('#class_val').val();              
              var section = $('#section').val();                            
              var subject_id = $('#subject_name').val();   
              var selected_date=$('#testdate').val();
                            
              $('#loaderDiv').show();
              var data="";
                $.ajax({
                  url: "/feedbackReport?class_val="+ class_val+"&section="+section+"&subject_id="+subject_id+"&date="+selected_date+"&fromClassPerf=1" ,
                  type: "get",
                  data: data,
                  success: function(response) {
                    if (response!="NA"){
                    $("#feedbackReportDiv").html(response);
                    }
                    else{
                      $("#feedbackReportDiv").html('<span class="grey-text text-lighten-1"> <p style="font-size: 36px;">No data available for selected date.</p></span>');
                    }
                      $('#loaderDiv').hide();
                    $("#feedbackReportDiv").show(); 
                    
                  },
                  error: function(xhr) {
                    window.alert("error occurred while submitting data");
                  }
                }); 
            }
            
        });
    });

        class_select.onchange = function()  {             
            class_val = class_select.value;
            $("#loader").show();            
            fetch('/resultUpload/' + class_val).then(function(response) {
                response.json().then(function(data) {
                        $("#loader").hide();    
                        var optionHTML = '';
                        optionHTML += '<option value="na"  selected disabled> Select Section </option>';
                        for (var section of data.sections) {
                        optionHTML += '<option value="' + section.section_val + '">' + section.section_val + '</option>';
                    }
                    section_select.innerHTML = optionHTML;
                })
            });

            $("#loader").show();
         console.log('Inside class value Onchange')
         fetch('/questionBuilder/' + class_val).then(function(response) {
             response.json().then(function(data) {
                     $("#loader").hide();    
                     var optionHTML = '';
                     optionHTML += '<option value="na"  selected disabled> Select Subject </option>';
                     for (var subject of data.subjects) {
                     optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>';
                 }
                 subject_select.innerHTML = optionHTML;
             })
             
         });

        }
    </script>
     <script>        
           
            </script>
{%endblock%}