{%extends "layout.html"%} {%block content%}
<div class="container" height=100% >
        
    
    <div class="skin-blue sidebar-mini">
        
    
        <aside class="main-sidebar" style="margin-top:15px;">
            <!-- sidebar: style can be found in sidebar.less -->
            
            <section class="sidebar">              
                  <!-- /.search form -->
                  <!-- sidebar menu: : style can be found in sidebar.less -->
                  <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                      <a href="#">
                        <i class="glyphicon glyphicon-education"></i>
                        <span>Class 1</span>
                        <span class="pull-right-container">
                          <span class="label label-primary pull-right">4</span>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section C</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                      </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 2</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 3</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 4</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 5</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 6</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 7</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 8</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 9</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 10</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
                  </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
        
        
            <!--------------------------------------------------------------------------------------------->
            <div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                <div class="row">
                <div class="col-xs-8">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Book: English </h3><span style="padding-left: 10px;">    Class: 1 | Section: A</span>
        
                    </div>
                    <!-- /.box-header -->                    

                    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>                    

                    

                    <canvas id="the-canvas"></canvas>

                    <div style="padding-right:20px;">
                      <button id="prev" class="btn" style="border-color: green;font-size: 10px;color:#232f34; background-color: whitesmoke;font-family: Arial;">Previous</button>
                      <span class="right" >Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                      <button id="next" class="btn" style="border-color: green;font-size: 10px;color:#232f34; background-color: whitesmoke;font-family: Arial;">Next</button>
                      &nbsp; &nbsp;
                      
                    </div>

                    <br>
                    <br>

                    
                    
                  </div>
                </div>
                  <div class="col-md-3" style="margin-top:20px;">
                    <div id="answerCounter">

                    <h3>Topics</h3> 
                      <table>
                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" checked="checked">
                              <span>Topic 1</span>
                            </label>
                          </p>
                          </tr>
                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 2</span>
                            </label>
                          </p>
                        </tr>
                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 3</span>
                            </label>
                          </p>
                        </tr>
                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 4</span>
                            </label>
                          </p>
                        </tr>

                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 5</span>
                            </label>
                          </p>
                        </tr>

                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 6</span>
                            </label>
                          </p>
                        </tr>

                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 7</span>
                            </label>
                          </p>
                        </tr>

                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 8</span>
                            </label>
                          </p>
                        </tr>

                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 9</span>
                            </label>
                          </p>
                        </tr>

                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 10</span>
                            </label>
                          </p>
                        </tr>

                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 11</span>
                            </label>
                          </p>
                        </tr>
                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 12</span>
                            </label>
                          </p>
                        </tr>
                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 13</span>
                            </label>
                          </p>
                        </tr>
                        <tr>
                          <p>
                            <label>
                              <input type="checkbox" />
                              <span>Topic 14</span>
                            </label>
                          </p>
                        </tr>
                        

                      </table>

                      <div style="padding-top: 40px;">
                        
                      <a style="border-color: green;padding-top: 4px;font-size: 20px;color:#232f34; background-color: whitesmoke;font-family: Arial;" id="startQuizButton" class="btn pull-right" href="{{url_for('feedbackCollection')}}">Collect Feedback</a>
                      <span class="pull-right" style="padding-top:10px;"><a href="#"> See Older Topics</a></span>
                    </div>
                </div>
               </div>
              </div>
        </div>
        
    </section>
</div>
    </div>
        </div>    

        <script src="../static/js/pdfLoader.js"></script>


       <!-- <script>
      function startQuizButton() {
        document.getElementById('bg').src="{{ url_for('video_feed')}}";

}
        
   
function stopQuizButton() {
  document.getElementById('bg').alt="{{ url_for('video_feed_stop')}}";
  document.getElementById('bg').src='../static/images/cam.png';

}

        </script>-->

{%endblock%}