{%extends "layout.html"%} {%block content%}
<div class="container" >
<div class="hold-transition skin-blue sidebar-mini">    
<div id="sidebarDiv" >   
    <div class="main-sidebar" style="margin-top:15px;">
        <section class="sidebar">                     
              <ul class="sidebar-menu table-responsive" data-widget="tree">
                  {% for singleClass in distinctClasses %}
                         <li class="treeview">
                           <a href="#">
                             <i class="glyphicon glyphicon-education"></i>
                             <span>Class {{singleClass[0]}}</span>
                             <span class="pull-right-container">
                               <span class="label label-primary pull-right">{{singleClass[1]}}</span>
                             </span>
                           </a>                                                      
                           <ul class="treeview-menu">                            
                              {% for classsection in classsections %}
                                 {% if classsection.class_val==singleClass[0] %}
                             <li><a href="{{ url_for('classCon',class_val=classsection.class_val, section=classsection.section) }}"><i class="fa fa-circle-o"></i> Section {{classsection.section}}</a></li>                              
                              {% endif %}
                             {% endfor %}
                           </ul>                                                      
                         </li>
                         {% endfor %}                
         <ul>                  
        </section>
        <!-- /.sidebar -->
    </div>
</div>
<div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                
                <div class="col-xs-12">
                  <div class="box" id="classTrackerDiv">
                    <div class="box-header">
                      <h3 class="box-title">Class Tracker</h3><span style="padding-left: 10px;">    Class: {{qclass_val}} | Section: {{qsection}}</span>                              
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                        <tr>
                          <th>Subject</th>
                          <th>Topic Coverage</th>
                          <th>Total Topics</th>
                          <th>Last Updated </th>
                          <th> &nbsp; &nbsp; &nbsp; See Topics</th>                         
                        </tr>
                        {% for eachRow in topicRows%}
                        <tr style="margin-top:5px;">
                          <td>{{eachRow.subject_name}}</td>
                          <td>{{eachRow.topics_covered}}</td>     
                          <td>{{eachRow.total_topics}}</td>     
                          <td>{{eachRow.last_updated_date}}</td>                                       
                          <td><button class="courseDetailsButton btn green lighten-1" id="courseDetailsButton" name="{{eachRow.subject_id}}">See Topics</button><span style="display: none;" name="subjectIdSpan"></span></td>
                        </tr>
                             {% endfor %}
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  
                  <div id="completeCourseDetailsDiv"></div>
                  <img src="../static/images/loader.gif" style="display: none;padding-left: 400px;" id="loaderDiv">
                </div>               
                
                <div id="backButton" style="display: none;"><button class="btn pull-right green lighten-1" id="closeCourseDetailsButton" style="margin-top: 10px;">Back</button></div>   
                  <!-- /.box -->                              
        </div>
    </section>
</div>
</div>
</div>
<link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">
<script>
  $('.courseDetailsButton').click(function(){
                $('#loaderDiv').show();
                $('#classTrackerDiv').hide();                 
                
                var subject_id_val = $(this).attr('name');
                console.log(subject_id_val);
                var data="";
                $.ajax({
                  url: "/topicList?class_sec_id="+ {{class_sec_id}} +"&subject_id="+ subject_id_val,
                  type: "get",
                  data: data,
                  success: function(response) {
                    $("#completeCourseDetailsDiv").html(response);    
                    $('#completeCourseDetailsDiv').show();   
                    $('#backButton').show();   
                    $('#loaderDiv').hide();                   
                  },
                  error: function(xhr) {
                    window.alert("error occurred while loading question");
                  }
                });      
                       
            });
            
            </script>
            <script>
            $('#closeCourseDetailsButton').click(function(){    
    $('#classTrackerDiv').show();
    $('#completeCourseDetailsDiv').hide();
})
            </script>
            <script>
              $('#backButton').click(function(){
                $('#backButton').hide();
                $('#classTrackerDiv').show(); 
                $('#completeCourseDetailsDiv').html('');
                $('#completeCourseDetailsDiv').hide();
              })
            </script>

{%endblock%}