{%extends "layout.html"%} {%block content%}
<style>
  li.treeview a .rightArrow{
  transform: rotate(0deg);
}
.downArrow{
  transform: rotate(90deg); 
}
</style>
<div class="container">
  <div class="hold-transition skin-blue sidebar-mini">
    <div id="sidebarDiv">
      <div class="main-sidebar">
        <section class="sidebar" style="margin-top:-40px;">
          <ul class="sidebar-menu table-responsive" data-widget="tree">
            {% for singleClass in distinctClasses %}
            <li class="treeview">

              <a href="#" class="arrowLink" name="{{loop.index}}">
                <i class="fas fa-chevron-right downArrow" ></i> 
                
                <!-- <i class="glyphicon glyphicon-education"></i> -->
                <span>Class {{singleClass[0]}}</span>
                <!-- <span class="pull-right-container">
                  <span class="label label-primary pull-right">{{singleClass[2]}}</span>
                </span> -->
              </a>
              <ul class="treeview-menu">
                {% for classsection in classsections %}
                {% if classsection.class_val|string == singleClass[0]|string %}
                <li><a
                    href="{{ url_for('classCon',class_val=classsection.class_val, section=classsection.section) }}">
                    <i class="glyphicon glyphicon-education"></i> Section {{classsection.section}}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
        </section>
        <!-- /.sidebar -->
      </div>
    </div>
    <div class="content-wrapper" style="background-color: white;">
      <section class="content" style="margin-top: -15px;">
        <div class="row"  id="summaryDiv" style="margin-left: 0px;width: 100%;">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Class Summary</h3><span style="padding-left: 10px;"> Class: {{qclass_val}} |
                Section: {{qsection}}</span>
            </div>
            <div class="box-body table-responsive no-padding">
              <div class="col-xs-3">
                <h4 class="grey-text">Average Performance</h4>
                {%if summaryData.avgclassperfomance!=None%}
                <h3 class="green-text">{{summaryData.avgclassperfomance}}%</h3>
                {%else%}
                <h3 class="green-text">NA</h3>
                {%endif%}
              </div>
              <div class="col-xs-3">
                <h4 class="grey-text">Total Students</h4>
                <h3 class="blue-text">{{summaryData.studcount}}</h3>
              </div>
              <div class="col-xs-3">
                <h4 class="grey-text">Today's Attendance</h4>
                {%if attendance[0]%}
                <h3 class="green-text">{{attendance[0]}}</h3>
                {%else%} 
                <h3 class="green-text">NA</h3>
                {%endif%}
              </div>              
              <div class="col-xs-3">
                <h4 class="grey-text">Actions</h4>
                <a href="#smsModal" class="modal-trigger" >Send SMS message</a><br>
                <a  href="#loginChkModal" class="modal-trigger">Check Login Data</a><br>
                <a href="#attendenceModal"  class="modal-trigger" onclick="fetchAttendence();">Mark Attendance</a>                
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="box" id="classTrackerDiv">
              <div class="box-header">
                <h3 class="box-title">Class Tracker</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tr>
                    <th>Subject</th>
                    <th>Topic Coverage</th>
                    <th>Total Topics</th>
                    <th>Last Updated </th>
                    <th> See Topics</th>
                  </tr>
                  {% for eachRow in topicRows%}
                  <tr style="margin-top:5px;">
                    <td>{{eachRow.subject_name}}</td>
                    <td>{{eachRow.topics_covered}}</td>
                    <td>{{eachRow.total_topics}}</td>
                    <td>{{eachRow.last_updated_date}}</td>
                    <td><button class="courseDetailsButton btn green lighten-1" id="courseDetailsButton"
                        name="{{eachRow.subject_id}}">See Topics</button><span style="display: none;"
                        name="subjectIdSpan"></span></td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <!-- /.box-body -->
            </div>

            <div id="completeCourseDetailsDiv"></div>
            <img src="../static/images/loader.gif" style="display: none;padding-left: 400px;" id="loaderDiv">
          </div>

          <div id="backButton" style="display: none;"><button class="btn pull-right green lighten-1"
              id="closeCourseDetailsButton" style="margin-top: 10px;">Back</button></div>
          <!-- /.box -->
        </div>
      </section>
    </div>
  </div>
</div>


  <!-- Modal Structure -->
  <div id="attendenceModal" class="modal" style="width: 450px;">
    <div class="modal-content" style="height:368px;">
      <h4>Attendence</h4>
      <div class="header" style="display: flex;">
        <input type="date" style="width:140px;" id="date">
      <a style="float: right;margin-left: 170px;width:190px;cursor: pointer;" id="download" onclick="downloadReport();">Download Report</a>
      <a href="" id="downloadUrl" style="display: none;" download>Download</a>
    </div>
      <div id="attendenceList" style="margin-top: 50px;height: 242px;position: relative;overflow-y: auto;">

      </div>
      <div id="attendanceloader" style="display:none;">
        <img src="../static/images/smallloader.gif">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn pull-right green lighten-1"
      id="submitAttendence" style="margin-right: 175px;" value="Submit">Submit</button>    
    </div>
  </div>

<div class="modal" id="smsModal" style="height: 400px;width: 450px;">
  <div class="modal-content" id="" style="height:100%;overflow-y: auto;">
    <h4>Send SMS to students of {{qclass_val}} - {{qsection}}</h4>
    <form id="sendSMSForm">
    <div class="input-field ">
      <textarea id="message" name="message" class="materialize-textarea" data-length="720" placeholder="Enter message" ></textarea>                 
    </div>
    <input type="hidden" id="commType" name="commType" value="sms">
    <input type="hidden" id="class_sec_id" name="class_sec_id" value="{{class_sec_id}}">
    <br>
    <a href="#" id="sendSMSBTN" class="btn green right">Send SMS</a>
  </form>
  <div id="sendSuccessMSG" style="display: none;">  
  <!--<img src="../static/images/tick.gif" style="width: 100px;" class="center">-->
  <h4 class="green-text">Message sent successfully to all students</h4>
  <!--<span id="successSendList"></span>-->
</div>
  <h4 class="orange-text" id="smsSendErrorMSG" style="display: none;">Error sending message to students. Please try later</h4>
</div>
</div>


<div class="modal" id="loginChkModal">
  <div class="modal-content" id="" style="height:100%;overflow-y: auto;">
<div id="loadingData" style="display: none;">
Loading information...
</div>
<div id="loginInfoDiv">
  <table>
    <thead>
      <th>Student Name</th>
      <th>Last Login Date</th>
    </th>
    <tbody>
      {%if loginData%}
      {%for row in loginData%}      
      <tr>
        <td>{{row.student_name}}</td>
        {%if row.last_login%}
        <td>{{row.last_login.strftime('%d %B %Y')}}</td>
        {%else%}
        <td>NA</td>
        {%endif%}
      </tr>
      {%endfor%}
      {%endif%}      
    </tbody>
  </table>
</div>
  </div>
</div>


<link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">
<script>

var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
        } 
        if(mm<10){
                mm='0'+mm
        } 

        
        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("date").setAttribute("max", today);
        document.getElementById("date").setAttribute("value", today);

     

   $(document).ready(function () {   
        $('.modal').modal();
        $('input#input_text, textarea#message').characterCounter();
   });

   function downloadReport(){
    $.ajax({
      
      url: "/attendanceReport?class_sec_id=" + {{class_sec_id}},
      type: "POST",
      data: "",
      success: function (response) {
        // alert(response);
        $('#downloadUrl').attr("href",response);
        $('#downloadUrl')[0].click();
        // $('#submitAttendence').prop('disabled',true);
      },
      error: function (xhr) {
        alert("error occurred while loading data");
      }
    });
   }

   var selectDate = document.getElementById('date');
   selectDate.onchange = function(){
     console.log('inside select date:'+selectDate.value);
     console.log(today);
     $('#attendanceloader').show();
     $("#attendenceList").hide();
     var date = selectDate.value;
     $.ajax({
      
      url: "/fetchAttendenceList?class_sec_id=" + {{class_sec_id}}+"&date="+date,
      type: "POST",
      data: "",
      success: function (response) {
        $("#attendenceList").html(response);
        $('#attendanceloader').hide();
     $("#attendenceList").show();
        if(date.toString()!=today.toString()){
          console.log('if dates are not equal');
        $('#submitAttendence').prop('disabled',true);
        }else{
          $('#submitAttendence').prop('disabled',false);
        }
      },
      error: function (xhr) {
        console.log("error occurred while loading data");
      }
    });
  }
   

   function fetchAttendence(){
     var date = '';
    $.ajax({
      
      url: "/fetchAttendenceList?class_sec_id=" + {{class_sec_id}}+"&date="+date,
      type: "POST",
      data: "",
      success: function (response) {
        $("#attendenceList").html(response);
      },
      error: function (xhr) {
        console.log("error occurred while loading data");
      }
    });
   }

   $('#submitAttendence').click(function(){
    var attendence = [];

    $('#submitAttendence').html('please wait...');
    $.each($("input[name='attendence']:checked"), function(){
      attendence.push($(this).val());
    });
    for(a in attendence){
      console.log(a);
    }
    attendence = JSON.stringify(attendence);
    $.ajax({
      
      url: "/addAttendence?class_sec_id=" + {{class_sec_id}},
      type: "POST",
      contentType: "application/json",
      data: attendence,
      success: function (response) {
        if(response='1'){
          $('#submitAttendence').html('Submit');
          M.toast({html: 'Attendance successfully updated'});
        }
      },
      error: function (xhr) {
        console.log("error occurred while loading data");
      }
    });
   });


  $('.courseDetailsButton').click(function () {
    $('#loaderDiv').show();
    $('#classTrackerDiv').hide();
    $('#summaryDiv').hide();
    var subject_id_val = $(this).attr('name');
    console.log(subject_id_val);
    var data = "";
    $.ajax({
      url: "/topicList?class_sec_id=" + {{class_sec_id}} + "&subject_id=" + subject_id_val,
      type: "get",
      data: data,
      success: function (response) {
        $("#completeCourseDetailsDiv").html(response);
        $('#completeCourseDetailsDiv').show();
        $('#backButton').show();
        $('#loaderDiv').hide();
      },
      error: function (xhr) {
        console.log("error occurred while loading data");
      }
    });

  });
</script>
<script>
  $('#closeCourseDetailsButton').click(function () {
    $('#classTrackerDiv').show();
    $('#completeCourseDetailsDiv').hide();    
  })

  $('#backButton').click(function () {
    $('#backButton').hide();
    $('#classTrackerDiv').show();
    $('#completeCourseDetailsDiv').html('');
    $('#completeCourseDetailsDiv').hide();
    $('#summaryDiv').show();
  })
  
  
  $('#sendSMSBTN').click(function($e){
    $('#smsSendErrorMSG').hide();
    $('#sendSMSBTN').fadeTo("fast", 0.5).removeAttr("href");
    $('#sendSMSBTN').html('Please wait...');
  var form = $('#sendSMSForm');     
    $.ajax({
            url: "/sendComm",
            type: "POST",
            data: form.serialize(),
            success: function (formResponse) {        
                if (formResponse=='1'){   
                    $('#smsSendErrorMSG').show();                       
                //clicks = 0;
            }
            else{
                //$('#sendSuccessMSG').show();  
              M.toast({html: '<h4>New Message Sent</h4>'});
                var elem = $('#smsModal')
                var instance = M.Modal.getInstance(elem);                   
                instance.close();
            }
            $('#sendSMSBTN').fadeIn("fast").prop("href", "#");
            $('#sendSMSBTN').html('Send SMS');
            },
            error: function (xhr) {
              $('#smsSendErrorMSG').show();
              $('#sendSMSBTN').fadeIn("fast").prop("href", "#");
              $('#sendSMSBTN').html('Send SMS');
            }
        }); 
  });    
  var click = 0;
  $('.arrowLink').click(function(){
    var name = $(this).attr('name');
    var ids = "#arrow"+name;
    // if(click%2==0){
    // $(ids).toggleClass("rightArrow downArrow");
    // }else{
    // $(ids).toggleClass("rightArrow downArrow");
    // }
    // var name = $(this).attr('name');
    console.log(click);
    // var ids = "#arrow"+name;
    // console.log('Name:'+ids);
    // if(click%2==0){
    //   console.log('Even:'+click);
    // $(ids).css('transform','rotate(90deg)');
    // }else{
    //   console.log('odd:'+click);
    // $(ids).css('transform','rotate(0deg)');
    // }
    click = click + 1;
  });  


</script>

{%endblock%}