{%extends "layout.html"%} {%block content%}
<div class="container">
    <h3>Content Manager</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group " style="padding-top:5px;">
            <div class="row">
                <div class="col-sm-3">
                    <div style="width:250px;">
                        {{ form.class_val.label(class='labelsize') }}
                        <br>
                        {% if form.class_val.errors %}
                        {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.class_val.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.class_val(class='form-control',id='classVal') }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2">
                        <div style="width:150px;">
                            {{ form.subject_name.label(class='labelsize') }}
                            <div id='loader' style='display: none; float: right;'>
                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                            </div>
                            <br>
                            {% if form.subject_name.errors %}
                            {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.subject_name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.subject_name(class='form-control',id='subId') }}
                            {% endif %}
                        </div>
                    </div>
                <div class="col-sm-3">
                        <div style="width:250px;">
                            {{ form.chapter_num.label(class='labelsize') }}
                            <div id='loader1' style='display: none; float: right;'>
                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                            </div>
                            <br>
                            {% if form.chapter_num.errors %}
                            {{ form.chapter_num(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.chapter_num.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.chapter_num(class='form-control',id='chapno') }}
                            {% endif %}
                        </div>
                    </div>
                <div class="col-sm-2">
                    <p><button style="margin-top:22px; margin-left:5px;"
                            class="btn waves-light green lighten-1 white-text" id="topic" type="submit">Load Topics</button></p>
                </div>
            </div>
        </div>
    </form>
        <div class="addContentDiv">
            <button style="margin-left: 1000px;"
                class="btn waves-light green lighten-1 white-text" type="button"><a href="#" onclick="addContentId();" data-target="modal2" class="waves-effect waves-light modal-trigger" style="color: white;">Add Content</a></button>
        </div>
        <!-- Model -->

        <div id="modal2" class="modal">
                <div class="modal-content" style="height:504px;">
                  <h4 style="text-align: center;">Add Content</h4>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {{ formContent.hidden_tag() }}
                    <div class="form-group " style="padding-top:5px;">
                      <div class="row" style="margin-left: 15px;margin-bottom: 10px;margin-top: 15px;">
                        <div class="col-sm-3" style="display:flex;">
                            <label style="width:200px;">Content Name</label><input type="text" id="contentNameDiv" name="contentName" placeholder="enter content name" style="width: 300px;margin-left: -10px;margin-right:-210px;">
                        </div>
                      </div>
                      <div class="row" id="classDetailsDiv">
                            <div class="col-sm-3">
                                <div style="width:100px;margin-left:30px;">
                                    {{ formContent.class_val.label(class='labelsize') }}
                                    <br>
                                    {% if formContent.class_val.errors %}
                                    {{ formContent.class_val(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in formContent.class_val.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ formContent.class_val(class='form-control') }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-2" style="width: 0px;margin-left: -20px;">
                                <div style="width:130px;">
                                    {{ formContent.subject_name.label(class='labelsize') }}
                                    <div id='loaderSubject' style='display: none; float: right;'>
                                        <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                    </div>
                                    <br>
                                    {% if formContent.subject_name.errors %}
                                    {{ formContent.subject_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in formContent.subject_name.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ formContent.subject_name(class='form-control') }}
                                    {% endif %}
                                </div>
                            </div>
                              <div class="col-sm-3" style="width:0px;">
                                  <div style="width:125px;margin-left: 120px;">
                                      {{ formContent.chapter_num.label(class='labelsize') }}
                                      <div id='loaderChapter' style='display: none; float: right;'>
                                          <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                      </div>
                                      <br>
                                      {% if formContent.chapter_num.errors %}
                                      {{ formContent.chapter_num(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in formContent.chapter_num.errors %}
                                          <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                      {% else %}
                                      {{ formContent.chapter_num(class='form-control') }}
                                      {% endif %}
                                  </div>
                              </div>
                              <div class="col-sm-2" style="width: 0px;">
                                  <div style="width:160px;margin-left: 240px;" > 
                                                  {{ formContent.topics.label(class='labelsize') }}
                                                  <div id='loaderTopic'style='display: none; float: right;'>
                                                                  <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                  </div>
                                          <br>
                                                  {% if formContent.topics.errors %}
                                                  {{ formContent.topics(class="form-control form-control-lg is-invalid") }}
                                                  <div class="invalid-feedback">
                                                  {% for error in formContent.topics.errors %}
                                                   <span>{{ error }}</span>
                                                  {% endfor %}
                                          </div>
                                                  {% else %}
                                                  {{ formContent.topics(class='form-control',id='topicId') }}
                                                  {% endif %}
          
                                                  
                                  </div>
                          </div>
                        </div>
                          <div class="row">
                          <div class="col-sm-6" style="width: 100%;margin-left: 30px;">
                          <!-- <label>Content Name</label><input type="text" id="contentNameDiv" name="contentName" placeholder="enter content name" style="width: 200px;margin-left: 28px;"></br> -->
                          <label>Content Type:</label>&nbsp;
                          <label><input class="with-gap" id="contentTypeId" name="contentChoice" type="radio" value="1" onclick="contentOption(this);"><span style="margin-right: 10px;"><label style="margin-left: -10px;">Image</label></span>
                          <label><input class="with-gap" id="contentTypeId" name="contentChoice" type="radio" value="2" onclick="contentOption(this);"><span style="margin-right: 10px;"><label style="margin-left: -10px;">Document</label></span>
                          <label><input class="with-gap" id="contentTypeId" name="contentChoice" type="radio" value="3" onclick="contentOption(this);"><span style="margin-right: 10px;"><label style="margin-left: -10px;">Video</label></span>
                          <label><input class="with-gap" id="contentTypeId" name="contentChoice" type="radio" value="4" onclick="contentOption(this);"><span style="margin-right: 10px;"><label style="margin-left: -10px;">Audio</label></span>
                          <input type="hidden" id="contentType" name="contentType" value="">
                          </div>
                          </div>
                          <div style="display: flex;margin-top: -15px;margin-left: 30px;">
                            <div id="uploadContent" style="visibility: hidden;">
                              <div style="display:flex;"><input type="file" style="height: 25px;width: 200px;" id="file-input"><a href="#" id="uploadBtn" onclick="uploadBtn();" style="float: right;">Upload</a></div><br><label style="margin-left: 111px;">OR</label>
                              <span id="message" style="color:Red;display: none;float:left;font-size: 11px;margin-top: -15px;">*please choose file</span>
                              <div style="display: flex;"><label>URL</label><input type="text" onChange="previewUrl(this.value);" id="contentUrl" name="contentName" placeholder="paste your content url here.." style="width: 200px;margin-left: 10px;margin-top:-8px;"></div>
                              <input type="hidden" id="reference" name="reference" value="">
                            </div>
                            <img style="border:1px solid gray; width:251px; height: 115px;margin-left: 90px;float: right;margin-top: -15px;" id="preview" src=" ">
                            <iframe src=" " id="iframeDiv" style="width: 251px;height: 115px;margin-left: 90px;float: right;margin-top: -15px;display:none;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                            <audio controls id="audioDiv" style="width: 251px;height: 115px;margin-left: 90px;float: right;margin-top: -15px;display:none;"><source src=" "></audio>
                            <embed width="251" height="115" id="docDiv" style="margin-left: 90px;float: right;margin-top: -15px;display:none;" src=" " type="application/pdf">
                           
                            </embed>                           
                        </div>
                          </div>
                          <p><button onclick="M.toast({html: 'I am a toast'})" class="btn waves-light green lighten-1 white-text" id="submit" style="float: right;margin-right: 35px;margin-top: -8px;">Confirm</button>
                            </form>
                            <span id="contentMessage" style="color:Red;display: none;float:left;margin-left: 30px;"></span>
                </div>
              </div>
        <!-- End Modal -->
    <div class="row">
        {% if topics %}
        <div class="col-sm-3">
            <h3>Topics</h3>
            <div id="topic_box" style="overflow-y: auto; height:300px; position: relative;">
                {% for topic in topics %}
                <label for="{{ topic.topic_id }}" style="font-weight: 500;">
                    <input type="checkbox" id="{{ topic.topic_id }}" name="topicCheckbox"
                        value="{{ topic.topic_id }}"><span>{{ topic.topic_name }}</span>
                </label><br>
                {% endfor %}
            </div>
            <p><button id="loadContentBTN" style="margin-top:22px; margin-left:5px;" class="btn waves-light green lighten-1 white-text">
                Load Content</button></p>
            {% endif %}
        </div>
        <span id="message" style="color:Red;display: none;float:left;"></span>
        <div class="col-sm-9" id="contentDiv">
                <div id="loaderDiv" style="display: none;padding-left: 300px;">
                    <img src="../static/images/loader.gif">
                </div>
        </div>
    </div>
    <div id="filebox" style="display: none;">
    </div>
</div>
<script type="text/javascript">
    var count_marks = 0;
    var class_select = document.getElementById("classVal");
    var subject_select = document.getElementById("subId");
    var chapter_num_select = document.getElementById("chapno");
    var optionHTMLClass = '';
    var optionHTMLSubject = '';
    var optionHTMLChapter = '';
    $(document).ready(function(){
        $('#classVal').val("na");
        console.log("CLass Value:"+class_select.value);
        optionHTMLClass += '<option value="na"  selected disabled> Select Class </option>';
        class_select.innerHTML = optionHTMLClass + class_select.innerHTML;
        optionHTMLSubject += '<option value="na"  selected disabled> Select Subject </option>';
        subject_select.innerHTML = optionHTMLSubject + subject_select.innerHTML;
        optionHTMLChapter += '<option value="na"  selected disabled> Select Chapter </option>';
        chapter_num_select.innerHTML = optionHTMLChapter + chapter_num_select.innerHTML;
    });
    
    class_select.onchange = function()  {
        class_val = class_select.value;
         
         $("#loader").show();
         console.log('Inside class value Onchange')
         fetch('/questionBuilder/' + class_val).then(function(response) {
             response.json().then(function(data) {
                     $("#loader").hide();    
                     var optionHTML = '';
                     optionHTML += '<option value="na"  selected disabled> Select Subject </option>';
                     for (var subject of data.subjects) {
                     optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>';
                 }
                 subject_select.innerHTML = optionHTML;
             })
             
         });
         
     }
    
     
     subject_select.onchange=function()  {
        class_val = class_select.value;
        subject_id = subject_select.value;
        console.log('Inside subject_select on change')
        $("#loader1").show();
        fetch('/questionChapterpicker/' + class_val + '/'+ subject_id).then(function(response) {
            response.json().then(function(data){
                $("#loader1").hide();
                var optionHTML = '';
                optionHTML += '<option value="na"  selected disabled> Select Chapter </option>';
                for (var chapterNo of data.chapterNum){
                    optionHTML += '<option value="' + chapterNo.chapter_num + '">' + chapterNo.chapter_name+' - ' +chapterNo.chapter_num + '</option>';
                  }
                  chapter_num_select.innerHTML =  optionHTML;
            })
        });
     }

     $(document).ready(function(){      
        var optionHTMLChapter='';
        classValue = document.getElementById('classVal').value;
        if(classValue=='na'){
            var val = 'na';
            optionHTMLChapter += '<option value="na"  selected disabled> Select Chapter </option>';
        chapter_num_select.innerHTML = optionHTMLChapter;
        }
     });

     $('#topic').click(function(){
            classValue = document.getElementById('classVal').value;
            subjectValue = document.getElementById('subId').value;
            chapterValue = document.getElementById('chapno').value;
            console.log(classValue);
            if(classValue=='na'){
                console.log('Inside message');
                tag = document.getElementById('message');
                tag.innerHTML = 'No Class Selected';
                $('#message').show();
                event.preventDefault();
            }
            else
            if(subjectValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Subject Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(chapterValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Chapter Selected';
                $('#message').show();
                event.preventDefault();
            }else{
                $('#message').hide();
            }
            
        });
     
     $("#loadContentBTN").click(function(){
        var topic_list = document.getElementsByName('topicCheckbox');
        var checkboxesChecked = [];
        for (var i = 0; i < topic_list.length; i++) {
            // And stick the checked ones onto an array...
            if (topic_list[i].checked) {
                checkboxesChecked.push(topic_list[i].value);
            }
        }
        console.log(checkboxesChecked[0]);
        checkboxesChecked = JSON.stringify(checkboxesChecked);
        console.log(checkboxesChecked);
        $.ajax({
            url: "/contentManagerDetails",
            type: "POST",
            contentType: "application/json",
            data: checkboxesChecked,
            beforeSend: function() {             
              $("#loaderDiv").show();
           },
            success: function (response) {
                $("#loaderDiv").hide();
                if (response=="NA"){
                    $("#contentDiv").html('<h3 class="grey-text">No content found under the selected topic(s).</h3><br><h5>You may add new content by clicking on the \'Add Content\' button</h5>');
                }
                else{
                $("#contentDiv").html(response);
            }
            },
            error: function (xhr) {
                window.alert("error occurred while loading contents");
            }
        });
    });


    // For Modal Form

    $(document).ready(function(){
  $('.reference_data').css('display','block');
});

$('#topicBtn').click(function(){
  $('.reference_data').css('display','none');
});


var selected_class = document.getElementById('class_val');
var selected_subject = document.getElementById('subject_name');
var selected_chapter = document.getElementById('chapter_num');
var selected_topic = document.getElementById('topicId');
var optionHTMLClass = '';
var optionHTMLSubject = '';
var optionHTMLChapter = '';
var optionHTMLTopic = '';
$(document).ready(function(){
        $('#class_val').val("na");
        console.log("CLass Value:"+selected_class.value);
        optionHTMLClass += '<option value="na"  selected disabled> Select Class </option>';
        selected_class.innerHTML = optionHTMLClass + selected_class.innerHTML;
        optionHTMLSubject += '<option value="na"  selected disabled> Select Subject </option>';
        selected_subject.innerHTML = optionHTMLSubject + selected_subject.innerHTML;
        optionHTMLChapter += '<option value="na"  selected disabled> Select Chapter </option>';
        selected_chapter.innerHTML = optionHTMLChapter + selected_chapter.innerHTML;
        optionHTMLTopic += '<option value="na"  selected disabled> Select Topic </option>';
        selected_topic.innerHTML = optionHTMLTopic + selected_topic.innerHTML;
        $('#file-input').change(function(){   
            if($('#file-input').val()){
              $('#contentUrl').prop('disabled', true);
            }else{
              $('#contentUrl').prop('disabled', false);
            }
        });
    });



selected_class.onchange = function()  {
        class_val = selected_class.value;
         console.log('Topic:'+selected_topic.value);
         $("#loaderSubject").show();
         console.log('Inside class value Onchange')
         fetch('/questionBuilder/' + class_val).then(function(response) {
             response.json().then(function(data) {
                     $("#loaderSubject").hide();    
                     var optionHTML = '';
                     optionHTML += '<option value="na"  selected disabled> Select Subject </option>';
                     for (var subject of data.subjects) {
                     optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>';
                 }
                 selected_subject.innerHTML = optionHTML;
             })
             
         });
     }
     selected_subject.onchange=function()  {
        class_val = selected_class.value;
        subject_id = selected_subject.value;
        console.log('Inside subject_select on change')
        $("#loaderChapter").show();
        fetch('/questionChapterpicker/' + class_val + '/'+ subject_id).then(function(response) {
            response.json().then(function(data){
                $("#loaderChapter").hide();
                var optionHTML = '';
                optionHTML += '<option value="na"  selected disabled> Select Chapter </option>';
                for (var chapterNo of data.chapterNum){
                    optionHTML += '<option value="' + chapterNo.chapter_num + '">' + 'Chapter - ' +chapterNo.chapter_num + '</option>';
                  }
                  selected_chapter.innerHTML =  optionHTML;
            })
        });
     }

     selected_chapter.onchange=function()  {
        class_val = selected_class.value;
        subject_id = selected_subject.value;
        console.log('Inside topic_select on change')
        $("#loaderTopic").show();
        fetch('/questionBuilder/' + class_val + '/'+ subject_id).then(function(response) {
            response.json().then(function(data){
              console.log('Data:'+data)
                $("#loaderTopic").hide();
                var optionHTML = '';
                optionHTML += '<option value="na"  selected disabled> Select Topic </option>';
                for (var topic of data.topics) {
                        console.log(topic.topic_id);
                        console.log(topic.topic_name);
                          optionHTML += '<option value="' + topic.topic_id + '">' + topic.topic_name + '</option>';
                    }  
                  selected_topic.innerHTML =  optionHTML;
            })
        });
     }



     $('#submit').click(function(){
            var classValue = selected_class.value;
            var subjectValue = selected_subject.value;
            var topicValue = selected_topic.value;
            var chapterValue = selected_chapter.value;
            var contentTypeValue = document.getElementById('contentTypeId').value;
            var fileValue = document.getElementById("file-input").value;
            var contentUrlValue = document.getElementById("contentUrl").value;
            var contentName = document.getElementById('contentNameDiv').value;
            console.log(classValue);

            if(contentName==''){
                tag = document.getElementById('contentMessage');
                tag.innerHTML = 'Please enter content name';
                $('#contentMessage').show();
                event.preventDefault();
            }else
            if(classValue=='na'){
                console.log('Inside message');
                tag = document.getElementById('contentMessage');
                tag.innerHTML = 'No Class Selected';
                $('#contentMessage').show();
                event.preventDefault();
            }
            else
            if(subjectValue=='na'){
                tag = document.getElementById('contentMessage');
                tag.innerHTML = 'No Subject Selected';
                $('#contentMessage').show();
                event.preventDefault();
            }else
            if(chapterValue=='na'){
                tag = document.getElementById('contentMessage');
                tag.innerHTML = 'No Chapter Selected';
                $('#contentMessage').show();
                event.preventDefault();
            }else
            if(topicValue=='na'){
                tag = document.getElementById('contentMessage');
                tag.innerHTML = 'No Topic Selected';
                $('#contentMessage').show();
                event.preventDefault();
            }else
            if(contentTypeValue==''){
                tag = document.getElementById('contentMessage');
                tag.innerHTML = 'No Content Type Selected';
                $('#contentMessage').show();
                event.preventDefault();
            }else
            if(fileValue==''&&contentUrlValue==''){
                tag = document.getElementById('contentMessage');
                tag.innerHTML = 'Please either choose file or enter url';
                $('#contentMessage').show();
                event.preventDefault();
            }
            else{
                $('#contentMessage').hide();
                event.preventDefault();
  selected_class_value = selected_class.value;
  selected_subject_value = selected_subject.value;
  selected_chapter_value = selected_chapter.value;
  selected_topic_value = selected_topic.value;
  var contentName = document.getElementById('contentNameDiv').value;
  var contentType = document.getElementById('contentType').value;
  var contentUrl = document.getElementById('contentUrl').value;
  var reference = document.getElementById('reference').value;
  console.log(selected_class_value+' '+selected_subject_value+' '+selected_chapter_value+' '+selected_topic_value+' '+contentName+' '+contentType+' ');
  var contentTypeId=''
  if(contentType==1){
    if(contentUrl!=''){
      console.log('Content Url'+contentUrl);
      contentTypeId = 98;
    }else{
      console.log('Content path'+reference);
      contentTypeId = 94;
    }
  }else if(contentType==2){
    if(contentUrl!=''){
      console.log('Content Url'+contentUrl);
      contentTypeId = 99;
    }else{
      console.log('Content path'+reference);
      contentTypeId = 95;
    }
  }else if(contentType==3){
    if(contentUrl!=''){
      console.log('Content Url'+contentUrl);
      contentTypeId = 96;
    }else{
      console.log('Content path'+reference);
      contentTypeId = 92;
    }
  }else{
    if(contentUrl!=''){
      console.log('Content Url'+contentUrl);
      contentTypeId = 97;
    }else{
      console.log('Content path'+reference);
      contentTypeId = 93;
    }
  }

    var data="";
    $.ajax({
    url: "/loadContent?selected_class_value="+ selected_class_value + "&selected_subject_value="+ selected_subject_value+"&selected_chapter_value="+selected_chapter_value+"&selected_topic_value="+selected_topic_value+"&contentName="+contentName+"&contentTypeId="+contentTypeId+"&contentUrl="+contentUrl+"&reference="+reference,
    type: "get",
    data: data,
    success: function(response) {       
    },
    error: function(xhr) {
    window.alert("error occurred while loading question");
    }
  }); 
            }
            
        });
        function addContentId(){
    console.log('Inside addContentId');
    $('.modal').modal();
  };




  function contentOption(contentType){
      document.getElementById('contentType').value=contentType.value;
      console.log('Insert option');
      $("#uploadContent").css('visibility', 'visible');
    }

  // $('#contentUrl').click(function(){
  //   if($('#file-input').val()){   
  //           console.log('Inside file Input');
  //           $('#contentUrl').prop('disabled', true);
  //   }else{
  //     $('#contentUrl').prop('disabled', false);
  //   }
  // });

  function previewUrl(url){
    var contentType = document.getElementById('contentType').value;
  var contentUrl = document.getElementById('contentUrl').value;
  if(contentType==1){
    if(contentUrl!=''){
      document.getElementById('preview').src = contentUrl;
      $('#preview').show();
      $('#docDiv').hide();
      $('#audioDiv').hide();
      $('#iframeDiv').hide();
    }
  }
  if(contentType==2){
    if(contentUrl!=''){
      document.getElementById('docDiv').src = contentUrl;
      $('#docDiv').show();
      $('#audioDiv').hide();
      $('#iframeDiv').hide();
      $('#preview').hide();
    }
  }
  if(contentType==3){
    if(contentUrl!=''){
    document.getElementById('iframeDiv').src = url;
    $('#iframeDiv').show();
    $('#preview').hide();
    $('#docDiv').hide();
    $('#audioDiv').hide();
    }
  }
  if(contentType==4){
    if(contentUrl!=''){
    document.getElementById('audioDiv').src = url;
    $('#audioDiv').show();
    $('#iframeDiv').hide();
    $('#preview').hide();
    $('#docDiv').hide();
    }
  }
  if(url!=''){
    $('#file-input').prop('disabled', true);
  }else{
    $('#file-input').prop('disabled', false);
  }
  }

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
    
  });


  // Or with jQuery

  $(document).ready(function(){
    console.log('Inside model');
    $('.modal').modal();
  });


  function uploadFile(file, s3Data, url){
    var contentType = document.getElementById('contentType').value;
  var reference = document.getElementById('reference').value;
  var contentUrl = document.getElementById('contentUrl').value;
      console.log('Inside uploadFile');
      const xhr = new XMLHttpRequest();
      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');
      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);      
        //console.log(s3Data.fields[key]);
      }
      postData.append('file', file);
      //alert('This is the file' + file);
      //alert('This is the url' + url);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            console.log(url);
            if(contentType==1){
    if(contentUrl==''){
      document.getElementById('preview').src = url;
      $('#preview').show();
      $('#docDiv').hide();
      $('#audioDiv').hide();
      $('#iframeDiv').hide();
    }
  }
  if(contentType==2){
    if(contentUrl==''){
      document.getElementById('docDiv').src = url;
      $('#docDiv').show();
      $('#audioDiv').hide();
      $('#iframeDiv').hide();
      $('#preview').hide();
    }
  }
  if(contentType==3){
    if(contentUrl==''){
    document.getElementById('iframeDiv').src = url;
    $('#iframeDiv').show();
    $('#preview').hide();
    $('#docDiv').hide();
    $('#audioDiv').hide();
    }
  }
  if(contentType==4){
    if(contentUrl==''){
    document.getElementById('audioDiv').src = url;
    $('#audioDiv').show();
    $('#iframeDiv').hide();
    $('#preview').hide();
    $('#docDiv').hide();
    }
  }
            document.getElementById('reference').value = url;
          }
          else{
            window.alert("this is where the problem is");
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }
    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      console.log('Inside getSignedRequest');
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}&folder=question_references`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            //alert("this is reponse data"+ response.data);
            //alert("this is reponse url"+ response.url);
            uploadFile(file, response.data, response.url);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }
    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    

    function uploadBtn(){
      if($('#file-input').val()){
    console.log('Inside file length');
    // $('#uploadBtn').css('visibility','visible');
    $('#message').hide();
    initUpload();
  }else{
    $('#message').show();
  }
    };


    function initUpload(){
      const files = document.getElementById('file-input').files;
      const file = files[0];
      console.log('Inside initUpload');
      if(!file){
        return alert('No file selected.');
      }
      getSignedRequest(file);
    }
    /*
       Bind listeners when the page loads.
    */
    (() => {
      document.getElementById('file-input').onchange = initUpload;
    })();
</script>

{%endblock%}