{%extends "layout.html"%} {%block content%}
<div class="container">

    <p>The most important page of the system. This is where Shailesh and Leela need to do their magic. </p>

<div class="hold-transition skin-blue sidebar-mini">
    
<div id="sidebarDiv">   
    <aside class="main-sidebar" style="margin-top:50px;">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
              <a href="#">
                <i class="glyphicon glyphicon-education"></i>
                <span>Class 1</span>
                <span class="pull-right-container">
                  <span class="label label-primary pull-right">4</span>
                </span>
              </a>
              <ul class="treeview-menu">
                
                <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
              </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 2</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 3</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 4</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 5</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 6</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 7</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 8</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 9</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 10</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

</div>
</div>
</div>

</div>
{%endblock%}