{%extends "layout.html"%} {%block content%}
<div class="container" height=100% >
        
    
    <div class="skin-blue sidebar-mini">
        
    
        <aside class="main-sidebar" style="margin-top:45px;">
            <!-- sidebar: style can be found in sidebar.less -->
            
            <section class="sidebar">              
                  <!-- /.search form -->
                  <!-- sidebar menu: : style can be found in sidebar.less -->
                  <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                      <a href="#">
                        <i class="glyphicon glyphicon-education"></i>
                        <span>Class 1</span>
                        <span class="pull-right-container">
                          <span class="label label-primary pull-right">4</span>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        
                        <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                        <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                        <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section C</a></li>
                        <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                      </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 2</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 3</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 4</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 5</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 6</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 7</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 8</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 9</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 10</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('content')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
                  </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
        
        
            <!--------------------------------------------------------------------------------------------->
            <div class="content-wrapper" style="background-color: white; margin-top:30px;">
    <section class="content">
        <div class="row">
                <div class="row">
                <div class="col-xs-8">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Content Tracker</h3><span style="padding-left: 10px;">    Class: 1 | Section: A</span>
        

                    </div>
                    <!-- /.box-header -->
                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQCSpIG6jzLFyyrOekM5RPGuNlc22cWILFUH63VZ8t83GjBLoYZgCPcsu1o7Irz6g/embed?start=false&loop=false&delayms=60000" frameborder="0" width="600" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    <!-- /.box-body -->
                    <button class="btn btn-default pull-right">Start Quiz</button>
                  </div>
                </div>
                  <div class="col-md-3" style="margin-top:20px;">
                    <div id="answerCounter">

                    <h3>Answers Recorded</h3> 
                    <span style="font-size: 48px;" class="center">20</span>

                    
                </div>
                
                <div >
                    <br><br><br><br><br>
                        ------------------<br>
                       
                </div>
                <div style="background-color:grey; height: 250px;"></style>
                Camera View

                  </div>
                  <!-- /.box -->
                </div>
              </div>
        </div>
    </section>
</div>


     
        
    </div>
        </div>
        
        

{%endblock%}