{%extends "layout.html"%} {%block content%}
<div class="container" >

    <p>The most important page of the system. This is where Shailesh and Leela need to do their magic. </p>

<div class="hold-transition skin-blue sidebar-mini">
    
<div id="sidebarDiv" >   
    <div class="main-sidebar" style="margin-top:45px;">
        <!-- sidebar: style can be found in sidebar.less -->
        
        <section class="sidebar">            
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
              <a href="#">
                <i class="glyphicon glyphicon-education"></i>
                <span>Class 1</span>
                <span class="pull-right-container">
                  <span class="label label-primary pull-right">4</span>
                </span>
              </a>
              <ul class="treeview-menu">
                
                <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Section C</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
              </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 2</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 3</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 4</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 5</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 6</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 7</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 8</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 9</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="glyphicon glyphicon-education"></i>
                  <span>Class 10</span>
                  <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                  </span>
                </a>
                <ul class="treeview-menu">
                  
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section A</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section B</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i>Section C</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Section D</a></li>
                </ul>
              </li>
          </ul>
        </section>
        <!-- /.sidebar -->
    </div>

</div>
<div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Content Tracker</h3>
        
                      <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
        
                          <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                        <tr>
                          <th>Subject</th>
                          <th>Chapter</th>
                          <th>Topic</th>                          
                          <th>Start Class</th>
                          <th>Complete Course details</th>
                        </tr>
                        <tr style="margin-top:5px;">
                          <td>English</td>
                          <td>Chapter 1: Sun in the sky</td>
                          <td>Topic 1</td>                          
                          <td class="btn btn-default"><span class="label label-success">Start Class</span></td>
                          <td><a href="#">Complete course details</a></td>
                        </tr>
                        <tr>
                                <td>Hindi</td>
                                <td>Chapter 1: Moon in the sky</td>
                                <td>Topic 1</td>                          
                                <td class="btn btn-default"><span class="label label-success">Start Class</span></td>
                                <td><a href="#">Complete course details</a></td>
                              </tr>
                              <tr>
                                    <td>Math</td>
                                    <td>Chapter 1: Something in the sky</td>
                                    <td>Topic 1</td>                          
                                    <td class="btn btn-default"><span class="label label-success">Start Class</span></td>
                                    <td><a href="#">Complete course details</a></td>
                                  </tr>
                                  <tr>
                                        <td>Science</td>
                                        <td>Chapter 1: Sun in the sky</td>
                                        <td>Topic 1</td>                          
                                        <td class="btn btn-default"><span class="label label-success">Start Class</span></td>
                                        <td><a href="#">Complete course details</a></td>
                                      </tr>
                                      <tr>
                                            <td>Social Science</td>
                                            <td>Chapter 1: Sun in the sky</td>
                                            <td>Topic 1</td>                          
                                            <td class="btn btn-default"><span class="label label-success">Start Class</span></td>
                                            <td><a href="#">Complete course details</a></td>
                                          </tr>
                                          <tr>
                                                <td>Computer</td>
                                                <td>Chapter 1: Sun in the sky</td>
                                                <td>Topic 1</td>                          
                                                <td class="btn btn-default"><span class="label label-success">Start Class</span></td>
                                                <td><a href="#">Complete course details</a></td>
                                              </tr>

                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
              </div>
        </div>
    </section>
</div>



</div>
</div>


{%endblock%}