{% extends "layout.html" %} {% block content %}
<link href="../static/css/jquery.magicsearch.css" rel="stylesheet">
<style>
    span.stars,
    span.stars span {
        display: block;
        background: url('http://i.imgur.com/YsyS5y8.png') 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

    span.stars span {
        max-width: 80px;
        background-position: 0 0;
    }

    body {
        background-image: linear-gradient(45deg, white, transparent);
    }

    .colorClass {
        background-color: white;
    }

    #bgImg {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    @media screen and (min-width: 750px) {

        #mainText {
            font-size: 3vw;
            color: white;
        }

        #subText {
            font-size: 2vw;
            color: green;
        }
    }

    @media screen and (max-width: 650px) {

        #myVideo {
            display: none;
        }

        #mainText {
            font-size: 6vw;
            color: rgb(204, 238, 81);
            text-shadow: white;
        }

        #subText {
            font-size: 4vw;
            color: grey;
        }
    }
</style>

<div style="overflow:hidden;position: absolute;height: 90%;">
    <!--<video autoplay muted loop id="myVideo" style="width:100%; ">
        <source src="../static/images/vid1.m4v" type="video/mp4">
    </video>-->
    <img id="bgImg" src="../static/images/yellowbg.jpg" style="width:100%;">
</div>
<div>

    <div class="container" style="  display: flex;
align-items: center;
justify-content: center;" id="containerDiv">

        <br>
        <br>

        <div id="mainDiv">

            <div class="col-xs-6 row" id="textMain">
                <h1 id="mainText" style="text-shadow: 1px 1px 1px black;"><b>Learning should be easy.</b>
                </h1><br>
                <div class="col-xs-12">
                    <h2 id="subText"
                        style="text-shadow: 1px 1px 1px rgb(177, 174, 174);color: rgb(110, 108, 108);font-size: 18px;margin-left: -15px;"
                        class="  ">Learn as much or as little as you want from a range of courses - recorded and
                        live!<br></h2>
                </div>
            </div>
            <div id="practiceTestDiv" class="col-xs-12 row ">
                <div class="row" style="margin-left: 0px;">
                    {% for ideal in idealList %}
                    <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">{{ideal}}</a>
                    {% endfor %}
                    <!-- <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">Class 7</a>
                    <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">Class 8</a>
                    <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">Class 9</a>
                    <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">Class 10</a>
                    <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">IIT JEE</a>
                    <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">NEET</a>
                    <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">Entrepreneurs</a>
                    <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                        style="font-size: 14px;">Music</a> -->
                </div>
                <div id="testConfigurationDiv" style="margin-bottom:5% ;">
                    <div class="z-depth-2 hoverable colorClass" id="testBox"
                        style="border-radius: 25px;border: 2px solid grey;padding: 10px; ">
                        <!-- Start for mobile -->
                        <!-- End for mobile -->

                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="grey-text" style='font-size: 14px;'>What do you want to learn today</h4>
                                <input placeholder="Search for Classes" class="searchText"
                                    style="background-image: url('https://img.icons8.com/search'); background-size: 20px 20px;;background-repeat: no-repeat;background-position: right;font-size: 14px;">
                            </div>
                        </div>
                        <span id="errorStartMSG" class="orange-text" style="display: none;font-size: large;">Error
                            occurred
                            while
                            starting test. Please try again.</span>
                    </div>
                    <div class="row">
                        <div class="">

                            <div class="center">
                                <br>
                                <button class="btn green hoverable" id="startTestBTN" style="width: 150px;">Find
                                    Classes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- <h3>Upcoming Classes</h3> -->
    {%if upcomingClassData!=""%}

    <div class="row">
        {%for row in upcomingClassData%}
        <div class="col-sm-3 ">
            <div class="card small hoverable" style="border-radius: 25px;">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" style="border-radius: 25px;"
                        src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <h4>{{row.course_name}}</h4><i class="material-icons right">more_vert</i>
                    </span>
                    <h5 class="grey-text">{{row.course_teacher}}</h5>
                    <span class="left">{{row.batch_start_time}}</span>
                    <a href="{{url_for('course.courseDetail',row.course_id)}}"><span class="right"
                            style="font-size: small;">Go
                            to
                            Course</span></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{row.course_name}}<i
                            class="material-icons right">close</i></span>
                    <p style="width: 80%;">{{row.star_rating}}<span class="stars">{{row.star_rating}}</span><br>
                    <h5>Next Batch Starts: 15/04/20</h5>{{row.description}}
                    </p>

                    <p><a href="{{url_for('course.courseDetail', row.course_id)}}"><span class="right"
                                style="font-size: small;">Go to
                                Course</span></a></p>
                </div>
            </div>
        </div>
        {%endfor%}
        {%endif%}
        <div>
            <!--<div class="row">
            <h3>Most Discussed Topics</h3>
            {%for course in discussedTopics%}
            <div class="col-sm-3 ">
                <a href="{{url_for('openLiveClass')}}">
                    <div class="card small hoverable  z-depth-0" style="border-radius: 25px;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" style="border-radius: 25px;"
                                src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                <h4>Topic Name</h4>
                            </span>
                            <h5>Course Name</h5>
                            <h5 class="grey-text">Shailesh Vishwakarma</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-3 ">
            <div class="card small hoverable" style="border-radius: 25px;">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="card small hoverable" style="border-radius: 25px;">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card small hoverable" style="border-radius: 25px;">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" style="border-radius: 25px;"
                        src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>-->



            <div>
                {%if enrolledCourses%}
                <h3>Recently Enrolled Courses</h3>
                <div class="row">

                    {% for row in enrolledCourses %}
                    <div class="col-sm-3 ">
                        <div class="card small hoverable" style="border-radius: 25px;">
                            <div class="card-image waves-effect waves-block waves-light">
                                {% if row.image_url %}
                                <img class="activator" style="border-radius: 25px;" src="{{row.image_url}}">
                                {% else %}
                                <img class="activator" style="border-radius: 25px;"
                                    src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                                {% endif %}
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <a href="{{url_for('course.courseDetail',course_id=row.course_id)}}">
                                        <h4>{{row.course_name}}</h4>
                                    </a><i class="material-icons right">more_vert</i>
                                </span>
                                <h5 class="grey-text"><a
                                        href="{{url_for('tutorDashboard',tutor_id=row.teacher_id)}}">{{row.teacher_name}}
                                </h5>
                                <!-- <span class="left">Seats left: {{row.seats}}</span> -->
                                <a href="{{url_for('course.courseDetail',course_id=row.course_id)}}"><span class="right"
                                        style="font-size: small;">Go to
                                        Course</span></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><a
                                        href="{{url_for('course.courseDetail',course_id=row.course_id)}}">{{row.course_name}}</a><i
                                        class="material-icons right">close</i></span>
                                <p style="width: 80%;">
                                    <!--Use this star review system throughout the platform-->
                                    {% if row.average_rating%}
                                <h4 class="">{{row.average_rating}}<span class="stars left"
                                        style="margin-right: 10px;">{{row.average_rating}}</span>
                                </h4>
                                {% else %}
                                <h4 class="">0<span class="stars left" style="margin-right: 10px;">0</span></h4>
                                {% endif %}
                                <br>

                                {{row.description}}
                                </p>

                                <p><a href="{{url_for('course.courseDetail',course_id=row.course_id)}}"><span
                                            class="right" style="font-size: small;">Go to
                                            Course</span></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="col-sm-3 ">
            <div class="card small hoverable" style="border-radius: 25px;">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card small hoverable" style="border-radius: 25px;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card small hoverable" style="border-radius: 25px;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div> -->
                </div>
                {%endif%}
                <!-- <div class="row">
        <div class="right">
            <a href="#">See More</a>
        </div>
    </div> -->
            </div>

            <div>
                {%if recentlyAccessed%}
                <h3>Recently Updated Courses</h3>
                <div class="row">
                    {% for row in recentlyAccessed %}
                    <div class="col-sm-3 ">
                        <div class="card small hoverable" style="border-radius: 25px;">
                            <div class="card-image waves-effect waves-block waves-light">
                                {% if row.image_url %}
                                <img class="activator" style="border-radius: 25px;" src="{{row.image_url}}">
                                {% else %}
                                <img class="activator" style="border-radius: 25px;"
                                    src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                                {% endif %}
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <a href="{{url_for('course.courseDetail',course_id=row.course_id)}}">
                                        <h4>{{row.course_name}}</h4>
                                    </a><i class="material-icons right">more_vert</i>
                                </span>
                                <a href="{{url_for('tutorDashboard',tutor_id=row.teacher_id)}}">
                                    <h5 class="grey-text">{{row.teacher_name}}</h5>
                                </a>
                                <!-- <span class="left">Seats left: {{row.seats}}</span> -->
                                <a href="{{url_for('course.courseDetail',course_id=row.course_id)}}"><span class="right"
                                        style="font-size: small;">Go to
                                        Course</span></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><a
                                        href="{{url_for('course.courseDetail',course_id=row.course_id)}}">{{row.course_name}}</a><i
                                        class="material-icons right">close</i></span>
                                <p style="width: 80%;">
                                    {% if row.average_rating%}
                                <h4 class="">{{row.average_rating}}<span class="stars left"
                                        style="margin-right: 10px;">{{row.average_rating}}</span>
                                </h4>
                                {% else %}
                                <h4 class="">0<span class="stars left" style="margin-right: 10px;">0</span></h4>
                                {% endif %}
                                <br>
                                <!-- <h5>Next Batch Starts: {{row.batch_start_date}}</h5> -->
                                {{row.description}}
                                </p>

                                <p><a href="{{url_for('course.courseDetail',course_id=row.course_id)}}"><span
                                            class="right" style="font-size: small;">Go to
                                            Course</span></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="col-sm-3 ">
            <div class="card small hoverable" style="border-radius: 25px;">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card small hoverable" style="border-radius: 25px;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card small hoverable" style="border-radius: 25px;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="right">
                <a href="#">See More</a>
            </div>
        </div> -->
                </div>
                {%endif%}
                <!-- <div class="row">
    <div class="right">
        <a href="#">See More</a>
    </div>
</div> -->
            </div>
        </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.tabs').tabs();
                $('.modal').modal();
                $('select').formSelect();
            });

            $('.searchCategoryClass').click(function () {
                //window.alert($(this).html());

                window.location.href = "/search?prd_course[query]=" +
                    $(this).html();
            });



            $('#startTestBTN').click(function () {
                window.location.href = "/search?prd_course[query]=" +
                    $('.searchText').val();

            });
        </script>
        <script>
            $.fn.stars = function () {
                return this.each(function (i, e) {
                    $(e).html($('<span/>').width($(e).text() * 16));
                });
            };

            $('.stars').stars();
        </script>
        {% endblock %}