{%extends "layout.html"%} {%block content%}
<style>
    /* CSS for rating */
    span.stars,
    span.stars span {
        display: block;
        background: url('http://i.imgur.com/YsyS5y8.png') 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

    span.stars span {
        max-width: 80px;
        background-position: 0 0;
    }

    /* End */
    div.stars {
        width: 270px;
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 36px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked~label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked~label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1:checked~label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }
</style>
<div class="parallax-container  grey-text text-lighten-2" style="height: 100%;">
    <div class="parallax"><img src="../static/images/blkboard.jpg" width="100%">
    </div>
    <div class="container">
        <span style="display: flex;">
            <h1 style="font-size: 5vw;color:white">{{courseDet.course_name}}</h1>
            {% if current_user.id==teacherUser.id %}
            <a href="{{url_for('course.editCourse',course_id=course_id)}}"
                style="color: white;font-size: 30px;margin-left: 10px;margin-top: 3%;">
                <h4><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</h4>
            </a>
            {%endif%}
        </span>
        <div class="row">
            {%if teacherUser.user_avatar%}
            <img src="{{teacherUser.user_avatar}}" class="circle" width="100px">
            {%else%}
            <img src="../static/images/defaultAvatar.png" class="circle" width="100px">
            {%endif%}
            <a href="{{url_for('tutorDashboard',tutor_id=teacher.teacher_id)}}">
                <h3 style="color: white;">{{teacherUser.first_name[0:1]|upper}}{{teacherUser.first_name[1:]}}
                    {{teacherUser.last_name[0:1]|upper}}{{teacherUser.last_name[1:]}}</h3>
            </a>
            {% if teacherUser.about_me %}
            <h4 style="max-height: 60%;">{{teacherUser.about_me}}</h4>
            {% else %}
            <h4 style="max-width: 60%;">
            </h4>
            {% endif %}
            <p>{{teacherUser.email}}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="">Course Description</h2>
            <div style="max-height: 400px;overflow-y: auto;">
                <p class="grey-text text-darken-3 lighten-3" style="font-size: 16px;">{{courseDet.description}}
                </p>
            </div>
            <div class="divider"></div>

            <div id="courseTopicDetail">
                <!--Course topic detail data is added in this section-->
                <div id="courseTopicLoader" class="center" style="display: none;width: 50px;">
                    <img src="../static/images/smallLoader.gif">
                </div>
            </div>

            <div class="divider"></div>
            <div id="courseBatchDetail">
                <!--This contains the course batch detail subtemplate-->
                <div id="courseBatchLoader" class="center" style="display: none;width: 50px;">
                    <img src="../static/images/smallLoader.gif">
                </div>
            </div>

            <div class="divider"></div>
            {% if comments %}
            <h3>Reviews <span class="grey-text" id="revLength">{{lenComment}}</span></h3>
            {% else %}
            <h3>Reviews <br><span class="grey-text" id="revLength">No Reviews</span></h3>
            {% endif %}
            <div id="commentsDiv">
                <!-- <form id="remarkForm" style="max-width: 600px;">
                    <label for="remark">Add Comment</label>
                    <input type="text" id="remark" name="remark">
                    <input type="hidden" name="courseID" value="{{courseDet.course_id}}">
                    <a href="#" id="remarkPostButton" class="btn green right">Add</a>
                </form> -->
                <div id="insideCommentDiv" style="max-height: 600px;width:500px;overflow-y: auto;">
                    <table id="commentTable">
                        <tbody id="commentList">
                            {% for comment in comments %}
                            {% if comment.comment %}
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">{{comment.username}}</span><br>
                                        <span style="margin-left: 5px;">{{comment.comment}}</span><br>
                                    </div>
                                    <span class="right grey-text">
                                        {{comment.last_modified_date.strftime('%d %B %Y')}}</span>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <!--Dummy comment-->
                            <!-- <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato master</span><br>
                                        <span style="margin-left: 5px;">This is the best course ever!!!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato slave</span><br>
                                        <span style="margin-left: 5px;">Definitely!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato slave</span><br>
                                        <span style="margin-left: 5px;">Definitely!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato slave</span><br>
                                        <span style="margin-left: 5px;">Definitely!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato slave</span><br>
                                        <span style="margin-left: 5px;">Definitely!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr> -->
                            <!--End of dummy comment-->
                        </tbody>
                    </table>
                    <br>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <!-- <img src="../static/images/reviewIMG.PNG" width="50%"> -->
            <!-- Start Rating -->

            <div class="starRatingDiv">
                {% if courseDet.average_rating %}
                {% if checkEnrollment %}
                <a class="modal-trigger" style="cursor: pointer;" id="modalOpen" href="#commentModal">
                    <h4 class=""><span style="margin-left:10px;color:black;">{{courseDet.average_rating}}</span><span
                            class="stars left">{{courseDet.average_rating}}</span></h4>
                </a>
                {% else %}
                <h4 class=""><span style="margin-left:10px;color:black;">{{courseDet.average_rating}}</span><span
                        class="stars left">{{courseDet.average_rating}}</span></h4>
                {% endif %}
                {% else %}
                <a class="modal-trigger" style="cursor: pointer;" id="modalOpen" href="#commentModal">
                    <h4 class=""><span style="margin-left:10px;color:black;">No reviews</span><span
                            class="stars left">0</span>
                    </h4>
                </a>
                {% endif %}
            </div>

            <!-- <div class="stars">
                <form action="">
                  <input class="star star-5" id="star-5" value="5" type="radio" name="star" />
                  <label class="star star-5" for="star-5"></label>
                  <input class="star star-4" id="star-4" value="4" type="radio" name="star"/>
                  <label class="star star-4" for="star-4"></label>
                  <input class="star star-3" id="star-3" value="3" type="radio" name="star"/>
                  <label class="star star-3" for="star-3"></label>
                  <input class="star star-2" id="star-2" value="2" type="radio" name="star"/>
                  <label class="star star-2" for="star-2"></label>
                  <input class="star star-1" id="star-1" value="1" type="radio" name="star" />
                  <label class="star star-1" for="star-1"></label>
                  
                </form>
              </div> -->
            <!-- End Rating -->
            <h3 class="">Next Batch</h3>
            {% if upcomingDate %}
            <h4>{{upcomingDate.batch_start_date.strftime('%d %B %Y')}} </h4>
            <h5>Timings: {{upcomingDate.batch_start_time}} - {{upcomingDate.batch_end_time}}</h5>
            <h5>Total Hours:&nbsp;<span id="timeDiff"></span></h5>
            <h5>Live Class Fee: <b>₹{{upcomingDate.course_batch_fee}}</b></h5>
            {% if current_user.user_type==234 %}
            {% if checkEnrollment %}
            <h5>Enrolled</h5>
            {% else %}
            <a class="btn left green enrollBTN modal-trigger" name="{{upcomingDate.batch_id}}"
                id="{{upcomingDate.course_batch_fee}}" style="width: 100%;" href="#modal2"> Enroll in Course</a>

            {% endif %}
            {% endif %}
            {% else %}
            <h4 class="grey-text">No Upcoming Batch </h4>
            {% endif %}
            <a class="waves-effect waves-light btn modal-trigger" href="#modal4" class="btn cyan"><span>Share
                    course</span> </a>
            <!--<button class="btn green right enrollBTN" style="width: 100%;">Enroll</button>-->
            <br><br>
            <!--<button class="btn cyan " style="width: 45%;">Follow</button>
            <button class="btn  right" style="width: 45%;">Class Recordings</button>
            <br><br>-->

            <h3 class="">What to expect</h3>
            {% if courseDet.summary_url %}
            <video src="{{courseDet.summary_url}}" width="100%" controls></video>
            {% else %}
            <video src="../static/images/vid1.m4v" width="100%" controls></video>
            {% endif %}
            <br><br>
            <h3 class="">Ideal for</h3>
            <p>
                {% for ideal in idealFor %}
                <a href="#" class="searchCategoryClass badge cyan white-text z-depth-1 hoverable"
                    style="font-size: 14px;">{{ideal}}</a>
                {% endfor %}
            </p>
            <br><br>
            <h3>Difficulty Level</h3>
            <p>{{level.description}}</p>

            <h3 class="">{{teacherUser.first_name[0:1]|upper}}{{teacherUser.first_name[1:]}}'s Other Courses</h3>
            <ul class="box" style="height: 320px;position: relative;overflow-x: hidden;overflow-y: auto;">
                {% for course in otherCourses %}
                {% if course.image_url %}
                <a href="{{url_for('course.courseDetail',course_id=course.course_id)}}">
                    <li class="hoverable"
                        style="border-radius: 10px;cursor:pointer;width: 340px;display: flex;margin-top: 15px;">
                        <img src="{{course.image_url}}" width="30%">
                        <h4 style="margin-left: 20px;height: 40px;color: black;width:140px;">{{course.course_name}}</h4>
                        {% if course.average_rating %}
                        <br><br>
                        <h5 style="color: black;margin-top: 35px;" class="right">&nbsp;<span
                                class="stars">{{course.average_rating}}</span></h5>
                        {% else %}
                        <h5 style="color: black;margin-top: 35px;" class="right">&nbsp;No Reviews</h5>
                        {% endif %}
                    </li>
                </a>
                {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

<div id="modal4" class="modal" style="width: 350px;height: 198px;">
    <div class="modal-content" style="height: 140px;text-align: center;">
        <h4>Share</h4>
        <div class="row">
            <h5 class='grey-text'>Share Page</h5>
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="margin-left: 100px;">
                <a class="a2a_button_facebook modal-close"></a>
                <a class="a2a_button_whatsapp modal-close"></a>
                <a class="a2a_button_sms modal-close"></a>
                <a class="a2a_button_google_gmail modal-close"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>


<div id="commentModal" class="modal" style="height: 260px;">
    <div class="modal-content" style="height: 205px;">
        <div class="" style="margin-right: 200px;">
            <form action="">
                <input class="star star-5" id="star-5" value="5" type="radio" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" value="4" type="radio" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" value="3" type="radio" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" value="2" type="radio" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" value="1" type="radio" name="star" />
                <label class="star star-1" for="star-1"></label>

            </form>
        </div>
        <div class="reviewCom">
            <h4 style="width:360px;display: flex;">Review Comment</h4>
            <textarea id="reviewComment" style="background-color: lightgoldenrodyellow;"></textarea>
            <a class="modal-close waves-effect waves-light btn" id="submitReview" style="float: right;"
                href="#">Submit</a>
        </div>
        <span id="revMess"></span>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>

<div id="modal5" class="modal" style="background-color:white;width: 400px;height: 290px;">
    <div id="topicLoader" class="center" style="display: none;height: 100%;">
        <img src="../static/images/loader.gif">
    </div>
    <div class="modal-content" id="topicListModal"
        style="height: 460px;font-size: 20px;position: relative;overflow-y: auto;">
        <p>
        <h3>Choose Topic</h3>
        <ul id="topicListDiv" style="margin-top: 20px;">

        </ul>
        </p>

    </div>
</div>

<div id="modal2" class="modal" style="background-color:white;">
    <div id="loader" class="center" style="display: none;height: 100%;">
        <img src="../static/images/loader.gif">
    </div>
    <div class="modal-content" id="donateDivModal" style="display:none;">
        <p>
        <div id="donateDiv"></div>
        </p>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
        $('.modal').modal();
        var val = diff(st, en);
        console.log(val);
        if (val != 'NaN:NaN') {
            $("#timeDiff").html(val);
        } else {
            $("#timeDiff").html('');
        }
        console.log('Time Difference:' + diff(st, en));

        //LOAD COURSE DETAIL
        loadCourseTopicDetail();
        loadCourseBatchDetail();

    });

    function loadCourseTopicDetail() {
        $('#courseTopicLoader').show();
        $.ajax({
            url: "/courseTopicDetail?&course_id=" + "{{course_id}}",
            type: "GET",
            data: '',
            success: function (topicResponse) {
                if (topicResponse) {
                    $('#courseTopicDetail').html(topicResponse);
                }
            },
            error: function (xhr) {
                $('#courseTopicDetail').html("Error occurred. Please try again.");
                $('#courseTopicLoader').hide();
            }
        });
    }

    function loadCourseBatchDetail() {
        $('#courseBatchLoader').show();
        $.ajax({
            url: "/courseBatchDetail?&course_id=" + "{{course_id}}&teacher_user_id=" + "{{teacherUser.id}}",
            type: "GET",
            data: '',
            success: function (topicResponse) {
                if (topicResponse) {
                    $('#courseBatchDetail').html(topicResponse);
                }
            },
            error: function (xhr) {
                $('#courseBatchDetail').html("Error occurred. Please try again.");
                $('#courseBatchLoader').hide();
            }
        });
    }






    var st = "{{upcomingDate.batch_start_time}}";
    var en = "{{upcomingDate.batch_end_time}}";

    function diff(start, end) {
        console.log('inside diff function');
        start = "{{upcomingDate.batch_start_time}}"; //to update time value in each input bar
        end = "{{upcomingDate.batch_end_time}}"; //to update time value in each input bar
        console.log('Start Time:' + start);
        console.log('End Time:' + end);
        s = start.split(":");
        e = end.split(":");
        if (s[0] > e[0]) {
            var z = start;
            start = end;
            end = z;
        }
        start = start.split(":");
        end = end.split(":");
        var startDate = new Date(0, 0, 0, start[0], start[1], 0);
        var endDate = new Date(0, 0, 0, end[0], end[1], 0);
        var diff = endDate.getTime() - startDate.getTime();
        var hours = Math.floor(diff / 1000 / 60 / 60);
        diff -= hours * 1000 * 60 * 60;
        var minutes = Math.floor(diff / 1000 / 60);

        return (hours < 9 ? "0" : "") + hours + ":" + (minutes < 9 ? "0" : "") + minutes;
    }


    // $('#remarkPostButton').click(function($e){
    //     $e.preventDefault();
    //     var form = $('#remarkForm');
    //     $.ajax({
    //             url:"/addComment",
    //             type:"POST",
    //             data: form.serialize(),
    //             success:function(response){
    //                 if(response){
    //                     console.log('data added successfully');
    //                     var responseArr = response.toString().split(",");
    //                     var commentDiv = '';
    //                     for(var i=0;i<responseArr.length;i++){
    //                         var username = responseArr[i].toString().split(":")[0];
    //                         var comment = responseArr[i].toString().split(":")[1];
    //                         var date = responseArr[i].toString().split(":")[2];
    //                         commentDiv = '<tr><td><div class=" green lighten-5" style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;"><span class="grey-text">'+username+'</span><br><span style="margin-left: 5px;">'+comment+'</span><br></div><span class="right grey-text"> '+date+'</span></td></tr>' + commentDiv;
    //                     }
    //                     $('#commentList').html(commentDiv);
    //                     $('#remark').val('');
    //                 }
    //             },
    //             error:function(xhr){
    //                 $('#msg').html('Error to submit course data');
    //             }
    //         });
    // });

    $("input[type='radio']").click(function () {
        var radioValue = $("input[name='star']:checked").val();
        console.log(radioValue);
        $('#rate').html(radioValue);
        $('#starRating').val(radioValue);
        var course_id = "{{courseDet.course_id}}";
        $.ajax({
            url: "/addReview?course_id=" + course_id + "&rating=" + radioValue,
            type: "POST",
            data: "",
            success: function (response) {
                if (response) {
                    var responseArr = response.toString().split(",");
                    var commentDiv = '';
                    console.log('inside success');
                    for (var i = 0; i < responseArr.length; i++) {
                        var username = responseArr[i].toString().split(":")[0];
                        var comment = responseArr[i].toString().split(":")[1];
                        var date = responseArr[i].toString().split(":")[2];
                        var lenRev = responseArr[i].toString().split(":")[3];
                        $('#revLength').html(lenRev);
                        if (comment) {
                            commentDiv =
                                '<tr><td><div class=" green lighten-5" style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;"><span class="grey-text">' +
                                username + '</span><br><span style="margin-left: 5px;">' + comment +
                                '</span><br></div><span class="right grey-text"> ' + date +
                                '</span></td></tr>' + commentDiv;
                        }
                    }
                    $('#commentList').html(commentDiv);
                    $('#reviewComment').val('');
                    $('#revLength').html('0');

                }
            },
            error: function (xhr) {
                $('#msg').html('Error to submit course data');
            }
        });
    });

    $('#submitReview').click(function () {
        console.log('inside submitReview');
        var revComment = $('#reviewComment').val();
        var course_id = "{{courseDet.course_id}}";
        var starRating = $("input[name='star']:checked").val();
        var rev = $('#reviewComment').val();
        $('#revMess').html('');
        if (rev == '') {
            $('#revMess').html('please enter review first');
        } else {
            $.ajax({
                url: "/addReviewComment?course_id=" + course_id + "&revComment=" + revComment + '&starRating=' + starRating,
                type: "POST",
                data: "",
                success: function (response) {
                    if (response) {
                        var responseArr = response.toString().split(",");
                        var commentDiv = '';
                        console.log('inside success');
                        for (var i = 0; i < responseArr.length; i++) {
                            var username = responseArr[i].toString().split(":")[0];
                            var comment = responseArr[i].toString().split(":")[1];
                            var date = responseArr[i].toString().split(":")[2];
                            var lenRev = responseArr[i].toString().split(":")[3];
                            $('#revLength').html(lenRev);
                            if (comment) {
                                commentDiv =
                                    '<tr><td><div class=" green lighten-5" style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;"><span class="grey-text">' +
                                    username + '</span><br><span style="margin-left: 5px;">' + comment +
                                    '</span><br></div><span class="right grey-text"> ' + date +
                                    '</span></td></tr>' + commentDiv;
                            }
                        }
                        $('#commentList').html(commentDiv);
                        $('#reviewComment').val('');

                    }
                },
                error: function (xhr) {
                    $('#msg').html('Error to submit review data');
                }
            });
        }
    });

    $.fn.stars = function () {
        return this.each(function (i, e) {
            $(e).html($('<span/>').width($(e).text() * 16));
        });
    };

    $('.stars').stars();

    $('.searchCategoryClass').click(function () {
        window.location.href = "/search?staging_COURSE[query]=" +
            $(this).html();
    });
</script>
{%endblock%}