{%extends "layout.html"%} {%block content%}

<div class="parallax-container  grey-text text-lighten-2" style="height: 100%;">
    <div class="parallax"><img src="../static/images/blkboard.jpg" width="100%">
    </div>
    <div class="container">
        <h1 style="font-size: 5vw;">Data Sciences: Going from zero to expert</h1>
        <div class="row">
            <img src="../static/images/shaileshProfile.jpg" class="circle" width="100px">
            <h3>Shailesh Vishwakarma</h3>
            <h4 style="max-width: 60%;" >Shailesh has more than 8 years of experience with data science.
                He's completed his degree from ISB and has worked with Dell, Accenture and EnY in the past
                in various data scientist positions.
            </h4>
            <p>shailesh@alllearn.in</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
        <h2 class="">Course Description</h2>
        <p class="grey-text text-darken-3 lighten-3" style="font-size: 16px;">Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.
        </p>
            <h3 class="">Topics</h3>
            <table class="highlight">
                <thead>
                    <tr>
                    <th>Topic</th>
                    <th>Classes</th>
                    <th>Quiz Questions</th>
                    <th>Expected class date</th>
                    <th>Enroll</th>
                </tr>
                </thead>
                <tbody style="font-size:large;">
                    <tr>
                        <td>Forms of Data</td>
                        <td>2</td>
                        <td>5</td>
                        <td>22nd Jan 2020</td>
                        <td><a href='#'>Watch Recording</a></td>
                    </tr>
                    <tr>
                        <td>Forms of DS</td>
                        <td>2</td>
                        <td>5</td>
                        <td>27nd Jan 2020</td>
                        <td><a href='#'>Watch Recording</a></td>
                    </tr>
                    <tr>
                        <td>Number patterns</td>
                        <td>2</td>
                        <td>5</td>
                        <td>05 Aug 2020</td>
                        <td><a href='#'>Watch Recording</a></td>
                    </tr>
                    <tr class="">
                        <td>Why use Python</td>
                        <td>2</td>
                        <td>5</td>
                        <td>09 Aug 2020 - <span class="green-text"><b>Ongoing</b></span></td>
                        <td><a class="">Join</a></td>
                    </tr>
                    <tr>
                        <td>Numpy</td>
                        <td>2</td>
                        <td>5</td>
                        <td>04 Sept 2020</td>
                        <td><a href='#'>Enroll</a></td>
                    </tr>
                    <tr>
                        <td>Uses of Data science</td>
                        <td>2</td>
                        <td>5</td>
                        <td>09 Sept 2020</td>
                        <td><a href='#'>Enroll</a></td>
                    </tr>
                </tbody>
            </table>
            <h3>Reviews <span class="grey-text">200</span></h3>
            <div id="commentsDiv">
                <form id="remarkForm" style="max-width: 600px;">
                    <label for="remark">Add Comment</label>
                    <input type="text" id="remark" name="remark">
                    <a href="#" id="remarkPostButton" class="btn green right">Add</a>
                </form>
                <div id="insideCommentDiv" style="max-height: 350px;width:500px;overflow-y: auto;">
                    <table id="commentTable">
                        <tbody>

                            <!--Dummy comment-->
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato master</span><br>
                                        <span style="margin-left: 5px;">This is the best course ever!!!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato slave</span><br>
                                        <span style="margin-left: 5px;">Definitely!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato slave</span><br>
                                        <span style="margin-left: 5px;">Definitely!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato slave</span><br>
                                        <span style="margin-left: 5px;">Definitely!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class=" green lighten-5"
                                        style="font-family: Arial;border-radius: 10px;max-width: 450px;word-wrap: break-word;">
                                        <span class="grey-text">Tomato slave</span><br>
                                        <span style="margin-left: 5px;">Definitely!</span><br>
                                    </div>
                                    <span class="right grey-text"> 23rd Jan 2020</span>
                                </td>
                            </tr>
                            <!--End of dummy comment-->
                        </tbody>
                    </table>
                    <br>
                </div>

            </div>
        </div>   
        <div class="col-sm-4">
            <img src="../static/images/reviewIMG.PNG" width="50%">
            <h3 class="">Next Batch</h3>
            <h4>24th Aug '20 </h4>
            <h5>Timings: 8 am - 10 pm</h5>
            <h5>Total Hours: 22 hrs</h5>
            <button class="btn green right" style="width: 100%;">Enroll</button>
            <br><br>
            
            <h3 class="">What to expect</h3>
            <video src="../static/images/vid1.m4v" width="100%" controls></video>
            <br><br>
            <h3 class="">Ideal for</h3>
            <p><span class="badge cyan white-text z-depth-1 hoverable" style="font-size:14px;">Students</span>
                <span class="badge cyan white-text z-depth-1 hoverable" style="font-size:14px;">Entrepreneurs</span>
                <span class="badge cyan white-text z-depth-1 hoverable" style="font-size:14px;">Junior Data Scientists</span>
                </p>
                <br><br>
            <h3>Difficulty Level</h3>
            <p>Easy</p>
            
            <h3 class="">Shailesh's Other Courses</h3>
            <img class="hoverable" src="../static/images/otherCourse1.PNG" width="350px"
                style="border-radius: 10px;"><br><br>
            <img class="hoverable" src="../static/images/otherCourse2.PNG" width="350px"
                style="border-radius: 10px;"><br><br>
            <img class="hoverable" src="../static/images/otherCourse1.PNG" width="350px"
                style="border-radius: 10px;"><br><br>       
        </div>     
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.parallax').parallax();
        $('.modal').modal();
    });
</script>
{%endblock%}