{%extends "layout.html"%} {%block content%}

<div class="container">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">
  <link rel="stylesheet" href="../static/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    
<body class="white">
<div class="wrapper">
  <div>
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>
    <section class="content">      
      <div class= "row">
        <section class="col-lg-12 connectedSortable">
          <div class="box-header with-border">
          <h3 class="box-title">Average School Performance</h3>   </div>
          <div id='graphDiv' style="overflow-y:auto;"></div>
        </section>
      </div>
      <div class="row">
          <section class="col-lg-7 connectedSortable" style="padding-top:5px;" >
              <div class="row-md-8" style="overflow-y:auto; height:400px;">            
                <p class="text-center">
                  <h4 class="box-title">Course Completion</h4>
                </p>
                {% for topicCountRow in topicToCoverDetails %}         
                <div class="progress-group">
                  <span class="progress-text">Class: {{topicCountRow.CLASS}} - {{topicCountRow.SECTION}}</span>
                  <span class="progress-number"><b>{{topicCountRow.TOTALTOPICS}}</b>/200</span>
                  <div class="progress sm">               
                    <div class="progress-bar progress-bar-green" style="width: 50%"></div>
                  </div>
                </div>  
                {% endfor %}                  
                <!-- /.progress-group -->
              </div>
            </section>  
      <section class="col-lg-5 connectedSortable">
          
          <div class="box box-danger">
                <div class="box-header with-border" >
                  <h3 class="box-title">Top Students This Month</h3>                  
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                    {% for topRow in topStudentsRows %}
                    <li>
                      <img src="../static/images/avatar5.jpg" alt="Student Image">
                      <a class="users-list-name" href="#">{{topRow.student_name}}</a>                      
                    </li>
                    {%  endfor %}
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right">
                  <a href="{{url_for('studentProfile')}}" class="uppercase">View All Students</a>
                </div>
                <!-- /.box-footer -->
              </div>              
          <!-- /.box -->          

        </section> 
      </div>
      <div class="row" >          
        <!-- right col -->
      </div>
      <div class="row" style="overflow-y: auto;">
        <section class="col-lg-12 connectedSortable" >
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Upcoming Tests and Events</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div>
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Test</th>
                  <th>Duration</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Category</th>                  
                </tr>
                </thead>
                <tbody>
                  {% for eventRow in EventDetailRows %}
                <tr>
                  <td>{{eventRow.event_date}}</td>
                  <td><span class="label label-success">{{eventRow.event_name}}</span></td>
                  <td>{{eventRow.event_duration}}</td>
                  <td>{{eventRow.event_start}}</td>
                  <td>{{eventRow.event_end}}</td>
                  <td>
                      {{eventRow.event_category}}
                  </td>                  
                </tr>                   
                {% endfor %}          
                </tbody>
              </table>
              <div class="box-footer text-right">
                  <a href="{{url_for('addEvent')}}" class="uppercase">Add Event</a>
                </div>
            </div>
          </div>
          </div>          
        </div>
</section>
      </div>
    </section>
  </div>
</div>
</body>
</div>
<!--<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>-->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
    var graphData = {{ data.chart_data | safe }}
    // Set the dimensions of the svg
    var margin = {top: 30, right: 50, bottom: 30, left: 50};
    var svgWidth = 1200;
    var svgHeight = 270;
    var graphWidth = svgWidth - margin.left - margin.right;
    var graphHeight = svgHeight - margin.top - margin.bottom;
    // Parse the date / time
    var parseDate = d3.time.format("%Y-%m-%d").parse;
    // Set the ranges
    var x = d3.time.scale().range([0, graphWidth]);
    var y = d3.scale.linear().range([graphHeight, 0]);
    // Define the axes
    var xAxis = d3.svg.axis().scale(x)
        .orient("bottom").ticks(5);
    var yAxis = d3.svg.axis().scale(y)
        .orient("left").ticks(5);
    var highLine = d3.svg.line()
        .x(function(d) { return x(d.Date); })
        .y(function(d) { return y(d.High); });
    var area = d3.svg.area()
      .x(function(d) { return x(d.Date); })
    // Adds the svg canvas
    var svg = d3.select("#graphDiv")
      .append("svg")
        .attr("width", svgWidth)
        .attr("height", svgHeight)
      .append("g")
        .attr("transform", 
        "translate(" + margin.left + "," + margin.top + ")")
    // define function
    function draw(data) {
      data.forEach(function(d) {
        d.Date = parseDate(d.Date);
        d.High = +d.High;
      });
      // Scale the range of the data
      x.domain(d3.extent(data, function(d) { return d.Date; }));
      y.domain([d3.min(data, function(d) {
          return Math.min(d.High) }),
          d3.max(data, function(d) {
          return Math.max(d.High) })]);
      // Add the area path.
      svg.append("path")
        .datum(data)
        .attr("class", "area")
        .attr("d", area)
      // Add the 2 valueline paths.
      svg.append("path")
        .style("stroke", "green")
        .style("fill", "none")
        .attr("class", "line")
        .attr("d", highLine(data));
      // Add the X Axis
      svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + graphHeight + ")")
          .call(xAxis);
      // Add the Y Axis
      svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
      svg.append("text")
        .attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].High)+")")
        .attr("dy", ".35em")
        .attr("text-anchor", "start")
        .style("fill", "green")
        .text("Shivalik");
    };
draw(graphData);
</script>
{%endblock%}