{%extends "layout.html"%} {%block content%}
<div class="container">
  {%if userDetailRow.access_status!=143%}
  <div id="mainDiv">
    <h3>Choose the next step</h3>
    <p>You can register a new school, request access for an existing one or look for teaching jobs</p>
    <div class="col s6 offset-s6" id="accessAndNewSchoolDiv">
      <ul class="collapsible  z-depth-0">
        <li>
          <a href="{{url_for('schoolRegistration')}}" title="Post jobs and Track Student Performance">
            <div class="collapsible-header"><i class="material-icons">school</i>
              <h4>Register New School </h4><br>
              <h6> Post jobs and Track Student Performance</h6>
            </div>
          </a>
        </li>
        <li>
          <a href="{{url_for('openJobs',first_login=1)}}" title="See Volunteer or Long term jobs">
            <div class="collapsible-header"><i class="material-icons">work</i>
              <h4>Look for teaching jobs </h4>
              <h6 class="right"> Volunteer or Long term </h6>
            </div>
          </a>
        </li>
        <li>
          <div class="collapsible-header" title="Request access to a registered school"><i
              class="material-icons">person_add</i>
            <h4>Request access to a school</h4>

          </div>
          <div class="collapsible-body">
            <div class="input-field">
              <input placeholder="School ID" id="reqAccessTeacher" type="text" class="validate">
              <label for="reqAccessTeacher">Enter School ID</label>
            </div>
            <div class="input-field">
              <input placeholder="Short Introduction" id="reqAccessTeacherMSG" type="text" class="validate">
              <label for="reqAccessTeacherMSG">Introduce yourself</label>
              <a class="waves-effect waves-light btn requestAccessBTNClass left" id="requestAccessTeacherBTNID"
                name='71'>Request as a Teacher</a>
              <a class="waves-effect waves-light btn requestAccessBTNClass right" id="requestAccessStudentBTNID"
                name='134'>Request as a Student</a>
              <a class="waves-effect waves-light btn requestAccessBTNClass mid" id="requestAccessGuardianBTNID" style="margin-left: 250px;"
                name='72'>Request as a Guardian</a>
              <br>
              <br>
            </div>


          </div>
        </li>
        <!--<li>
      <div class="collapsible-header"><i class="material-icons">home</i>Request access as a guardian</div>
      <div class="collapsible-body">
          <div class="input-field">
              <input placeholder="School ID" id="reqAccessGuardian" type="text" class="validate">
              <label for="reqAccessGuardian">Enter School ID</label>             
            </div>
            <div class="input-field">
                <input placeholder="Introduce yourself in 5 words" id="reqAccessGuardianMSG" type="text" class="validate">
                <label for="reqAccessTeacherMSG">Introduce yourself in 5 words</label>              
              </div>
            <a class="waves-effect waves-light btn" id="requestAccessGuardianBTNID">Submit</a>
      </div>
    </li>
    <li>
        <div class="collapsible-header" title="Request access to a registered school"><i class="material-icons">person_add</i>
          <h4>Request access as a student</h4>
          
        </div>
        <div class="collapsible-body">
          <div class="input-field">
            <input placeholder="School ID" id="reqAccessStudent" type="text" class="validate">
            <label for="reqAccessStudent">Enter School ID</label>
          </div>
          <div class="input-field">
            <input placeholder="Short Introduction" id="reqAccessStudentMSG" type="text" class="validate">
            <label for="reqAccessStudentMSG">Introduce yourself </label>
          </div>
          
        </div>
      </li>-->
      </ul>
    </div>
  </div>
  {%else%}
  <div id="alreadyRequestedDiv">
    <h2>Access requested</h2>
    <p> You will receive a notification in your email once access has been granted</p>
  </div>
  {%endif%}
  <div id="accessRequestedAlreadyDiv" style="display: none;">
    <h2>Access requested</h2>
    <p> You will receive a notification in your email once access has been granted</p>
  </div>
  <div id="invalidSchoolIdDiv" style="display: none">
    <p class="red-text">Invalid school id</p>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  });


  $('.requestAccessBTNClass').click(function () {
    var username = "{{current_user.username}}";
    var email = "{{current_user.email}}";
    var school_id = $('#reqAccessTeacher').val();
    var about_me = $('#reqAccessTeacherMSG').val();
    var user_type = $(this).attr('name');

    console.log(username);
    var data = "";
    $.ajax({
      url: "/requestUserAccess?username=" + username + "&school_id=" + school_id + "&about_me=" + about_me +
        "&user_type=" + user_type,
      type: "get",
      data: data,
      success: function (response) {
        if (response == '0') {
          $("#mainDiv").hide();
          $("#accessRequestedAlreadyDiv").show();
        } else {
          $('#invalidSchoolIdDiv').show();
        }
      },
      error: function (xhr) {
        window.alert("error occurred while requesting access");
      }
    });
  });
</script>
{%endblock%}