{% extends "layout.html" %} {% block content %}
<div class="row col s10 m6 offset-m3 ">
    <div class="col s8 offset-s2">
        <div style="padding: 1px;margin-bottom: 20px;" class="white-text center green z-depth-1 lighten-1">
            <h3>Edit Profile</h3>

        </div>
        <div class="col s12 m8 l8">
            <form action="/edit_profile" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.first_name.label }}
                    <br> {{ form.first_name(size=32) }}
                    <br> {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.last_name.label }}
                    <br> {{ form.last_name(size=32) }}
                    <br> {% for error in form.last_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.phone.label }}
                    <br> {{ form.phone(type="tel", class="validate") }}
                    <br> {% for error in form.phone.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.about_me.label }}
                    <br>
                    {{ form.about_me(class="form-control form-control-lg is-invalid", cols=50, rows="10",placeholder="Write a short intro about yourself and what are you good at") }}
                    <br> {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.education.label }}
                    <br>
                    {{ form.education(class="form-control form-control-lg is-invalid", cols="50", rows="10", placeholder="List down your educational qualifications in the following format:\n-College/School Name \n-Graduation Year \n-Percentage/GPA ") }}
                    <br> {% for error in form.education.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.experience.label }}
                    <br>
                    {{ form.experience(class="form-control form-control-lg is-invalid",cols=50, rows="10", placeholder="List down your experiences in the following format:\n-Company/Organisation Name \n-Start and End Dates \n-Brief description of your role ") }}
                    <br> {% for error in form.experience.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.city.label }}
                    <br> {{ form.city(id="cityID") }}
                    <br> {% for error in form.city.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    {{ form.state.label }}
                    <br> {{ form.state(id="stateID") }}
                    <br> {% for error in form.state.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.resume.label }}
                    <br> {{ form.resume(placeholder="Please paste a google drive link to your resume") }}
                    <br> {% for error in form.resume.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.intro_link.label }}
                    <br>
                    {{ form.intro_link(placeholder="Please record a short 1 min video or audio about yourself and paste the link here") }}
                    <br> {% for error in form.intro_link.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <label>
                    <input id="willing_to_travel" name="willing_to_travel" type="checkbox" {{'checked="checked"' if willing_to_travel else ""}}>
                    <span style="font-family: Arial;" class='grey-text'>Willing to move to a different city if stay is
                        provided/arranged</span>
                </label>
                </p>
                <!--<p>{{ form.submit() }}</p>-->
                <button class="btn waves-effect waves-light green right" type="submit" name="action">Save
                </button>
            </form>
        </div>
    </div>
</div>
<script>
</script>

{% endblock %}