{%extends "layout.html"%} {%block content%}
<div class="container" height=100% >
        
    
    <div class="skin-blue sidebar-mini">            
        <aside class="main-sidebar" style="margin-top:15px;">
            <!-- sidebar: style can be found in sidebar.less -->            
            <section class="sidebar">                     
              <ul class="sidebar-menu" data-widget="tree">
                  {% for singleClass in distinctClasses %}
                         <li class="treeview">
                           <a href="#">
                             <i class="glyphicon glyphicon-education"></i>
                             <span>Class {{singleClass[0]}}</span>
                             <span class="pull-right-container">
                               <span class="label label-primary pull-right">{{singleClass[1]}}</span>
                             </span>
                           </a>                                                      
                           <ul class="treeview-menu">                            
                              {% for classsection in classSections %}
                                 {% if classsection.class_val==singleClass[0] %}
                             <li><a href="{{ url_for('classCon',class_val=classsection.class_val, section=classsection.section) }}"><i class="fa fa-circle-o"></i> Section {{classsection.section}}</a></li>                              
                              {% endif %}
                             {% endfor %}
                           </ul>                                                      
                         </li>
                         {% endfor %}                
         <ul>                  
        </section>                
            </aside>                
            <!--------------------------------------------------------------------------------------------->
            <div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                <div class="row">
                <div class="col-xs-8"  >
                  <div class="box" id="feedbackQuestionDiv">
                    <div class="box-header" >
                      <h3 class="box-title">Feedback questions </h3><span style="padding-left: 10px;">    Class: {{ class_val }} | Section: {{ section }}</span>                              
                    </div>                                           
                    <span id="questionList" style="display: none;">{{ questionList }}</span>
                    <input id="currrent_question_id" style="display: none;">
                    <input id="class_val_ip" style="display: none;" type="text" value="{{class_val}}">
                    <input id="section_ip" style="display: none;"type="text" value="{{section}}">
                    <input id="questionListSize" value="{{ questionListSize }}" style="display: none;" type="text">
                    <div id = "questionSection">        
                      <div id="questionPlaceholder">
                        <br>
                        <br>
                        <br>
                        {% if questionList|length > 0 %}
                      <span class="grey-text text-lighten-1"> <p style="font-size: 24px;">Scan QR or enter the below id on phone</p><br><br><p style="font-size: 48px;">{{resp_session_id}}</p></span>
                      <br><br>
                      <img src={{responseSessionIDQRCode}}>
                    
                      {%else %}
                      <p style="font-size: 48px;" class="grey-text text-lighten-1">No questions under <br><br>the selected topic(s)</p>
                      {% endif %}
                    </div>
                    </div>  
                    <div id="questionButtons">
                     {% if questionList|length > 0 %}
                    <!--<input type="button" value="Start" class="btn btn-primary pull-right" id="startAndNextBTN" style="height: 40px; width: 200px;">              -->
                     {% endif %}
                    <input type="button" value="Take Response" class="btn green btn-primary" id="startrecordResponsesBTN" style="height: 40px; display: none; ">                                        
                      <input type="button" value="Stop" class="btn red lighten-1" id="stopRecordingBTN" style="height: 40px; display: none; ">                                 
                    <input type="button" value="Finish" class="btn btn-primary pull-right" id="submitAndFinishBTN" style="height: 40px; width: 200px;display: none;">
                  </div>
                  </div>
                  <div  class="box" id="feedbackReportDiv" style="display: none;">                  
                  </div>   
                  <a class="btn btn-primary" id="completeClassBTN" href="{{url_for('classCon')}}" style="display: none;">Complete Class</a>
                </div>              
                  <div class="col-md-3" style="margin-top:20px;">
                    <div id="answerCounter" style="overflow-y: auto; height:200px;">
                    <h4>Response Summary</h4> 
                    <div id="errorMsgElement"></div>

                    <div id="allResponsesSubmitted" style="display: none;">All Responses Submitted</div>                    
                </div>                
                
                
                <div >  
              <!--  <div class="select">
                    <label for="videoSource"></label><select id="videoSource"></select>
                </div>-->                                                       
                  </div>            
                </div>
              </div>
        </div>        
    </section>
</div>
    </div>
        </div>    
        <!--New Div for the updated camera mechanism-->
        <div id="container">            
            <div class="">
                <label for="audioSource"></label><select id="audioSource"></select>
            </div>            
            <!--<canvas id="piccanvas" class="drawingBuffer" style="display:none !important"></canvas>-->
           
            <br clear="all">
        </div>            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
           <!-- <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>                 -->
        </div>
        <link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">


        <script>
        
        </script>


        <script>
          var subject_id = {{subject_id}};
              var questionIDListJS = [];
              var flag=true;
              {%  for question in questionList%}              
              questionIDListJS.push({{question.question_id}});
              {% endfor %}
              var questionListSize = {{ questionListSize }};
              var tempCountVar = 0;
              var resp_session_id = {{resp_session_id}};
              $("#currrent_question_id").val(questionIDListJS[tempCountVar]);
              //document.getElementById("result_strip").innerHTML="";
              //keepRecording = true;   
              checkQuestionChange();

            //$("#startAndNextBTN").click(function(){
              function checkQuestionChange(){
                setInterval(function(){ 
                  if (flag==true){
                  $.ajax({
                  url: "/checkQuestionChange?resp_session_id="+ resp_session_id ,
                  type: "get",
                  data: "",
                  success: function(checkValue) {                         
                    if (checkValue=="Y"){
                      loadNewQuestion();
                    }
                    else if (responseQID=="FR"){
                      loadFeedbackReport();
                      flag=false;
                    }
                    else{
                      flag=true;
                    }
                  },
                  error: function(xhr) {
                    window.alert("error occurred while loading question--");
                  }
                });                
            }}, 3000);          
            }
            

            function loadNewQuestion(){
              
            $.ajax({
                  url: "/loadQuestionExtCam?qnum="+ tempCountVar+"&total="+questionListSize+"&resp_session_id="+resp_session_id ,
                  type: "get",
                  data: "",
                  success: function(response) {       
                    $("#questionSection").html(response);     
                    tempCountVar=tempCountVar+1;               
                   
                  },
                  error: function(xhr) {
                    window.alert("error occurred while loading question-!");
                  }
                });
              }


            function loadFeedbackReport(){     
              var class_val = $('#class_val_ip').val();
              console.log('This is the class_val in js: ' + class_val);
              var section = $('#section_ip').val();
              console.log('This is the section: ' + section);
              questionIDListStr  = JSON.stringify(questionIDListJS);                       
                $.ajax({
                  url: "/feedbackReport",
                  type: "get",
                  data: {question_id: questionIDListStr,
                        class_val: class_val,
                        section: section,
                         subject_id:subject_id},
                  success: function(response) {
                    $("#feedbackReportDiv").show(); 
                    $("#feedbackReportDiv").html(response);
                    $("#feedbackQuestionDiv").hide();
                    $("#allResponsesSubmitted").show();
                    $("#completeClassBTN").show();                     
                  },
                  error: function(xhr) {
                    window.alert("error occurred while submitting data");
                  }
                });              
            }
            </script>            

{%endblock%}
        