{%extends "layout.html"%} {%block content%}
<div class="container" height=100% >
        
    
    <div class="skin-blue sidebar-mini">
        
    
        <aside class="main-sidebar" style="margin-top:15px;">
            <!-- sidebar: style can be found in sidebar.less -->
            
            <section class="sidebar">              
                  <!-- /.search form -->
                  <!-- sidebar menu: : style can be found in sidebar.less -->
                  <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                      <a href="#">
                        <i class="glyphicon glyphicon-education"></i>
                        <span>Class 1</span>
                        <span class="pull-right-container">
                          <span class="label label-primary pull-right">4</span>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section C</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                      </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 2</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 3</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 4</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 5</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 6</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 7</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 8</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 9</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 10</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
                  </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
        
        
            <!--------------------------------------------------------------------------------------------->
            <div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                <div class="row">
                <div class="col-xs-8">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Feedback Report</h3><span style="padding-left: 10px;">    Class: 1 | Section: A</span>
        

                    </div>
                    
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <!--<tr>
                        <th class="text-center">Student Name</th>
                        <th class="text-center">Class</th>
                        <th class="text-center">Section</th>
                        <th class="text-center">Unpaid Months</th>
                        <th class="text-center">Paid</th>
                      </tr>-->
                      <tr>
                        <td class="pt-3-half" contenteditable="false">Total Responses Received</td>
                        <td class="pt-3-half" contenteditable="false">30</td>
                        
                      </tr>
                      <!-- This is our clonable table line -->
                      <tr>
                        <td class="pt-3-half" contenteditable="false">Correct Percentage</td>
                        <td class="pt-3-half" contenteditable="false">70%</td>

                      </tr>
                      <!-- This is our clonable table line -->
              
                      <!-- This is our clonable table line -->
                      <!--<tr class="hide">-->
                        
                    </table>
                    
                  </div>
                  
                 
                </div>
                
                  <div class="col-md-3" style="margin-top:20px;">
                    <div id="answerCounter" style="overflow-y: auto; height:200px;">

                    <h4>Top Students</h4> 
                    <div id="result_strip">
                        <ul class="thumbnails"></ul>
                    </div>
                    <ul>
                      <li>Ashish Singh</li>
                      <li>Anchal Jelta</li>
                      <li>Ayushi Rautela</li>
                    </ul>

                    
                </div>
                
                <div style="background-color:whitesmoke; height: 250; width:300px;">
                
               <!-- <img id="bg" src="../static/images/cam.png" style="height:200px; width: 270px;" alt="Camera View for Quiz">-->
           
            
                  </div>
                  <!-- /.box -->
                </div>
              </div>
        </div>
        
    </section>
</div>
    </div>
        </div>    
        <!--New Div for the updated camera mechanism-->
        <div id="container">            
            <div class="">
                <label for="audioSource"></label><select id="audioSource"></select>
            </div>
            

<!--            <ul id="decoded"></ul>-->

            <canvas id="canvas" class="drawingBuffer" style="display:none !important"></canvas><br clear="all">

        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

            <script src="../static/js/main.js"></script>
            
        </div>

        <script>
      function startQuizButton() {
        document.getElementById('bg').src="{{ url_for('video_feed')}}";

}
        
   
function stopQuizButton() {
  document.getElementById('bg').alt="{{ url_for('video_feed_stop')}}";
  document.getElementById('bg').src='../static/images/cam.png';

}

        </script>

{%endblock%}
        