{%extends "layout.html"%} {%block content%}
<div class="container" height=100% >
        
    
    <div class="skin-blue sidebar-mini">
        
    
        <aside class="main-sidebar" style="margin-top:15px;">
            <!-- sidebar: style can be found in sidebar.less -->
            
            <section class="sidebar">                     
              <ul class="sidebar-menu" data-widget="tree">
                  {% for singleClass in distinctClasses %}
                         <li class="treeview">
                           <a href="#">
                             <i class="glyphicon glyphicon-education"></i>
                             <span>Class {{singleClass[0]}}</span>
                             <span class="pull-right-container">
                               <span class="label label-primary pull-right">{{singleClass[1]}}</span>
                             </span>
                           </a>                                                      
                           <ul class="treeview-menu">                            
                              {% for classsection in classSections %}
                                 {% if classsection.class_val==singleClass[0] %}
                             <li><a href="{{ url_for('classCon',class_val=classsection.class_val, section=classsection.section) }}"><i class="fa fa-circle-o"></i> Section {{classsection.section}}</a></li>                              
                              {% endif %}
                             {% endfor %}
                           </ul>
                                                      
                         </li>
                         {% endfor %}                
         <ul>
         
         
        </section>
                
            </aside>
        
        
            <!--------------------------------------------------------------------------------------------->
            <div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                <div class="row">
                <div class="col-xs-8"  >
                  <div class="box" id="feedbackQuestionDiv">
                    <div class="box-header" >
                      <h3 class="box-title">Feedback questions </h3><span style="padding-left: 10px;">    Class: {{ class_val }} | Section: {{ section }}</span>        

                    </div>
                    
                    <!-- /.box-header -->                   
                    <span id="questionList" style="display: none;">{{ questionList }}</span>
                    <input id="questionListSize" value="{{ questionListSize }}" style="display: none;" type="text">

                    <div id = "questionSection">        
                      <div id="questionPlaceholder">
                        <br>
                        <br>
                        <br>
                        
                      <p style="font-size: 48px;" class="grey-text text-lighten-1">Click Start to load questions</p>
                    </div>
                    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
                    <input type="button" value="Start" class="btn btn-primary pull-right" id="submitAndNextBTN" style="height: 40px; width: 200px;">
  
                  </div>

                  <div  class="box" id="feedbackReportDiv" style="display: none;">

                  
                  </div>

                  <!--<a id="startbutton" class='right' href="#"><h4>Next</h4></a><br>                 -->
                </div>
                

                  <div class="col-md-3" style="margin-top:20px;">
                    <div id="answerCounter" style="overflow-y: auto; height:200px;">
                      
                    <h4>Response Summary</h4> 
                    <div id="ResponseList">
                    <div id="result_strip">
                        <ul class="thumbnails"></ul>
                    </div>
                    </div>
                    <div id="allResponsesSubmitted" style="display: none;">All Responses Submitted</div>
                    
                </div>
                
                <div style="background-color:white; height: 250; width:350px;">
                
               <!-- <img id="bg" src="../static/images/cam.png" style="height:200px; width: 270px;" alt="Camera View for Quiz">-->
               <div class="video-field" id="video-field">
                
                <div class="select">
                    <label for="videoSource"></label><select id="videoSource"></select>
                </div>
                <video id="video" muted autoplay></video>
             
             
            </div>
            
                  </div>
                  <!-- /.box -->
                </div>
              </div>
        </div>
        
    </section>
</div>
    </div>
        </div>    
        <!--New Div for the updated camera mechanism-->
        <div id="container">            
            <div class="">
                <label for="audioSource"></label><select id="audioSource"></select>
            </div>
            

<!--            <ul id="decoded"></ul>-->

            <canvas id="canvas" class="drawingBuffer" style="display:none !important"></canvas><br clear="all">

        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

            <script src="../static/js/main.js"></script>
            
        </div>


        <script>
              var questionIDListJS = [];
              {%  for question in questionList%}              
              questionIDListJS.push({{question.question_id}});
              {% endfor %}

              var questionListSize = {{ questionListSize }};
              var tempCountVar = 0;

            $("#submitAndNextBTN").click(function(){
              
              //window.alert("We're here for: " +tempCountVar );
             // window.alert("The question list size is : " +questionListSize );
                if(tempCountVar<questionListSize){
                $.ajax({
                  url: "/loadQuestion?qnum="+ tempCountVar+"&total="+questionListSize ,
                  type: "get",
                  data: {question_id: questionIDListJS[tempCountVar]},
                  success: function(response) {
                    //window.alert(response);
                    $("#questionSection").html(response);
                    
                    tempCountVar= tempCountVar+1; 
                    //window.alert(questionListSize+1);
                    if(tempCountVar==questionListSize){
                      $("#submitAndNextBTN").attr('value','Submit and Finish');                     
                    }
                    else{
                      $("#submitAndNextBTN").attr('value','Submit and Next');       
                      //$("#submitAndNextBTN").attr('class','btn btn-primary pull-right');    

                    }
                  },
                  error: function(xhr) {
                    window.alert("error occurred while loading question");
                  }
                });
              }
              else{
                var done = 1;
                $.ajax({
                  url: "/feedbackReport",
                  type: "get",
                  data: done,
                  success: function(response) {
                    $("#feedbackReportDiv").show(); 
                    $("#feedbackReportDiv").html(response);        
                    $("#feedbackQuestionDiv").hide();
                    $("#video-field").hide();                    
                    $("#ResponseList").hide();                    
                    $("#allResponsesSubmitted").show();
                    
                  },
                  error: function(xhr) {
                    window.alert("error occurred while loading question");
                  }
                });
                //window.alert("Iteration greater than size");         
                //video-field
               

              }
            });
            </script>

{%endblock%}
        