{%extends "layout.html"%} {%block content%}
<style>
  @media only screen and (max-width: 992px) {
    
    .devicePanel{
      display: none;
    }
    .mobEntryPage{
      display: block;
    }
    .deviceEntryPage{
      display: none;
    }
    
    .deviceQuesImage{
      display: none;
    }
    .mobQuesImage{
      display: block;
    }
    #clearBtn{
      display:flex;
    }
    .deviceMapPanel{
      display: none;
    }
    .mobilePanel{
      display: block;
    }
    .mobileMapPanel{
      display: block;
    }
    .mobileSubmitBtn{
      display: block;
    }
    #timeDiv{
      display: none;
    }
    #timeDivBtn{
      display: none;
    }
    #timeDivMobBtn{
      display: block;
    }
    #timeDivMob{
      display: block;
    }
  }
  @media only screen and (min-width: 992px ){
    #timeDivMob{
      display: none;
    }
    #timeDivBtn{
      display: block;
    }
    #timeDivMobBtn{
      display: none;
    }
    .deviceEntryPage{
      display: block;
    }
    .mobEntryPage{
      display: none;
    }
    
    .mobilePanel{
      display: none;
    }
    .mobileMapPanel{
      display: none;
    }
    .mobQuesImage{
      display: none;
    }
    
  }
</style>
{% if studId==None %}
  <div class="container" height="100%">

  <div class="row">
    <div class="col s10" style="margin-left: 56px;">
      <div class="card">
        <div class="card-image">
          <img src="">
          <span class="card-title"></span>
        </div>
        {% if session['primary_color'] %}
        <div class="card-content deviceEntryPage">
          <span style="color:{{session['primary_color']}};display:block;font-weight: 400;font-size: 14px;">Enter your student id and submit</span><input type="number" style="width:500px;" id="studentId"/>
          <input type="button" value="Submit" style="height: 33px;background-color:{{session['primary_color']}}!important;" class="btn btn-primary pull-right green studIdSubmitBtn"/>
  
          </div>
          <div class="card-content mobEntryPage" style="height: 160px;">
            <span style="color:{{session['primary_color']}};display:block;font-weight: 400;font-size: 14px;">Enter your student id and submit</span><input type="number" style="width:100%;" id="studentMobId"/>
            <input type="button" value="Submit" style="height: 33px;width: 150px;background-color:{{session['primary_color']}}!important;" class="btn btn-primary pull-right green studIdSubmitBtn"/>
    
            </div>
        {% else %}
        <div class="card-content deviceEntryPage">
        <span style="display:block;font-weight: 400;font-size: 14px;">Enter your student id and submit</span><input type="number" style="width:500px;" id="studentId"/>
        <input type="button" value="Submit" style="height: 33px;" class="btn btn-primary pull-right green studIdSubmitBtn"/>

        </div>
        <div class="card-content mobEntryPage" style="height: 160px;">
          <span style="display:block;font-weight: 400;font-size: 14px;">Enter your student id and submit</span><input type="number" style="width:100%;" id="studentMobId"/>
          <input type="button" value="Submit" style="height: 33px;width: 150px;" class="btn btn-primary pull-right green studIdSubmitBtn"/>
  
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  
</div>
<script>
  $('.studIdSubmitBtn').click(function(){
    var sId = $('#studentId').val();
    var sMobId = $('#studentMobId').val();
    console.log('Student Id:'+sId);
    console.log('StudentMobId:'+sMobId);
    // alert('Student Id:'+sId);
        if ((sId != "")||(sMobId!="")) {
          if(sId!=""){
            window.location.href = "/feedbackCollectionStudDev?resp_session_id={{resp_session_id}}&student_id=" + sId+"&uploadStatus={{uploadStatus}}&resultStatus={{resultStatus}}&advance={{advance}}";
          }else{
            window.location.href = "/feedbackCollectionStudDev?resp_session_id={{resp_session_id}}&student_id=" + sMobId+"&uploadStatus={{uploadStatus}}&resultStatus={{resultStatus}}&advance={{advance}}";
          }
        }
  });
</script>
  {% else %}
<div class="container" height=100%>

  

  <div class="sidebar-mini"> 
     <aside class="main-sidebar" style="padding:0px;margin-top: -21px;">            
            <section class="sidebar" id="leftPanel" style="display: none;">
              <div id="timeDiv" style="margin-left:-30px;">
              <h4>Remaining Time:<span id="remTime"></span></h4>
            </div>
              <!-- panel -->
              <div class="panel panel-body panel-default mb0 mt10 devicePanel" style="padding: 0px;width: 259px;margin-left: -30px;">
                <div class="table-responsive">
                  <table class="table table-borderless mb0">
                    <thead>
                      <tr>
                        <td class="full-width" style="font-size: 23px;">
                          <!-- <a class="test-ques-stats que-not-answered lblNotAttempted" style="background: url('https://nta.ac.in/img/QuizIcons/Logo1.png');font-size: 23;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> -->
                          <a href="javascript:void(0);" id="" class="test-ques que-not-answered" style="background-color: #ddd;color: black;font-size:22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </td>
                        <td>Not Answered</td>
                        <td class="full-width" style=""><a class="test-ques-stats que-not-answered lblNotAttempted" style="background-color: limegreen;color: black;font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                        <td>Answered</td>
                      </tr>
                      {% if advance=='Y' %}
                      <tr>
                        <td class="full-width"  style=""><a class="test-ques-stats que-not-answered lblNotAttempted" style="background-color:slateblue;color:black;font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                        <td>Marked for review</td>
                        <td class="full-width"  style=""><a class="test-ques-stats que-not-answered lblNotAttempted" style="background-color:#008B8B;color:black;font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                        <td>Answered and marked for review</td>
                      </tr>
                      {% endif %}
                    </thead>
                  </table>
                </div>
              </div>
              <!-- End -->
              <div class="panel panel-default deviceMapPanel" style="margin-left: -30px;">
                <div class="panel-body" style="max-height:330px;">
                  <ul class="pagination test-questions" style="margin-top: 0px;">

                    {% for row in questionList %}
                    <li class="active" data-seq="1">   
                      {% if loop.index>9 %}                   
                        <a href="javascript:void(0);" id="{{row.question_id}}" class="test-ques que-not-answered clickBtn {{row.question_id}}" style="margin-left: 2px;background-color: #ddd;color: black;cursor: pointer;" data-href="" onclick="fetchSubmitQuestion('{{loop.index-1}}','skip');">{{loop.index}}</a>
                      {% else %}
                        {% if loop.index==1 %}
                          <a href="javascript:void(0);" id="{{row.question_id}}" class="test-ques que-not-answered clickBtn {{row.question_id}}" style="margin-left: 2px;background-color: white;color: black;cursor: pointer;" data-href="" onclick="fetchSubmitQuestion('{{loop.index-1}}','skip');">0{{loop.index}}</a>
                        {% else %}
                          <a href="javascript:void(0);" id="{{row.question_id}}" class="test-ques que-not-answered clickBtn {{row.question_id}}" style="margin-left: 2px;background-color: #ddd;color: black;cursor: pointer;" data-href="" onclick="fetchSubmitQuestion('{{loop.index-1}}','skip');">0{{loop.index}}</a>
                        {% endif %}
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>                    
        </section>                
            </aside>        
    <!--------------------------------------------------------------------------------------------->
    <div class="content-wrapper" style="background-color: white;margin-top: -50px;">
      <div id="timeDivMob">
        <h4>Remaining Time:<span id="remTimeMob"></span></h4>
      </div>
      <div class="panel panel-body panel-default mb0 mt10 mobilePanel" style="padding: 0px;width: 296px;margin-top: 25px;">
        <div class="table-responsive">
          <table class="table table-borderless mb0">
            <thead>
              <tr>
                <td class="full-width" style="font-size: 23px;"><a class="test-ques-stats que-not-answered lblNotAttempted" style="background-color: #ddd;color: black;font-size:22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                <td>Not Answered</td>
                <td class="full-width" style="font-size: 23px;"><a class="test-ques-stats que-not-answered lblNotAttempted" style="background-color: limegreen;color: black;font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                <td>Answered</td>
              </tr>
              {% if advance=='Y' %}
              <tr>
                <td class="full-width"  style="font-size: 23px;"><a class="test-ques-stats que-not-answered lblNotAttempted" style="background-color:slateblue;color:black;font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                <td>Marked for review</td>
                <td class="full-width"  style="font-size: 23px;"><a class="test-ques-stats que-not-answered lblNotAttempted" style="background-color:#008B8B;color:black;font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                <td>Answered and marked for review</td>
              </tr>
              {% endif %}
            </thead>
          </table>
        </div>
      </div>
      <div class="panel panel-default mobileMapPanel" style="max-width: 296px;">
        <div class="panel-body">
          <ul class="pagination test-questions" style="margin-top: 0px;">

            {% for row in questionList %}
            <li class="active" data-seq="1">   
              {% if loop.index==1 %}
                <a href="javascript:void(0);" id="{{row.question_id}}" class="test-ques que-not-answered clickBtn {{row.question_id}}" style="margin-left: 2px;background-color: white;color: black;cursor: pointer;" data-href="" onclick="fetchSubmitQuestion('{{loop.index-1}}','skip');">0{{loop.index}}</a>
              {% else %}
                <a href="javascript:void(0);" id="{{row.question_id}}" class="test-ques que-not-answered clickBtn {{row.question_id}}" style="margin-left: 2px;background-color: #ddd;color: black;cursor: pointer;" data-href="" onclick="fetchSubmitQuestion('{{loop.index-1}}','skip');">0{{loop.index}}</a>
              {% endif %}                   
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>  
      <section class="content" style="margin-top: -15px;">
        <div class="row">
          <div class="row">
            <div class="col-xs-8" style="width:100%;">
              <div class="" id="feedbackQuestionDiv" style="border:none;">
                <div class="box-header" style="display:none;">
                  <span class="">{{test_type}} </span><span style="padding-left: 10px;"> Class:
                    {{ class_val }} | Section: {{ section }}</span>
                </div>
                <span id="questionList" style="display: none;">{{ questionList }}</span>
                <input id="currrent_question_id" style="display: none;">
                <input id="class_val_ip" style="display: none;" type="text" value="{{class_val}}">
                <input id="section_ip" style="display: none;" type="text" value="{{section}}">
                <input id="questionListSize" value="{{ questionListSize }}" style="display: none;" type="text">
                <div id="questionSection">
                  <div id="questionPlaceholder">
                    <br>
                    <br>
                    <br>
                    {% if questionList|length > 0 %}
                    <style>
                    @media only screen and (max-width: 992px) {
                      .mobilePanel{
                        display: none;
                      }
                      .mobileMapPanel{
                        display: none;
                      }
                      #timeDivMob{
                        display: none;
                      }
                    }
                    
                  </style>
                    <p style="font-size: 35px;line-height: inherit;margin-left: 10px;" class="grey-text text-lighten-1">Welcome {{studentName}}</p><br>
                    <p style="font-size: 35px;line-height: inherit;margin-left: 10px;" class="grey-text text-lighten-1">Click START to begins the test</p>
                    <p style="font-size: 20px;line-height: inherit;margin-left: 10px;" class="grey-text text-lighten-1">{{instructions}}</p>
                    <br><br><br><br><br><br><br><br>

                    {%else %}
                    <p style="font-size: 48px;" class="grey-text text-lighten-1">No questions under <br><br>the selected
                      topic(s)</p>
                    {% endif %}
                  </div>
                </div>
                <div id="questionButtons" style="margin-top: -45px;">
                  {% if questionList|length > 0 %}
                  <div class="NewBtn">
                    <!-- Add more buttons -->
                    <div id="clearBtn">
                    <a id="clear" style="display:none;margin-left:15px;cursor: pointer;float: left;font-size: 18px;margin-top: 8px;margin-right: 20px;">Clear</a>
                    </div>
                    <!-- <input type="button" value="Clear" class="btn btn-primary left" id="clear"
                    style="height: 40px; width: 100px;margin-left:15px;margin-left: 30px;display:none;color: black;background-color: white;"> -->
                    {% if session['primary_color'] %}
                    <div id="timeDivMobBtn">
                      
                      <input type="button" value="Start" class="btn btn-primary pull-right green start" onclick="fetchSubmitQuestion('q','Start');"
                      style="background-color: {{session['primary_color']}} !important;height: 40px; width: 200px;margin-top: -90px;">
                    </div>
                    <div  id="timeDivBtn">
                      <input type="button" value="Start" class="btn btn-primary pull-right green start" onclick="fetchSubmitQuestion('q','Start');"
                      style="background-color: {{session['primary_color']}} !important;height: 40px; width: 200px;margin-top: -90px;margin-right: 470px;">
                    </div>
                    {% else %}
                    <div id="timeDivMobBtn">
                      
                      <input type="button" value="Start" class="btn btn-primary pull-right green start" onclick="fetchSubmitQuestion('q','Start');"
                      style="height: 40px; width: 200px;margin-top: -90px;">
                    </div>
                    <div  id="timeDivBtn">
                      <input type="button" value="Start" class="btn btn-primary pull-right green start" onclick="fetchSubmitQuestion('q','Start');"
                      style="height: 40px; width: 200px;margin-top: -90px;margin-right: 470px;">
                    </div>
                    {% endif %}
                    <input type="button" value="Submit and next" class="btn btn-primary left green" id="startAndNextBTN" onclick="fetchSubmitQuestion('q','submitandnext');"
                    style="height: 40px; width: 147px;margin-right: 10px;display:none;">
                    <input type="button" value="Submit and End Test" class="btn btn-primary right deviceSubmitBtn" id="submit" onclick="fetchSubmitQuestion('q','submit');"
                    style="height: 40px; width: 200px;display:none;"> 
                    {% if advance=='Y' %}
                    <input type="button" value="Mark for review and submit" class="btn btn-primary left" id="save" onclick="fetchSubmitQuestion('q','save');"
                    style="height: 40px; width: 230px;display:none;background-color:#008B8B">
                    <input type="button" value="Mark for review and next" class="btn btn-primary left" id="next" onclick="fetchSubmitQuestion('q','next');"
                    style="height: 40px; width: 220px;margin-left:10px;display:none;background-color: slateblue;">
                    {% endif %}
                  </div>
                  {% endif %}
                  <!-- <input type="button" value="Skip" class="btn btn-primary left" id="skipButton"
                  style="height: 40px; width: 150px;display:none;margin-top: 20px;color: black;background-color: white;" onclick="fetchSubmitQuestion('q');"> -->
                  
                  
                  <input type="button" value="Submit and End Test" class="btn btn-primary pull-right green" id="timeout" onclick="fetchSubmitQuestion('q','timeout');"
                  style="height: 40px; width: 200px;display:none;margin-top: 20px;">
                  <!-- <a id="skipButton" style="display:none;float:right;margin-right:5px;cursor: pointer;">Skip</a> -->

                  <!--<input type="button" value="Take Response" class="btn green btn-primary" id="startrecordResponsesBTN" style="height: 40px; display: none; ">  -->
                  <!--<input type="button" value="Stop" class="btn red lighten-1" id="stopRecordingBTN"
                    style="height: 40px; display: none; ">-->
                  <!--<input type="button" value="Finish" class="btn btn-primary pull-right" id="submitAndFinishBTN"
                    style="height: 40px; width: 200px;display: none;">-->
                </div>
              </div>
              <div class="box" id="feedbackReportDiv" style="display: none;">
              </div>
              <a class="btn btn-primary" id="completeClassBTN" href="{{url_for('classCon')}}"
                style="display: none;">Complete Class</a>
            </div>
            <!-- <div class="col-md-3" style="margin-top:20px;">
                    <div id="answerCounter" style="overflow-y: auto; height:200px;">
                    <h4>Response Summary</h4> 
                    <div id="errorMsgElement"></div>
                      <div id="ResponseList">                
                        <form id="responseForm">
                          <div id="result_strip">
                        <ul class="thumbnails"></ul>
                          </div>
                            <div id="questionListSizeDiv">                      
                           </div>
                        </form>
                      </div>
                    <div id="allResponsesSubmitted" style="display: none;">All Responses Submitted</div>                    
                </div>                                                
                <div >                                       
               <div class="video-field" id="video-field">                
               <video id="video" height="300" muted autoplay></video>                     
               <canvas id="piccanvas" width="640" height="480" style="display:none !important"></canvas>
               </div>                  
                  </div>            
                </div>-->
          </div>
        </div>
      </section>
    </div>
  </div>
  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>                 -->
</div>
<link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">
<script>
  //var subject_id = {{subject_id}};
  var questionIDListJS = []; {%for question in questionList %}
  // this is my name
  questionIDListJS.push({{question.question_id}}); 
  {% endfor %}
  var questionListSize = {{questionListSize}};

  var tempCountVar = 0;
  $("#startrecordResponsesBTN").click(function () {
    $("#skipButton").hide();
  });
  $(document).ready(function(){
    $('#TestLink').hide();
  });

  $('.clickBtn').click(function(){
    var ids = $(this).attr('id');
    
    {% for row in questionList %}
        console.log('QuesId:{{row.question_id}}');
        var qId = '{{row.question_id}}';
        console.log('Ids',ids);
       if (ids==qId){
        var btnId = '.'+ids;
        $(btnId).css("background-color","white");
      }else{
        var btnId = '.{{row.question_id}}';
        $(btnId).css("background-color","#ddd");
      }
    {% endfor %}
  });

  $('.start').click(function(){
    console.log('start btn clicked');
    $('.box-header').show();
    $("#feedbackQuestionDiv").addClass("box");
  });

  

  // $("#skipButton").click(function () {
  //   document.getElementById("startAndNextBTN").click();
  // });

  // $("#skipButton").click(function () {
  //   document.getElementById("startAndNextBTN").click();
  // });


  //$(".ansOption").click(function () {
  //  alert('This is the option');
  //});



    var c = 0;
    var j=0;
  
  var clearBtn = document.getElementById('clear');
  clearBtn.addEventListener('click',function(){
    $('#startAndNextBTN').prop('disabled',true);
    $('#save').prop('disabled',true);
  });
  function fetchSubmitQuestion(num,btn) {
    var QuesId = $(this).attr("id");
    console.log('QuesId',QuesId);
    $('#leftPanel').show();
    $('#startAndNextBTN').show();
    $('#save').show();
    $('#next').show();
    $('#clear').show();
    // $('#submit').show();
    if(btn=='submit'||btn=='timeout'){
    $('#startAndNextBTN').hide();
    $('#save').hide();
    $('#leftPanel').hide();
    $('#next').hide();
    $('#clear').hide();
    $('#submit').hide();
    // $('#TestLink').show();
    }
    
    // $("#startAndNextBTN").attr("disabled", true);
    $('.start').hide();

    $("#currrent_question_id").val(questionIDListJS[tempCountVar]);
    console.log('TempCountVar:'+tempCountVar);
    
    var radioValue = $("input[name='ansOption']:checked").val();
    var respOption = '';
    if (radioValue) {
      respOption =radioValue; 
    }
    if (tempCountVar <= questionListSize) {   
      var lastQIDVal = ''; 
      var valueQ = $("#lastQIDVal").val(); 
      if(valueQ){
        lastQIDVal = valueQ
      }
      resp_sessId = "{{resp_session_id}}"; 
      console.log('Resp_session_id:'+resp_sessId);  
      var obj = JSON.parse('{ "resp_sessId":"{{resp_session_id}}"}');  
      //alert("qnum:" + tempCountVar + "&total=" + questionListSize + "&question_id=" +
      //    questionIDListJS[tempCountVar] + "&response_option="+ respOption+ "&resp_session_id="+ {{resp_session_id}}+
      //    "&subject_id="+ {{subject_id}}+"&last_q_id="+lastQIDVal);
      var qcount = '';
      console.log('Num:'+num)
      if(num=='q'){
        console.log('inside if:'+num);
        if(btn=='Start'){
          
            tempCountVar = parseInt(c);            
               
        }else
        {
          if(c==j){
            console.log('if coming from numpad');
            tempCountVar = (parseInt(c)+1);
            c = (parseInt(c)+1);
          }else{
        tempCountVar = (parseInt(c));
        console.log('c:'+(parseInt(c)));
          }
        }
        if(tempCountVar==questionIDListJS.length){
          tempCountVar = tempCountVar - 1;
        }
        qcount = questionIDListJS[tempCountVar];
        console.log('New Count:'+tempCountVar);
        console.log('Length:'+questionIDListJS.length);
        console.log('Question Id:'+qcount);
      }else{
        tempCountVar = num;
        c = num;
        j=num;
        console.log('inside else:'+num);
        qcount = questionIDListJS[parseInt(num)];
        console.log('Question Id:'+qcount);
      }
      var textAns = '';
      var url = '';
      if(document.getElementById('box_id')){
       textAns = document.getElementById('box_id').value;
      }
      if(document.getElementById('reference')){
        url = document.getElementById('reference').value;
      }
      if(textAns){
        console.log('----Text Exist:'+textAns);
        respOption = textAns;
      }else
      if(url){
        console.log('---Url Exist:'+url);
        respOption = url;
      }
      $.ajax({
        url: "/loadQuestionStud?qnum=" + tempCountVar + "&total=" + questionListSize + "&question_id=" +
        qcount + "&last_q_id="+lastQIDVal+ "&response_option="+ respOption+ "&resp_session_id="+ obj.resp_sessId+
          "&subject_id="+ {{subject_id}}+"&btn="+btn+"&student_id={{student_id}}&textAns="+textAns+"&url="+url+"&uploadStatus={{uploadStatus}}&resultStatus={{resultStatus}}",
        type: "get",
        data: '', 
        success: function (response) {
          $('#submit').prop('disabled',false);
        $('#next').prop('disabled',true);
        $('#save').prop('disabled',true);
        $('#startAndNextBTN').prop('disabled',true);
          if(response!='0'){
          $("#questionSection").html(response);
          }
          if(num=='q'){
            console.log('inside success of num q ');
            // if(btn=='Start'){
              if (tempCountVar != (questionListSize-1)) {
          c = (parseInt(c) + 1);
              }
            // }
          console.log('in success c:'+c);
          }
          console.log('Temp count var:'+tempCountVar);
          // if (tempCountVar == questionListSize) {
          //   //$("#skipButton").hide();
          //   //$("#startAndNextBTN").hide();
          // } 
          // else if(tempCountVar > questionListSize){
          //   $("#skipButton").hide();
          //   $('#submit').hide();
          //   $("#startAndNextBTN").hide();
          //   $('#clear').hide();
          //   $('#save').hide();
          //   $('#next').hide();
          // }
          // else {
          //   console.log('inside else ');
            // $("#startAndNextBTN").attr('value', 'Submit and Next');
            // $("#startAndNextBTN").attr('class', 'btn btn-primary left green');
            // $("#skipButton").show();
            // Additional btn
            // $('#submit').show();
            // $('#clear').show();
            // $('#save').show();
            // $('#save').attr('disabled',true);
            // $('#next').show();
            // $('#next').attr('disabled',true);
            // End
          // }
          // location.reload(true);
        },
        error: function (xhr) {
          window.alert("error occurred while loading question");
        }
      });
    } 
  };
  //$('#submitAndFinishBTN').click(function(){
  //  var class_val = $('#class_val_ip').val();
  //  console.log('This is the class_val in js: ' + class_val);
  //  var section = $('#section_ip').val();
  //  console.log('This is the section: ' + section);
  //  questionIDListStr  = JSON.stringify(questionIDListJS);     
  //  var resp_session_id={{resp_session_id}};
  //    $.ajax({
  //      url: "/feedbackReport?resp_session_id="+resp_session_id,
  //      type: "get",
  //      data: "",
  //      success: function(response) {
  //        if (response!="NA"){
  //        $("#feedbackReportDiv").html(response);
  //        }
  //        else{
  //          $("#feedbackReportDiv").html('<span class="grey-text text-lighten-1"> <p style="font-size: 36px;">No feedback data for this session.</p></span>');
  //        }    
  //        $("#feedbackReportDiv").show(); 
  //        $("#feedbackQuestionDiv").hide();
  //        $("#video-field").hide();                    
  //        $("#ResponseList").hide();                    
  //        $("#allResponsesSubmitted").show(); 
  //        $("#completeClassBTN").show();                     
  //      },
  //      error: function(xhr) {
  //        window.alert("error occurred while submittig data");
  //      }
  //    });              
  //});
</script>
<script src="../static/js/qrReader_zbar-main.js"></script>
<script type="text/javascript" src="../static/js/zbar-processor.js"></script>
{% endif %}
{%endblock%}