{%extends "layout.html"%} {%block content%}
<!--<link type="text/css" rel="stylesheet" href="../static/css/styles.css">-->
<!--<link type="text/css" rel="stylesheet" href="..static/js/jquery.timepicker.css">-->
<div class="container" height=100%>


  <div>
    <!--<aside class="main-sidebar" style="margin-top:15px;">            
            <section class="sidebar">                     
              <ul class="sidebar-menu" data-widget="tree">
                  {% for singleClass in distinctClasses %}
                         <li class="treeview">
                           <a href="#">
                             <i class="glyphicon glyphicon-education"></i>
                             <span>Class {{singleClass[0]}}</span>
                             <span class="pull-right-container">
                               <span class="label label-primary pull-right">{{singleClass[1]}}</span>
                             </span>
                           </a>                                                      
                           <ul class="treeview-menu">                            
                              {% for classsection in classSections %}
                                 {% if classsection.class_val==singleClass[0] %}
                             <li><a href="{{ url_for('classCon',class_val=classsection.class_val, section=classsection.section) }}"><i class="fa fa-circle-o"></i> Section {{classsection.section}}</a></li>                              
                              {% endif %}
                             {% endfor %}
                           </ul>                                                      
                         </li>
                         {% endfor %}                
         <ul>                  
        </section>                
            </aside>              -->
    <!--------------------------------------------------------------------------------------------->

    <section class="content">
      <div class="row">
        <div class="row">
          <div class="col-xs-7">
            <div class="box" id="feedbackQuestionDiv">
              <div class="box-header">
                <h3 class="box-title">{{testType}}</h3><span style="padding-left: 10px;"> Class: {{ class_val }} |
                  Section: {{ section }} | Subject: {{subjectName}} | Total Marks: {{totalMarks}}</span>
              </div>
              <span id="questionList" style="display: none;">{{ questionList }}</span>
              <input id="currrent_question_id" style="display: none;">
              <input id="class_val_ip" style="display: none;" type="text" value="{{class_val}}">
              <input id="section_ip" style="display: none;" type="text" value="{{section}}">
              <input id="questionListSize" value="{{ questionListSize }}" style="display: none;" type="text">
              <div id="questionSection">
                <div id="questionPlaceholder">

                  {% if questionListSize > 0 %}
                  
                    
                    <br><br>
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th scope="col">Question</th>
                          <th scope="col">Type</th>
                          <th scope="col">Weightage</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for question in questions %}

                        <tr>
                          <td>
                            {% if question.question_type=='MCQ1' %}
                            <ul>
                              <li>
                                <div><a href="#modal2" name="{{ question.question_id }}"
                                    class="waves-effect waves-light modal-trigger questionData">{{ question.question_description }}</a>
                                </div>
                                <!-- Modal Structure  -->
                                <div id="modal2" class="modal" style="background-color:white;">
                                  <div id="questionloader1" style="display: none;">
                                    <img src="../static/images/loader.gif">
                                  </div>
                                  <div class="modal-content" id="content" style="display:none;">
                                    <p>
                                      <div id="questionDataList"></div>
                                    </p>

                                  </div>
                                </div>
                              </li>
                            </ul>
                            {% else %}
                            <h5>
                              {{ question.question_description }}
                            </h5>
                            {% endif %}

                          </td>
                          <td> {{ question.question_type }} </td>
                          <td>{{ question.suggested_weightage }}<input type="hidden"
                              value="{{ question.suggested_weightage }}" id="{{ question.question_id }}select"></td>
                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>

                    {%else %}
                    <p style="font-size: 48px;" class="grey-text text-lighten-1">No questions under <br><br>the selected
                      topic(s)</p>
                    {% endif %}
                </div>
              </div>
              <div id="questionButtons">
                {% if questionList|length > 0 %}
                <!--<input type="button" value="Start" class="btn btn-primary pull-right" id="startAndNextBTN" style="height: 40px; width: 200px;">              -->
                {% endif %}
                <input type="button" value="Start Timer" class="btn green btn-primary" id="startrecordResponsesBTN"
                  style="height: 40px; ">
                <input type="button" value="Stop" class="btn red lighten-1" id="stopRecordingBTN"
                  style="height: 40px; display: none; ">
                <input type="button" value="Finish" class="btn btn-primary pull-right" id="submitAndFinishBTN"
                  style="height: 40px; width: 200px;display: none;">
              </div>
            </div>
            <div class="box" id="feedbackReportDiv" style="display: none;">
            </div>
            <a class="btn btn-primary" id="completeClassBTN" href="{{url_for('classCon')}}"
              style="display: none;">Complete Class</a>
          </div>
          <div class="col-xs-3" style="margin-top:20px;">
            <div id="answerCounter" >
              <h4>To write this test</h4>
              <ol>
                <li>
                  Logon to this URL: {{url_for('qrSessionScannerStudent')}} </li><br>
                <li>
                  <p>Scan the QR or enter this test id: <br><span style="font-size: 40px;">{{resp_session_id}}</span>
                  </p>
                </li>
              </ol><br>

              <div id='qrIMGDiv' class='center' style="z-index: 1000000000;"><img class="materialboxed" src={{responseSessionIDQRCode}}></div>
              <div class="divider"></div>
              <!--This is the section for timer-->
<!--
              <div class="wrapper">

                <header class="switch-clocks z-depth-1">
                  <a class="alarm waves-effect">Alarm</a>
                  <a class="stopwatch waves-effect">Stopwatch</a>
                  <a class="timer waves-effect">Timer</a>
                </header>

                <div class="app">

                  <div class="container alarm hidden">
                    <form>

                      <div class="control input-field">
                        <input id="alarm-input" type="text" class="validate">
                        <label for="alarm-input">Set Time</label>
                      </div>

                      <div class="control switch">
                        <label>
                          Off
                          <input type="checkbox" disabled id="alarm-btn">
                          <span class="lever"></span>
                          On
                        </label>
                      </div>

                      <div class="control checkbox">
                        <input type="checkbox" id="alarm-sounds" />
                        <label for="alarm-sounds">Sounds</label>
                      </div>

                    </form>

                    <div class="clock z-depth-1 inactive">
                      <span>Not Set</span>
                      <div class="overlay waves-effect"></div>
                    </div>
                  </div>

                  <div class="container stopwatch">
                    <form>
                      <a id="stopwatch-btn-start" class="waves-effect waves-teal btn-flat">Start</a>
                      <a id="stopwatch-btn-pause" class="waves-effect waves-teal btn-flat">Pause</a>
                      <a id="stopwatch-btn-reset" class="waves-effect waves-teal btn-flat">Reset</a>
                    </form>

                    <div class="clock inactive z-depth-1">
                      <span>0:00:00.0</span>
                      <div class="overlay waves-effect"></div>
                    </div>
                  </div>

                  <div class="container timer hidden">
                    <form>
                      <div class="control input-field">
                        <input id="timer-input" type="number">
                        <label for="timer-input">Minutes</label>
                      </div>

                      <a class="timer-btn start waves-effect"><i class="mdi-av-play-arrow"></i></a>
                      <a class="timer-btn pause waves-effect"><i class="mdi-av-pause"></i></a>
                      <a class="timer-btn reset waves-effect"><i class="mdi-av-replay"></i></a>

                      <div class="control checkbox">
                        <input type="checkbox" id="timer-sounds" />
                        <label for="timer-sounds">Sounds</label>
                      </div>

                    </form>

                    <div class="clock inactive z-depth-1 waves-effect">0:00</div>
                  </div>


                </div>

                <div id="times-up-modal" class="modal">
                  <div class="modal-content">
                    <h3>Time's Up!</h3>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="dismiss-alarm-sounds modal-action waves-effect waves-red btn-flat">Dismiss
                      Alarm</a>
                  </div>
                </div>

              </div>-->

              <!--End of timer section-->
              <div id="errorMsgElement"></div>

              <div id="allResponsesSubmitted" style="display: none;">All Responses Submitted</div>
            </div>


            <div>
              <!--  <div class="select">
                    <label for="videoSource"></label><select id="videoSource"></select>
                </div>-->
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">
<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });



  $('.questionData').click(function () {
    $('#questionloader1').show();
    $('#modal2').hide();
    $('#content').hide();
    $('#questionDataList').html('');
    (function () {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src =
      "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"; // use the location of your MathJax

      var config = 'MathJax.Hub.Config({' +
        'extensions: ["tex2jax.js"],' +
        'jax: ["input/TeX","output/HTML-CSS"]' +
        '});' +
        'MathJax.Hub.Startup.onload();';


      if (window.opera) {
        script.innerHTML = config
      } else {
        script.text = config
      }

      document.getElementsByTagName("head")[0].appendChild(script);
      MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    })();
    var question_id = $(this).attr('name');
    console.log('Inside questionData');
    var data = "";
    $.ajax({
      url: "/questionAllDetails?question_id=" + question_id,
      type: "get",
      data: data,
      success: function (response) {
        $('#questionloader1').hide();
        $('#modal2').show();
        $('#content').show();
        $('#questionDataList').html(response);
      }
    })
  });
</script>
<script src="../static/js/jquery.timepicker.min.js"></script>
<script src="../static/js/hammer.js"></script>
<script src="../static/js/script.js"></script>
<script src="../static/js/stopwatch.js"></script>
<script src="../static/js/timer.js"></script>

<!--<script>
          var subject_id = {{subject_id}};
              var questionIDListJS = [];
              var flag=true;
              {%  for question in questionList%}              
              questionIDListJS.push({{question.question_id}});
              {% endfor %}
              var questionListSize = {{ questionListSize }};
              var tempCountVar = 0;
              var resp_session_id = '{{resp_session_id}}';
              var loaded_question = "";
              $("#currrent_question_id").val(questionIDListJS[tempCountVar]);
              //document.getElementById("result_strip").innerHTML="";
              //keepRecording = true;   
              checkQuestionChange();

            //$("#startAndNextBTN").click(function(){
              function checkQuestionChange(){
                console.log(resp_session_id);
                setInterval(function(){ 
                  if (flag==true){
                  $.ajax({
                  url: "/checkQuestionChange?resp_session_id="+ resp_session_id,
                  type: "get",
                  data: "",
                  success: function(checkValue) {                         
                    if (checkValue=="Y"){
                      tempCountVar=tempCountVar+1;
                      loadNewQuestion();
                      
                    }
                    else if (checkValue=="FR"){
                      loadFeedbackReport();
                      flag=false;
                    }
                    else{
                      flag=true;
                    }
                  },
                  error: function(xhr) {
                    window.alert("error occurred while loading question--");
                  }
                });                
            }}, 3000);
            }
            

            function loadNewQuestion(){              
            $.ajax({
                  url: "/loadQuestionExtCam?qnum="+ tempCountVar+"&total="+questionListSize+"&resp_session_id="+resp_session_id ,
                  type: "get",
                  data: "",
                  success: function(response) {       
                    $("#questionSection").html(response);                                            
                  },
                  error: function(xhr) {
                    window.alert("error occurred while loading question-!");
                  }
                });
              }

            function loadFeedbackReport(){     
              var class_val = $('#class_val_ip').val();
              console.log('This is the class_val in js: ' + class_val);
              var section = $('#section_ip').val();
              console.log('This is the section: ' + section);
              questionIDListStr  = JSON.stringify(questionIDListJS);                       
                $.ajax({
                  url: "/feedbackReport?resp_session_id="+resp_session_id,
                  type: "get",
                  data: "",
                  success: function(response) {
                    if (response!="NA"){
                    $("#feedbackReportDiv").html(response);
                    }
                    else{
                      $("#feedbackReportDiv").html('<span class="grey-text text-lighten-1"> <p style="font-size: 36px;">No feedback data for this session.</p></span>');
                    }
                    $("#feedbackReportDiv").show();
                    
                    $("#feedbackQuestionDiv").hide();
                    $("#allResponsesSubmitted").show();
                    $("#completeClassBTN").show();
                  },
                  error: function(xhr) {
                    window.alert("error occurred while submitting data");
                  }
                });
            }
            </script>       -->

{%endblock%}