{%extends "layout.html"%} {%block content%}
<div class="container" height=100% >
        
    
    <div class="skin-blue sidebar-mini">
        
    
        <aside class="main-sidebar" style="margin-top:15px;">
            <!-- sidebar: style can be found in sidebar.less -->
            
            <section class="sidebar">              
                  <!-- /.search form -->
                  <!-- sidebar menu: : style can be found in sidebar.less -->
                  <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                      <a href="#">
                        <i class="glyphicon glyphicon-education"></i>
                        <span>Class 1</span>
                        <span class="pull-right-container">
                          <span class="label label-primary pull-right">4</span>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section C</a></li>
                        <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                      </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 2</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 3</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 4</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 5</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 6</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 7</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 8</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 9</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
        
                      <li class="treeview">
                        <a href="#">
                          <i class="glyphicon glyphicon-education"></i>
                          <span>Class 10</span>
                          <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section A</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section B</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i>Section C</a></li>
                          <li><a href="{{url_for('classCon')}}"><i class="fa fa-circle-o"></i> Section D</a></li>
                        </ul>
                      </li>
                  </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
        
        
            <!--------------------------------------------------------------------------------------------->
            <div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                <div class="row">
                <div class="col-xs-8">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Questions for Feedback</h3><span style="padding-left: 10px;">    Class: 1 | Section: A</span>
        

                    </div>
                    <!-- /.box-header -->
                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQCSpIG6jzLFyyrOekM5RPGuNlc22cWILFUH63VZ8t83GjBLoYZgCPcsu1o7Irz6g/embed?start=false&loop=false&delayms=60000" frameborder="0" width="600" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    <!-- /.box-body -->
                   <!-- <button id="startQuizButton" onclick="document.getElementById('bg').src='{{ url_for('video_feed')}}'" class="btn">Start Quiz</button>
                    
                    <button id="stopQuizButton" onclick="document.getElementById('bg').src='{{ url_for('video_feed_stop')}}'" class="btn pull-right">Stop Quiz</button>-->


                    <!--<button id="startQuizButton" class="btn" onclick="startQuizButton()">Start Quiz</button>
                    <button id="stopQuizButton" class="btn pull-right" onclick="stopQuizButton()">Stop Quiz</button>-->
                  </div>
                  <a id="startbutton" class='right' href="#"><h4>Next</h4></a><br>
                  <a href="{{url_for('feedbackReport')}}"><button id="submitFeedbackBtn" class="btn right" style="margin-top: 60px;margin-right: -40px; border-color: green;font-size: 12px;color:black;font-weight: bold; background-color: whitesmoke;font-family: Arial;">Submit Feedback</button></a>
                </div>
                
                  <div class="col-md-3" style="margin-top:20px;">
                    <div id="answerCounter" style="overflow-y: auto; height:200px;">

                    <h4>Response Summary</h4> 
                    <div id="result_strip">
                        <ul class="thumbnails"></ul>
                    </div>

                    
                </div>
                
                <div style="background-color:whitesmoke; height: 250; width:300px;">
                
               <!-- <img id="bg" src="../static/images/cam.png" style="height:200px; width: 270px;" alt="Camera View for Quiz">-->
               <div class="video-field">
                

                <div class="select">
                    <label for="videoSource"><i class='material-icons'>camera_rear</i></label><select id="videoSource"></select>
                </div>
                <video id="video" muted autoplay></video>
             
             
            </div>
            
                  </div>
                  <!-- /.box -->
                </div>
              </div>
        </div>
        
    </section>
</div>
    </div>
        </div>    
        <!--New Div for the updated camera mechanism-->
        <div id="container">            
            <div class="">
                <label for="audioSource"></label><select id="audioSource"></select>
            </div>
            

<!--            <ul id="decoded"></ul>-->

            <canvas id="canvas" class="drawingBuffer" style="display:none !important"></canvas><br clear="all">

        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

            <script src="../static/js/main.js"></script>
            
        </div>

      <!--  <script>
      function startQuizButton() {
        document.getElementById('bg').src="{{ url_for('video_feed')}}";

}
        
   
function stopQuizButton() {
  document.getElementById('bg').alt="{{ url_for('video_feed_stop')}}";
  document.getElementById('bg').src='../static/images/cam.png';

}

        </script>-->

{%endblock%}
        