{%extends "layout.html"%} {%block content%}
<div class="container" height=100% >
        
    
    <div class="skin-blue sidebar-mini">            
        <aside class="main-sidebar" style="margin-top:15px;">
            <!-- sidebar: style can be found in sidebar.less -->            
            <section class="sidebar">                     
              <ul class="sidebar-menu" data-widget="tree">
                  {% for singleClass in distinctClasses %}
                         <li class="treeview">
                           <a href="#">
                             <i class="glyphicon glyphicon-education"></i>
                             <span>Class {{singleClass[0]}}</span>
                             <span class="pull-right-container">
                               <span class="label label-primary pull-right">{{singleClass[1]}}</span>
                             </span>
                           </a>                                                      
                           <ul class="treeview-menu">                            
                              {% for classsection in classSections %}
                                 {% if classsection.class_val==singleClass[0] %}
                             <li><a href="{{ url_for('classCon',class_val=classsection.class_val, section=classsection.section) }}"><i class="fa fa-circle-o"></i> Section {{classsection.section}}</a></li>                              
                              {% endif %}
                             {% endfor %}
                           </ul>                                                      
                         </li>
                         {% endfor %}                
         <ul>                  
        </section>                
            </aside>                
            <!--------------------------------------------------------------------------------------------->
            <div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="row">
                <div class="row">
                <div class="col-xs-8">
                  <div class="box" id="feedbackQuestionDiv">
                    <div class="box-header" >
                      <h3 class="box-title">Feedback questions </h3><span style="padding-left: 10px;">    Class: {{ class_val }} | Section: {{ section }}</span>                              
                    </div>                                           
                    <span id="questionList" style="display: none;">{{ questionList }}</span>
                    <input id="currrent_question_id" style="display: none;">
                    <input id="class_val_ip" style="display: none;" type="text" value="{{class_val}}">
                    <input id="section_ip" style="display: none;"type="text" value="{{section}}">
                    <input id="questionListSize" value="{{ questionListSize }}" style="display: none;" type="text">
                    <div id = "questionSection">        
                      <div id="questionPlaceholder">
                        <br>
                        <br>
                        <br>
                        {% if questionList|length > 0 %}
                      <p style="font-size: 48px;" class="grey-text text-lighten-1">Click Start to load questions</p>
                      <br><br>
                      <h5>To collect feedback please ensure the students have their respective QR code printouts</h5>
                      <br><br><br><br><br><br><br><br>
                    
                      {%else %}
                      <p style="font-size: 48px;" class="grey-text text-lighten-1">No questions under <br><br>the selected topic(s)</p>
                      {% endif %}
                    </div>
                    </div>  
                    <div id="questionButtons">
                     {% if questionList|length > 0 %}
                    <input type="button" value="Start" class="btn btn-primary pull-right" id="startAndNextBTN" style="height: 40px; width: 200px;">              
                     {% endif %}
                    <a id="skipButton" style="display:none;float:right;margin-right:5px;cursor: pointer;">Skip</a> 
                    <input type="button" value="Take Response" class="btn green btn-primary" id="startrecordResponsesBTN" style="height: 40px; display: none; ">  
                      <input type="button" value="Stop" class="btn red lighten-1" id="stopRecordingBTN" style="height: 40px; display: none; ">                                 
                    <input type="button" value="Finish" class="btn btn-primary pull-right" id="submitAndFinishBTN" style="height: 40px; width: 200px;display: none;">
                  </div>
                  </div>
                  <div  class="box" id="feedbackReportDiv" style="display: none;">                  
                  </div>   
                  <a class="btn btn-primary" id="completeClassBTN" href="{{url_for('classCon')}}" style="display: none;">Complete Class</a>
                </div>              
                  <div class="col-md-3" style="margin-top:20px;">
                    <div id="answerCounter" style="overflow-y: auto; height:200px;">
                    <h4>Response Summary</h4> 
                    <div id="errorMsgElement"></div>
                      <div id="ResponseList">                
                        <form id="responseForm">
                          <div id="result_strip">
                          <input type="text" id="RespSessionID" style="display: none;" value="{{resp_session_id}}">
                        <ul class="thumbnails"></ul>
                          </div>
                            <div id="questionListSizeDiv">                      
                           </div>
                        </form>
                      </div>
                    <div id="allResponsesSubmitted" style="display: none;">All Responses Submitted</div>                    
                </div>                
                
                
                <div >                                       
               <div class="video-field" id="video-field">                
               <video id="video" height="300" muted autoplay></video>                     
               <canvas id="piccanvas" width="640" height="480" style="display:none !important"></canvas>
               </div>    
              <!--  <div class="select">
                    <label for="videoSource"></label><select id="videoSource"></select>
                </div>-->                                                       
                  </div>            
                </div>
              </div>
        </div>        
    </section>
</div>
    </div>
        </div>    
        <!--New Div for the updated camera mechanism-->
        <div id="container">            
            <div class="">
                <label for="audioSource"></label><select id="audioSource"></select>
            </div>            
            <!--<canvas id="piccanvas" class="drawingBuffer" style="display:none !important"></canvas>-->
           
            <br clear="all">
        </div>            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
           <!-- <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>                 -->
        </div>
        <link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">
        <script>
          var subject_id = {{subject_id}};
              var questionIDListJS = [];
              {%  for question in questionList%} 
              var quesId =  "{{question.question_id}}";
              console.log('Inside question ID:'+quesId);            
              questionIDListJS.push(quesId);
              {% endfor %}
              var questionListSize = {{ questionListSize }};
              var tempCountVar = 0;
            $("#startrecordResponsesBTN").click(function(){
              $("#skipButton").hide();
            });

            $("#skipButton").click(function(){
              document.getElementById("startAndNextBTN").click();
            });
            
            $("#startAndNextBTN").click(function(){                
              $("#currrent_question_id").val(questionIDListJS[tempCountVar]);  
              console.log('Question Id List:'+questionIDListJS[tempCountVar]);                    
              document.getElementById("result_strip").innerHTML="";
              keepRecording = true;   
                if(tempCountVar<questionListSize){
                $.ajax({
                  url: "/loadQuestion?qnum="+ tempCountVar+"&total="+questionListSize ,
                  type: "get",
                  data: {question_id: questionIDListJS[tempCountVar]},
                  success: function(response) {       
                    $("#questionSection").html(response);                    
                    tempCountVar= tempCountVar+1; 
                    console.log('Question count:'+tempCountVar);
                    console.log('Question List Size:'+questionListSize);               
                    if(tempCountVar==questionListSize){
                      $("#startAndNextBTN").hide();                                            
                      $("#startrecordResponsesBTN").show();  
                      $("#skipButton").show();
                      $("#skipButton").click(function(){
                        document.getElementById("submitAndFinishBTN").click();
                      });                  
                    }
                    else{
                      $("#startAndNextBTN").attr('value','Next');       
                      $("#startAndNextBTN").hide();
                      $("#startrecordResponsesBTN").show();   
                      $("#skipButton").show();
                      
                    }
                  },
                  error: function(xhr) {
                    window.alert("error occurred while loading question");
                  }
                });
              }
              else{
              }
            }); 
            $('#submitAndFinishBTN').click(function(){     
              var class_val = $('#class_val_ip').val();
              console.log('This is the class_val in js: ' + class_val);
              var section = $('#section_ip').val();
              console.log('This is the section: ' + section);
              questionIDListStr  = JSON.stringify(questionIDListJS);     
              var resp_session_id="{{resp_session_id}}";
              console.log('Response session Id:'+resp_session_id);
                $.ajax({
                  url: "/feedbackReport?resp_session_id="+resp_session_id,
                  type: "get",
                  data: "",
                  success: function(response) {
                    if (response!="NA"){
                    $("#feedbackReportDiv").html(response);
                    }
                    else{
                      $("#feedbackReportDiv").html('<span class="grey-text text-lighten-1"> <p style="font-size: 36px;">No feedback data for this session.</p></span>');
                    }    
                    $("#feedbackReportDiv").show(); 
                    $("#feedbackQuestionDiv").hide();
                    $("#video-field").hide();                    
                    $("#ResponseList").hide();                    
                    $("#allResponsesSubmitted").show(); 
                    $("#completeClassBTN").show();                     
                  },
                  error: function(xhr) {
                    window.alert("error occurred while submittig data");
                  }
                });              
            });
            </script>
            <script src="../static/js/qrReader_zbar-main.js"></script>
             <script type="text/javascript" src="../static/js/zbar-processor.js"></script>

{%endblock%}
        