{%extends "layout.html"%} {%block content%}
<div class="container" height=100%>
  <div>
    <section class="content">
      <div class="row">
        <div class="row">
          <div class="col-xs-7">
            <div class="box" id="feedbackQuestionDiv">
              <div class="box-header">
                <span class="">{{testType}}</span>
                
                <span style="padding-left: 10px;"> 
                  {%if batch_test!="1"%}
                  Class: {{ class_val }} |
                  Section: {{ section }} | Subject: {{subjectName}} |{%endif%} Total Marks: {{totalMarks}}</span>                  
              </div>
              <span id="questionList" style="display: none;">{{ questionList }}</span>
              <input id="currrent_question_id" style="display: none;">
              <input id="class_val_ip" style="display: none;" type="text" value="{{class_val}}">
              <input id="section_ip" style="display: none;" type="text" value="{{section}}">
              <input id="questionListSize" value="{{ questionListSize }}" style="display: none;" type="text">
              <div id="questionSection">
                <div id="questionPlaceholder" style="overflow-y: auto;max-height: 400px;">

                  {% if questionListSize > 0 %}                                      
                    <br><br>
                    <table class="table table-bordered table-responsive-md table-striped text-center" style="margin-top: -38px;">
                      <thead>
                        <tr>
                          <th scope="col" style="text-align:left;padding-left:20px;">Question</th>
                          <th scope="col" style="text-align:left;padding-left:20px;">Type</th>
                          <th scope="col" style="text-align:left;padding-left:20px;">Weightage</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for question in questions %}
                        <tr>
                          <td style="text-align:left;padding-left:20px;">
                            {% if question.question_type=='MCQ1' %}
                            <ul>
                              <li> 
                                <div><a href="#modal2" name="{{ question.question_id }}"
                                    class="waves-effect waves-light modal-trigger questionData">{{ question.question_description }}</a>
                                </div>
                                <!-- Modal Structure  -->
                                <div id="modal2" class="modal" style="background-color:white;">
                                  <div id="questionloader1" style="display: none;">
                                    <img src="../static/images/loader.gif">
                                  </div>
                                  <div class="modal-content" id="content" style="display:none;">
                                    <p>
                                      <div id="questionDataList"></div>
                                    </p>

                                  </div>
                                </div>
                              </li>
                            </ul>
                            {% else %}
                            <h5>
                              {{ question.question_description }}
                            </h5>
                            {% endif %}

                          </td>
                          <td style="text-align:left;padding-left:20px;"> {{ question.question_type }} </td>
                          <td  style="text-align:left;padding-left:20px;">
                            {% if weightage %}
                            {{ weightage }}<input type="hidden"
                              value="{{ weightage }}" id="{{ question.question_id }}select">
                            {% else %}
                            {{ question.suggested_weightage }}<input type="hidden"
                            value="{{ question.suggested_weightage }}" id="{{ question.question_id }}select">
                            {% endif %}
                            </td>

                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                    <!-- <input value="See Test Report" class="btn green pull-right" id="seeTestReport" type="button" style="height: 40px; width: 200px;"> -->
                    {%else %}
                    <div class='section'>
                    <p style="font-size: 48px;" class="grey-text text-lighten-1">No questions found for this test</p>
                  </div>
                    {% endif %}
                    
                </div>
                <input value="See Test Report" class="btn green pull-right" id="seeTestReport" type="button" style="height: 40px; width: 200px;">
              </div>
              <div id="questionButtons">
          
              </div>
            </div>
            <div class="box" id="feedbackReportDiv" style="display: none;">
            </div>
            <input class="btn btn-primary left" id="backToQuestions" 
              style="height: 40px; width: 200px;display: none;" type="button" value="Back">
              <input class="btn green pull-right" id="refreshReport" 
              style="height: 40px; width: 200px;display: none;" type="button" value="Refresh">
              <div id='loaderDiv'style='display: none; float: right;'>
                  <img src='../static/images/spinner.gif' width='25px' height='25px'>
                  </div>
          </div>
          {% if questionListSize > 0 %} 
          <div class="col-xs-3" style="margin-top:20px;">   
            {%if batch_test!="1"%}
            <div id="answerCounter" >
              <h4 style="margin-left:30px;">To write this test</h4>
              <ol>
                <li>
                  Logon to this URL: 
                  <span class="urlBox">
                  <a href="{{url_for('classPerformance')}}" target="_blank">{{url_for('feedbackCollectionStudDev',resp_session_id=resp_session_id,school_id=school_id,uploadStatus=uploadStatus,resultStatus=resultStatus,advance=advance, _external=True)}}</a> </li>
                  </span><br>
                  <a style="margin-bottom:10px;" class="waves-effect waves-light btn modal-trigger" href="#modal4" class="btn cyan"><span>Share url</span> </a>  
                <li>
                  <p>Scan the QR : <br>
                  </p>
                </li>
              </ol><br>
              <div id='qrIMGDiv' class='center' style="margin-left:40px;" ><img class="materialboxed" src={{responseSessionIDQRCode}}></div>
              <div class="divider"></div>                            
            </div>
            <div>
            </div>
            {%else%}
            <div class=""
                style="background-color: rgb(248, 248, 231);border-radius: 25px;border: 2px solid rgb(226, 223, 223);padding: 10px; ">
                <ul style="margin-left: 20px;margin-top:10px;font-size:medium">
                  <li style="list-style-type: initial;">You may ask the students to start test by clicking on the <span class="blue-text">Take Quiz</span> button on their screens now.</li>
            <!--Test ID: <span style="font-size: 14px;">{{resp_session_id}}</span>-->
            <br>
            <li style="list-style-type: initial;">Click on 'See Test Report' button to check test progress and summary.</li>
            </ul>
            </div>
            {%endif%}
          </div>
{%endif%}

        </div>
      </div>
    </section>
  </div>
</div>
<div id="modal4" class="modal" style="width: 350px;height: 198px;">
    <div class="modal-content" style="height: 140px;text-align: center;">
      <h4>Share</h4>
      <div class="row">
        <h5 class='grey-text'>Share Page</h5>
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{url_for('feedbackCollectionStudDev',resp_session_id=resp_session_id,school_id=school_id,uploadStatus=uploadStatus,resultStatus=resultStatus, _external=True)}}" style="margin-left: 100px;">
            <a class="a2a_button_facebook modal-close"></a>
            <a class="a2a_button_whatsapp modal-close"></a>
            <a class="a2a_button_sms modal-close"></a>
            <a class="a2a_button_google_gmail modal-close"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">

<script>

$("#backToQuestions").click(function(){          
          $("#feedbackQuestionDiv").show();
          $("#feedbackReportDiv").hide();         
          $("#backToQuestions").hide(); 
          $("#refreshReport").hide();           
});

$("#refreshReport").click(function(){
  document.getElementById("seeTestReport").click();
});
  resp_sessId = "{{resp_session_id}}"; 
      console.log('Resp_session_id:'+resp_sessId);  
      var obj = JSON.parse('{ "resp_sessId":"{{resp_session_id}}"}'); 
  $("#seeTestReport").click(function () {
      $.ajax({
        url: "/feedbackReport?resp_session_id=" +obj.resp_sessId,
        type: "get",
        data: '',   
        beforeSend: function() {                           
                            $("#loaderDiv").show();
                        },
        success: function (response) {
          $("#feedbackReportDiv").html(response);
          $("#feedbackQuestionDiv").hide();
          $("#feedbackReportDiv").show();         
          $("#backToQuestions").show();         
          $("#refreshReport").show();   
          $("#loaderDiv").hide();      
          
        },
        error: function (xhr) {
          window.alert("error occurred while loading report");
        }
      });    
  });
</script>
<script>
  $(document).ready(function () {
    $('.modal').modal();
  });
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
  $('.questionData').click(function () {
    $('#questionloader1').show();
    $('#modal2').hide();
    $('#content').hide();
    $('#questionDataList').html('');
    (function () {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src =
      "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"; // use the location of your MathJax

      var config = 'MathJax.Hub.Config({' +
        'extensions: ["tex2jax.js"],' +
        'jax: ["input/TeX","output/HTML-CSS"]' +
        '});' +
        'MathJax.Hub.Startup.onload();';


      if (window.opera) {
        script.innerHTML = config
      } else {
        script.text = config
      }

      document.getElementsByTagName("head")[0].appendChild(script);
      MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    })();
    var question_id = $(this).attr('name');
    console.log('Inside questionData');
    var data = "";
    $.ajax({
      url: "/questionAllDetails?question_id=" + question_id,
      type: "get",
      data: data,
      success: function (response) {
        $('#questionloader1').hide();
        $('#modal2').show();
        $('#content').show();
        $('#questionDataList').html(response);
      }
    })
  });
</script>



{%endblock%}