 {%extends "layout.html"%} {%block content%}
<div class="container">
    
    <!-- Editable table -->

    <!-- left sidenav Menu for classes -->
    <div class="hold-transition skin-blue sidebar-mini">
    <div id="sidebarDiv">
      <div class="main-sidebar" style="margin-top:15px;">
        <section class="sidebar">
          <ul class="sidebar-menu table-responsive" data-widget="tree">
            {% for singleClass in distinctClasses %}
            <li class="treeview">

              <a href="#">
                <i class="glyphicon glyphicon-education"></i>
                <span>Class {{singleClass[0]}}</span>
                <span class="pull-right-container">
                  <span class="label label-primary pull-right">{{singleClass[2]}}</span>
                </span>
              </a>
              <ul class="treeview-menu">
                {% for classsection in classsections %}
                {% if classsection.class_val|string == singleClass[0]|string %}
                <li><a
                    href="{{ url_for('feeManagement',class_val=classsection.class_val, section=classsection.section) }}"><i
                      class="fa fa-circle-o"></i> Section {{classsection.section}}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
        </section>
        <!-- /.sidebar -->
      </div>
    </div>
    </div>
    <!-- End -->
    <div class="content-wrapper" style="background-color: white;">
      <h3> Fee Management</h3>
      <div class="row"  id="summaryDiv">
          <div class="box-header">
            <h3 class="box-title">Class Summary</h3><span style="padding-left: 10px;"> Class: {{qclass_val}} |
              Section: {{qsection}}</span>
          </div>
        </div>
      <div class="row">
        <h4 class="grey-text" style="margin-left:15px;">Choose Month and Year</h4>
        <div class="input-field col-md-3">
            <select id="addMonthSelect" class="selection">
                <option value="" disabled selected>Select Month</option>
            </select>
        </div>
        <div class="input-field col-md-3">
            <select id="addYearSelect" class="selection">
                <option value="" disabled selected>Select Year</option>
            </select>
        </div>
      </div>
      

      <!-- Start Summary Box -->
      <div class="card" id="boxDiv" style="display: none;">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4" style="margin-left: 400px;">Summary Box</h3>
        <div class="card-body">
          <div id="summaryBoxDiv" class="table-editable">
            
          </div>
        </div>
      </div>
      <div id="summaryloader" style="margin-left:160px;display: none;">
        <img src="../static/images/smallLoader.gif" style="height: 150px;">
    </div>
      <!-- End Summary Box -->
      <div class="row">
        <button data-target="modal1" style="display: none;float:right;margin-right:15px;" class="btn modal-trigger waves-light green lighten-1 white-text" type="button" id="configure"><a href="javascript:void(0);" style="color: white;">Configure</a></button>
      </div>
      <!-- Modal structure -->
      <div id="modal1" class="modal" style="height:160px;width: 330px;">
        <div class="modal-content" style="height:156px;">
          <h4>Set Fee for Class: {{qclass_val}} | Section: {{qsection}}  </h4>
          
          <input type="text" id="fee" placeholder="Enter Total Fee" style="width:150px;">
          <button style="margin-left: 22px;" class="btn waves-light green lighten-1 white-text" type="button" id="Set"><a href="javascript:void(0);" style="color: white;">Set</a></button>
        </div>
        <!-- <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div> -->
      </div>
      <!-- End -->
    

<div class="card" id="feeDiv" style="display: none;">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4" style="margin-left:410px;">Fee status</h3>
    <div class="card-body">
      <div id="feeStatusDiv" class="table-editable" style="position: relative;height: 400px;overflow-y: auto;">
        <!--<span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success">
            <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
        </a>
    </span>-->
        
      </div>
    </div>
  </div>
  <br>
  <a href="#" id="saveFeeDataBTN" class="btn green right" style="color: white;display: none;">Save Fee Data</a>
  <br><br>
  <div id="feeStatusloader" style="margin-left:160px;display: none;">
    <img src="../static/images/smallLoader.gif" style="height: 150px;">
</div>
  <!-- Editable table -->
</div>
</div>
<link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">
<script>


$(document).ready(function(){
    $('.modal').modal();
  });

$(document).ready(function () {
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        var qntYears = 4;
        var selectYear = $("#addYearSelect");
        var selectMonth = $("#addMonthSelect");
        var currentYear = new Date().getFullYear();

        for (var y = 0; y < qntYears; y++) {
            let date = new Date(currentYear);
            var yearElem = document.createElement("option");
            yearElem.value = currentYear;
            yearElem.textContent = currentYear;
            selectYear.append(yearElem);
            currentYear--;
        }

        for (var m = 0; m < 12; m++) {
            let monthNum = new Date(2018, m).getMonth()
            let month = monthNames[monthNum];
            var monthElem = document.createElement("option");
            monthElem.value = parseInt(monthNum) + 1;
            monthElem.textContent = month;
            selectMonth.append(monthElem);
        }

        $('.tabs').tabs();
        $('select').formSelect();
    });

    var selectYear = document.getElementById('addYearSelect')
    selectYear.onchange = function(){
      $('#summaryBoxDiv').html('');
      var monthSelectCheck = $('#addMonthSelect').val();
      var yearSelectCheck = $('#addYearSelect').val();
      var class_val = "{{qclass_val}}";
      var section = "{{qsection}}";
      if (monthSelectCheck != null && yearSelectCheck != null) {
        $('#boxDiv').hide();
        $('#summaryloader').show();
        
        var data = "";
        $.ajax({
                url: "/feeMonthData?month=" + monthSelectCheck + "&year=" + yearSelectCheck+"&class_val="+class_val+"&section="+section,
                type: "get",
                data: data,
                success: function (response) {
                    $('#summaryloader').hide();
                    
                    $("#summaryBoxDiv").html(response);
                    $('#boxDiv').show();
                    $('#configure').show();
                    
                    console.log('Fetched fee data from server')
                },
                error: function (xhr) {
                    $('#summaryloader').hide();
                    window.alert("error occurred while submitting data");
                }
            });

            // fee Status table
            $('#feeDiv').hide();
        $('#feeStatusloader').show();
        
        var data = "";
        $.ajax({
                url: "/feeStatusDetail?month=" + monthSelectCheck + "&year=" + yearSelectCheck+"&class_val="+class_val+"&section="+section,
                type: "get",
                data: data,
                success: function (response) {
                    
                    $('#feeStatusloader').hide();
                    $('#saveFeeDataBTN').show();
                    $("#feeStatusDiv").html(response);
                    $('#feeDiv').show();
                    console.log('Fetched fee data from server')
                    var amt = $('.tt_amt').val();
                    console.log('Total amount:'+amt);
                    if(amt!=''||amt!=None){
                      console.log(amt);
                      $('#configure').prop('disabled','true');
                    }else{

                      $('#configure').prop('disabled','false');
                    }
                },
                error: function (xhr) {
                    $('#feeStatusloader').hide();
                    window.alert("error occurred while submitting data");
                }
            });

            // End
      }else{
        $('#boxDiv').hide();
        $('#feeDiv').hide();
      }
    };

    $('#Set').click(function(){
      var total_fee = $('#fee').val();
      alert(total_fee);
      $('.total_amount').html(total_fee);
    });

</script>
{%endblock%}