{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="container">
        {% if students %}
        
        {% for student in students %}
        
        <div class="container z-depth-1">                                        
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-5">
                        
                        <h3><span>{{student.student}} </span></h3>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-5">
                        <h4>School Name : <span style="font-size: 20px;">{{student.school}}</span></h4>
                    </div>
                    <div class="col-sm-2">
                        <h4>Class : <span style="font-size: 20px;">{{student.class}} <sup>th</sup></span></h4>
                    </div>
                    
                    <div class="col-sm-2">
                        <h4>Section : <span style="font-size: 20px;">{{student.section}} </span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        
                        {% if  student.marks%}
                        {% if student.marks > 49 %}
                        <h4>Overallmarks %age : <span class="text-green" style="font-size: 20px;">{{student.marks}}%</span></h4>
                        {% else %}
                        <h4>Overallmarks %age : <span class="text-red" style="font-size: 20px;">{{student.marks}}%</span></h4>
                         {% endif %} 
                         {% else %}
                         <h4>Overallmarks %age :  <span class="text-green" style="font-size: 20px;">NA</span></h4>
                         {% endif %}
                    </div>
                    
                    <div class="col-sm-6">
                        
                        <h4 >Strengths:
                        {% if student.subjects %}
                        
                        <span class="text-green" style="font-size: 20px;">{{student.subjects}}</span>
                        {% else  %}
                        <span class="text-green"><span style="font-size: 20px;">NA</span></span></h4>
                        {% endif %}
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{url_for('studentProfile',student_id=student.student_id)}}" target="_blank">
                            <p><button class="btn waves-light green lighten-1 white-text" onclick="">Profile Details</button></p>
                        </a>
                    </div>                    
                </div>                
            </div>
            <div class="col-sm-3">
                <div class="profile_pic" style="margin-top: 20px;">
                {% if student.pic=='' %}
                <img src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png" class="circle responsive-img" style="width: 130px; height: 130px;">
                {% else %}
                <img src="{{student.pic}}" class="circle responsive-img" style="width:130px; height:130px;">
                {% endif %}
                </div>
            </div>                                
        </div>
        <br><br>
        
        {% endfor %}
        {% else %}
        <div><h3 class="grey-text">No Students Associated with this guardian</h3></div>
        {% endif %}
    </div>
   </div> 
    {% endblock %}