{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="hold-transition skin-blue sidebar-mini">  
        <div id="sidebarDiv" >   
            <div class="main-sidebar" style="margin-top:15px;">
                <section class="sidebar">                     
                      <ul class="sidebar-menu table-responsive" data-widget="tree">
                          {% for singleClass in distinctClasses %}
                                 <li class="treeview">
                                   
                                   <a href="#">
                                    <i class="glyphicon glyphicon-education"></i>
                                    <span>Class {{singleClass[0]}}</span>
                                    <span class="pull-right-container">
                                      <span class="label label-primary pull-right">{{singleClass[2]}}</span>
                                    </span>
                                  </a>                                                    
                                   <ul class="treeview-menu">                            
                                      {% for classsection in classSections %}
                                         {% if classsection.class_val|string == singleClass[0]|string %}
                                     <li><a href="{{ url_for('HomeWork',class_val=classsection.class_val, section=classsection.section) }}"><i class="fa fa-circle-o"></i> Section {{classsection.section}}</a></li>                              
                                      {% endif %}
                                     {% endfor %}
                                   </ul>                                                      
                                 </li>
                                 {% endfor %}                
                 <ul>                  
                </section>
                <!-- /.sidebar -->
            </div>
        </div>
    <div class="content-wrapper" style="background-color: white;">
    <section class="content">
        <div class="box-header">
            <h3 class="box-title">HomeWork</h3><span style="padding-left: 10px;">    Class: {{qclass_val}} | Section: {{qsection}}</span>        
          </div>
    <form action="" method="POST" enctype="multipart/form-data">
        <div>
            <div id="surveyBox" name="surveyBox">
            </div>
            <!--<p><input type='button' id="addSurveyBTN" style="width:150px; height:40px; margin-top:10px;"
                    class="btn green right" onclick="addSurvey();" value="Create New Survey"></p>-->
            <a href="#createModal1" id="addSurveyBTN" class="modal-trigger btn green right">Add HomeWork</a>
            <br>
        </div>
        <div id="buttonbox" style="display:none;">
            <p><button class="btn waves-light green lighten-1 white-text"
                    style="margin-top: 5px; margin-top:5px; margin-left:550px;" type="submit" id="submit" name="submit"
                    value="submit">Confirm</button></p>
        </div>
    </form>
    <br>
    <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#teacherRowsDiv">HomeWork</a></li>
        <!--<li class="tab col s3"><a href="#newPayrollDiv">Payroll Data</a></li>-->
        <!--<li class="tab col s3"><a href="#payrollReport">Report</a></li>-->
    </ul>
    <br>

    <div id="surveyRowsDiv">
        <table class="highlight" id="surveyTable">
            <thead>              
                <th>HomeWork</th>
                <th>Student Responses</th>
                <th>Question Count</th>
                <th>Created On</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {%for homeworkRow in homeworkDetailRow%}
                <tr id="{{homeworkRow.homework_id}}">         
                    <td>
                        {% if 'http' in homeworkRow.homework_name  %}
                        <a href="{{homeworkRow.homework_name}}">{{homeworkRow.homework_name}}</a>
                        {% else %}
                        {{homeworkRow.homework_name}}
                        {% endif %}

                    </td>
                    <td>{{homeworkRow.student_responses}}</td>
                    <td>{{homeworkRow.question_count}}</td>
                    <td>{{homeworkRow.last_modified_date.strftime('%d %B %Y')}}</td>
                    <td><a title="Delete Need" name="{{homeworkRow.homework_id}}" href="#" class=" btn-floating btn-small orange deleteBTNClass">
                        <i class="material-icons small">delete</i></a>
                </tr>
                {%endfor%}
            </tbody>
        </table>

        <br><br>
    </div>
</section>
</div>
</div>
</div>

<div id="displaySurveyModal" class="modal" style="background-color: white;padding-top: 20px;">
    <div class="modal-content" style="height:100%">
        </div>
</div>

<div id="createModal1" class="modal" style="background-color: white;padding-top: 20px;">
    <div class="modal-content" style="height:100%">
        <form id="addSurveyForm">
            <input type="text" style="font-size:xx-large" name='homeworkName' id="surveyName" placeholder="HomeWork Name" required>
            <input type="hidden" name="class" value="{{qclass_val}}"/>
            <input type="hidden" name="section" value="{{qsection}}"/>
            <h4 class="grey-text">HomeWork Questions</h4>
            <div id="questionDiv" style="max-width: 80%;"></div>
            <a href="#" id="addQuestionBTN">
                <i class="material-icons" class="green center">add_circle</i> 
                <span style="font-size: large;">Add Question</span></a>
            <br><br> 
            <label>Content Type:</label><br>
            <label><input class="with-gap" id="contentTypeId" name="contentChoice" type="radio" value="1" onclick="contentOption(this);"><span style="margin-right: 10px;"><label style="margin-left: -10px;">Image</label></span>
            <label><input class="with-gap" id="contentTypeId" name="contentChoice" type="radio" value="2" onclick="contentOption(this);"><span style="margin-right: 10px;"><label style="margin-left: -10px;">Document</label></span>
            <label><input class="with-gap" id="contentTypeId" name="contentChoice" type="radio" value="3" onclick="contentOption(this);"><span style="margin-right: 10px;"><label style="margin-left: -10px;">Video</label></span>
            <label><input class="with-gap" id="contentTypeId" name="contentChoice" type="radio" value="4" onclick="contentOption(this);"><span style="margin-right: 10px;"><label style="margin-left: -10px;">Audio</label></span>
            <input type="hidden" id="contentType" name="contentType" value="">
            <div id="uploadContent" style="display: none;">
                <div style="display:flex;"><input type="file" style="height: 25px;width: 200px;" id="file-input"><a href="#" id="uploadBtn" onclick="uploadBtn();" style="float: right;">Upload</a></div><br><label style="margin-left: 111px;">OR</label>
                <span id="message" style="color:Red;display: none;float:left;font-size: 11px;margin-top: -15px;">*please choose file</span>
                <div style="display: flex;"><label>URL</label><input type="text" onChange="previewUrl(this.value);" id="contentUrl" name="contentName" placeholder="paste your content url here.." style="width: 200px;margin-left: 10px;margin-top:-8px;"></div>
                <input type="hidden" id="reference" name="reference" value="">
              </div>
            <div>
                <a href="#" id="addSurveyDataBTN" class="btn green right">Create HomeWork</a>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
    var clicks = 0;
    $('#addQuestionBTN').click(function () {
        clicks=clicks+1;        
        $('#questionDiv').append('<input type="text" name="questionInput" placeholder="Add Question">');
    });

    function contentOption(contentType){
      document.getElementById('contentType').value=contentType.value;
      console.log('Insert option');
      $("#uploadContent").show();
    }

 
$('#addSurveyDataBTN').click(function($e){
    $e.preventDefault();
    var form = $('#addSurveyForm'); 
    var surveyName = $('#surveyName').val();   
    $.ajax({
            url: "/addNewHomeWork",
            type: "POST",
            data: form.serialize(),
            success: function (formResponse) {        
                if (formResponse=='0'){     
                    $('#questionDiv').html('');                  
                    $("#surveyTable tbody").append( 
                    '<tr>'+   
                    '<td>'+surveyName+'</td>'+
                    '<td>0</td>'+
                    '<td>'+clicks+'</td>'+
                    '<td>Now</td>'+
                    '<td>-</td>'+
                     '</tr>'
                );                
                $('#remark').val('');
                M.toast({html: '<h4>New HomeWork Created</h4>'});
                var elem = $('#createModal1')
                var instance = M.Modal.getInstance(elem);                   
                instance.close();
                clicks = 0;
            }
            else{
                window.alert("Error");
            }
            },
            error: function (xhr) {
                window.alert("Error while creating homework");
            }
        });       
});   

$('.deleteBTNClass').click(function () {
            var survey_id = $(this).attr("name");
            $.ajax({
                url: "/archiveHomeWork?homework_id="+survey_id,
                type: "get",
                data: '',
                success: function (archiveResponse) {
                    if (archiveResponse=='0'){
                        var surveyWithHash = '#'+survey_id;
                        $(surveyWithHash).remove();
                        M.toast({html: '<h4>HomeWork deleted!</h4>'})
                    }
                    else{
                        M.toast({html: '<h4>Error deleting homework!</h4>'})
                    }                 
                }
            })
        });
</script>
{% endblock %}