{%extends "layout.html"%} {%block content%}
<div class="container">
  <br /><br /><br /><br /><br />
  <h4>The school is currently in review</h4>
  <h5>The review and payment gateway setup takes about 48 hours</h5>
  <p>
    In case you have any queries or concerns, kindly email us on
    <b>contact@alllearn.in</b> and we'll get back asap
  </p>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <span style="font-size: 10px"
    >In the meantime
    <a
      target="_blank"
      href="https://js13kgames.com/games/offline-paradise/index.html"
      >here's something</a
    >
    to help with the waiting</span
  >
</div>
<script></script>
{%endblock%}
