{%extends "layout.html"%} {%block content%}
<div class="container">
  <br /><br /><br /><br /><br />
  <h4>The school is currently in review</h4>
  <h5>
    We will be reaching out to you in the next two days to verify and setup your
    account.
  </h5>
  <p>
    In case you have any queries or concerns, kindly email us on
    <b>contact@alllearn.in</b> and we'll response back asap
  </p>
  <br /><br />
  <!-- <br /><br /><br /> -->
  <!-- In hindi Text -->
  <h4>आल लर्न में अपनी पाठशाला को रेजिस्टर करने के लिए धन्यवाद।</h4>
  <h5>
    अभी आपका अकाउंट सेटअप किया जा रहा है। हम अगले दो दिनों के भीतर आपसे संपर्क
    करेंगे।
  </h5>
  <p>
    इस दौरान आप अपने सवाल हमें
    <b>contact@alllearn.in</b> पर भेज सकते हैं और हम जल्द से जल्द उनका जवाब
    देंगे।
  </p>
  <!-- End -->
  <br /><br /><br /><br /><br />
  <!-- <br /><br /><br /><br /><br /><br /><br /> -->
  <span style="font-size: 10px"
    >In the meantime
    <a
      target="_blank"
      href="https://js13kgames.com/games/offline-paradise/index.html"
      >here's something</a
    >
    to help with the waiting</span
  >
</div>
<script></script>
{%endblock%}
