{%extends "layout.html"%} {%block content%}
<div class="container">
  <br /><br /><br /><br /><br />
  <h4>The school is currently in review</h4>
  <h5>
    We will be reaching out to you in the next two days to verify and setup your
    account.
  </h5>
  <p>
    In case you have any queries or concerns, kindly email us on
    <b>contact@alllearn.in</b> and we'll get back asap
  </p>
  <br /><br />
  <!-- <br /><br /><br /> -->
  <!-- In hindi Text -->
  <h4>स्कूल वर्तमान में समीक्षा में है</h4>
  <h5>
    हम आपके खाते का सत्यापन और सेटअप करने के लिए अगले दो दिनों में आपके पास
    पहुंचेंगे।
  </h5>
  <p>
    यदि आपके पास कोई प्रश्न या चिंता है, तो कृपया हमें ईमेल करें
    <b>contact@alllearn.in</b> और हम जल्द से जल्द वापस आ जाएंगे
  </p>
  <!-- End -->
  <br /><br /><br /><br /><br />
  <!-- <br /><br /><br /><br /><br /><br /><br /> -->
  <span style="font-size: 10px"
    >In the meantime
    <a
      target="_blank"
      href="https://js13kgames.com/games/offline-paradise/index.html"
      >here's something</a
    >
    to help with the waiting</span
  >
</div>
<script></script>
{%endblock%}
