{%extends "layout.html"%} {%block content%}
<div class="container">
  <div class="skin-blue sidebar-mini">
    <aside class="main-sidebar">
      
      <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
          <li class="treeview menu-open" style="padding: 10px;">            
                <i class="glyphicon glyphicon-education"></i>
              <span style='font-size:15px'><a href="{{url_for('leaderBoard')}}" >All</a></span>
            </a>
          </li>
          {% for singleClass in distinctClasses %}
          <li class="treeview" style="padding: 10px;">
            
              <i class="glyphicon glyphicon-education"></i>
              <span style='font-size: 15px;'><a href="{{url_for('leaderBoard', class_val=singleClass[0])}}"  name="{{singleClass[0]}}">Class {{singleClass[0]}}</a></span>
              <span class="pull-right-container">
                <span class="label label-primary pull-right">{{singleClass[1]}}</span>
              </span>            
          </li>
          {% endfor %}
          <ul>
      </section>
    </aside>
  </div>

  <div class="content-wrapper" style="background-color: white;">
  <div class="box">
    <div class="box-header">
      {% if qclass_val!=None %}
        <h3 class="box-title">Leaderboard for</h3> <span style="padding-left: 10px;font-size: 16px;padding-top: 20px;font-size: 19px;"> Class: {{qclass_val}}<span id="classNo">
      {% else %}
        <h3 class="box-title">Leaderboard for</h3> <span style="padding-left: 10px;font-size: 16px;padding-top: 20px;font-size: 19px;"> Class: All<span id="classNo">
      {% endif %}
        </span></span>
    </div>
    <div class="input-field col s6" style="width: 50%;">
        <select id="subjects" multiple>
          <option value="" disabled selected> Select Subjects</option>
          {% for sub in subject %}
          <option value="{{sub.msg_id}}">{{sub.description}}</option>
          {% endfor %}
        </select>
        <label>Select Subjects</label>
      </div>
    <form action="" method="POST" enctype="multipart/form-data" style="margin-left: 30px;">
      {{ form.hidden_tag() }}
      <div class="form-group ">
        <div class="row" id="classDetailsDiv">
          <div class="col-sm-2" style="width: 200px;display: none;">
            <div>
                {{ form.subject_name.label(class='labelsize') }}
                <div id='loaderSubject' style='display: none; float: right;'>
                    <img src='../static/images/spinner.gif' width='25px' height='25px'>
                </div>
                <br>
                {% if form.subject_name.errors %}
                {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.subject_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.subject_name(class='form-control') }}
                {% endif %}
            </div>
        </div>
    <div class="row">
        <div id="admin" class="col s12">
          <div class="card material-table" id="firstTable">
            <div class="table-header">
              <span class="table-title" style="display: flex;">
                  
              </span>
              <div class="actions">
                <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
              </div>
            </div>
            <table id="datatable">
              <thead>
                <tr>
                    <th style="font-size: 15px;width:180px;" id="st">Student</th>
                    <th style="font-size: 15px;width:120px;">Class</th>
                     <th style="font-size: 15px;width:120px;">Section</th>
                     <th style="font-size: 15px;width:120px;" id="marks">Total Marks %</th>
                     <th style="font-size: 15px;width:120px;">Total Tests</th>
                     <th style="font-size: 15px;width:120px;">Maths%</th>
                     <th style="font-size: 15px;width:120px;">Tests(Maths)</th>
                     <th style="font-size: 15px;width:120px;">Science%</th>
                     <th style="font-size: 15px;width:120px;">Tests(Sci.)</th>
                     <th style="font-size: 15px;width:120px;">Social Science%</th>
                     <th style="font-size: 15px;width:120px;">Tests(S.St.)</th>
                     <th style="font-size: 15px;width:120px;">History%</th>
                     <th style="font-size: 15px;width:120px;">Tests(His.)</th>
                     <th style="font-size: 15px;width:120px;">Geography%</th>
                     <th style="font-size: 15px;width:120px;">Tests(Geog.)</th>
                     <th style="font-size: 15px;width:120px;">Civics%</th>
                     <th style="font-size: 15px;width:120px;">Tests(Civ.)</th>
                     <th style="font-size: 15px;width:120px;">Economics%</th>
                     <th style="font-size: 15px;width:120px;">Tests(Eco.)</th>
                     <th style="font-size: 15px;width:120px;">Hindi%</th>
                     <th style="font-size: 15px;width:120px;">Tests(Hindi)</th>
                     <th style="font-size: 15px;width:120px;">English%</th>
                     <th style="font-size: 15px;width:120px;">Tests(Eng.)</th>
                     <th style="font-size: 15px;width:120px;" id="evs">EVS%</th> 
                     <th style="font-size: 15px;width:120px;" id="tests">Tests(EVS)</th>               
                </tr>
              </thead>
              <tbody>
                  <!-- {% if leaderBoardData %}  
                  {% for eachRow in leaderBoardData%}
                <tr style="height: 60px;">
                    {% if profile_pic %}
                    <td style="text-align: center;width:250px;"><img src="../static/images/alllearnImageWatermark.png" height="50" width="50"><span style="text-align: center;font-size: 14px;"> 
                     <a href="{{url_for('studentProfile',student_id=eachRow.studentid)}}" target="_blank"> {{eachRow.student_name}}</a>
                    </span></td>    
                    {% else %} 
                    <td style="width: 250px;">
                      <img src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png" height="50" width="50">     
                      <span style="text-align: center;font-size: 14px;"> 
                          <a href="{{url_for('studentProfile',student_id=eachRow.studentid)}}" target="_blank"> {{eachRow.student_name}}</a>
                      </span>
                    </td>    
                    {% endif %} 
                    <td style="font-size: 15px;">{{eachRow.class}}</td>
                    <td style="font-size: 15px;">{{eachRow.section}}</td>
                    <td style="font-size: 15px;">{{eachRow.marks}}</td> 
                    <td style="font-size: 15px;">{% set total = 0 %}{% set total = eachRow.mathematics_test_count+eachRow.evs_test_count+eachRow.english_test_count+eachRow.hindi_test_count+eachRow.economics_test_count+eachRow.civics_test_count+eachRow.geography_test_count+eachRow.history_test_count+eachRow.science_test_count+eachRow.social_science_test_count %}{{total}}</td>
                    {% if eachRow.mathematics_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.mathematics}}</td>
                    <td style="font-size: 15px;">{{eachRow.mathematics_test_count}}</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.science_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.science}}</td>
                    <td style="font-size: 15px;">{{eachRow.science_test_count}}</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.social_science_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.social_science}}</td>
                    <td style="font-size: 15px;">{{eachRow.social_science_test_count}}</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.history_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.history}}</td>
                    <td style="font-size: 15px;">{{eachRow.history_test_count}}</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.geography_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.geography}}</td>
                    <td style="font-size: 15px;">{{eachRow.geography_test_count}}</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.civics_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.civics}}</td>
                    <td style="font-size: 15px;">{{eachRow.civics_test_count}}</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.economics_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.economics}}</td>
                    <td style="font-size: 15px;">
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.hindi_test_count != 0%}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.english_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.english}}</td>
                    <td style="font-size: 15px;">{{eachRow.english_test_count}}</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                    {% if eachRow.evs_test_count != 0%}
                    <td style="font-size: 15px;">{{eachRow.evs}}</td>
                    <td style="font-size: 15px;">{{eachRow.evs_test_count}}</td>
                    {% else %}
                    <td style="font-size: 15px;">(No Test)</td>
                    <td style="font-size: 15px;">(No Test)</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="14"><span class="grey-text text-lighten-1"><p style="font-size: 15px;text-align: center;">No data found</p></span></td>
                  </tr>
                    {% endif %} -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      </form>
  </div>
    <div class="tableDynamic">
    <div id="dynamicDataTable">
        
    </div>
    <div id="loader" style="display: none;padding-left: 300px;padding-top: 150px;padding-bottom: 250px;">
        <img src="../static/images/loader.gif">
    </div>
  </div>
  </div>

</div>
<link rel="stylesheet" href="../static/css/skins/_all-skins.min.css">
<script>
$(document).ready(function(){
  document.getElementById("marks").width="120px";
$('#datatable').dataTable( {
    "order": [ 3, 'desc' ]
} );
$("TH").css("width",120);
$("#st").css("width",180);
$("#evs").css("width",160);
$("#tests").css("width",100);
// $("#st").removeClass("sorting_asc");
});



  $(document).ready(function(){
    $('select').formSelect();
  });

  subject = document.getElementById('subjects');

  subject.click(function(){
    console.log('Inside Ready');
$('#subjects').onchange=function(){
  console.log('Inside Each function');
 thevalue += $(this).val() + ",";
 console.log('Values:'+thevalue);
//your code here
};

});
$('#subjects').click(function(){
function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      result.push(opt.value || opt.text);
    }
  }
  return result;
}
var el = document.getElementsByTagName('select')[0];
  alert(getSelectValues(el));
});
</script>

{% endblock %}