{% extends "layout.html" %} {% block content %}
<div class="container" style="text-align: center;">
    <div class='row ' style="display: inline-block; ">
        
        <div class='input-field col s12' style="text-align: left;">
<h2 style="color:Green">Sign In</h2>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}
        <br> {{ form.email(size=64) }} {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}
        <br> {{ form.password(size=32) }} {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
        <p>
            <label>
                <input id="remember_me" name="remember_me" type="checkbox">
                <span>Remember Me</span>
            </label>
        </p>    
    
    <p> <button class="btn-large waves-effect waves-light green white-text" type="submit">Sign In</button></p>
</form>
<p>
        <a href="{{ url_for('reset_password_request') }}">Forgot Your Password?</a>
    </p>
<p>New User?
    <a  class="btn cyan " href="{{ url_for('register') }}">Click to Sign Up!</a>
</p>

</div>
</div></div>
{% endblock %}