{% extends "layout.html" %} {% block content %}
<div class="container" style="text-align: center;">
    <div class='row ' style="display: inline-block; ">

        <div class='input-field col s12 z-depth-1 hoverable'
            style="text-align: left;border-radius: 25px;border: 2px solid #73AD21;padding: 10px;">
            <h2 style="color:Green">Sign In</h2>
            <!--
<div class="btn white  col s4 m4 right ">
    <a href="#" style="text-transform:none" class="">
        <div class="left ">
            <img width="20px" style="border: grey" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
        </div>
        Login with Google
    </a>
</div>
-->
<div id="googleSignInDiv" class="center">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>
or 
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}
                    <br> {{ form.email(size=64) }} {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}
                    <br> {{ form.password(size=32) }} {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    <label>
                        <input id="remember_me" name="remember_me" type="checkbox">
                        <span style="font-family:Arial;">Remember Me</span>
                    </label>
                </p>
                <div class="center">
                    <button class="btn-large waves-effect waves-light green white-text" type="submit">Sign In</button>
                </div>
            </form><br>
        
            <div class="row center">
                <table class="center">
                    <tr>
                        <td><a href="{{ url_for('reset_password_request') }}">Forgot Your Password?</a>
                        </td>
                        <td class="right">
                            New User?<br>
                            <a class="btn cyan " href="{{ url_for('register') }}">Click to Sign Up!</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
        function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
    }
</script>
{% endblock %}