{%extends "layout.html"%} {%block content%}
{%if first_login=='1'%}
<div class="row" id="alert_box">
    <div class="col s12 m12">
      <div class="card green lighten-1">
        <div class="row">
          <div class="col s12 m10">
            <div class="card-content white-text">
            <h4>Please <a href="{{url_for('edit_profile')}}">update your profile</a>  before applying for any of the jobs </h4>
          </div>
        </div>
        <div class="col s12 m2">
          <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true" style="font-size: 20px"></i>
        </div>
      </div>
     </div>
    </div>
  </div>
  {%endif%}
<div class="container">
    <h3 class="grey-text">Open Jobs</h3>  
      <div>
          <div class="row">
              
              <div class="col-sm-3">
                  <h3>Filters</h3>
                  <div id="filterBox" style="overflow-y: auto; overflow-x:hidden; height:300px; position: relative;">
                      <h5>Job Term</h5>
                      <p>
                          <label>
                            <input name="jobTerm" type="radio" checked class='jobTermClass' value="All"/>
                            <span>All</span>
                          </label>
                        </p>
                        {%for row in jobTermOptions%}
                        <p>
                            <label>
                              <input name="jobTerm" type="radio" class='jobTermClass' value="{{row.description}}"/>
                              <span>{{row.description}}</span>
                            </label>
                          </p>
                          {%endfor%}                    
                        <h5>Job Type</h5>                        
                        <p>
                            <label>
                              <input name="jobType" type="radio" class='jobTypeClass' value="All" checked/>
                              <span>All</span>
                            </label>
                          </p>
                          {%for row2 in jobTypeOptions%}
                        <p>
                            <label>
                              <input name="jobType" type="radio"  class='jobTypeClass' value="{{row2.description}}"/>
                              <span>{{row2.description}}</span>
                            </label>
                          </p>
                          {%endfor%}
                          <h5>City</h5>
                          <p>
                              <label>
                                <input name="city" type="radio" checked class='cityClass' value="All"/>
                                <span>All</span>
                              </label>
                            </p>
                            {% if current_user.is_anonymous %}
                            {% else %}
                            <p>
                              <label>
                                <input name="city" type="radio" class='cityClass' value="{{current_user.city}}"/>
                                <span>{{current_user.city}}</span>
                              </label>
                            </p> 
                            
                            {% endif %}
                  </div>
                  <p><button style="margin-top:22px; margin-left:5px;" class="btn waves-light green lighten-1 white-text" id='filterListBTN'
                          >Filter List</button></p>
                  
              </div>
              <span id="message" style="color:Red;display: none;float:left;"></span>
              <div class="col-sm-9" id="jobListDiv">
                                     
              </div>                
              <div id="loader" class='center' style="display: none;">
                  <img src="../static/images/loader.gif">
                  </div>
      </div>    
    </div>

  
</div>

<script>
  var qjobTerm='';
  var qjobType='';
  var qcity= '';

$(document).ready(function () {
  loadJobs('All','All','All');    
});

$('#alert_close').click(function(){
    $( "#alert_box" ).fadeOut( "slow", function() {
    });
  });



  $('.jobTermClass').click(function(){
    qjobTerm = $(this).val();        
  });
  $('.jobTypeClass').click(function(){
    qjobType = $(this).val();        
  });
  $('.cityClass').click(function(){
    qcity = $(this).val();    
  });

var page = 0;
  $('#filterListBTN').click(function(){
    loadJobs(qjobTerm,qjobType,qcity,page);
  });

  $('#loadMoreBTN').click(function(){    
    page=page+1;
    loadJobs(qjobTerm,qjobType,qcity,page);
  });


  
      function loadJobs(qjobTerm,qjobType,qcity,page){    
  $.ajax({
            url: "/openJobsFilteredList?job_term=" + qjobTerm + "&job_type=" + qjobType +"&city="+qcity+"&page="+page,
            type: "get",
            contentType: "application/json",
            data: '',
            beforeSend: function() {  
              $("#loader").show();  
              $("#jobListDiv").hide();
           },
            success: function (response) {
                $("#loader").hide();
                $("#jobListDiv").show();
                if(response==1){                  
                    $("#jobListDiv").html('<h3 class="grey-text">No jobs found');
                }
                else{
                    $("#jobListDiv").html(response);
                }                
            },
            error: function (xhr) {
                window.alert("error occurred while loading jobs");
            }
        });
      }
</script>

{%endblock%}


