{%extends "layout.html"%} {%block content%}
<div class="container">
    {% if postData.signature==computedsignature %}	

    <div class="row">
        {%if postData.txStatus=='SUCCESSFUL' or postData.txStatus=='SUCCESS' or postData.txStatus=='OK'%}
        <h3 class="green-text">Payment Successful!</h3>
        {%endif%}
        {%if payment=='sub'%}
        <h5>School Registered! </h5>
            <h6>The review and payment gateway setup will take 48 hours after which you'd be able to raise funds</h6>
            <h6>Our representative will connect with you to help get you started</h6>
        {%endif%}
        <div class=" col s8">
            <h4>Payment Summary</h4>
            <table>
                <tr>
			        <td>Transaction Status</td>
			        <td>{{postData.txStatus}}</td>
                  </tr>
                  <tr>
			        <td>Payment Mode </td>
			        <td>{{postData.paymentMode}}</td>
			      </tr>
                <tr>
                    <td>School Name</td>
                    <td>{{schoolData.name}}</td>
                </tr>
                <tr>
                    <td>School Address</td>
                    <td>{{schoolData.address1}}<br>{{schoolData.address2}}{{schoolData.city}},{{schoolData.country}}
                </tr>
                <tr>
                    <td>Phone </td>
                    <td>{{schoolData.phone}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{schoolData.email}}</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>
                        <h5 class="green-text">{%if currency=='INR'%}₹{%else%}{{currency}}{%endif%}{{postData.orderAmount}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>Reference ID</td>
                    <td>{{postData.referenceId}}</td>
                </tr>
                <tr>
			        <td>Message</td>
			        <td>{{postData.txMsg}}</td>
			      </tr>                
                <tr>
                    <td>Transaction Time</td>
                    <td>{{postData.txTime}}</td>
                </tr>
            </table>
            <!--
            <a href="#" class="right"> <u>Download Receipt</u></a>-->
            <br><br>
            
        </div>
                
    </div>

    {%else%}
    <div class="row">
        <h5 class="red-text lighten-1">Payment Failed - Sign verification failed</h5>
        <table>
            <tr>
                <td>Reason</td>
                <td>{{postData.txMsg}}</td>
            </tr>
            <tr>
                <td>Reference Id</td>
                <td>{{postData.referenceId}}</td>
            </tr>
            <tr>
                <td>Message from Gateway</td>
                <td>{{postData.txMsg}}</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{{url_for('school',schoolId=schoolData.school_id)}}">Go Back and Retry</a></td>
            </tr>
        </table>
    </div>
    {%endif%}
</div>
<script>
         $(document).ready(function () {
            $('.modal').modal();
            $('.collapsible').collapsible();
        });  
        
</script>
{%endblock%}