{%extends "layout.html"%} {%block content%}
<div class="container">
    {% if postData.signature==computedsignature %}	

    <div class="row">
        {%if postData.txStatus=='SUCCESSFUL' or postData.txStatus=='SUCCESS' or postData.txStatus=='OK'%}
        <h3 class="green-text">Enrollment Successful!</h3>   
        <h4><a href="{{url_for('courseDetail', course_id=courseBatchData.course_id)}}">Go to Course Page</a></h4>     
        {%endif%}
        {%if payment=='sub'%}
        <h5>School Registered! </h5>
            <h6>The review and payment gateway setup will take 48 hours after which you'd be able to raise funds</h6>
            <h6>Our representative will connect with you to help get you started</h6>
        {%endif%}
        <div class=" col s8" >
            <div id="paymentPrintBlock">
            <img src="../static/images/alllearnGreenLogo.PNG" width="150px" style="display:none" id="logoImg">
            <h4>Payment Summary</h4>
            <table style="font-size: medium;">
                <tr>
			        <td>Transaction Status</td>
			        <td>{{postData.txStatus}}</td>
                  </tr>
                  <tr>
			        <td>Payment Mode </td>
			        <td>{{postData.paymentMode}}</td>
			      </tr>
                <tr>
                    <td>Course Teacher</td>
                    <td>{{courseData.teacher_name}}</td>
                </tr>
                <tr>
                    <td>Course Name</td>
                    <td>{{courseData.course_name}}</td>
                </tr>
                <tr>
                    <td>Batch </td>
                    <td>{{courseBatchData.batch_id}}</td>
                </tr>
                <tr>
                    <td>Batch Schedule</td>
                    <td>{{courseBatchData.batch_start_date.strftime('%d %B %Y')}} - {{courseBatchData.batch_start_date.strftime('%d %B %Y')}}<br>
                        {{courseBatchData.batch_start_time}} - {{courseBatchData.batch_end_time}}<br>
                        {{courseBatchData.days_of_week}}</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>
                        <h5 class="green-text">{%if currency=='INR'%}₹{%else%}{{currency}}{%endif%}{{postData.orderAmount}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>Reference ID</td>
                    <td>{{postData.referenceId}}</td>
                </tr>
                <tr>
			        <td>Message</td>
			        <td>{{postData.txMsg}}</td>
			      </tr>                
                <tr>
                    <td>Transaction Time</td>
                    <td>{{postData.txTime}}</td>
                </tr>
            </table>
            
        
            <br><br>
        </div>
        <button class="green btn" id="printBTN">Print</button> 
        </div>
        
    </div>

    {%else%}
    <div class="row">
        <h5 class="red-text lighten-1">Payment Failed - Sign verification failed</h5>
        <table>
            <tr>
                <td>Reason</td>
                <td>{{postData.txMsg}}</td>
            </tr>
            <tr>
                <td>Reference Id</td>
                <td>{{postData.referenceId}}</td>
            </tr>
            <tr>
                <td>Message from Gateway</td>
                <td>{{postData.txMsg}}</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{{url_for('school',schoolId=schoolData.school_id)}}">Go Back and Retry</a></td>
            </tr>
        </table>
    </div>
    {%endif%}
</div>
<script>
         $(document).ready(function () {
            $('.modal').modal();
            $('.collapsible').collapsible();
        });  
    
$('#printBTN').click(function(){
    $('#logoImg').show();
    w=window.open();
    w.document.write($('#paymentPrintBlock').html());
    w.print();
    w.close();
    $('#logoImg').hide();
});
    
</script>
{%endblock%}