{% extends "layout.html" %} {% block content %}
<div class="container">
{% if students %}
<h3>Ward Name : {{ students.full_name }}</h3>
<div>
    <!--performace graph-->
____________________________________________________________________________________
<br><br>
</div>
<form method="POST" class="form-group ">
    <div class="row">
    <div class="col-sm-3">
    <p>See day specific Performace Details :</p>
    <label for="date">Date : </label>
    <input type="date" id="performace_date" name="performace_date">
    </div>
    </div>
    <p><button class="btn waves-light green lighten-1 white-text">Submit</button></p>
</form>

{% endif %}
</div>
<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("performace_date").setAttribute("max", today);

</script>
{% endblock %}