{% extends "layout.html" %} {% block content %}
<div class="container">
    <br>
    <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#testSummaryDiv">Home</a></li>
        <li class="tab col s3"><a href="#testHistory">Test History</a></li>
        <!-- <li class="tab col s3"><a href="#payrollReport">Report</a></li>
        <li class="tab col s3"><a id="allocation" href="#teacherAllocation">Teacher Allocation</a></li>-->
    </ul>
    <br>
    <a href="#startTestModal" id="startTestModalBTN" class="modal-trigger right btn green">Start Practice Test</a><br>
    <h4 class="">Hi, {{studentData.full_name}}</h4>
    <div id="practiceTestDiv" class="col-xs-12 row ">
        <!--<div id="pointsDiv"  class="">
            <h5 >Points earned: <span class="green-text">240{{studentData.points_earned}}</span> </h5>
            <h5 >Level: <span class="blue-text">Pro {{studentData.current_level}}</span></h5>
        </div>-->

        <div class="row " id="testSummaryDiv">
            <div class="box">
                <!--<div class="box-header">
                <h3 class="box-title">Class Summary</h3>
              </div>-->
                <div class="box-body table-responsive no-padding">
                    <div class="col-xs-3">
                        <h4 class="grey-text">Tests Taken</h4>
                        {%if studentData.tests_taken%}
                        <h3 class="green-text">{{studentData.tests_taken}}</h3>
                        {%else%}
                        <h3 class="green-text">11</h3>
                        {%endif%}
                    </div>
                    <div class="col-xs-3">
                        <h4 class="grey-text">Average Performance</h4>
                        {%if avg_performance%}
                        <h3 class="blue-text">{{avg_performance}}%</h3>
                        {%else%}
                        <h3 class="blue-text">71%</h3>
                        {%endif%}
                    </div>
                    <div class="col-xs-3">
                        <h4 class="grey-text">Strength Subjects</h4>
                        {%if studentData.strength_subjects%}
                        <h3 class="green-text">{{studentData.strength_subjects}}</h3>
                        {%else%}
                        <h3 class="green-text">English and Hindi</h3>
                        {%endif%}
                    </div>
                    <div class="col-xs-3">
                        <h4 class="grey-text">Points earned</h4>
                        {%if studentData.points_earned%}
                        <h3 class="blue-text">240{{studentData.points_earned}}</h3>
                        <h5>Level: <span class="purple-text">Pro {{studentData.current_level}}</span></h5>
                        {%else%}
                        <h3 class="blue-text">240 <span class="purple-text" style="font-size: 14px;"><b>PRO</b>
                                {{studentData.current_level}}</span></h3>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>

        <div id="testHistory">
            <table class="highlight">
                <thead>
                    <th>Subject</th>
                    <th>Topics</th>
                    <th>Test Date</th>
                    <th>Performance</th>
                    <th>See Report</th>
                </thead>
                <tbody>
                    {%if testHistory%}
                    {%for row in testHistory%}
                    <tr>
                        <td>{{row.subject}}</td>
                        <td><a href="#" class="seeTopicsBTNClass">See Topics</a></td>
                        <td>{{row.test_date.strftime('%d %B %Y')}}</td>
                        <td>{{row.performance}}</td>
                        <td><a href="#" class="seeReportClass"></a></td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                </tbody>
            </table>
        </div>
        <br><br>
    </div>

</div>

<div id="startTestModal" class="modal" style="width: 400px;overflow-y: auto;">
    <div class="modal-content">
        <!--<img src="../static/images/loader.gif" style="display: none;padding-left: 400px;" id="loaderDiv">-->
        <span id="errorDisplay"></span>
        <h4 class="grey-text">Configure Test </h4>
        <h5><b>Class {{class_val}}</b></h5>
        <div class="row">
            <div class="col-xs-10">
                <div id='subjectLoader' style='display: none; float: right;margin-top: -25px;'>
                    <img src='../static/images/spinner.gif' width='25px' height='25px'>
                </div>
                <div class="input-field">
                    <h4 class="grey-text">Subject</h4>
                    <select id="selectSubject">
                        <option value="" disabled selected>Select Subject</option>
                        {%if subjectData%}
                        {%for subject in subjectData%}
                        <option value="{{subject.msg_id}}">{{subject.description}}</option>
                        {%endfor%}
                        {%endif%}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div id='chapterLoader' style='display: none; float: right;margin-top: -25px;'>
                    <img src='../static/images/spinner.gif' width='25px' height='25px'>
                </div>
                <div class="input-field">
                    <h4 class="grey-text">Chapters and Topics</h4>
                    <select multiple id="selectChapters" style="font-family: Arial, Helvetica, sans-serif;">
                        <option value="" disabled selected>Select Chapters and topics</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="input-field" >
                    <h4 class="grey-text">Difficulty Preference</h4>
                    <select id="difficulty" >
                        <option value="" disabled selected>Select Level</option>
                        <option value="E">Easy</option>
                        <option value="Me">Medium</option>
                        <option value="H">Hard</option>
                        <option value="Ma">Master</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="questionenterDiv ">
                    <br>
                    <div class="input-field">
                        <h4 class="grey-text">Question Count</h4>
                        <!--  <input style="font-size: xx-large;" class="green-text" type="number" min="0" max="100" id="qcount"
                        name="qcount">-->
                        <select id="qcount" style="font-family: Arial;">
                            <option value="" disabled selected>Question Count</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="center">
                <a href="#" class="btn green " id="startTestBTN" style="width: 150px;">Start</a>
                <span id="errorStartMSG" class="orange-text" style="display: none;">Error occurred while starting test. Please try again.</span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.tabs').tabs();
        $('.modal').modal();
        $('select').formSelect();


    });

    //$("#qcount").on("keypress keyup blur", function (e) {
    //    $(this).val($(this).val().replace(/^[a-zA-Z]+$/, ""));
    //    if ($(this).val()>100)
    //    {
    //        $("#qcount").prop('disable',true);
    //    }
    //    if ((e.which < 48 || e.which > 57)) {
    //        e.preventDefault();
    //    }
    //});

    var select_chapter = document.getElementById('selectChapters');

    $('#selectSubject').change(function () {
        //select_subject.onchange = function () {
        $("#filebox").html('');
        $('#chapterLoader').show();
        $('#selectChapters').html('');
        console.log('inside subject onchange');
        var subject_id = $('#selectSubject').val();

        var class_val = "{{class_val}}";
        //var test_type = select_test.value;
        //var date = $('#test_date').val();
        //topics = $('#selectChapters').val();
        //if (subject_id && class_val && test_type && date && topics) {
        //    console.log('if all are not empty');
        //    $('#questionSubmitBtn').prop('disabled', false);
        //} else {
        //    console.log('if all are empty');
        //    $('#questionSubmitBtn').prop('disabled', true);
        //}
        //var subject_id = select_subject.value;

        $.ajax({
            url: "/addChapterTopics?class_val=" + class_val + "&subject_id=" + subject_id,
            type: "POST",
            contentType: "/application/json",
            data: "",
            success: function (response) {
                if (response) {
                    responseArr = response.toString().split('/,/');
                    var optionHTML =
                        '<option value="" disabled selected style="font-family:arial">Select Chapters and topics</option>';
                    var bookNames = [];
                    for (var i = 0; i < responseArr.length; i++) {
                        var book_name = responseArr[i].toString().split(':')[0];
                        var topic_name = responseArr[i].toString().split(':')[1];
                        var chapter_name = responseArr[i].toString().split(':')[2];
                        var topic_id = responseArr[i].toString().split(':')[3];
                        if (bookNames.includes(book_name) == false) {
                            console.log(bookNames);
                            console.log('value:' + bookNames.includes(book_name));
                            optionHTML += '<optgroup label="' + book_name + '"></optgroup>';
                        }
                        bookNames.push(book_name);
                        optionHTML += '<option value="' + topic_id +
                            '" name="topic_ids"><span style="font-size:14;font-family:Arial;"> ' +
                            chapter_name + ' - ' + topic_name + '</span></option></optgroup>';
                    }
                } else {
                    optionHTML +=
                        '<option value="" name="topic_ids" disabled selected>No data available</option>'
                }
                select_chapter.innerHTML = optionHTML;
                $('#chapterLoader').hide();

                $('#selectChapters').formSelect();
            },
            error: function (xhr) {
                //window.alert('error occured while loading chapters');
                $('#errorDisplay').html(
                    '<span class="red-text">Error occurred while loading chapters. <br>Please try again</span>'
                )
            }
        });
        $('#testBuilderQuestions').hide();
        $("questions").hide();
        $('#questionloader').show();
    });


    $('#startTestBTN').click(function () {
        var topics = $('#selectChapters').val();
        var difficulty =  $('#difficulty').val();
        var qcount =  $('#qcount').val();
        var selectSubject =  $('#selectSubject').val();
        var class_val =  "{{class_val}}";
        var topicList = JSON.stringify(topics);
        $.ajax({
            url: "/startPracticeTest?difficulty=" + difficulty + "&qcount=" + qcount + "&subject_id=" + selectSubject + "&class_val=" + class_val,
            type: "POST",
            contentType: "application/json",
            data: topicList,
            success: function (response) {
                if (response==1){
                    $('#errorStartMSG').show();
                }
                else{
                    $('#errorStartMSG').hide();                    
                    window.location.href = "/feedbackCollectionStudDev?resp_session_id=" + response;
                }
            },
            error: function (xhr) {
                $('#errorStartMSG').html('Error in fetching server response. Please try again.');
            }
        });
    });


</script>
{% endblock %}