{% extends "mobLayout.html" %} {% block content %}
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<div class="container">
    <div class="video-field" id="video-field">                
        <video id="video" height="300"></video>      
        <canvas id="piccanvas" width="640" height="480"></canvas>        


        
<input type="button" id="startScanner" value="Start Scanner">

<input type="button" id="stopScanner" value="Stop Scanner">


</div>

<script type="text/javascript">
    
      let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
      scanner.addListener('scan', function (content) {          
        //alert(content);
      });      
$('#startScanner').click(function(){
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
      });
$('#stopScanner').click(function(){
scanner.stop();

     });
    </script>
{% endblock%}