{% extends "mobLayout.html" %} {% block content %}
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<div class="container">
    <div class="video-field" id="video-field">                
        <video id="preview" height="300"></video>      
        <canvas style="display: none;" id="piccanvas" width="640" height="480"></canvas>        
        


</div>
<a class="waves-effect waves-light btn green" id="startScanner">Start Scanner</a>

<a class="waves-effect waves-light btn green" id="stopScanner">Stop Scanner</a>
    
</div>

<script type="text/javascript">
      let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
      scanner.addListener('scan', function (content) {
        alert(content);        
        if (content!=""){
        window.location.href = "/mobFeedbackCollection?resp_session_id="+content;
    }
      });      
$('#startScanner').click(function(){
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
      });
$('#stopScanner').click(function(){
scanner.stop();

     });
    </script>
{% endblock%}