{% if questions %}
<div id="questionUpdateParentDiv">
<div id="editQuestionsTableDiv">
<h3>Select questions
        <!-- <button style="float:right;text-transform: initial;width: 190px;"
                class="btn waves-light green lighten-1 white-text" type="button"><a href="{{url_for('questionBuilder')}}" style="color: white;">Add Question</a></button> -->
    </h3>
<div class="card id">
    <div class="card-body">
        <div id="table" class="table-editable" style="overflow-y: auto; height:600px; position: relative;">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Type</th>
                        <th scope="col">Weightage</th>
                        <th scope="col">Actions</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for q in questions %}
                    {% for question in q %}
                    <tr>
                        <td>
                            {% if question.question_type=='MCQ1' %}
                            <!-- <a href="#" name="{{ question.question_id }}" class="quesDescLink">{{ question.question_description }}</a> -->
                            <!-- <ul> -->
                                    <ul>
                                            <li>
                                              <div><a href="#" data-toggle="collapse" data-target="#{{ question.question_id }}" name="{{ question.question_id }}" class="quesDescLink">{{ question.question_description }}</a></div>
                                              <div class="collapse" class="optDiv" style="margin-left: 180px;" id="{{ question.question_id }}" ></div>
                                            </li>
                                    </ul>
                            <!-- <div class="optDiv" id="{{ question.question_id }}">
                          
                            </div> -->
                            <!-- </ul> -->
                            {% else %}
                                {{ question.question_description }}
                            {% endif %}
                            <!-- {% for qp in quesOption %}
                            {% for quesOption in qp %} -->
                            
                            <!-- {% endfor %}   -->
                            <!-- {% endfor %}  -->
                        </td>
                        <td> {{ question.question_type }} </td>
                        <td>{{ question.suggested_weightage }}<input type="hidden" value="{{ question.suggested_weightage }}"
                            id="{{ question.question_id }}select"></td>
                        <td style="width:100px;"><label for="{{ question.question_id }}">
                                <a id="" class="questionUpdateButton" name="{{ question.question_id }}" href="#">Edit</a>
                                <a class="waves-effect waves-light modal-trigger" href="#modal1" style="margin-left: 15px;"><i class="fa fa-window-close" style="font-size:17px;color:red;" ></i></a>
                                <div id="modal1" class="modal" style="display:none;">
                                        <div class="modal-content">
                                          <h1>Are you sure want to delete?</h1>
                                        </div>
                                        <div class="modal-footer">
                                          <a href="#!" class="delete" name="{{ question.question_id }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                                        </div>
                                      </div>
                                <!-- {{url_for('questionDetails',question_id=question.question_id )}} -->
                            </label></td>
                    </tr>
                    
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Modal Structure -->
        
    </div>
</div>
    </div>
    <div id="questionloader" style="display: none;padding-left: 300px;">
            <img src="../static/images/loader.gif">
            </div>
        <div id="questionEditorDiV" style='display:none;'></div>
</div>

{% endif %}

<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });

  
    $(document).ready(function() {  
    var flag =  true;
    $('.quesDescLink').click(function(){
        var question_id = $(this).attr('name');
        var data="";
        $.ajax({
            url: "/questionOptions?question_id="+question_id,
            type: "get",
            data: data,
            success: function(response){
                var v = '#'+question_id;
                var option_list="<ul style='float:left;'><li>"+response[0][0]+"</li><li>"+response[0][1]+"</li></ul><ul><li>"+response[0][2]+"</li><li>"+response[0][3]+"</li></ul>";
                console.log(response[0][0]);
                console.log(response[0][1]);
                 for(var i=0;i<response.length;i++){
                    //  console.log(response[0][i]);
                 }
                $(v).html(option_list);
            }
        })
    });
});

    $(document).ready(function(){
    $('.collapsible').collapsible();
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

        $('.questionUpdateButton').click(function(){              
                      
                      var question_id = $(this).attr('name');
                      console.log("Question Id in Question Update Button:"+question_id);
                      var data="";
                      $.ajax({
                        url: "/questionDetails?question_id="+question_id,
                        type: "get",
                        data: data,
                        beforeSend: function() {
                            $("#editQuestionsTableDiv").hide();  
                            // $("#loader").show();
                            $("#questionloader").show();
                        },
                         success: function(response) {       
                            // $("#loader").hide();
                            $("#questionloader").hide();
                            $('#editQuestionsTableDiv').hide();
                            $("#questionEditorDiV").html(response);
                            $("#questionEditorDiV").show();  
                        },
                        error: function(xhr) {
                          window.alert("error occurred while loading question");
                        }
                      });               
                  });

                  $('.delete').click(function(){
                    console.log('Inside delete funtion');  
                    var question_id = $(this).attr('name');
                    console.log('Inside delete QuestionId:'+question_id);
                    var data="";
                    $.ajax({
                        url: "deleteQuestion?question_id="+question_id,
                        type: "get",
                        data: data,
                        beforeSend: function() {
                            $("#editQuestionsTableDiv").hide();
                            $("#questionloader").show();
                        },
                        success: function(response){
                            questions();
                        },
                        error: function(xhr){
                            window.alert("error occurred while loading question");
                        }
                    });
                  });
                  

                  </script>