 {{ form.csrf_token() }}
      <div class="updateFormDiv">
        <div class="form-group " style="padding-top:5px;">
                <div class="row">
                        <div class="col-sm-3">
                                <div style="width:250px;">
                                        {{ form.class_val.label(class='labelsize') }}
                                        <br>
                                        {% if form.class_val.errors %}
                                        {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.class_val.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.class_val(class='form-control',id='classValSelected',style='width: 215px;') }}
                                        {% endif %}
                                </div>
                        </div>
                        <div class="col-sm-2">
                                <div style="width:150px;" > 
                                                {{ form.subject_name.label(class='labelsize') }}
                                                <div id='loaderSubject'style='display: none; float: right;'>
                                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                </div>
                                        <br>
                                                {% if form.subject_name.errors %}
                                                {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                {% for error in form.subject_name.errors %}
                                                 <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                                {% else %}
                                                {{ form.subject_name(class='form-control',id='subjectNameSelected',style='width: 140px;') }}
                                                {% endif %}
    
                                                
                                </div>
                        </div>
    
                        <div class="col-sm-2">
                            <div style="width:150px;" > 
                                            {{ form.topics.label(class='labelsize') }}
                                            <div id='loaderTopic'style='display: none; float: right;'>
                                                            <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                            </div>
                                    <br>
                                            {% if form.topics.errors %}
                                            {{ form.topics(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                            {% for error in form.topics.errors %}
                                             <span>{{ error }}</span>
                                            {% endfor %}
                                    </div>
                                            {% else %}
                                            {{ form.topics(class='form-control',id='topicNameSelect',style='width: 140px;') }}
                                            {% endif %}
    
                                            
                            </div>
                    </div>
                    <div class="col-sm-2">
                        <div style="width:150px;">
                            {{ form.question_type.label(class='labelsize') }}
                    <br>
                            {% if form.question_type.errors %}
                            {{ form.question_type(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form.question_type.errors %}
                             <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                            {% else %}
                            {{ form.question_type(class='form-control',id='questionType') }}
                            {% endif %}    
            </div>


            <div id="topiclist" style="display: none;">
              {% if topic_list %}
        <div class="col-sm-3">
            <h3>Topics</h3>
            <div id="topic_box" style="overflow-y: auto; height:300px; position: relative;">
                {% for topic in topic_list %}
                <label for="{{ topic.topic_id }}" style="font-weight: 500;">
                    <input type="checkbox" id="{{ topic.topic_id }}" name="topicCheckbox"
                        value="{{ topic.topic_id }}"><span>{{ topic.topic_name }}</span>
                </label><br>
                {% endfor %}
            </div>
            <p><button style="margin-top:22px; margin-left:5px;" class="btn waves-light green lighten-1 white-text"
                    onclick="questions(); ">Load Questions</button></p>
            {% endif %}
        </div>
            </div>
                    </div>
                    </div>
                    
                

<div class="row">
    <div class="col-sm-8">
    <h4>Question</h4> 
    {{ form.question_desc.label(class='labelsize') }}
    <br>
    {% if form.question_desc.errors %}
    {{ form.question_desc(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
    {% for error in form.question_descl.errors %}
     <span>{{ error }}</span>
    {% endfor %}
    </div>
    {% else %}
    {% if  flag %}
    {{ form.question_desc(class='form-control',id='questionDesc') }}
    {% else %}
    {{ form.question_desc(class='form-control',id='questionDesc') }} 
    {% endif %}
    {% endif %}
    <br>
    <div class="row">
    <div class="col-sm-6">
      
            <div style="display:none;" id="MCQ1_type">
              {% if  flag %}
              <!-- start -->
              {% if avail_options %}
              <!-- /start -->
                {% for option in avail_options %}
                {% if option.option_desc==correctOption %}
                
            <label><input class="with-gap" id="optionRad1" name="optionChoice" type="radio" value="{{ option.option_desc }}" onclick="correctOption(this);" checked><span><input type="text" style="width:200px;font-weight: 500;font-family: serif;font-size: 1.4rem;" id="option_Desc1" class="option_class" value="{{ option.option_desc }}" name="option_desc"></span></label><br><br>
            <input type="hidden" id="correct" name="correct" value=""> 
                  
            {% else %}
                <label><input class="with-gap" id="optionRad1" name="optionChoice" type="radio" value="{{ option.option_desc }}" onclick="correctOption(this);"><span><input type="text" style="width:200px;font-weight: 500;font-family: serif;font-size: 1.4rem;" id="option_Desc1" class="option_class" value="{{ option.option_desc }}" name="option_desc"></span></label><br><br>
                <input type="hidden" id="correct" name="correct" value=""> 
                {% endif %}
                 {% endfor %}
                 <!-- else -->
                 {% else %}
                 <label><input class="with-gap" id="optionRad1" name="optionChoice" type="radio" value="1" onclick="correctOption(this);"><span><input type="text" style="width:200px;" placeholder="1" id="option_Desc1" class="option_class" name="option_desc"></span></label><br><br>
                 <label><input class="with-gap" id="optionRad1" name="optionChoice" type="radio" value="2" onclick="correctOption(this);"><span><input type="text" style="width:200px;" placeholder="2" id="option_Desc1" class="option_class" name="option_desc"></span></label><br><br>
                 <label><input class="with-gap" id="optionRad1" name="optionChoice" type="radio" value="3" onclick="correctOption(this);"><span><input type="text" style="width:200px;" placeholder="3" id="option_Desc1" class="option_class" name="option_desc"></span></label><br><br>
                 <label><input class="with-gap" id="optionRad1" name="optionChoice" type="radio" value="4" onclick="correctOption(this);"><span><input type="text" style="width:200px;" placeholder="4" id="option_Desc1" class="option_class" name="option_desc"></span></label><br><br><br>
                 <input type="hidden" id="correct" name="correct" value="">
                 <!-- /else -->
                 {% endif %}
                 
              {% else %}
              <label><input class="with-gap" id="option1" name="option" type="radio" value="1" onclick="correctOption(this);"><span><input type="text" style="width:200px;" placeholder="1" id="option_desc1" name="option_desc"></span></label><br><br>
              <label><input class="with-gap" id="option2" name="option" type="radio" value="2" onclick="correctOption(this);"><span><input type="text" style="width:200px;" placeholder="2" id="option_desc2" name="option_desc"></span></label><br><br>
              <label><input class="with-gap" id="option3" name="option" type="radio" value="3" onclick="correctOption(this);"><span><input type="text" style="width:200px;" placeholder="3" id="option_desc3" name="option_desc"></span></label><br><br>
              <label><input class="with-gap" id="option4" name="option" type="radio" value="4" onclick="correctOption(this);"><span><input type="text" style="width:200px;" placeholder="4" id="option_desc4" name="option_desc"></span></label><br><br><br>
              <input type="hidden" id="correct" name="correct" value="">
              {% endif %}
            </div>
    <label for="weightage">Weightage</label>
    {% if  flag %}
    <input type="number" id="weightage" name="weightage" value="{{ questionUpdateUpload.suggested_weightage }}" placeholder="Enter the Weightage of Question">
    {% else %}
    <input type="number" id="weightage" name="weightage" value="" placeholder="Enter the Weightage of Question">        
    {% endif %}
    </div>
    <div class="col-sm-2">
    <input type="file" style="height: 30px; margin-top: 10px;" onchange="loadImageFile();" id="file-input"><br>
    <input type="hidden" id="reference" name="reference" value="">
    <div style="margin-top: 30px; margin-left: 10px;">
       {% if  flag %} 
        {% if  questionUpdateUpload.reference_link  %}
            <img style="border:1px solid gray; width:200px; height: 200px;" id="preview" src="{{ questionUpdateUpload.reference_link }}">
        <!-- {% else %}
            <img style="border:1px solid gray; width:200px; height: 200px;" id="preview" src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/question_references/images/defaultReference.png"> -->
        {% endif %}  
       {% else %}
      <img style="border:1px solid gray; width:200px; height: 200px;display:none;" id="preview" src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/question_references/images/defaultReference.png">
      {% endif %} 
        </div>
    </div>
    </div>
    <div class="row">
      <span id="message" style="color:Red;display: none;float:left;"></span>
      {% if  flag %} 
      <input type="button" class="btn waves-light green lighten-1 white-text" style="float:left; margin-right: 20px; width:80px; height:35px;margin-top: 12px;" id="back" name="back" value="Back" onclick="back();"></p>
    <p><button class="btn waves-light green lighten-1 white-text" name="{{ questionUpdateUpload.question_id }}" style="float: right;" id="updateButton" name="">Update</button>
      <input type="button" class="btn waves-light green lighten-1 white-text" style="float:right; margin-right: 20px; width:80px; height:35px;" id="clear" name="clear" value="clear" onclick="Clear();"></p>
       {% else %}
      <p><button class="btn waves-light green lighten-1 white-text" style="float: right;" id="submit" name="submit" value="submit">Confirm</button>
      {% endif %}   
    
  </div>
  </div>

  <!-- Extraaa -->



  <!-- /Extraaa -->

</div>
</div>
<div class="col-sm-9" id="question">
  <div id="Qloader" style="display: none;padding-left: 300px;">
      <img src="../static/images/loader.gif">
  </div>
</div>
</div>

<script type="text/javascript">

var fileReader = new FileReader();
var filterType = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;
var ImageName = '';
fileReader.onload = function (event) {
  var image = new Image();
  
  image.onload=function(){
      // document.getElementById("preview").src=image.src;
      var canvas=document.createElement("canvas");
      var context=canvas.getContext("2d");
      canvas.width=200;
      canvas.height=200;
      context.drawImage(image,
          0,
          0,
          image.width,
          image.height,
          0,
          0,
          canvas.width,
          canvas.height
      );
      
      document.getElementById("preview").src = canvas.toDataURL();
      $('#preview').show();
      String.prototype.filename=function(extension){
    var s= this.replace(/\\/g, '/');
    s= s.substring(s.lastIndexOf('/')+ 1);
    return extension? s.replace(/[?#].+$/, ''): s.split('.')[0];
}     
      console.log('Image Name:'+$('img').attr('src').filename());
      var Image = $('img').attr('src').filename();
      var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      var charactersLength = characters.length;
      Image += characters.charAt(Math.floor(Math.random() * charactersLength));
      Image += characters.charAt(Math.floor(Math.random() * charactersLength));
      ImageName = Image+'.jpeg';
      console.log('Full image Name:'+ImageName);
      initUpload();
  }
  image.src=event.target.result;
  
};
var loadImageFile = function () {
  var uploadImage = document.getElementById("file-input");
  
  //check and retuns the length of uploded file.
  if (uploadImage.files.length === 0) { 
    return; 
  }
  
  //Is Used for validate a valid file.
  var uploadFile = document.getElementById("file-input").files[0];
  if (!filterType.test(uploadFile.type)) {
    alert("Please select a valid image."); 
    return;
  }
  
  fileReader.readAsDataURL(uploadFile);
  
}




  $('#updateButton').click(function(){
    M.toast({html:'Question updated!'},3000);
  });
    
    var question_type=document.getElementById("questionType");
    var options = document.getElementById("option_desc1");
    var a = 1;
    var b = 1;   
    {% if flag %}
    
    var class_select_update = document.getElementById("classValSelected");
    var subject_select_update = document.getElementById("subjectNameSelected");
    var topic_select_update = document.getElementById("topicNameSelect");

    var classVal = '{{ questionUpdateUpload.class_val }}'; 
    var desc = '{{ questionUpdateUpload.subject_id }}';
    var subject_id = '{{ questionUpdateUpload.subject_id }}';
    var topicName = '{{ questionUpdateUpload.topic_id }}';
    $('.questionUpdateButton').click(function(){
      fetch('/questionBuilder/' + classVal).then(function(response) {
             response.json().then(function(data) {
                     var optionHTML = '';
                     for (var subject of data.subjects) {
                     optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>';
                 }
                 subject_select_update.innerHTML = optionHTML;
             })
             
         });
      
         fetch('/questionBuilder/' + class_val + '/'+ subject_id).then(function(response) {
             response.json().then(function(data) {
                     var optionHTML = '';
                    console.log('')
                     for (var topic of data.topics) {
                    
                        optionHTML += '<option value="' + topic.topic_id + '">' + topic.topic_name + '</option>';
                 }                 
                 topic_select_update.innerHTML =  optionHTML;
             })
             
         });

      
    });

    class_select_update.onchange = function()  {
         
         class_val = class_select_update.value;
         $("#loaderSubject").show();
         console.log('Inside class value Onchange')
         fetch('/questionBuilder/' + class_val).then(function(response) {
             response.json().then(function(data) {
                     $("#loaderSubject").hide();    
                     var optionHTML = '';
                     for (var subject of data.subjects) {
                       console.log(subject.subject_id);
                       console.log(desc);
                        optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>'; 
                 }
                 subject_select_update.innerHTML = optionHTML;
                 if(a==1){
                 $('#subjectNameSelected').val(desc); 
                 a++;
                 }
             })
             
         });
         if (class_val>5){ 
           subject_id='56';
         }
         else if(class_val>2 && class_val<=5){
         subject_id='55';
         }
         else{
           subject_id='54';
         }
 
 
 
 
         $("#loaderTopic").show();
         subId='';
         if(b==1){
           subId=desc;
         }else{
          subId=subject_id;
         }
         fetch('/questionBuilder/' + class_val + '/'+ subId).then(function(response) {
              response.json().then(function(data) {
                      $("#loaderTopic").hide();    
                      var optionHTML = '';
                     console.log('Inside Subject value onchange')
                      for (var topic of data.topics) {
                        console.log(topic.topic_id);
                        console.log(topicName);
                          optionHTML += '<option value="' + topic.topic_id + '">' + topic.topic_name + '</option>';
                    }                 
                  topic_select_update.innerHTML =  optionHTML;
                  if(b==1){
                  $('#topicNameSelect').val(topicName);  
                    b++;
                  }
              })
              
          });
     }
     subject_select_update.onchange=function()  {
         console.log("Value of B:"+b);
         subject_id = subject_select_update.value;
         $("#loaderTopic").show();
         console.log('Inside subject value Onchange')
         fetch('/questionBuilder/' + class_val + '/'+ subject_id).then(function(response) {
             response.json().then(function(data) {
                     $("#loaderTopic").hide();    
                     var optionHTML = '';
                    console.log('')
                     for (var topic of data.topics) {
                    
                        optionHTML += '<option value="' + topic.topic_id + '">' + topic.topic_name + '</option>';
                 }                 
                 topic_select_update.innerHTML =  optionHTML;
             })
             
         });
    }

    {% else %}

    var class_select = document.getElementById("classValSelected");
    var subject_select = document.getElementById("subjectNameSelected");
    var topic_select = document.getElementById("topicNameSelect");

    var optionHTMLClass = '';
    var optionHTMLSubject = '';
    var optionHTMLTopic = '';
    var optionHTMLQuestionType = '';
    $(document).ready(function(){
        $('#classValSelected').val("na");
        console.log("CLass Value:"+class_select.value);
        optionHTMLClass += '<option value="na"  selected disabled> Select Class </option>';
        class_select.innerHTML = optionHTMLClass + class_select.innerHTML;
        optionHTMLSubject += '<option value="na"  selected disabled> Select Subject </option>';
        subject_select.innerHTML = optionHTMLSubject + subject_select.innerHTML;
        optionHTMLTopic += '<option value="na"  selected disabled> Select Topic </option>';
        topic_select.innerHTML = optionHTMLTopic + topic_select.innerHTML;
        optionHTMLQuestionType += '<option value="na"  selected disabled> Select Question Type </option>';
        question_type.innerHTML = optionHTMLQuestionType + question_type.innerHTML;
    });


    $('#submit').click(function(){
            classValue = document.getElementById('classValSelected').value;
            subjectValue = document.getElementById('subjectNameSelected').value;
            topicValue = document.getElementById('topicNameSelect').value;
            questionTypeValue = document.getElementById('questionType').value;
            var weightage = document.getElementById("weightage").value;
            var questionDesc = document.getElementById("questionDesc").value;
            console.log(classValue);
            if(classValue=='na'){
                console.log('Inside message');
                tag = document.getElementById('message');
                tag.innerHTML = 'No Class Selected';
                $('#message').show();
                event.preventDefault();
            }
            else
            if(subjectValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Subject Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(topicValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Topic Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(questionTypeValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Question Type Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(questionDesc==''){
                tag = document.getElementById('message');
                tag.innerHTML = 'Create Question';
                $('#message').show();
                event.preventDefault();
            }else
            if(weightage==''){
                tag = document.getElementById('message');
                tag.innerHTML = 'Create Weightage';
                $('#message').show();
                event.preventDefault();
  }
            else{
                $('#message').hide();
            }
            
        });


    class_select.onchange = function()  {
         
        class_val = class_select.value;
        $("#loaderSubject").show();
        console.log('Inside class value Onchange')
        fetch('/questionBuilder/' + class_val).then(function(response) {
            response.json().then(function(data) {
                    $("#loaderSubject").hide();    
                    var optionHTML = '';
                    optionHTML += '<option value="na"  selected disabled> Select Subject </option>';
                    for (var subject of data.subjects) {
                    optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>';
                }
                subject_select.innerHTML = optionHTML;
            })
            
        });
        if (class_val>5){ 
          subject_id='56';
        }
        else if(class_val>2 && class_val<=5){
        subject_id='55';
        }
        else{
          subject_id='54';
        }

    }
    subject_select.onchange=function()  {
      class_val = class_select.value;
 
         subject_id = subject_select.value;
         $("#loaderTopic").show();
         console.log('Inside subject value Onchange')
         fetch('/questionBuilder/' + class_val + '/'+ subject_id).then(function(response) {
             response.json().then(function(data) {
                     $("#loaderTopic").hide();    
                     var optionHTML = '';
                     optionHTML += '<option value="na"  selected disabled> Select Topic </option>';
                    console.log('')
                     for (var topic of data.topics) {
                    
                        optionHTML += '<option value="' + topic.topic_id + '">' + topic.topic_name + '</option>';
                 }                 
                 topic_select.innerHTML =  optionHTML;
             })
             
         });
    }  
  {% endif %}
    //for (i = 0; i < 20; i++) {
    //$('#topiclist').append('<input type="radio" name="radio_name" />');
//}     
if(b!=1){
    subject_select.onchange=function()  {
         
         subject_id = subject_select.value;
         $("#loaderTopic").show();
         console.log('Inside subject value Onchange')
         fetch('/questionBuilder/' + class_val + '/'+ subject_id).then(function(response) {
             response.json().then(function(data) {
                     $("#loaderTopic").hide();    
                     var optionHTML = '';
                    console.log('')
                     for (var topic of data.topics) {
                    
                        optionHTML += '<option value="' + topic.topic_id + '">' + topic.topic_name + '</option>';
                 }                 
                 topic_select.innerHTML =  optionHTML;
             })
             
         });
    }  
}
         

    question_type.onchange = function(){
      console.log('Inside question type Onchange')
      question_type_value=question_type.value;
      console.log(question_type_value);
      if (question_type_value=='MCQ1'){
        $("#MCQ1_type").show();
      }
      else{
        $("#MCQ1_type").hide();
      }
    }

    // var checkBox1 = document.getElementById("option1");
    // var checkBox2 = document.getElementById("option2");
    // var checkBox3 = document.getElementById("option3");
    // var checkBox4 = document.getElementById("option4");
    // var correctans="";
    function correctOption(correct){
      document.getElementById('correct').value=correct.value;
      
    }
    // console.log("Correct Ans:"+correctans);

    function Clear(){
      document.getElementById('questionDesc').value='';
      document.getElementById('weightage').value='';
      var ele = document.getElementsByName('option_desc');

      console.log('Inside clear');
      console.log('length:'+ele.length);
      document.getElementById("preview").src = "https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/question_references/images/defaultReference.png";
      for(var i=0;i<ele.length;i++){
        ele[i].value = '';
        console.log('Inside for');
      }

      var ele = document.getElementsByName('optionChoice');
      console.log('Inside clear');
      // $('input:checkbox').removeAttr('checked');
      // var ele = $(this).find('input');
      //   if(ele.is(':checked')){
      //   ele.prop('checked', false);
      //   }
      for(var i=0;i<ele.length;i++){
        ele[i].checked=false;
      }
        console.log('Inside for');
        $('#classValSelected').val(1).change();
    }

    function back() {
      console.log('Inside back');
      var topic_list = document.getElementsByName('topicCheckbox');
        var checkboxesChecked = [];
        for (var i = 0; i < topic_list.length; i++) {
            // And stick the checked ones onto an array...
            if (topic_list[i].checked) {
                checkboxesChecked.push(topic_list[i].value);
            }
        }
        console.log(checkboxesChecked[0]);
        checkboxesChecked = JSON.stringify(checkboxesChecked);
        console.log(checkboxesChecked);
        $.ajax({
            url: "/questionBankQuestions",
            type: "POST",
            contentType: "application/json",
            data: checkboxesChecked,
            beforeSend: function() { 
                $("#questionEditorDiV").hide();
              $("#questionloader").show();
           },
            success: function (response) {
              $("#questionloader").hide();
                $("#questions").html(response);
                // alert('success');
            },
            error: function (xhr) {
                window.alert("error occurred while loading question");
            }
        });
    }
    
    /*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */
    function uploadFile(file, s3Data, url){
      const xhr = new XMLHttpRequest();
      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');
      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);      
        //console.log(s3Data.fields[key]);
      }
      postData.append('file', file);
      //alert('This is the file' + file);
      //alert('This is the url' + url);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            
            document.getElementById('preview').src = url;
            document.getElementById('reference').value = url;
          }
          else{
            window.alert("this is where the problem is");
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }
    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      var type = 'image/jpeg';
      console.log('File Name:'+file.name+'File type:'+file.type)
      xhr.open('GET', `/sign-s3?file-name=${ImageName}&file-type=${type}&folder=question_references`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            //alert("this is reponse data"+ response.data);
            //alert("this is reponse url"+ response.url);
            uploadFile(file, response.data, response.url);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }
    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload(){
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if(!file){
        return alert('No file selected.');
      }
      getSignedRequest(file);
    }
    /*
       Bind listeners when the page loads.
    */
    // (() => {
    //   document.getElementById('file-input').onchange = initUpload;
    // })();

    var updateButton = document.getElementById('updateButton')
    
    $('#updateButton').click(function(){
                      var question_id = $(this).attr('name');
                      var updatedCV = document.getElementById('classValSelected').value;
                      var topicName = document.getElementById('topicNameSelect').value;
                      var subName = document.getElementById('subjectNameSelected').value;
                      var qType = document.getElementById('questionType').value;
                      var qDesc = document.getElementById('questionDesc').value;
                      var weightage = document.getElementById('weightage').value;
                      var preview = document.getElementById("preview").src;
                      var opt = document.getElementsByClassName("option_class");
        var corrans="";
          var ele = document.getElementsByName('optionChoice');
          console.log("No of choices:"+ele.length);
            for(var i=0;i<ele.length;i++){
              if(ele[i].value!=null){
                // console.log(ele[i].value);
                console.log(ele[i].checked);
              if(ele[i].checked==true){
                corrans = ele[i].value;
                console.log('Correct Ans:'+ele[i].value);
              }
              }
              console.log("ele:"+ele[i].value);
            }
            console.log("Ans:"+corrans);
                      console.log(opt.length);
                      var options = [];
                      for(var i=0;i<opt.length;i++){
                        var obj = {};
                        console.log(opt[i].value);
                        options.push(opt[i].value);
                      }
                      console.log("Option"+options);
                      var op1,op2,op3,op4;
                      for(var i=0;i<options.length;i++){
                        if(i==0){
                        op1 = options[i];
                        }
                        else if(i==1){
                          op2 = options[i];
                        }
                        else if(i==2){
                          op3 = options[i];
                        }
                        else{
                          op4 = options[i];
                        }
                      }
                      console.log("Question Id in update Question:"+question_id);
                      console.log(updatedCV+" "+topicName+" "+subName+" "+qType+" "+qDesc+" "+corrans+" "+weightage+" "+preview+" "+op1+" "+op2+" "+op3+" "+op4)
                      var data="";
                      $.ajax({
                        url: "/updateQuestion?question_id="+ question_id + "&updatedCV="+ updatedCV+"&topicName="+topicName+"&subName="+subName+"&qType="+qType+"&weightage="+weightage+"&corrans="+corrans+"&preview="+preview+"&op1="+op1+"&op2="+op2+"&op3="+op3+"&op4="+op4+"&qDesc="+qDesc,
                        type: "get",
                        data: data,
                        success: function(response) {       
                          //  window.location.reload(); 
                        },
                        error: function(xhr) {
                          window.alert("error occurred while loading question");
                        }
                      }); 
    });

    $(document).ready(function () {
      console.log('Inside function')
      var f = "{{flag}}";
      console.log(f);
      {% if  flag %} 
        if(f){
          var questionType = '{{ questionUpdateUpload.question_type }}';
          if(questionDesc || classVal || questionType || desc || topicName){
              // var classVal = '{{ questionUpdateUpload.class_val }}'; 
              // var desc = '{{ questionUpdateUpload.subject_id }}';
              // var topicName = '{{ questionUpdateUpload.topic_id }}';
              console.log(questionDesc+' '+classVal+' '+questionType+' '+desc+' '+topicName);
            document.getElementById('questionDesc').value = '{{ question_desc }}';
              $('#classValSelected').val(classVal).change();
              $('#subjectNameSelected').val(desc);
              $('#topicNameSelect').val(topicName);
              $('#questionType').val(questionType);
          }
        }
        if(questionType=='MCQ1'){
        $("#MCQ1_type").show();
       }else{
        $("#MCQ1_type").hide();
      }
        {% endif %}
       
    });
    </script>

