{%extends "layout.html"%} {%block content%}
<div class="container">
    <h2>Question Builder</h2> 
                <div class="row">
                        <div class="col-sm-3">
                        <p><label><input type="radio" class="with-gap" name="newpage" id="upload_type1"  value="single"><span style="font-size:13px;">Question Builder</span></label></p>
                        </div>
                        <div class="col-sm-3">
                        <p><label><input type="radio" class="with-gap" name="newpage" id="upload_type2" value="bulk"><span style="font-size:13px;">Upload File</span></label></p>
                        </div>
                
                </div>
             
                <!--<p><button class="btn waves-light green lighten-1 white-text" type="submit" style="margin-top:23px;">Submit</button></p>-->
      
            <form action="{{ url_for('questionBuilder') }}" method="POST">
                   
            <div id="new" style="display:None;">
                

               
            </div>
            

            </form>
            
        
    </div>

<script>
    var upload_type1=document.getElementById('upload_type1')
    var upload_type2=document.getElementById('upload_type2')
    var new_form=document.getElementById('new')
    upload_type1.onchange=function(){
        $(function(){
            $.ajax({
                  url: "/questionUpload",
                  type: "get",
                  success: function(response) {
                    $("#new").show(); 
                    $("#new").html(response);        
                    },
                  error: function(xhr) {
                    window.alert("error occurred while loading question");
                  }
                });        

        });
        
    }
    upload_type2.onchange=function(){
       
        $(function(){
            $.ajax({
                  url: "/questionFile",
                  type: "get",
                  success: function(response) {
                    $("#new").show(); 
                    $("#new").html(response);        
                    },
                  error: function(xhr) {
                    window.alert("error occurred while loading question");
                  }
                });        

        });
        
    }
    
</script>

{%endblock%}