<h4>Upload a file </h4>
<!--{{ form.hidden_tag() }}-->

        <div class="form-group " style="padding-top:5px;">
                <div class="row">
                    
                        <div class="col-sm-3">
                                <div style="width:150px;">
                                        {{ form.class_val.label(class='labelsize') }}
                                        <br>
                                        {% if form.class_val.errors %}
                                        {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.class_val.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.class_val(class='form-control') }}
                                        {% endif %}
                                </div>
                        </div>
                        <div class="col-sm-2" style="margin-left: -120px;">
                                <div style="width:150px;">
                                                {{ form.subject_name.label(class='labelsize') }}
                                                <div id='loader1'style='display: none; float: right;'>
                                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                </div>
                                        <br>
                                                {% if form.subject_name.errors %}
                                                {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                {% for error in form.subject_name.errors %}
                                                 <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                                {% else %}
                                                {{ form.subject_name(class='form-control') }}
                                                {% endif %}      
                                </div>
                        </div>              
                    <div class="col-sm-4" style="padding-top:22px; padding-left:20px;margin-left: -20px;">
                      <a href="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/sample_templates/sample_question_builder_template.csv"><input class="btn waves-light green lighten-1 white-text" id="UploadBtn" type="button" value="Sample template" style="height:30px; width:160px;"></a><br><span>  *Dowload the sample template and edit the data .</span>
                    </div>
                    
                    </div>

                    <span id="message" style="color:Red;display: none;float:left;"></span>

<input type="file" class="load_data" accept=".csv" style="height: 30px; margin-top: 10px;" id="file-input" name="file-input"><br>
<span style="color:maroon;">Only 20 questions  can be uploaded at a time.</span><br>
<h5>Steps:</h5>
<ol>
<li>Select Class</li>
<li>Select Subject</li>
<li>Get Topic Id from the pane on right  to use in the input excel sheet</li>
<li>Download Sample Template</li>
<li>Enter questions and upload. Note: The Correct Answer column should contain the full answer and not the optino number</li>
</ol>

<!-- <div id="topicTable">
    <div id="topicLoader" style="display: none;padding-left: 300px;">
        <img src="../static/images/loader.gif"></div>
</div> -->

<!--<div class="container">
    <div class="table-responsive">
     <h1 align="center">CSV File to HTML Table Using AJAX jQuery</h1>
     <br />
     <div align="center">
      <button type="button" name="load_data" id="load_data" class="btn btn-info">Load Data</button>
     </div>
     <br />-->
     <div class="container" style="overflow-y: auto; height:500px; position: relative;">
     <div id="question_table">
     </div>
    </div>
    <!--</div>
   </div>-->
 <script>
   var class_select = document.getElementById("class_val");
    var subject_select = document.getElementById("subject_name");
    var topic_select = document.getElementById("topics");
    var chapter_num_select = document.getElementById("chapter_num");
    var optionHTMLClass = '';
    var optionHTMLSubject = '';
    var optionHTMLTopic = '';
    var optionHTMLChapter = '';
    $(document).ready(function(){
        $('#class_val').val("na");
        optionHTMLClass += '<option value="na"  selected disabled> Select Class </option>';
        class_select.innerHTML = optionHTMLClass + class_select.innerHTML;
        optionHTMLSubject += '<option value="na"  selected disabled> Select Subject </option>';
        subject_select.innerHTML = optionHTMLSubject + subject_select.innerHTML;
        optionHTMLChapter += '<option value="na"  selected disabled> Select Chapter </option>';
        chapter_num_select.innerHTML = optionHTMLChapter + chapter_num_select.innerHTML;
        optionHTMLTopic += '<option value="na"  selected disabled> Select Topic </option>';
        topic_select.innerHTML = optionHTMLTopic + topic_select.innerHTML;
    });

    class_select.onchange = function()  {
         
        class_val = class_select.value;
        $("#loader1").show();
        var cl = class_val.replace("/","-");
        fetch('/questionBuilder/' + cl).then(function(response) {
            response.json().then(function(data) {
                    $("#loader1").hide();    
                    var optionHTML = '';
                    optionHTML += '<option value="na"  selected disabled> Select Subject </option>';

                    for (var subject of data.subjects) {
                    optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>';
                }
                subject_select.innerHTML = optionHTML;
            })
            
        });
        if (class_val>5){
          subject_id='56';
        }
        else if(class_val>2 && class_val<=5){
        subject_id='55';
        }
        else{
          subject_id='54';
        }
    }

    subject_select.onchange=function()  {
        class_val = class_select.value;
        subject_id = subject_select.value;
        console.log('Inside subject_select on change')
        $("#loader2").show();
        var cl = class_val.replace("/","-");
        fetch('/questionChapterpicker/' + cl + '/'+ subject_id).then(function(response) {
            response.json().then(function(data){
                $("#loader2").hide();
                var optionHTML = '';
                optionHTML += '<option value="na"  selected disabled> Select Chapter </option>';
                for (var chapterNo of data.chapterNum){
                    optionHTML += '<option value="' + chapterNo.chapter_num + '">' + 'Chapter - ' +chapterNo.chapter_num + '</option>';
                  }
                  chapter_num_select.innerHTML =  optionHTML;
            })
        });


        var data="";
                      $.ajax({
                        url: "/questionTopicPicker?class_val="+ class_val + "&subject_id="+ subject_id,
                        type: "get",
                        data: data,
                        beforeSend: function() {
                            $("#topicLoader").show();
                        },
                        success: function(response) {   
                          $("#topicLoader").hide();
                          $("#topicTable").html(response);
                          $("#topicTableHeader").show();
                          $('#topicTable').show();
                        },
                        error: function(xhr) {
                          window.alert("error occurred while loading question");
                        }
                      }); 
     }

    //  chapter_num_select.onchange=function(){
    //    class_val = class_select.value;
    //    subject_id = subject_select.value;
    //    chapter_num = chapter_num_select.value;
    //                   var data="";
    //                   $.ajax({
    //                     url: "/questionTopicPicker?class_val="+ class_val + "&subject_id="+ subject_id+"&chapter_num="+chapter_num,
    //                     type: "get",
    //                     data: data,
    //                     beforeSend: function() {
    //                         $("#topicLoader").show();
    //                     },
    //                     success: function(response) {   
    //                       $("#topicLoader").hide();
    //                       $("#topicTable").html(response);
    //                       $("#topicTableHeader").show();
    //                       $('#topicTable').show();
    //                     },
    //                     error: function(xhr) {
    //                       window.alert("error occurred while loading question");
    //                     }
    //                   }); 
    //  }




    $(document).ready(function(){
    $('#file-input').click(function(){
        classValue = document.getElementById('class_val').value;
            subjectValue = document.getElementById('subject_name').value;
            testTypeValue = document.getElementById('topics').value;
            chapterNumValue = document.getElementById('chapter_num').value;
            console.log(classValue);
            $('#topicTableHeader').hide();
            $('#topicTable').hide();
            if(classValue=='na'){
                console.log('Inside message');
                tag = document.getElementById('message');
                tag.innerHTML = 'No Class Selected';
                $('#message').show();
                event.preventDefault();
            }
            else
            if(subjectValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Subject Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(chapterNumValue=='na'){
              tag = document.getElementById('message');
                tag.innerHTML = 'No Chapter Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(testTypeValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Topic Selected';
                $('#message').show();
                event.preventDefault();
            }else
            {
                $('#message').hide();
            }
    });
});
//$(document).ready(function(){
  //$('#file-input').click(function(){
    /*function hasExtension(inputID, exts) {
    var fileName = document.getElementById(inputID).value;
    return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test(fileName);
    }*/
    $( document ).ready(function() {
      $('#file-input').change(function (){
        //if (!hasExtension('file-input', ['.csv']))
        //{
        //  alert('Invaild file type !');
        //  document.getElementById("file-input").value="";
        //  return;
       // }
        var rdr = new FileReader();
        rdr.onload = function (e) {
      //get the rows into an array
      var data = e.target.result.split(/\r?\n|\r/);
     //var employee_data = data.split(/\r?\n|\r/);
     var table_data = '<table class="table table-bordered table-striped">';
     for(var count = 0; count<data.length; count++)
     {
      var cell_data = data[count].split(",");
      table_data += '<tr>';
      for(var cell_count=0; cell_count<cell_data.length; cell_count++)
      { 
       if(count === 0)
       {
        table_data += '<th>'+cell_data[cell_count]+'</th>';
       }
       else
       {
        table_data += '<td>'+cell_data[cell_count]+'</td>';
        
       }
    
      }
      if( count!=0){
        count1=count.toString();
      table_data+='<td><input type="file"'+'id="'+count1+'"'+ 'name="'+count1+'"'+ 'onchange="initUpload(this);" style="height: 30px;"></td> <input type="hidden" value=""'+'id= "reference-url'+count1+'"'+'name="reference-url'+count1+'">';}
      //<input type="hidden"'+'id= "reference-url'+count+'"'+'name="reference-url'+count+'">'
      else {
         table_data+='<th>Attach references</th>';
     }
      table_data += '</tr>';
     }
     
     table_data += '</table>';

     table_data+='<p><button class="btn waves-light green lighten-1 white-text" type="submit" id="upload" name="upload" style="margin-top:15px;">Upload</button></p>'
     $('#question_table').html(table_data);
  }
  rdr.readAsText($("#file-input")[0].files[0]);
});
});

  var button_id=0
/*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */
    function uploadFile(file, s3Data, url){
      const xhr = new XMLHttpRequest();
      //alert("the url being posted" + s3Data.url);
      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');
      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);      
        //console.log(s3Data.fields[key]);
      }
      postData.append('file', file);
      //alert('This is the file' + file);
      //alert('This is the url' + url);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            // alert('Uploaded')
            reference_name='reference-url'+button_id
            document.getElementById(reference_name).value = url;
            // alert( document.getElementById(reference_name).value)
            
            $('#upload').html("Upload");
            $('#upload').prop("disabled",false);
          }
          else{
            window.alert("this is where the problem is");
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }
    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
     
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}&folder=question_references`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
           
            //alert("this is reponse data"+ response.data);
            //alert("this is reponse url"+ response.url);
            //document.getElementsByName('reference-url').value = response.url;
            uploadFile(file, response.data, response.url);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }
    
    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload(element){
      $('#upload').prop("disabled",true);
      $('#upload').html("uploading please wait...");
      button_id=element.id
      var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      var charactersLength = characters.length;
      var element = document.getElementById(button_id);
      var filename = element.files[0];
      var nameFile = filename.name.split('.')[0];
      var Image = nameFile;
      // 'questionImage';
      Image += characters.charAt(Math.floor(Math.random() * charactersLength));
      Image += characters.charAt(Math.floor(Math.random() * charactersLength));
      Image += '.png';
      
      // alert(Image)
      var blob = filename.slice(0, filename.size, 'image/png'); 
      newFile = new File([blob], Image, {type: 'image/png'});

      // alert(button_id)
      // const files = document.getElementById(button_id).files;
      // const file = files[0];
      if(!newFile){
        return alert('No file selected.');
      }
      getSignedRequest(newFile);
    }
    /*
       Bind listeners when the page loads.
   
    (() => {
      document.getElementById('attached').onchange = initUpload;
    })();
     */

 </script>