{%extends "layout.html"%} {%block content%}
<div class="container">
    <h3>Question Bank</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group " style="padding-top:5px;">
            <div class="row">
                <div class="col-sm-3">
                    <div style="width:250px;">
                        {{ form.class_val.label(class='labelsize') }}
                        <br>
                        {% if form.class_val.errors %}
                        {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.class_val.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.class_val(class='form-control',id='classVal') }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2">
                        <div style="width:150px;">
                            {{ form.subject_name.label(class='labelsize') }}
                            <div id='loader' style='display: none; float: right;'>
                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                            </div>
                            <br>
                            {% if form.subject_name.errors %}
                            {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.subject_name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.subject_name(class='form-control',id='subId') }}
                            {% endif %}
                        </div>
                    </div>
                <div class="col-sm-3">
                        <div style="width:250px;">
                            {{ form.chapter_num.label(class='labelsize') }}
                            <div id='loader' style='display: none; float: right;'>
                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                            </div>
                            <br>
                            {% if form.chapter_num.errors %}
                            {{ form.chapter_num(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.chapter_num.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.chapter_num(class='form-control',id='chapno') }}
                            {% endif %}
                        </div>
                    </div>
                <!-- <div class="col-sm-2" style="padding-top:5px;">
                    {{ form.test_type.label(class='labelsize') }}
                    <br>
                    {% if form.test_type.errors %}
                    {{ form.test_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.test_type.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.test_type(class='form-control') }}
                    {% endif %}
                </div> -->
                <!-- <div class="col-sm-2" style="visibility: hidden;">
                        <label class='labelsize' for='Date'>Date</label>
                        <input type="date" name='test_date' id="test_date">
                </div> -->
                <div class="col-sm-2">
                    <p><button style="margin-top:22px; margin-left:5px;"
                            class="btn waves-light green lighten-1 white-text" type="submit">Load Topics</button></p>
                </div>
            </div>
        </div>
    </form>
        <div class="addQuestionButton">
            <button style="margin-left: 1000px;"
                class="btn waves-light green lighten-1 white-text" type="button"><a href="{{url_for('questionBuilder')}}" style="color: white;">Add Question</a></button>
        </div>
    <div class="row">
        {% if topics %}
        <div class="col-sm-3">
            <h3>Topics</h3>
            <div id="topic_box" style="overflow-y: auto; height:300px; position: relative;">
                {% for topic in topics %}
                <label for="{{ topic.topic_id }}" style="font-weight: 500;">
                    <input type="checkbox" id="{{ topic.topic_id }}" name="topicCheckbox"
                        value="{{ topic.topic_id }}"><span>{{ topic.topic_name }}</span>
                </label><br>
                {% endfor %}
            </div>
            <p><button style="margin-top:22px; margin-left:5px;" class="btn waves-light green lighten-1 white-text"
                    onclick="questions(); ">Load Questions</button></p>
            {% endif %}
        </div>
        <div class="col-sm-9" id="questions">
                <div id="questionloader" style="display: none;padding-left: 300px;">
                    <img src="../static/images/loader.gif">
                </div>
        </div>
    </div>
    <div id="filebox" style="display: none;">
    </div>
</div>
<script type="text/javascript">
    var count_marks = 0;
    var class_select = document.getElementById("classVal");
    var subject_select = document.getElementById("subId");
    var chapter_num_select = document.getElementById("chapno");
    class_select.onchange = function()  {
         
         class_val = class_select.value;
         $("#loader").show();
         console.log('Inside class value Onchange')
         fetch('/questionBuilder/' + class_val).then(function(response) {
             response.json().then(function(data) {
                     $("#loader").hide();    
                     var optionHTML = '';
                     for (var subject of data.subjects) {
                     optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>';
                 }
                 subject_select.innerHTML = optionHTML;
             })
             
         });
         if (class_val>5){ 
           subject_id='56';
         }
         else if(class_val>2 && class_val<=5){
         subject_id='55';
         }
         else{
           subject_id='54';
         }
         $("#loader").show();
         fetch('/questionChapterpicker/' + class_val + '/'+ subject_id).then(function(response) {
              response.json().then(function(data) {
                      $("#loader").hide();    
                      var optionHTML = '';
                     
                      for (var chapterNo of data.chapterNum) {
 
                         optionHTML += '<option value="' + chapterNo.chapter_num + '">' + 'Chapter - ' +chapterNo.chapter_num + '</option>';
                  }                 
                  chapter_num_select.innerHTML =  optionHTML;
              })
              
          });
     }
    // class_select.onchange = function () {
    //     class_val = class_select.value;
    //     // $("#loader").show();
    //     fetch('/questionBuilder/' + class_val).then(function (response) {
    //         response.json().then(function (data) {
    //             console.log('Inside question Builder');
    //             // $("#loader").hide();
    //             var optionHTML = '';
    //             for (var subject of data.subjects) {
    //                 optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>';
    //             }
    //             subject_select.innerHTML = optionHTML;
    //         })
    //     });
    //     // $("#loader").show();
    //     subject_id = subject_select.value;
    //     fetch('/questionChapterpicker/' +  class_val + '/'+ subject_id).then(function(response){
    //         class_val = class_select.value;
    //         response.json().then(function(data){
    //             // $("#loader").hide();
    //             var optionHTML = '';

    //             for(var chapno of data.chapterNum){
    //                 print(chapno.chapter_num);
    //                 optionHTML += '<option value="' + chapno.chapter_num + '">' + chapno.chapter_num + '</option>';
    //             }
    //             chapter_num_select.innerHTML = optionHTML;
    //         })
    //     });
    // }
    // var class_select = document.getElementById("class_val");
    // var subject_select = document.getElementById("subject_name");
    // var chapter_num = document.getElementById("chapter_num");
    // subject_select.onchange = function(){
    //     subject_name = subject_select.value;
    //     class_val = class_select.value;
    //     fetch('/questionBuilder/' + subject_name +'/'+class_val).then(function(response){
    //         response.json().then(function(data){
    //             var optionHTML = '';
    //             for(var chapternum of data.)
    //         })
    //     });

    // }


    function questions() {
        var topic_list = document.getElementsByName('topicCheckbox');
        var checkboxesChecked = [];
        for (var i = 0; i < topic_list.length; i++) {
            // And stick the checked ones onto an array...
            if (topic_list[i].checked) {
                checkboxesChecked.push(topic_list[i].value);
            }
        }
        console.log(checkboxesChecked[0]);
        checkboxesChecked = JSON.stringify(checkboxesChecked);
        console.log(checkboxesChecked);
        $.ajax({
            url: "/questionBankQuestions",
            type: "POST",
            contentType: "application/json",
            data: checkboxesChecked,
            beforeSend: function() {
                $("#questionEditorDiV").hide();
              $("#questionloader").show();
           },
            success: function (response) {
                $("#questionloader").hide();
                $("#questions").html(response);
            },
            error: function (xhr) {
                window.alert("error occurred while loading question");
            }
        });
    }
    function questionFile() {
        $("#questionSubmitBtn").attr("disabled", true);
        $("#questionSubmitLoader").show();
        var questions_list = document.getElementsByName('questionsCheckbox');
        var checkboxesChecked = [];
        for (var i = 0; i < questions_list.length; i++) {
            // And stick the checked ones onto an array...
            if (questions_list[i].checked) {
                checkboxesChecked.push(questions_list[i].value);
            }
        }
        //checkboxesChecked  = JSON.stringify(checkboxesChecked);   
        var data_list = []
        data_list.push(checkboxesChecked);
        console.log(data_list);
        data_list.push(count_marks);
        console.log(data_list);
        data_list = JSON.stringify(data_list);
        $.ajax({
            url: "/questionBankFileUpload",
            type: "POST",
            contentType: "application/json",
            data: data_list,
            success: function (response) {
                $("#filebox").show();
                $("#filebox").html(response);
                $("#questionSubmitBtn").attr("disabled", false);
                $("#questionSubmitLoader").hide();
            },
            error: function (xhr) {
                window.alert("error occurred while loading question");
            }
        });
    }

    function calculate_marks(e){
    checkbox_id=e.id
    weightage=document.getElementById(checkbox_id+"select").value
    if($(e).is(':checked'))
    {   count_marks=count_marks+parseInt(weightage)
         $("#marks").text(count_marks);
    }
    else
    {  count_marks=count_marks-parseInt(weightage)
        $("#marks").text(count_marks);
    }
}
    //for (i = 0; i < 20; i++) {
    //$('#topiclist').append('<input type="radio" name="radio_name" />');
//}     
</script>

{%endblock%}