{% if questions %}
<div id="questionUpdateParentDiv">
<div id="editQuestionsTableDiv">
<h3>Select questions
        <!-- <button style="float:right;text-transform: initial;width: 190px;"
                class="btn waves-light green lighten-1 white-text" type="button"><a href="{{url_for('questionBuilder')}}" style="color: white;">Add Question</a></button> -->
    </h3>
<div class="card id">
    <div class="card-body">
        <div id="table" class="table-editable" style="overflow-y: auto; height:600px; position: relative;">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Type</th>
                        <th scope="col">Weightage</th>
                        <th scope="col">Edit</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for q in questions %}
                    {% for question in q %}
                    <tr>
                        <td>
                            {% if question.question_type=='MCQ1' %}
                            <!-- <a href="#" name="{{ question.question_id }}" class="quesDescLink">{{ question.question_description }}</a> -->
                            <!-- <ul> -->
                                    <ul>
                                            <li>
                                              <div><a href="#" data-toggle="collapse" data-target="#{{ question.question_id }}" name="{{ question.question_id }}" class="quesDescLink">{{ question.question_description }}</a></div>
                                              <div class="collapse" class="optDiv" style="margin-left: 180px;" id="{{ question.question_id }}" ></div>
                                            </li>
                                    </ul>
                            <!-- <div class="optDiv" id="{{ question.question_id }}">
                          
                            </div> -->
                            <!-- </ul> -->
                            {% else %}
                                {{ question.question_description }}
                            {% endif %}
                            <!-- {% for qp in quesOption %}
                            {% for quesOption in qp %} -->
                            
                            <!-- {% endfor %}   -->
                            <!-- {% endfor %}  -->
                        </td>
                        <td> {{ question.question_type }} </td>
                        <td>{{ question.suggested_weightage }}<input type="hidden" value="{{ question.suggested_weightage }}"
                            id="{{ question.question_id }}select"></td>
                        <td><label for="{{ question.question_id }}">
                                <a id="" class="questionUpdateButton" name="{{ question.question_id }}" href="#">Edit</a>
                                <!-- {{url_for('questionDetails',question_id=question.question_id )}} -->
                            </label></td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 <!-- <div class="col-sm-9" id="questions">
        <div id="questionloader" style="display: none;padding-left: 300px;">
                <img src="../static/images/loader.gif">
                </div>
</div>  -->
 <!-- <div id='loader'>
        <div id='questionSubmitLoader' style='display: none;'>
            <img src='../static/images/spinner.gif' width='50px' height='50px'>
        </div>
        </div>   -->
        
    </div>
    <div id="questionloader" style="display: none;padding-left: 300px;">
            <img src="../static/images/loader.gif">
            </div>
        <div id="questionEditorDiV" style='display:none;'></div>
</div>

{% endif %}

<script>

  
    $(document).ready(function() {  
    var flag =  true;
    $('.quesDescLink').click(function(){
        var question_id = $(this).attr('name');
        var data="";
        $.ajax({
            url: "/questionOptions?question_id="+question_id,
            type: "get",
            data: data,
            success: function(response){
                var v = '#'+question_id;
                var option_list="<ul style='float:left;'><li>"+response[0][0]+"</li><li>"+response[0][1]+"</li></ul><ul><li>"+response[0][2]+"</li><li>"+response[0][3]+"</li></ul>";
                console.log(response[0][0]);
                console.log(response[0][1]);
                 for(var i=0;i<response.length;i++){
                    //  console.log(response[0][i]);
                 }
                $(v).html(option_list);
            }
        })
    });
});

    // function addQuestion(){
    //     console.log('Inside addQuestion');
    //     var data="";
    //     $.ajax({
    //         url: "/questionBuilder",
    //         type: "get",
    //         data: data,
    //         success: function(){
    //             console.log('Success');
    //         },
    //         error:function(xhr){
    //             window.alert("error occurred while loading question");
    //         }
    //     });
    // }



    $(document).ready(function(){
    $('.collapsible').collapsible();
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

        $('.questionUpdateButton').click(function(){              
                      
                      var question_id = $(this).attr('name');
                      console.log("Question Id in Question Update Button:"+question_id);
                      var data="";
                      $.ajax({
                        url: "/questionDetails?question_id="+question_id,
                        type: "get",
                        data: data,
                        beforeSend: function() {
                            $("#editQuestionsTableDiv").hide();  
                            // $("#loader").show();
                            $("#questionloader").show();
                        },
                         success: function(response) {       
                            // $("#loader").hide();
                            $("#questionloader").hide();
                            $('#editQuestionsTableDiv').hide();
                            $("#questionEditorDiV").html(response);
                            $("#questionEditorDiV").show();  
                        },
                        error: function(xhr) {
                          window.alert("error occurred while loading question");
                        }
                      });      
                             
                  });
                  




    //               updateQuestion = document.getElementById('questionUpdateButton');
    //               updateQuestion.onclick=function(){
    //                 $(function(){
    //                 $.ajax({
    //                 url: "/questionUpload",
    //                 type: "get",
    //                 success: function(response) {
    //                 $("#new").show();
    //                 $("#new").html(response);
    //                 $("#buttonbox").show();        
    //                 },
    //                 error: function(xhr) {
    //                 window.alert("error occurred while loading question");
    //               }
    //             });        

    //     });
        
    // }
                  </script>