{% extends "layout.html" %} {% block content %} {% if school_name %}
<div
  class="container container-color"
  style="padding-left: 50px; margin-top: 10px"
>
  <h2>{{school_name}}</h2>
  <div id="editor"></div>
  <button
    style="border-radius: 15px; float: right; margin-top: -100px"
    class="btn waves-light green lighten-1 white-text"
    type="button"
    id="addClassSubject"
  >
    <a href="javascript:void(0);" style="color: white">Download as PDF</a>
  </button>
  <hr />
  <h4 style="color: royalblue">
    Class {{class_val}} - {{test_type}} -
    {{today}}&nbsp;&nbsp;&nbsp;&emsp;&emsp;<span style="color: royalblue"
      >Subject: {{subject}}</span
    >&nbsp;&nbsp;&nbsp;&emsp;<span style="color: royalblue"
      >Total Marks: {{total_marks}}</span
    >
  </h4>
  <!-- <h4 style="color: royalblue">Subject: {{subject}}</h4>
  <h4 style="color: royalblue">Total Marks: {{total_marks}}</h4> -->
  <br />
  {% for question in fetchQuesIds %}
  <h3
    style="
      margin-bottom: 30px;
      font-family: 'Source Sans Pro', sans-serif;
      color: black;
    "
  >
    {{ question.question_description }}
  </h3>
  {%if question.reference_link !=None or question.reference_link!='' %}
  <aside class="">
    <img
      src="{{ question.reference_link }}"
      style="max-height: 300px; margin-left: 35px"
    />
  </aside>
  {% endif %}

  <ol
    type="A"
    class="horizontal-list"
    style="margin-top: 30px; margin-bottom: 30px; margin-left: 18px"
  >
    <li style="font-size: 18px">
      <h4>{{myDict[question.question_id][0]}}</h4>
    </li>
    <li style="font-size: 18px">
      <h4>{{myDict[question.question_id][1]}}</h4>
    </li>
    <li style="font-size: 18px">
      <h4>{{myDict[question.question_id][2]}}</h4>
    </li>
    <li style="font-size: 18px">
      <h4>{{myDict[question.question_id][3]}}</h4>
    </li>
  </ol>
  {% endfor %}
</div>
<script>
  var doc = new jsPDF();
  var specialElementHandlers = {
    "#editor": function (element, renderer) {
      return true;
    },
  };

  $("#addClassSubject").click(function () {
    doc.fromHTML($(".container").html(), 15, 15, {
      width: 170,
      elementHandlers: specialElementHandlers,
    });
    doc.save("sample-file.pdf");
  });
</script>
{% endif %} {% endblock %}
