{% extends "layout.html" %} {% block content %} {% if school_name %}
<div class="container">
  <h1>{{school_name}}</h1>
  <hr />
  <h3 style="color: royalblue">
    Class {{class_val}} - {{test_type}} - {{today}}
  </h3>
  <h4 style="color: royalblue">Subject: {{subject}}</h4>
  <h4 style="color: royalblue">Total Marks: {{total_marks}}</h4>
  <br />
  {% for question in fetchQuesIds %}
  <h3
    style="
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      color: black;
    "
  >
    {{ question.question_description }}
  </h3>
  {%if question.reference_link !=None or question.reference_link!='' %}
  <aside class="">
    <img
      src="{{ question.reference_link }}"
      style="max-height: 300px; max-width: 700px"
    />
  </aside>
  {% endif %}

  <ul class="horizontal-list" style="display: flex; margin-top: 10px">
    {% for dic in myDict %} {% if dic==question.question_id %}
    <li><h4 style="font-size: 14px">{{dic[0]}}</h4></li>
    <li><h4 style="font-size: 14px">{{dic[1]}}</h4></li>
    <li><h4 style="font-size: 14px">{{dic[2]}}</h4></li>
    <li><h4 style="font-size: 14px">{{dic[3]}}</h4></li>
    {% endif %} {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endif %} {% endblock %}
