{%extends "layout.html"%} {%block content%}
<div class="container">
    <h3>Recommendations</h3>
    
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>Class</th>
            <th>Subject</th>
            <th>Recommendations</th>                          
            
           
          </tr>
          <tr style="margin-top:5px;">
            <td>1</td>
            <td>English</td>
            <td>Reteach topic 1</td>                          
        
            
          </tr>
          <tr>
                  <td>2</td>
                  <td>English</td>
                  <td>Reteach topic 5</td>                                      
              
                  
                </tr>
                <tr>
                      <td>3</td>
                      <td>Science</td>
                      <td>Ask students to write about solar system</td>                          
              
                     
                    </tr>
                    <tr>
                          <td>4</td>
                          <td>Hindi</td>
                          <td>Ask students to write an essay in Hindi</td>                          
                        
                         
                        </tr>
                        <tr>
                              <td>5</td>
                              <td>Science</td>
                              <td>Teach in further depth about topic 5</td>                          
                             
                              
                            </tr>
                            <tr>
                                  <td>6</td>
                                  <td>Social Science</td>
                                  <td>Reteach class on soil</td>                                               
                                 
                                 
                                </tr>

        </table>
      </div>
</div>
</div>
{%endblock%}