{%extends "layout.html"%} {%block content%}
<div class="container">
        <h2>Result Upload</h2>
        <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group " style="padding-top:5px;">
                <div class="row">
                        <div class="col-sm-3">
                                <div style="width:250px;">
                                        {{ form.class_val.label(class='labelsize') }}
                                        <br>
                                        {% if form.class_val.errors %}
                                        {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.class_val.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.class_val(class='form-control') }}
                                        {% endif %}
                                </div>
                        </div>
                        <div class="col-sm-2">
                                <div style="width:150px;" >
                                                {{ form.section.label(class='labelsize') }}
                                                <div id='loader'style='display: none; float: right;'>
                                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                </div>
                                        <br>
                                                {% if form.section.errors %}
                                                {{ form.section(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                {% for error in form.section.errors %}
                                                 <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                                {% else %}
                                                {{ form.section(class='form-control') }}
                                                {% endif %}                                                
                                </div>
                        </div>
                        <div class="col-sm-2">
                        <label class='labelsize' for='Date'>Date</label>
                        <input type="date" name='testdate' id='testdate'>
                        </div>
                        <div class="col-sm-3" style="padding-top:5px;"> 
                                        {{ form.subject_name.label(class='labelsize') }}
                                        <div id='loaderSubject'style='display: none; float: right;'>
                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                </div>
                                        <br>
                                        {% if form.subject_name.errors %}
                                        {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.subject_name.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                        {% else %}
                                        {{ form.subject_name(class='form-control') }}
                                        {% endif %}
                        </div>  
                        <div class="col-sm-2" style="padding-top:5px;"> 

                                        {{ form.test_type.label(class='labelsize') }}
                                        <br>
                                        {% if form.test_type.errors %}
                                        {{ form.test_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.test_type.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.test_type(class='form-control') }}
                                        {% endif %}
                        </div>  
                </div>
                <p><button class="btn waves-light green lighten-1 white-text" type="submit">Submit</button></p>
                <div class="right"><a href="{{url_for('resultUploadHistory')}}">Upload History</a></div>
            </div>
        </form>
      </div>
      
{% if student_list %}
<div class="container" style="float:right;">
<p class="right">* Please enter -1 for absent students</p>
</div>
<div class="card id" id="result_table">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{ sub_name }} {{ test_type }} [{{ test_date }}] </h3>
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                            <tr>
                                <th scope="col">Student Name</th>
                                <th scope="col">Total Marks</th>
                                <th scope="col">Marks Scored</th>
                            </tr>
                    </thead>
                    <tbody>
                        <form action="" method="POST" name="form-upload">
                                {{ form1.hidden_tag() }}
                                <input type="hidden" name="upload_form" value="Upload">
                                
                            {% for student in student_list %}
                                <tr>
                                    <td> {{student.full_name }} </td>
                                    <td> {{ totalmarks }} </td>
                                
                                    <td><div class="container" style="width:100px;">{{ form1.marks }}</div></td>
                                </tr>
                            {% endfor %}
                    </tbody>
            </table>
        </div>
        </div>
      </div>
      <p style="padding-left:575px;">{{ form1.upload(class="btn waves-light green lighten-1 white-text") }}</p>
      </form>
      {% endif %}
      <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
        } 
        if(mm<10){
                mm='0'+mm
        } 

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("testdate").setAttribute("max", today);



        var class_select = document.getElementById("class_val");
        var section_select = document.getElementById("section");
        var subject_select = document.getElementById("subject_name");
        var test_type_select = document.getElementById("test_type");
        var optionHTMLClass = '';
        var optionHTMLSubject = '';
        var optionHTMLSection = '';
        var optionHtmlTestType = '';
        $(document).ready(function(){
        $('#class_val').val("na");
        $('#test_type').val("na");
        console.log("CLass Value:"+class_select.value);
        optionHTMLClass += '<option value="na"  selected disabled> Select Class </option>';
        class_select.innerHTML = optionHTMLClass + class_select.innerHTML;
        optionHTMLSubject += '<option value="na"  selected disabled> Select Subject </option>';
        subject_select.innerHTML = optionHTMLSubject + subject_select.innerHTML;
        optionHTMLSection += '<option value="na"  selected disabled> Select Section </option>';
        section_select.innerHTML = optionHTMLSection + section_select.innerHTML;
        optionHtmlTestType += '<option value="na" select disabled>Select Test Type</option>';
        console.log('Inside test type');
        test_type_select.innerHTML = optionHtmlTestType + test_type_select.innerHTML;
        });
        class_select.onchange = function()  {
             
            class_val = class_select.value;
            $("#loader").show();
            
            fetch('/resultUpload/' + class_val).then(function(response) {
                response.json().then(function(data) {
                        $("#loader").hide();    
                        var optionHTML = '';
                        optionHTML += '<option value="na"  selected disabled> Select Section </option>';
                        for (var section of data.sections) {
                        optionHTML += '<option value="' + section.section_val + '">' + section.section_val + '</option>';
                    }
                    section_select.innerHTML = optionHTML;
                })
            });
            $("#loaderSubject").show();
            fetch('/questionBuilder/' + class_val).then(function(response){
                response.json().then(function(data){
                        $("#loaderSubject").hide();
                        var optionHTML = '';
                        optionHTML += '<option value="na"  selected disabled> Select Subject </option>';
                     for (var subject of data.subjects) {     
                        optionHTML += '<option value="' + subject.subject_id + '">' + subject.subject_name + '</option>'; 
                 }
                 subject_select.innerHTML = optionHTML;
                })
            });

        }
    </script>
{%endblock%}