{%extends "layout.html"%} {%block content%}
<div class="container">
        <h2>Result Upload</h2>
        <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group " style="padding-top:5px;">
                <div class="row">
                        <div class="col-sm-3">
                                <div style="width:250px;">
                                        {{ form.class_val.label(class='labelsize') }}
                                        <br>
                                        {% if form.class_val.errors %}
                                        {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.class_val.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.class_val(class='form-control') }}
                                        {% endif %}
                                </div>
                        </div>
                        <div class="col-sm-2">
                                <div style="width:150px;" >
                                                {{ form.section.label(class='labelsize') }}
                                                <div id='loader'style='display: none; float: right;'>
                                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                </div>
                                        <br>
                                                {% if form.section.errors %}
                                                {{ form.section(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                {% for error in form.section.errors %}
                                                 <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                                {% else %}
                                                {{ form.section(class='form-control') }}
                                                {% endif %}                                                
                                </div>
                        </div>
                        <div class="col-sm-2">
                        <label class='labelsize' for='Date'>Date</label>
                        <input type="date" name='testdate' min="2018-01-01" max="2019-06-30">
                        </div>
                        <div class="col-sm-3" style="padding-top:5px;"> 
                                        {{ form.subject_name.label(class='labelsize') }}
                                        <br>
                                        {% if form.subject_name.errors %}
                                        {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.subject_name.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                        {% else %}
                                        {{ form.subject_name(class='form-control') }}
                                        {% endif %}
                        </div>  
                        <div class="col-sm-2" style="padding-top:5px;"> 

                                        {{ form.test_type.label(class='labelsize') }}
                                        <br>
                                        {% if form.test_type.errors %}
                                        {{ form.test_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.test_type.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.test_type(class='form-control') }}
                                        {% endif %}
                        </div>  
                </div>
                <p><button class="btn waves-light green lighten-1 white-text" type="submit">Submit</button></p>
            </div>
        </form>
      </div>
{% if student_list %}
<div class="card id" id="result_table">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{ sub_name }} {{ test_type }} [{{ test_date }}] </h3>
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                            <tr>
                                <th scope="col">Student Name</th>
                                <th scope="col">Total Marks</th>
                                <th scope="col">Marks Scored</th>
                            </tr>
                    </thead>
                    <tbody>
                        <form action="" method="POST" name="form-upload">
                                {{ form1.hidden_tag() }}
                                <input type="hidden" name="upload_form" value="Upload">
                                
                            {% for student in student_list %}
                                <tr>
                                    <td> {{student.full_name }} </td>
                                    <td> {{ totalmarks }} </td>
                                
                                    <td><div class="container" style="width:100px;">{{ form1.marks }}</div></td>
                                </tr>
                            {% endfor %}
                    </tbody>
            </table>
        </div>
        </div>
      </div>
      <p style="padding-left:575px;">{{ form1.upload(class="btn waves-light green lighten-1 white-text") }}</p>
      </form>
      {% endif %}
      <script>
        var class_select = document.getElementById("class_val");
        var section_select = document.getElementById("section");
        class_select.onchange = function()  {
             
            class_val = class_select.value;
            $("#loader").show();
            
            fetch('/resultUpload/' + class_val).then(function(response) {
                response.json().then(function(data) {
                        $("#loader").hide();    
                        var optionHTML = '';
                        for (var section of data.sections) {
                        optionHTML += '<option value="' + section.section_val + '">' + section.section_val + '</option>';
                    }
                    section_select.innerHTML = optionHTML;
                })
            });
        }
    </script>
{%endblock%}