{%extends "layout.html"%} {%block content%}

<div class="container">
  <div class="row">
    <h3>Schedule Details</h3>
    <h5>
      <ul class="collapsible">
        <li class="active" id="create">
          <div class="collapsible-header"><i class="large material-icons" style="font-size: 2rem;">insert_chart</i>Create Schedule</div>
          <div class="collapsible-body">
            <form action="" method="POST" enctype="multipart/form-data">
              <form id="timeTableForm">
                  <div class="form-group " style="padding-top:5px;">
                  <div class="row">
                    <section class="plans-container" id="plans">
                      <div style="display: flex;">
                      <h4 style="margin-left:25px;">Step 1</h4>
                      <h4 style="margin-left:320px;">Step 2</h4>
                    </div>
                      <article class="col s12 m6 l4 ">
                        <div class="card  z-depth-4">
                          <div class="card-image">
                          </div>
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                      <div style="width:150px;">
                          {{ form1.class_val.label(class='labelsize') }}
                          <br>
                          {% if form1.class_val.errors %}
                          {{ form1.class_val(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form1.class_val.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                          {% else %}
                          {{ form1.class_val(class='form-control',id='classVal') }}
                          {% endif %}
                      </div>
                  </div>
                  <div class="subjectDetails" style="width:260px;margin-left: 20px;">
                    <table id = "subTable" style="display: none;">
                      <thead>
                      <tr>
                        <th><label style="margin-left: 15px;">Subjects</label></th>
                        <th><label>Periods per week</label></th>
                      </tr>
                    </thead>
                    <tbody id="addSubTime">
                      
                    </tbody>
                    
                    </table>
                    <div id="subjectloader" style="display:none;margin-left:60px;">
                    <img src="../static/images/loader.gif">
                  </div>
                </div>
                  
              </div>
              </article>
                  <article class="col s12 m6 l4 ">
                    <div class="card  z-depth-4">
                      <div class="card-image">
                      </div>
                <div style="margin-left:68px;width:200px;">
                  <label>No of periods per day:</label>
                  <input type="number" id="slots" onKeyPress="return false;" name="slots" style="width:50px;"/></br>
              </div>
            <div style="width:230px;margin-left: 70px;">
                <label>No of Days (per week)</label>
                <input type="number" id="nDays" name="nDays" onKeyPress="return false;" min="1" max="6" style="width:50px;"/></br>
            </div>
                  <div class="noOfDays" style="margin-left:68px;">
                      
                      <p>
                          <label>
                            <input type="checkbox" class="day" name="day" value="Monday" />
                            <span>Monday</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="day" name="day" value="Tuesday" />
                            <span>Tuesday</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="day" name="day" value="Wednesday" />
                            <span>Wednesday</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="day" name="day" value="Thursday" />
                            <span>Thursday</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="day" name="day" value="Friday" />
                            <span>Friday</span>
                          </label>
                        </p>
                        <p>
                          <label>
                            <input type="checkbox" class="day" name="day" value="Saturday" />
                            <span>Saturday</span>
                          </label>
                        </p>
                  </div>
                </div>
              </article>
            </section>
      
            <div class="button active" style="text-align: center;margin-top: 340px;">
              <button class="btn waves-light green lighten-1 white-text" id="submit" onclick="hide();" value="submit">Submit</button>
          </div>
          </div> 
                
                  
              
            </form>
      </form>
          </div>
        </li>
        <li id="view">
          <div class="collapsible-header"><i class="large material-icons" style="font-size: 2rem;">view_module</i>View Schedule</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col-sm-2">
                <div style="width:170px;">
                  {{ form.class_section.label(class='labelsize') }}
                  <br>
                  {% if form.class_section.errors %}
                  {{ form.class_section(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.class_section.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                  {{ form.class_section(class='form-control') }}
                  {% endif %}
                </div>
                <input type='hidden' name='checkIndx' id='checkIndx' />
            </div> 
            
            </div>
            <div class="row">
              <div id="timeTableDiv">
          
              </div>
            </div>
            <div class="downloadBtn" id="download" style="text-align: right;">
              <button class="btn waves-light green lighten-1 white-text" id="download">Download</button>
          </div>
          <a href="" id="downloadUrl" style="display: none;" download>Download</a>
          </div>
        </li>
      </ul>
       
   
  </div>
  


</div>

<script>

$('#download').click(function(){
  $.ajax({
            url: "/downloadTimeTable?class_value=" + class_val+"&section="+section,
            type: "POST",
            data: "",
            success: function (response) {
              console.log('inside download success');
              console.log(response);
              for(var i=0;i<response.length;i++){
                console.log(response[i]);
              $('#downloadUrl').attr("href",response[i]);
              }
              $('#downloadUrl')[0].click();
            },
            error: function (xhr) {
                window.alert("error occurred while fetching timetable");
            }
        });
});


$(document).ready(function(){
  $('.button').hide();
});
$('input.day').on('change', function(evt) {
  var limit = document.getElementById('nDays').value;
  console.log(limit);
  console.log($("input[name='day']:checked").length);
   if($("input[name='day']:checked").length < limit) {
      console.log('if check length is less then limit ');
       
       $('.button').hide();
   }else{
    console.log('if check length is greater then or equal to limit ');
        $('.button').show();
   }
});
var class_select = document.getElementById("classVal");
var optionHTMLClass = '';
    $(document).ready(function () {
        $('#classVal').val("na");
        optionHTMLClass += '<option value="na" disabled selected> Select Class </option>';
        class_select.innerHTML = optionHTMLClass + class_select.innerHTML;
    });


  var class_section = document.getElementById('class_section');
  var optionHTMLClassSection = '';
    $(document).ready(function () {
        $('#classVal').val("na");
        optionHTMLClassSection += '<option value="na" disabled selected> Select Class Section </option>';
        class_section.innerHTML = optionHTMLClassSection + class_section.innerHTML;
    });

    classSection = class_section.value;
    var res = classSection.split("-");
    var class_val = res[0];
    var section = res[1];
  class_section.onchange = function(){
    
    console.log('inside function of class section');
    console.log('Section:'+section);
    $.ajax({
            url: "/fetchTimeTable?class_value=" + class_val+"&section="+section,
            type: "get",
            data: "",
            success: function (response) {
              $('#timeTableDiv').html(response);
              // $('#download').show();
            },
            error: function (xhr) {
                window.alert("error occurred while fetching timetable");
            }
        });
  };

  $("#slots").blur(function(){
  var slots = $('#slots').val();
  var input = '';
  for(var i=0;i<slots;i++){
    input = input + '<label>Start:</label><input type="text" name="start" id="start1" style="width:50px;"/><label>End:</label><input type="text" name="end" id="end1" style="width:50px;"/></br>'
  }
  $('.Time').html(input);
});

// $("#slots").attr({
//    "max" : maxSub,
//    "min" : 1
// });

var maxSub = '';

class_select.onchange = function(){
  $('#subTable').hide();
  $('#subjectloader').show();
  var class_v = class_select.value;
    console.log('inside class_val onchange');
    console.log('class'+class_v);
    $.ajax({
            url: "/allSubjects?class_value=" + class_v,
            type: "get",
            data: "",
            success: function (response) {

              subTimeHtml = '';  
              console.log(response);  
              responseArr = response.toString().split(',');
              maxSub = responseArr.length;
              $("#slots").attr({
                  "max" : maxSub,
                  "min" : 1
              });
              for(var i=0;i<responseArr.length;i++){
                
                console.log(responseArr[i]);
                subTimeHtml = subTimeHtml+ '<tr><td><label style="margin-left:15px;">'+responseArr[i]+'</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="hidden" id="subject1" value="'+responseArr[i]+'" name="subject" style="width:50px;" /></td><td><input type="number" onKeyPress="return false;" id="time1" min="1" max="'+maxSub+'" name="time" style="width:50px;"/></td></tr>';
              }
              $('#subjectloader').hide();
              $('#addSubTime').html(subTimeHtml);
              $('#subTable').show();
              
            },
            error: function (xhr) {
                window.alert("error occurred while fetching subjects list");
            }
        });
  };


// $(document).ready(function(){
//     $('select').formSelect();
//   });
function hide(){
  console.log('inside hide');
  $('#create').removeClass("active");
    $('#view').addClass("active");
}

  $('#submit').click(function(){
    $('#create').removeClass("active");
    $('#view').addClass("active");
    $e.preventDefault(); 
    var form = $('#timeTableForm');  
    $.ajax({
            url: "/schedule",
            type: "POST",
            data: form.serialize(),
            success: function (formResponse) { 
              $('#create').removeClass("active");
              $('#view').addClass("active");
           
            },
            error: function (xhr) {
              $('#errorMSGSpan').html('Error in creating timetable Please try again.');  
            }
        });
  });

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>

{% endblock %}