{%extends "layout.html"%} {%block content%}
<div class="container">    
    
    <p><h3>Shivalik Public School's ranking this week is: </h3><h2>30</h2></p>

    <div class="card">
    <h3 class="card-header text-center font-weight-bold py-4">Top performing schools this week</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <!--<span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success">
            <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
        </a>
    </span>-->
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">School Name</th>
            <th class="text-center">City</th>
            <th class="text-center">State</th>
            <th class="text-center">Rank</th>            
          </tr>
          <tr>
            <td class="pt-3-half" contenteditable="false">Brilliant Public School</td>
            <td class="pt-3-half" contenteditable="false">Shillong</td>
            <td class="pt-3-half" contenteditable="false">Meghalaya</td>
            <td class="pt-3-half" contenteditable="false">1</td>                                    
          </tr>
          <!-- This is our clonable table line -->
          <tr>
                <td class="pt-3-half" contenteditable="false">NY Public School</td>
                <td class="pt-3-half" contenteditable="false">NYC</td>
                <td class="pt-3-half" contenteditable="false">NY</td>
                <td class="pt-3-half" contenteditable="false">2</td>                                    
              </tr>
          <!-- This is our clonable table line -->
          <tr>
                <td class="pt-3-half" contenteditable="false">Gotham Public School</td>
                <td class="pt-3-half" contenteditable="false">Gotham</td>
                <td class="pt-3-half" contenteditable="false">GH</td>
                <td class="pt-3-half" contenteditable="false">3</td>                                    
              </tr>
          <!-- This is our clonable table line -->
          <tr>
                <td class="pt-3-half" contenteditable="false">Metropolis Public School</td>
                <td class="pt-3-half" contenteditable="false">Metropolis</td>
                <td class="pt-3-half" contenteditable="false">NY</td>
                <td class="pt-3-half" contenteditable="false">4</td>                                    
              </tr>
              <tr>
                    <td class="pt-3-half" contenteditable="false">Star Public School</td>
                    <td class="pt-3-half" contenteditable="false">Start City</td>
                    <td class="pt-3-half" contenteditable="false">Alabama</td>
                    <td class="pt-3-half" contenteditable="false">5</td>                                    
                  </tr>
                  <tr>
                        <td class="pt-3-half" contenteditable="false">Delhi Public School</td>
                        <td class="pt-3-half" contenteditable="false">Delhi</td>
                        <td class="pt-3-half" contenteditable="false">Delhi</td>
                        <td class="pt-3-half" contenteditable="false">6</td>                                    
                      </tr>
                      <tr>
                            <td class="pt-3-half" contenteditable="false">Unstoppable Public School</td>
                            <td class="pt-3-half" contenteditable="false">Unstoppable city</td>
                            <td class="pt-3-half" contenteditable="false">Meghalaya</td>
                            <td class="pt-3-half" contenteditable="false">7</td>                                    
                          </tr>
                          <tr>
                                <td class="pt-3-half" contenteditable="false">Awedosome Public School</td>
                                <td class="pt-3-half" contenteditable="false">Awesome city</td>
                                <td class="pt-3-half" contenteditable="false">Awesome state</td>
                                <td class="pt-3-half" contenteditable="false">8</td>                                    
                              </tr>
                              <tr>
                                    <td class="pt-3-half" contenteditable="false">Random Public School</td>
                                    <td class="pt-3-half" contenteditable="false">Random city</td>
                                    <td class="pt-3-half" contenteditable="false">Meghalaya</td>
                                    <td class="pt-3-half" contenteditable="false">9</td>                                    
                                  </tr>
                                  <tr>
                                        <td class="pt-3-half" contenteditable="false">Rishikesh Public School</td>
                                        <td class="pt-3-half" contenteditable="false">Rishikesh</td>
                                        <td class="pt-3-half" contenteditable="false">Uttarakhand</td>
                                        <td class="pt-3-half" contenteditable="false">10</td>                                    
                                      </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{%endblock%}