{% extends "layout.html" %} {% block content %}
<div class="container">
    {%if fromImpact=='True'%}
    <div class="row">
        <h3>To complete the connection setup</h3>        
        <h4>Please go to the school profile on <a href="http://127.0.0.1:8000">Impact</a> </h4>
        <h4>Click on 'Add school performance data'</h4>
        <h4>Click on 'Connect existing school performance account'</h4>
    </div>
    {%endif%}
    <h3 class="card-header text-center font-weight-bold py-4">Classes Registered Summary</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Class</th>
                        <th scope="col">Section</th>
                        <th scope="col">Student Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class_data in data %}
                    <tr>
                        <td> {{ class_data.class_val }} </td>
                        <td> {{ class_data.section }} </td>
                        <td> {{ class_data.student_count }} </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-3">
            <p><a href="{{ url_for('teacherDirectory') }}"><button style="margin-top:22px; margin-left:5px;"
                        class="btn waves-light green lighten-1 white-text">Invite Teachers</button></a></p>
        </div>
        <div class="col-sm-3">
            <p><a href="{{ url_for('studentRegistration') }}"><button style="margin-top:22px; margin-left:5px;"
                        class="btn waves-light green lighten-1 white-text">Add Students</button></a></p>
        </div>

    </div>
    <div class='row'>
        <h5>Other teachers at your school can now register themselves and use the following school id to request access to the dashboard</h5> <h4>{{school_id}}</h4>
            
    </div>
    <h4>Or</h4>
    <div class='row'>        
            <a href="{{url_for('postJob')}}"><h4>Post Jobs</h4></a> <h5>To hire new volunteer or permanent teachers</h5>
    </div>
</div>

{% endblock %}