{% extends "layout.html" %} {% block content %}

<div class="container">
<form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group " style="padding-top:5px;">
          <div class="row">
                <div class="col-sm-9">
                        <div class="row">
                            <h4>School Details</h4>
                            <div class="col-sm-8">
                                    {{ form.schoolName.label(class='labelsize') }}
                                    <br>
                                    {% if form.schoolName.errors %}
                                    {{ form.schoolName(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for error in form.schoolName.errors %}
                                     <span>{{ error }}</span>
                                    {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.schoolName(class='form-control') }}
                                    {% endif %}
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-3">
                                        {{ form.board.label(class='labelsize') }}
                                        <br>
                                        {% if form.board.errors %}
                                        {{ form.board(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.board.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.board(class='form-control') }}
                                        {% endif %}
                                </div>
                        </div>
                        <div class="row">
                                <h4>Address Details</h4>
                                <div class="col-sm-4">
                                        {{ form.address1.label(class='labelsize') }}
                                        <br>
                                        {% if form.address1.errors %}
                                        {{ form.address1(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.address1.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.address1(class='form-control') }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.address2.label(class='labelsize') }}
                                        <br>
                                        {% if form.address2.errors %}
                                        {{ form.address2(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.address2.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.address2(class='form-control') }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form.locality.label(class='labelsize') }}
                                        <br>
                                        {% if form.locality.errors %}
                                        {{ form.locality(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.locality.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.locality(class='form-control') }}
                                        {% endif %}
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        {{ form.city.label(class='labelsize') }}
                                        <br>
                                        {% if form.city.errors %}
                                        {{ form.city(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.city.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.city(class='form-control') }}
                                        {% endif %}
                                    </div> 
                            
                                    <div class="col-sm-3">
                                        {{ form.state.label(class='labelsize') }}
                                        <br>
                                        {% if form.state.errors %}
                                        {{ form.state(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.state.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.state(class='form-control') }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form.country.label(class='labelsize') }}
                                        <br>
                                        {% if form.country.errors %}
                                        {{ form.country(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.country.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.country(class='form-control') }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form.pincode.label(class='labelsize') }}
                                        <br>
                                        {% if form.pincode.errors %}
                                        {{ form.pincode(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.pincode.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.pincode(class='form-control') }}
                                        {% endif %}
                                    </div>
                            
                                </div>
                        
                        </div>
                </div>
                <div id="classbox" name="classbox"> 
                </div>
                <p><input type='button' id="addClassbtn" style="width:150px; height:40px; margin-top:10px;" onclick="addClass();" value="Add Class"></p>
                <p><button class="btn waves-light green lighten-1 white-text" style="margin-top: 5px; margin-top:5px; margin-left:550px;" type="submit" id="submit" name="submit" value="submit">Confirm</button></p>
            </div>
        </div>


</form>
</div>

<script>
 var classbox_data='';
    var count1=0;
    function addClass(){
        var row_id=document.getElementById('classbox');
      count1+=1  
      header='<h4 style="text-weight:Bold;">Class Details</h4>'
      classbox_data+=`
      <div class="z-depth-1" style='padding-left:10px; padding-top:10px; padding-bottom:10px'>
      <div class='row'>
      <div class='col-sm-3'>
          {{ form.class_val.label(class='labelsize') }}
                <br>
                {% if form.class_val.errors %}
                {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.class_val.errors %}
                 <span>{{ error }}</span>
                {% endfor %}
                </div>
                {% else %}
                {{ form.class_val(class='form-control') }}
                {% endif %}
      </div>
      <div class='col-sm-3'>
          {{ form.section.label(class='labelsize') }}
                <br>
                {% if form.section.errors %}
                {{ form.section(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.section.errors %}
                 <span>{{ error }}</span>
                {% endfor %}
                </div>
                {% else %}
                {{ form.section(class='form-control') }}
                {% endif %}
          </div>
          <div class='col-sm-3'>
          {{ form.student_count.label(class='labelsize') }}
                <br>
                {% if form.student_count.errors %}
                {{ form.student_count(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.student_count.errors %}
                 <span>{{ error }}</span>
                {% endfor %}
                </div>
                {% else %}
                {{ form.student_count(class='form-control') }}
                {% endif %}
          </div>
   </div></div>`;
      row_id.innerHTML=header+classbox_data;
    
    }

    </script>
    

{% endblock %}