{% extends "layout.html" %} {% block content %}
<div class="container">

    <p><a href="{{ url_for('teacherRegistration') }}"><button style="margin-top:22px; margin-left:5px;" class="btn waves-light green lighten-1 white-text">Teacher Registration</button></a></p>
    <p><a href="{{ url_for('studentRegistration') }}"><button style="margin-top:22px; margin-left:5px;" class="btn waves-light green lighten-1 white-text">Student Registration</button></a></p>

<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Classes Registered Summary</h3>
<div class="card-body">
  <div id="table" class="table-editable">
    <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
                    <tr>
                        <th scope="col">Class</th>
                        <th scope="col">Section</th>
                        <th scope="col">Student Count</th>
                    </tr>
            </thead>
            <tbody>
                    {% for class_data in data %}
                        <tr>
                            <td> {{ class_data.class_val }} </td>
                            <td> {{ class_data.section }} </td>
                            <td> {{ class_data.student_count }} </td>
                        
                        </tr>
                    {% endfor %}
            </tbody>
    </table>
</div>
</div>
</div>

{% endblock %}