{%extends "layout.html"%}
{%block content%}
{%if not qstudent_id %}
<div class="container">
    <h3>Student Directory</h3>
    <div id="studentProfileDiv">
        <!--This is the start of student performance input form-->
        <div class="row">
            <div class="col-sm-4">
                {{ form.student_name.label(class='labelsize') }}
                <br>
                {% if form.student_name.errors %}
                {{ form.student_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.student_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.student_name(class='form-control',onkeyup='myFunction()',placeholder='Search name...') }}
                {% endif %}
            </div>
            <div class="col-sm-2">
                <div style="width:150px;">
                    {{ form.class_section.label(class='labelsize') }}
                    <div id='loader1' style='display: none; float: right;'>
                        <img src='../static/images/spinner.gif' width='25px' height='25px'>
                    </div>
                    <br>
                    {% if form.class_section.errors %}
                    {{ form.class_section(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.class_section.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.class_section(class='form-control') }}
                    {% endif %}
                </div>
                <input type='hidden' name='checkIndx' id='checkIndx' />
            </div>
            <div class="col-sm-2" style="margin-left:70px;">
                <a href="{{url_for('studentRegistration',student_id='')}}"><input type="button" class="btn green"
                        style="height:35px; width:158px;float:right;margin-bottom: 10px;" id="addStudent" value="Add Student"></a>
                        <a href="{{url_for('promoteStudent')}}"><input type="button" class="btn green"
                            style="height:35px; width:158px;float:right" id="promoteStudent" value="Promote Student"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="sepratorLine">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="HeadingBox">
                    <div class="BoxTxt">
                        <h3>Directory</h3>
                    </div>
                </div>
                <div>
                    <h3 class="grey-text" id="msg" style="text-align: center;display:none;">No Students Available</h3>
                </div>
                <div class="StudentList" id="list">
                    <div class="box-body table-responsive no-padding" style="height: 540px;">
                        <table class="table table-hover table-striped" id="myTable">

                            {% for student in available_student_list%}
                            <tr class="rowPos" id="{{student.student_id}}"
                                onclick="studentDetail('{{student.student_id}}');" name="">

                                {% if student.profile_picture %}
                                <td><img style="width: 50px;height:50px;" src="{{student.profile_picture}}"
                                        alt="Student Image"></td>
                                {% else %}
                                <td><img style="width: 50px;height:50px;"
                                        src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png"
                                        alt="Student Image"></td>
                                {% endif %}
                                <td style="padding-top: 20px;padding-left:20px;" class="StudName" id="{{loop.index}}">
                                    <a href="#" style="display: none;" id="{{loop.index}}">{{student.full_name}}</a>
                                    <input type="hidden" value="{{student.class_val}}" id="class{{loop.index}}">
                                    <input type="hidden" value="{{student.student_id}}" id="Id{{loop.index}}">
                                    {{student.full_name}}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
                <div id="studentloader" style="display: none;">
                    <img src="../static/images/smallLoader.gif" style="width: 260px;padding-top: 50px;">
                </div>
            </div>
            <div class="col-sm-9">
                <div id="studentProfileData" style="display: none;"></div>
                <div id="questionloader" style="padding-left: 300px;padding-top: 100px;">
                    <img src="../static/images/loader.gif">
                </div>
            </div>


        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        console.log('Inside Ready');
        {% for student in available_student_list %}
        {% if loop.index == 1 %}
        $("#{{student.student_id}}").css('background-color', 'lightgray');
        {% endif %}
        {% endfor %}
    });

    var class_section = document.getElementById("class_section");

    class_section.onchange = function () {
        $('tr').css('background-color', '');
        $('#msg').hide();
        $('#list').hide();
        $('#studentloader').show();
        {% for stud in available_student_list %}
        var data = document.getElementById("{{stud.student_id}}");
        data.style.display = "none";
        {% endfor %}
        var Name = document.getElementById('student_name').value;
        Name = Name.toUpperCase();
        console.log('Input Name:' + Name);
        var classSection = class_section.value;
        console.log('Class Section:' + classSection);
        var res = classSection.split("-");
        var class_val = res[0];
        var section = res[1];
        var msg = 0;
        console.log('Class:' + class_val + ' section:' + section);
        console.log('ClassSection:' + classSection);
        if ((Name != 'All') && (classSection == 'na')) {
            var flag = 1;
            {% for student in available_student_list %}
            var name = "{{student.full_name}}";
            if (name.toUpperCase().indexOf(Name) > -1) {
                msg = 1;
                var sID = "{{student.student_id}}";
                console.log('sID:' + sID);
                var row = document.getElementById(sID);
                row.style.display = "block";
            }
            {% endfor %}
            $('#studentloader').hide();
            $('#list').show();
            if (msg == 0) {
                $('#msg').show();
            }
        }

        if ((Name != 'All') && (classSection != 'na')) {

            var flag = 1;

            {% for student in available_student_list %}
            var name = "{{student.full_name}}";
            var clas = "{{student.class_val}}";
            var sec = "{{student.section}}";

            if (name.toUpperCase().indexOf(Name) > -1) {
                console.log('first class:' + class_val);
                console.log('second class:' + clas);
                console.log('first section:' + section);
                console.log('second section:' + sec);
                if ((class_val == clas) && (section == sec)) {
                    msg = 1;
                    var sID = "{{student.student_id}}";
                    console.log('sID:' + sID);
                    var row = document.getElementById(sID);
                    row.style.display = "block";
                }
            }
            {% endfor %}
            $('#studentloader').hide();
            $('#list').show();
            if (msg == 0) {
                $('#msg').show();
            }
        }

        if ((Name == 'All') && (classSection == 'na')) {

            var flag = 1;
            {% for student in available_student_list %}
            msg = 1;
            var sId = "{{student.student_id}}";
            var row = document.getElementById(sId);
            row.style.display = "block";

            {% endfor %}
            $('#studentloader').hide();
            $('#list').show();
            if (msg == 0) {
                $('#msg').show();
            }
        }

        console.log('Name:' + Name);
        if ((Name == 'All') && (classSection != 'na')) {

            var flag = 1;

            {% for student in available_student_list %}
            var clas = "{{student.class_val}}";
            var sect = "{{student.section}}";
            if ((class_val == clas) && (section == sect)) {
                msg = 1;
                var sId = "{{student.student_id}}";
                var row = document.getElementById(sId);
                row.style.display = "block";

            }

            {% endfor %}
            $('#studentloader').hide();
            $('#list').show();
            if (msg == 0) {
                $('#msg').show();
            }
        }
    }
    var optionHTMLClass = '';
    $(document).ready(function () {
        $('#class_section').val("na");
        optionHTMLClass += '<option value="na"  selected> All </option>';
        class_section.innerHTML = optionHTMLClass + class_section.innerHTML;
    });

    function studentDetail(student_id) {
        sponsor_name = "{{sponsor_name}}";
        sponsor_id = "{{sponsor_id}}";
        amount = "{{amount}}";
        $('#studentProfileData').hide();
        $('#questionloader').show();
        $('tr').css('background-color', '');
        $("#" + student_id.toString()).css('background-color', 'lightgray');
        var flag = 1;
        console.log('Inside studentDetail function' + student_id);
        var data = "";
        $.ajax({
            url: "/indivStudentProfile?student_id=" + student_id + "&sponsor_name=" + sponsor_name + "&sponsor_id=" + sponsor_id + "&amount=" + amount + "&flag=" + flag,
            type: "get",
            data: data,
            success: function (response) {
                $('#questionloader').hide();
                $('#studentProfileData').show();
                $("#studentProfileData").html(response);
                console.log('Inside REsponse of studentDEtails')
            },
            error: function (xhr) {
                window.alert("error occurred while submitting data");
            }
        });
    }

    $(document).ready(function () {

        sponsor_name = "{{sponsor_name}}";
        sponsor_id = "{{sponsor_id}}";
        amount = "{{amount}}";
        flag = "{{flag}}";
        var data = "";
        {% for student in available_student_list %}
        var index = "{{loop.index}}";
        var sId = "{{student.student_id}}";
        if (index == 1) {
            var student_id = "{{student.student_id}}";
        }
        {% endfor %}
        $.ajax({
            url: "/indivStudentProfile?student_id=" + student_id + "&sponsor_name=" + sponsor_name + "&sponsor_id=" + sponsor_id + "&amount=" + amount + "&flag=" + flag,
            type: "get",
            data: data,
            success: function (response) {
                $('#questionloader').hide();
                $('#studentProfileData').show();
                $("#studentProfileData").html(response);
            },
            error: function (xhr) {
                window.alert("error occurred while submitting data");
            }
        });

    });

    function myFunction() {
        $('tr').css('background-color', '');
        $('#msg').hide();
        var class_sec = document.getElementById('class_section').value;
        var res = '';
        var section = '';
        $('#list').hide();
        var msg = 0;
        $('#studentloader').show();
        if (class_sec != 'na') {
            res = class_sec.split("-");
            class_val = res[0];
            section = res[1];
            {% for stud in available_student_list %}
            var data = document.getElementById("{{stud.student_id}}");
            data.style.display = "none";
            {% endfor %}
            var name = $('#student_name').val();
            name = name.toUpperCase();
            console.log('Name:' + name);
            var filter = name.toUpperCase();

            {% for student in available_student_list %}
            var Name = "{{student.full_name}}";

            var clas = "{{student.class_val}}";
            var sec = "{{student.section}}";

            if (Name.toUpperCase().indexOf(name) > -1) {

                if ((class_val == clas) && (section == sec)) {
                    msg = 1;
                    var sID = "{{student.student_id}}";
                    console.log('Student Name:' + Name);
                    console.log('sID:' + sID);
                    var row = document.getElementById(sID);
                    row.style.display = "block";

                }
            }
            {% endfor %}
            $('#studentloader').hide();
            $('#list').show();
            if (msg == 0) {
                $('#msg').show();
            }

        } else {
            console.log('Inside myFunction');
            var name = $('#student_name').val();
            console.log('Name:' + name);
            var filter = name.toUpperCase();
            var table = document.getElementById("myTable");
            var tr = table.getElementsByTagName("tr");

            var studId = '';
            for (i = 1; i <= tr.length; i++) {
                console.log('Length:' + tr.length);
                var a = document.getElementById(i.toString());
                console.log('value of a:' + a);
                var txtValue = a.innerText;
                console.log('Text:' + txtValue);
                var sId = document.getElementById("Id" + i.toString()).value;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {

                    console.log('Li:' + a);
                    tr[i - 1].style.display = "";
                    msg = 1

                } else {
                    tr[i - 1].style.display = "none";
                }
            }
            $('#studentloader').hide();
            $('#list').show();
            if (msg == 0) {
                $('#msg').show();
            }
        }
    }
</script>
{%else%}
<div class='container'>
    <div class="row">
        <div id="studentProfileData"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/indivStudentProfile?student_id=" + {{ qstudent_id }},
        type: "get",
        data: '',
        success: function (response) {
            $("#studentProfileData").html(response);
        },
        error: function (xhr) {
            window.alert("error occurred while submitting data");
        }
      });  
  });
</script>
{%endif%}
{%endblock%}