{% extends "layout.html" %} {% block content %}
<div class="container">
    {% if subjects %}
<div class="row">
    <h3>Performance Details</h3><h4>Ward : {{ students.full_name }}<div class="pull-right">Date : {{ date }} </div></h4>
</div>
<div class="card id">
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-sm table-striped text-center">
                    <thead>
                            <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Marks Scored</th>
                                <th scope="col">Total Marks</th>
                                <th scope="col">Avg Marks</th>
                                <th scope="col">Class Avg</th>
                                <th scope="col"></th>
                            </tr>
                    </thead>
                    <tbody>
                            {% for subject in subjects %}
                                <tr>
                                    <td> {{ subject.subject_id }} </td>
                                    <td> {{ subject.subject_name }} </td>
                                    <td> {{ subject.subject_marks }} </td>
                                    <td> {{ subject.subject_total_marks }} </td>
                                    <td> {{ subject.subject_avg_marks }}% </td>
                                    <td> {{ subject.subject_class_avg }} </td>
                                    <td> <a href="{{ url_for('classPerformance') }}"><p><button class="btn waves-light green lighten-1 white-text">Details</button></p></a></td>
                                </tr>
                            {% endfor %}
                    </tbody>
            </table>
        </div>
        </div>
      </div>
{% endif %}
</div>


{% endblock %}