{%extends "layout.html"%} {%block content%}
<div class="container">
<div class="box-title">
    <h3 class="box-title">Online Test Report - {{ studentName }} </h3>
</div>
<div class="box-body table-responsive">
  <table class="table table-bordered table-hover table-striped text-center">
    <tr>
      <th>Overall Percentage and Marks</th>
      <th>Subjective Marks</th>
      <th>Objective Marks</th>
      <th>Correct Questions/Total Questions</th>
    </tr>
    <tr>
      <td>{{'%0.2f' % marksPercentage|float}}%&nbsp;({{totalMarks}})</td>
      <td>
        {% if subjective_marks %}
          {{subjective_marks}}
        {% else %}
          NA
        {% endif %}
      </td>
      <td>
        {% if objective_marks %}
          {{objective_marks}}
        {% else %}
          NA
        {% endif %}
      </td>
      <td>{{correct_question}}/{{total_questions}}</td>
    </tr>
  </table>
<table class="table table-bordered table-hover table-striped text-center" style="margin-top:30px;">
                      <tr>
                        <th>Q No</th>
                        <th>Question Id</th>
                        <th>Question</th>
                        <th>Option Selected</th>
                        <th>Correct Option / Review Status</th>
                        <th>Marks Scored</th>
                        <th>Result</th>                        
                      </tr>                                            
                      {% for respRow in responseCaptureRow %}                                            
                      <tr> 
                        <td> {{ loop.index }}</td>
                        <td> {{ respRow.question_id }}</td>
                        <td>{{ respRow.question_description}}</td>
                        <td>
                          {% if respRow.answer_status==242 or respRow.answer_status==240 or respRow.answer_status==279 %}
                          {% if respRow.question_type=='Subjective' %}
                            No answer obtained
                          {% else %}
                            No answer selected
                          {% endif %}
                          {% else %} 
                          {% if respRow.question_type=='MCQ1' %}
                          {{respRow.response_option }} : {{ respRow.option_desc}}
                          {% else %}
                          {{respRow.response_option }}
                          {% endif %}
                          {% endif %}
                        </td>
                        <td>   
                          {% if respRow.question_type=='MCQ1' %}
                          {{ respRow.correct_option}} :   {{ respRow.corr_option_desc}}
                          {% else %}
                            {% if respRow.answer_status==240 or respRow.answer_status==242 or respRow.answer_status==279  %}
                              NA
                            {% else %}
                              {% if respRow.answer_status==241 %}
                                reviewed
                              {% else %}
                                Inreviewed
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        </td>
                        <td>{{respRow.marks_scored}}</td>
                        <td>
                        {% if respRow.answer_status==242 or respRow.answer_status==240 or respRow.answer_status==279 %}
                          {% if respRow.question_type=='Subjective' %}
                            No answer obtained
                          {% else %}
                            No answer selected
                          {% endif %}
                          {% else %} 
                          {% if respRow.question_type=='MCQ1' %}
                        {% if respRow.result=='Correct' %}
                          <i class="large material-icons icon-green">check</i> 
                        {% else %}
                         <i class="large material-icons icon-orangered">clear</i> 
                        {% endif %}
                        {% else %}
                          {% if respRow.is_correct=='Y' %}
                          <i class="large material-icons icon-green">check</i> 
                        {% else %}
                         <i class="large material-icons icon-orangered">clear</i> 
                        {% endif %}
                        {% endif %}
                        {% endif %}
                      </td>
                      </tr>
                      {% endfor %}
                    </table>                    
                  </div>
                </div>
                  {%endblock%}