{% extends "layout.html" %} {% block content %}

<div class="container">  
    <div class="row">
        <div class="section">
        <h3>Subscription Plans</h3>
    </div>
    </div>
        <div class="row">

                <div class="section">
            <section class="plans-container" id="plans">                
                {%for row in subscriptionRow%}
                <article class="col s12 m6 l4 "> <!--cyan here-->
                    <div class="card  z-depth-4">
                        <div class="card-image">                            
                        </div>
                        <div class="card-content ">
                                <div class="card-title">BASIC</div>
                            <ul class="collection ">
                                <li class="collection-item">500 emails</li>
                                <li class="collection-item">unlimited data</li>
                                <li class="collection-item">1 users</li>
                                <li class="collection-item">first 15 day free</li>
                            </ul>
                        </div>
                        <div class="card-action center-align">
                            <button class="waves-effect waves-light green btn">Select Plan</button>
                        </div>
                    </div>
                </article>  
                {%endfor%}
            </section>
        
        </div>
        <!-- Floating Action Button -->
    </div>
</div>
{% endblock %}