{%extends "layout.html"%} {%block content%}
<div class="container">

  <h3>Performance Report</h3>

  <div class="row">
    <section class="col-lg-12 connectedSortable">
      <div class="box-header with-border">
        <h3 class="box-title">Average School Performance</h3>
      </div>
      <div id='graphDiv' style="overflow: auto;top:-30px;"></div>
    </section>
  </div>

<!--This is the start of test performance input form-->
<div class="row">
<h4>Test Level Report </h4>
</div>
 <div class="row">
                        <div class="col-sm-2">
                                <div>
                                        {{ form.class_val.label(class='labelsize') }}
                                        <br>
                                        {% if form.class_val.errors %}
                                        {{ form.class_val(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.class_val.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.class_val(class='form-control') }}
                                        {% endif %}
                                </div>
                        </div>
                        <div class="col-sm-2">
                                <div style="width:150px;" >
                                                {{ form.section.label(class='labelsize') }}
                                                <div id='loader'style='display: none; float: right;'>
                                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                </div>
                                        <br>
                                                {% if form.section.errors %}
                                                {{ form.section(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                {% for error in form.section.errors %}
                                                 <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                                {% else %}
                                                {{ form.section(class='form-control') }}
                                                {% endif %}                                                
                                </div>
                        </div>
                        <div class="col-sm-2">
                        <label class='labelsize' for='Date'>Date</label>
                        <input type="date" name='testdate' id='testdate'>
                        </div>
                        <div class="col-sm-2"> 
                                        {{ form.test_type.label(class='labelsize') }}
                                        <br>
                                        {% if form.test_type.errors %}
                                        {{ form.test_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.test_type.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                        {% else %}
                                        {{ form.test_type(class='form-control') }}
                                        {% endif %}
                        </div>    
                        <div class="col-sm-2" style="margin-top:25px;">						
                <input type="button"  class="btn"  style="height:35px; width:100px;" id="loadTestPerfBTN" value="Load Data">                
                </div>              
						</div>
<span id="message" style="color:Red;display: none;float:left;"></span>
<div class="row">       
        <img src="../static/images/loader.gif" style="display: none;padding-left: 400px;" id="loaderDivTest">    
        <div id="feedbackReportDiv" style="display:none;">
        </div>
		</div>   
  
<!--This is the end of the test performance input form -->
  <div class="row">
  <section class="col-lg-12 connectedSortable">
    <!--<div id="stackedStudentPerformance" style="display:none;">-->
    <div id="testPerformanceGraphDiv" style="display:none;">
      <!-- Plotly chart will be drawn inside this DIV -->
    </div>
    </section>
  </div>





<!--This is the start of student performance input form-->
<div class="row">
<h4>Student Level Report </h4>
</div>
 <div class="row">
                        <div class="col-sm-2">
                                <div>
                                        {{ form1.class_val1.label(class='labelsize') }}
                                        <br>
                                        {% if form1.class_val1.errors %}
                                        {{ form1.class_val1(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form1.class_val1.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form1.class_val1(class='form-control') }}
                                        {% endif %}
                                </div>
                        </div>
                        <div class="col-sm-2">
                                <div style="width:150px;" >
                                                {{ form1.section1.label(class='labelsize') }}
                                                <div id='loader1'style='display: none; float: right;'>
                                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                </div>
                                        <br>
                                                {% if form1.section1.errors %}
                                                {{ form1.section1(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                {% for error in form1.section1.errors %}
                                                 <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                                {% else %}
                                                {{ form1.section1(class='form-control') }}
                                                {% endif %}                                                
                                </div>
                                <input type='hidden' name='checkIndx' id='checkIndx' />
                        </div>         
                        <div class="col-sm-2"> 
                                        {{ form1.student_name1.label(class='labelsize') }}
                                         <div id='loader2'style='display: none; float: right;'>
                                                                <img src='../static/images/spinner.gif' width='25px' height='25px'>
                                                                </div>
                                        <br>
                                        {% if form1.student_name1.errors %}
                                        {{ form1.student_name1(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.student_name1.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                        {% else %}
                                        {{ form1.student_name1(class='form-control') }}
                                        {% endif %}
                        </div>    

<div class="col-sm-2"> 
                                        {{ form1.test_type1.label(class='labelsize') }}
                                        <br>
                                        {% if form1.test_type1.errors %}
                                        {{ form1.test_type1(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                        {% for error in form.test_type1.errors %}
                                         <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                                        {% else %}
                                        {{ form1.test_type1(class='form-control') }}
                                        {% endif %}
                        </div>    

                        <div class="col-sm-2" style="margin-top:25px;">						
                <input type="button"  class="btn"  style="height:35px; width:180px;" id="loadStudentPerfBTN" value="Load Student Data">                
                </div>              
						</div>
<span id="messageStudent" style="color:Red;display: none;float:left;"></span>
<div class="row">       
        <img src="../static/images/loader.gif" style="display: none;padding-left: 400px;" id="loaderDivStud">    
        <div id="feedbackReportDiv" style="display:none;">
        </div>
		</div>   
  <div class="row">
  <section class="col-lg-12 connectedSortable">
    <!--<div id="stackedStudentPerformance" style="display:none;">-->
    <div id="studentPerformanceGraphDiv" style="display:none;">
      <!-- Plotly chart will be drawn inside this DIV -->
    </div>
    </section>
  </div>

<!--<script>
  $(document).ready(function () {
    $('select').formSelect();
  });
</script>-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>  

var class_select = document.getElementById("class_val");
    var section_select = document.getElementById("section");
    var test_type_select = document.getElementById("test_type");
    var class_select_student = document.getElementById("class_val1");
    var section_select_student = document.getElementById("section1");
    var student_name_select = document.getElementById("student_name1");
    var test_type_select_student = document.getElementById("test_type1");
    var optionHTMLClass = '';
    var optionHTMLSection = '';
    var optionHTMLTestType = '';
    var optionHTMLClassStudent = '';
    var optionHTMLSectionStudent = '';
    var optionHTMLNameStudent = '';
    var optionHTMLTestTypeStudent = '';
    $(document).ready(function(){
        $('#class_val').val("na");
        $('#class_val1').val("na");
        optionHTMLClass += '<option value="na"  selected disabled> Select Class </option>';
        class_select.innerHTML = optionHTMLClass + class_select.innerHTML;
        optionHTMLSection += '<option value="na"  selected disabled> Select Section </option>';
        section_select.innerHTML = optionHTMLSection + section_select.innerHTML;
        optionHTMLTestType += '<option value="na"  selected disabled> Select Test Type </option>';
        test_type_select.innerHTML = optionHTMLTestType + test_type_select.innerHTML;

        optionHTMLClassStudent += '<option value="na"  selected disabled> Select Class </option>';
        class_select_student.innerHTML = optionHTMLClassStudent + class_select_student.innerHTML;
        optionHTMLSectionStudent += '<option value="na"  selected disabled> Select Section </option>';
        section_select_student.innerHTML = optionHTMLSectionStudent + section_select_student.innerHTML;
        optionHTMLTestTypeStudent += '<option value="na"  selected disabled> Select Test Type </option>';
        test_type_select_student.innerHTML = optionHTMLTestTypeStudent + test_type_select_student.innerHTML;
        optionHTMLNameStudent += '<option value="na"  selected disabled> Select Student Name </option>';
        student_name_select.innerHTML = optionHTMLNameStudent + student_name_select.innerHTML;
    });



  // $('#loadTestPerfBTN').click(function(){
  //           $("#testPerformanceGraphDiv").html('');     
  //             var class_val = $('#class_val').val();              
  //             var section = $('#section').val();                            
  //             var test_type = $('#test_type').val();   
  //             var selected_date=$('#testdate').val();
  //             $('#loaderDivTest').show();
  //             var data="";
  //               $.ajax({
  //                 url: "/testPerformanceGraph?class_val="+ class_val+"&section="+section+"&test_type="+test_type+"&date="+selected_date ,
  //                 type: "get",
  //                 data: data,
  //                 success: function(response) {
  //                     $('#loaderDivTest').hide();
  //                   $("#testPerformanceGraphDiv").show(); 
  //                   $("#testPerformanceGraphDiv").html(response);                            
  //                 },
  //                 error: function(xhr) {
  //                   window.alert("error occurred while submitting data");
  //                 }
  //               });              
  //           });
</script>

<!--Student level graph loader-->
<script>  

$(document).ready(function(){
    $('#loadTestPerfBTN').click(function(){
        classValue = document.getElementById('class_val').value;
            sectionValue = document.getElementById('section').value;
            testTypeValue = document.getElementById('test_type').value;
            testDateValue = document.getElementById('testdate').value;
            console.log(classValue);
            if(classValue=='na'){
                console.log('Inside message');
                tag = document.getElementById('message');
                tag.innerHTML = 'No Class Selected';
                $('#message').show();
                event.preventDefault();
            }
            else
            if(sectionValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Section Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(testDateValue==''){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Date Selected';
                $('#message').show();
                event.preventDefault();
            }else
            if(testTypeValue=='na'){
                tag = document.getElementById('message');
                tag.innerHTML = 'No Test Type Selected';
                $('#message').show();
                event.preventDefault();
            }else
            {
                $('#message').hide();
            $("#testPerformanceGraphDiv").html('');     
              var class_val = $('#class_val').val();              
              var section = $('#section').val();                            
              var test_type = $('#test_type').val();   
              var selected_date=$('#testdate').val();
              $('#loaderDivTest').show();
              var data="";
                $.ajax({
                  url: "/testPerformanceGraph?class_val="+ class_val+"&section="+section+"&test_type="+test_type+"&date="+selected_date ,
                  type: "get",
                  data: data,
                  success: function(response) {
                      $('#loaderDivTest').hide();
                    $("#testPerformanceGraphDiv").show(); 
                    $("#testPerformanceGraphDiv").html(response);                            
                  },
                  error: function(xhr) {
                    window.alert("error occurred while submitting data");
                  }
                });
            }
    });
});





$(document).ready(function(){
    $('#loadStudentPerfBTN').click(function(){
        classValue = document.getElementById('class_val1').value;
            sectionValue = document.getElementById('section1').value;
            testTypeValue = document.getElementById('test_type1').value;
            studentNameValue = document.getElementById('student_name1').value;
            console.log(classValue);
            if(classValue=='na'){
                console.log('Inside message');
                tag = document.getElementById('messageStudent');
                tag.innerHTML = 'No Class Selected';
                $('#messageStudent').show();
                event.preventDefault();
            }
            else
            if(sectionValue=='na'){
                tag = document.getElementById('messageStudent');
                tag.innerHTML = 'No Section Selected';
                $('#messageStudent').show();
                event.preventDefault();
            }else
            if(studentNameValue=='na'){
                tag = document.getElementById('messageStudent');
                tag.innerHTML = 'No Student Name Selected';
                $('#messageStudent').show();
                event.preventDefault();
            }else
            if(testTypeValue=='na'){
                tag = document.getElementById('messageStudent');
                tag.innerHTML = 'No Test Type Selected';
                $('#messageStudent').show();
                event.preventDefault();
            }else
            {
                $('#messageStudent').hide();
                $("#studentPerformanceGraphDiv").html('');     
              var class_val = $('#class_val1').val();              
              var section = $('#section1').val();                            
              var student = $('#student_name1').val();   
              var test_type=$('#test_type1').val();
              $('#loaderDivStud').show();
              var data="";
                $.ajax({
                  url: "/studentPerformanceGraph?class_val="+ class_val+"&section="+section+"&student_id="+student+"&test_type="+test_type ,
                  type: "get",
                  data: data,
                  success: function(response) {
                      $('#loaderDivStud').hide();
                    $("#studentPerformanceGraphDiv").show(); 
                    $("#studentPerformanceGraphDiv").html(response);                            
                  },
                  error: function(xhr) {
                    window.alert("error occurred while submitting data");
                  }
                });   
            }
    });
});









  // $('#loadStudentPerfBTN').click(function(){
  //           $("#studentPerformanceGraphDiv").html('');     
  //             var class_val = $('#class_val1').val();              
  //             var section = $('#section1').val();                            
  //             var student = $('#student_name1').val();   
  //             var test_type=$('#test_type1').val();
  //             $('#loaderDivStud').show();
  //             var data="";
  //               $.ajax({
  //                 url: "/studentPerformanceGraph?class_val="+ class_val+"&section="+section+"&student_id="+student+"&test_type="+test_type ,
  //                 type: "get",
  //                 data: data,
  //                 success: function(response) {
  //                     $('#loaderDivStud').hide();
  //                   $("#studentPerformanceGraphDiv").show(); 
  //                   $("#studentPerformanceGraphDiv").html(response);                            
  //                 },
  //                 error: function(xhr) {
  //                   window.alert("error occurred while submitting data");
  //                 }
  //               });              
  //           });
</script>


<script>
  var graphData = {{graphJSON | safe}};
  for (key in graphData) {
    value1 = graphData[key].data1[0];
    value2 = graphData[key].data2[0];
    value3 = graphData[key].data3[0];
    value4 = graphData[key].data4[0];
    value5 = graphData[key].data5[0];
    value6 = graphData[key].data6[0];
    value7 = graphData[key].data7[0];
    value8 = graphData[key].data8[0];
    value9 = graphData[key].data9[0];
    value10 = graphData[key].data10[0];
  }
  console.log(value1);
  var data = [value1, value2, value3, value4, value5, value6, value7, value8, value9, value10];
  Plotly.newPlot('graphDiv', data, {}, {
    showlegend: true,
    displayModeBar: false
  });
</script>
      <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
        } 
        if(mm<10){
                mm='0'+mm
        } 

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("testdate").setAttribute("max", today);

        var class_select = document.getElementById("class_val");
        var section_select = document.getElementById("section");
        class_select.onchange = function()  {
             
            class_val = class_select.value;
            $("#loader").show();
            
            fetch('/resultUpload/' + class_val).then(function(response) {
                response.json().then(function(data) {
                        $("#loader").hide();    
                        var optionHTML = '';
                        optionHTML += '<option value="na"  selected disabled> Select Section </option>';
                        for (var section of data.sections) {
                        optionHTML += '<option value="' + section.section_val + '">' + section.section_val + '</option>';
                    }
                    section_select.innerHTML = optionHTML;
                })
            });
        }
    </script>


    <!--Section for Student level form - dynamic-->
    
      <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
        } 
        if(mm<10){
                mm='0'+mm
        } 

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("testdate").setAttribute("max", today);

        var class_select1 = document.getElementById("class_val1");
        var section_select1 = document.getElementById("section1");
        var student_select1 = document.getElementById("student_name1")

        class_select1.onchange = function()  {
             
            class_val = class_select1.value;
            $("#loader1").show();
            
            fetch('/resultUpload/' + class_val).then(function(response) {
                response.json().then(function(data) {
                        $("#loader1").hide();    
                        var optionHTML = '';
                        optionHTML += '<option value="na"  selected disabled> Select Section </option>';
                        for (var section1 of data.sections) {
                        optionHTML += '<option value="' + section1.section_val + '">' + section1.section_val + '</option>';
                    }
                    section_select1.innerHTML = optionHTML;
                })
            });
        }



            section_select1.onchange=function()  {
            class_val1 = class_select1.value;
            section_val1 = section_select1.value;
            $("#loader2").show();
            
            fetch('/studentList/' + class_val1+"/"+section_val1).then(function(response) {
                response.json().then(function(data) {  
                        $("#loader2").hide();    
                        var optionHTML = '';
                        optionHTML += '<option value="na" selected disabled> Select Student </option>';
                        for (var student of data.students) {
                        optionHTML += '<option value="' + student.student_id + '">' + student.student_name + '</option>';
                    }
                    student_select1.innerHTML = optionHTML;
                })
            });
        };
    </script>
{%endblock%}