{%extends "layout.html"%} {%block content%}
<div class="container">
  <h3>Test Papers</h3>
  <div id="testDiv">
    <!--<iframe height="1300px" width="100%" style="border:none;" src="https://view-awesome-table.com/-LcAV_ToBoVH7b_RdlNQ/view"></iframe>-->
    <div class="box-body table-responsive no-padding">

      <table class="table table-hover">
        <tr>
          <th>Class</th>
          <th>Test Type</th>
          <th>Subject</th>
          <th>Total Marks</th>
          <th>Creation Date</th>
          <th>Chapters and Topics</th>
          <th>Download Paper</th>
          <th>Conduct Test</th>
        </tr>
        {%if testPaperData | length !=0%}
        {% for eachRow in testPaperData%}
        <tr style="margin-top:5px;">
          <td><img height="50px"
              src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/classNumberImages/class{{eachRow.class_val}}.png">
          </td>
          <td>{{eachRow.test_type}}</td>
          {%for subRow in subjectNames%}
          {% if eachRow.subject_id== subRow.msg_id %}
          <td>{{subRow.description}}</td>
          {%endif%}
          {%endfor%}
          <td>{{eachRow.total_marks}}</td>
          <td>{{eachRow.date_of_creation.strftime('%Y-%m-%d')}}</td>
          <td><a href="#">Chapters and Topics</a></td>
          <td><a href="{{eachRow.test_paper_link}}" target="_blank">Download Paper</a></td>
          <!--      qtest_id = request.args.get('test_id')
        qclass_val = request.args.get('class_val')
        qsection = request.args.get('section')
        qsubject_id = request.args.get('subject_id')-->

          <td><a
              href="#modal2{{eachRow.test_id}}" name='{{eachRow.test_id}}'
              class='btn green modal-trigger'>Conduct Test</a></td>
          <!-- Modal structure-->
          <div id="modal2{{eachRow.test_id}}" class="modal" style="background-color:white; height: 250px;" >
            <form action="/feedbackCollection" method="GET">
              <div class="modal-content" >
                <h4>Class</h4>
                <h3>{{eachRow.class_val}}</h3>
                <h4>Which <b>section</b> do you want to run the test for?</h4>
                <input type="text" name='section'>
                <input type="hidden" name='class_val' value="{{eachRow.class_val}}">
                <input type="hidden" name='subject_id' value="{{eachRow.subject_id}}">
                <input type="hidden" name='test_id' value="{{eachRow.test_id}}">
              </div>
              <div class="modal-footer">
                <button class='btn green' type='submit' class='startTestButtonClass'>Submit</button>
              </div>
            </form>
          </div>
        </tr>
        {% endfor %}

        {%else%}
        <td>
          <h3 class="grey-text">No test papers created yet</h3>
          <br>
          <h5>You can create test papers using <a href="{{url_for('testBuilder')}}">Test Builder</a></h5>
        </td>
        {%endif%}
      </table>
    </div>
  </div>
</div>
<script>

$(document).ready(function(){
    $('.modal').modal();
  });

</script>
{%endblock%}