{% if file_name %}
<!--<div id="testDiv">
        <iframe height="1300px" width="100%" style="border:none;" src=""></iframe>
    </div>-->
    <div style="display: flex;">
    <a href="{{ file_name }}"><p style="margin-left:550px;"><button style="margin-top:22px; margin-left:5px;" class="btn waves-light green lighten-1 white-text" value="{{ file_name }}">Download</button></p></a>
    <input type="text" id="testId" val="" style="display: none;">
    {% if testPaperData.test_type =='Class Feedback' %}
    <a href="#modal2{{testPaperData.test_id}}" style="margin-top: 22px;margin-left: 164px;" class='btn green modal-trigger'>Conduct
        Test</a>
    {% endif %}
    <div id="modal2{{testPaperData.test_id}}" class="modal" style="background-color:white; height: 250px;">
            <form action="/feedbackCollection" method="GET">
              <div class="modal-content" style="height: 200px;position: relative;overflow-y: auto;">
                <p> Starting Test</p>
                <h4>Class: {{testPaperData.class_val}}</h4>
                <h4>Enter <b>section</b> for which you want to run the test</h4>
                <input type="text" name='section' placeholder="eg. A">
                <p>
                  <label>
                    <input name="timeOption" class="Toption" value="Untimed" type="radio" checked/>
                    <span style="font-size: 18px;">Untimed</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="timeOption" class="Toption" value="Timed" type="radio" />
                    <span style="font-size: 18px;">Timed</span>
                  </label>
                </p>
                <div id="durationDiv" style="display: none;">
                <h4>Duration</h4>
                <input type="text" name='duration' placeholder="Duration"></div>
                <h4>Weightage</h4>
                <input type="text" name="weightage" value="0">
                <h4>Negative Marking</h4>
                <input type="text" name="negativeMarking" value="0">
                <input type="hidden" name='class_val' value="{{testPaperData.class_val}}">
                <input type="hidden" name='subject_id' value="{{testPaperData.subject_id}}">
                <input type="hidden" name='test_id' value="{{testPaperData.test_id}}">
              </div>
              <div class="modal-footer"> 
                <button class='btn green' type='submit' class='startTestButtonClass'>Submit</button>
              </div>
            </form>
          </div>
</div>
<script>
    // classVal = $('#class_val').val();
    // $('#classValue').val(classVal);
    // subVal = $('#subject_name').val();
    // $('#subValue').val(subVal);
    // testID = $('#test_type').val();
    // $('#testValue').val(testID);
    // $('#testId').val(testID);
    $(document).ready(function () {
    $('.modal').modal();
  });

  $('.Toption').click(function(){
    var timeOption = $("input[name='timeOption']:checked").val();
    if(timeOption=='Timed'){
      $('#durationDiv').show();
    }else{
      $('#durationDiv').hide();
    }
  });
</script>
{% endif %}