{% extends "layout.html" %} {% block content %}
<div class="parallax-container  black-text" style="height: 100px;">
    <div class="parallax"><img src="../static/images/yellowBgImg.jpg" width="100%">
    </div>
    <div class="container center">
        <!-- <h1 style="font-size: 5vw;">Data Sciences: Going from zero to expert</h1>-->
        <div class="row" style="margin-top: 50px;">
            {% if profile_pic %}
            <img src="{{profile_pic}}" class="circle" width="100px">
            {% else %}
            <img src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png" class="circle" width="100px">
            {% endif %}
            <h3>{{teacher_name}}</h3>
            {% if current_user.about_me %}
            <h4>{{current_user.about_me}}</h4>
            {% else %}
            <h4>Parag has more than 8 years of experience with data science.
                He's completed his degree from ISB and has worked with Dell, Accenture and EnY in the past
                in various data scientist positions.</h4>
            {% endif %}
            <p>{{email}}</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>Students Taught</h4>
                {% if students_taught %}
                <h3>{{students_taught}}</h3>
                {% else %}
                <h3>0</h3>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <!-- <h4>Hours Taught</h4>
                <h3>100</h3> -->
            </div>
            <div class="col-sm-4">
                <h4>Courses</h4>
                {% if courses_created %}
                <h3>{{courses_created}}</h3>
                {% else %}
                <h3>0</h3>
                {% endif %}
            </div>

        </div>
    </div>
</div>
<div class="container">
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
        <div>
            <div id="surveyBox" name="surveyBox">
            </div>
            <!--<p><input type='button' id="addSurveyBTN" style="width:150px; height:40px; margin-top:10px;"
                    class="btn green right" onclick="addSurvey();" value="Create New Survey"></p>-->
            {% if user.id==current_user.id %}
            <a href="{{url_for('addCourse',course_id='')}}" id="addSurveyBTN" class="btn green right">Create New Course</a>
            {% endif %}
            <br>
        </div>
        <div id="buttonbox" style="display:none;">
            <p><button class="btn waves-light green lighten-1 white-text"
                    style="margin-top: 5px; margin-top:5px; margin-left:550px;" type="submit" id="submit" name="submit"
                    value="submit">Confirm</button></p>
        </div>
    </form>
    <br>
    <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#teacherRowsDiv">Courses</a></li>
        <!--<li class="tab col s3"><a href="#newPayrollDiv">Payroll Data</a></li>-->
        <!--<li class="tab col s3"><a href="#payrollReport">Report</a></li>-->
    </ul>
    <br>
        <div class="row" style="display: flex;overflow-x: auto;position: relative;max-height: 330px;overflow-y: hidden;">
            {% for course in courseDet %}
            <div class="col-sm-3 ">
                
                <div class="card small hoverable" style="border-radius: 25px;width:260px;height: 312px;margin-top: 0px;">
                    <div class="card-image waves-effect waves-block waves-light">
                        {% if course.image_url %}
                        <a href="{{url_for('courseDetail',course_id=course.course_id)}}" style="cursor: pointer;"><img class="activator" height="145" style="border-radius: 25px;" src="{{course.image_url}}"></a>
                        {% else %}
                        <a href="{{url_for('courseDetail',course_id=course.course_id)}}" style="cursor: pointer;"><img class="activator" height="145" style="border-radius: 25px;" src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg"></a>
                        {% endif %}
                    </div>
                    <div class="card-content" style="position: relative;overflow-y: hidden;max-height: 155px;">
                        <span class="card-title activator grey-text text-darken-4"><a href="{{url_for('courseDetail',course_id=course.course_id)}}" style="cursor: pointer;"><h4 style="margin:0px;margin-top: -20px;width:250px;">{{course.course_name}}</h4></a></span>
                        <div style="display: flex;"><h4 style="color: black;font-size: 15px;">Topics: {{course.no_of_topic}}</h4><h5 style="margin-left: 90px;color: black;">
                            {% if user.id==current_user.id %}
                            {{course.desc}}
                            {% endif %}
                        </h5></div>
                        <h5>
                            {% if user.id==current_user.id %}
                            <a class="modal-trigger" id="" onclick="clearForm();" href="#modal1">Schedule New Batch</a>
                            {% endif %}
                        </h5>
                        <input type="hidden" id="courseId" value="{{course.course_id}}">
                        
                        <h5><a class="modal-trigger" id="" onclick="fetchBatches('{{course.course_name}}','{{course.course_id}}');" href="#modal2" href="#">View Existing Batches</a></h5>
                        {% if user.id==current_user.id %}
                        <h5><a href="{{url_for('editCourse',course_id=course.course_id)}}">Edit Course</a></h5>
                        {% endif %}
                    </div>
                    <!-- <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{course.course_name}}<i
                                class="material-icons right">close</i></span>
                        <p>{{course.description}}</p>
                    </div> -->
                </div>
            <!-- </a> -->
            </div>
            {% endfor %}
        </div>

    <!-- <ul class="collection  z-depth-1" style="max-height: 400px;position: relative;overflow-y: auto;">
        {% for course in courseDet %}
        <li class="collection-item">
            <a href="#"> <div class="col-sm-3">
                <img src="../static/images/chris-barbalis-oOBMoCOgGrY-unsplash.jpg" alt="" width="150px">
            </div>
            <div class="col-sm-3">
                <h4>{{course.course_name}}</h4>
                <p>Topics: {{course.no_of_topic}}<br>
                    Classes: 20
                </p>                
            </div>
            <div class="col-sm-3">
                <h4>{{course.description}}</h4>
                <p>Created On: {{course.last_modified_date}}<br>
                    Classes: 20
                </p>                
            </div>
            <div>
                <h4>{{course.course_name}}</h4>
                <p>Topics: {{course.no_of_topic}}<br>
                    Classes: 20
                </p>                
            </div>   </a>   
        </li>
        {% endfor %}
    </ul> -->


    <!-- <br><br> -->
</div>
</div>

<div id="modal2" class="modal" style="width:1100px;">
    <div class="modal-content" style="height: 315px;">
      <div id="batchTable">

      </div>

    </div>
  </div>

<div id="modal1" class="modal" style="height: 350px;">
    <div class="modal-content">
      <h3>Schedule New Batch</h3>
      <form id="batchForm">
      <div>
        
        <div class="col-sm-3">
            Start Date: <input type="date" name="startDate" id="startDate">
        </div>
        <div class="col-sm-3">
            End Date: <input type="date" name="EndDate" id="EndDate">
        </div>
        <div class="col-sm-3" >
            Start Time: <input type="time" onchange="onStartTimeChange()" name="startTime" id="startTime">
        </div> 
        <div class="col-sm-3">
            End Time: <input type="time" onchange="onEndTimeChange()" name="endTime" id="endTime">
        </div>
    </div>
    <div class="col-sm-12" style="">
        Days of week<br>
        <p style="font-family: Arial;margin-top: 10px;">
            <label>
                <input type="checkbox" value="Mo" name="Days" class="Days"/>
                <span>Mo</span>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;

            <label>
                <input type="checkbox" value="Tu" name="Days" class="Days" />
                <span>Tu</span>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;

            <label>
                <input type="checkbox" value="We" name="Days" class="Days" />
                <span>We</span>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;

            <label>
                <input type="checkbox" value="Th" name="Days" class="Days" />
                <span>Th</span>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;

            <label>
                <input type="checkbox" value="Fr" name="Days" class="Days" />
                <span>Fr</span>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;

            <label>
                <input type="checkbox" value="Sa" name="Days" class="Days" />
                <span>Sa</span>
            </label> &nbsp;&nbsp;&nbsp;&nbsp;

            <label>
                <input type="checkbox" value="Su" name="Days" class="Days" />
                <span>Su</span>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <input type="text" placeholder="Fee Type"/> -->
            <label>
                <div style="width: 120px;float: right;margin-top: -50px;">                        
                    <select id="selectType" name="selectType">
                      <option value="" disabled selected>Fee Type</option>
                      {% for fee in feeType %}
                      <option value="{{fee.msg_id}}">{{fee.description}}</option>
                      {% endfor %}
                    </select>
                  </div>
        </label>
        </p>
        
    </div>
    <div>
        <div class="col-sm-3" style="margin-left: 160px;">
            Student limit: <input type="number" min="0" max="50" value="0" id="studentLimit" name="studentLimit">
        </div>
        <div class="col-sm-3">
            Batch Fee: <input type="number" min="0" value="0" id="batchFee" name="batchFee">
        </div>
        <div class="col-sm-3"  style="display:none;">
            Enrolled Students: <input type="number" min="0" value="0" id="enrolledStudents" name="enrolledStudents">
        </div> 
        <div class="col-sm-3" style="display:none;">
            Fee Received: <input type="number" min="0" value="0" id="feeReceived" name="feeReceived">
        </div>
    </div>
    <button style="margin-left: 250px;margin-top: 15px;" id="createBatch" class="btn waves-light green lighten-1 white-text">Create Batch</button>
    </form>
    <span style="color:red;" id="batchMsg"></span>
    </div>
    
  </div>

<div id="displaySurveyModal" class="modal" style="background-color: white;padding-top: 20px;">
    <div class="modal-content" style="height:100%">
    </div>
</div>

<div id="createModal" class="modal" style="background-color: white;padding-top: 20px;">
    <div class="modal-content" style="height:100%">
        <form id="addSurveyForm">
            <input type="text" style="font-size:xx-large" name='surveyName' id="surveyName" placeholder="Survey Name"
                required>
            <h4 class="grey-text">Survey Questions</h4>
            <div id="questionDiv" style="max-width: 80%;"></div>
            <a href="#" id="addQuestionBTN">
                <i class="material-icons" class="green center">add_circle</i>
                <span style="font-size: large;">Add Question</span></a>
            <br><br>
            <div>
                <a href="#" id="addSurveyDataBTN" class="btn green right">Create Survey</a>
            </div>
        </form>
    </div>

</div>
<script>

    $(document).ready(function () {
        $('#selectType').formSelect();
        $('.parallax').parallax();
        $('.modal').modal();
        $('.datepicker').datepicker();
        $('.timepicker').timepicker();
    });

    var type = document.getElementById('selectType')
    type.onchange = function(){
        if(type.value=='266' || type.value=='268'){
            $('#batchFee').prop('disabled',true);
            $('#feeReceived').prop('disabled',true);
            $('#batchFee').val(0);
        }else{
            $('#batchFee').prop('disabled',false);
            $('#feeReceived').prop('disabled',false);
        }
    }

    var clicks = 0;
    $('#addQuestionBTN').click(function () {
        clicks = clicks + 1;
        //alert(clicks);
        $('#questionDiv').append('<input type="text" name="questionInput" placeholder="Add Question">');
    });

    function fetchBatches(course_name,courseId){
        console.log('inside fetchBatches');
        console.log(course_name);
        $('#courseName').html(course_name);
        console.log('courseId:'+courseId);
        $.ajax({
            url:"/fetchBatch?courseId="+courseId,
            type:"POST",
            data: "",
            success:function(response){
                if(response){
                    console.log('data added successfully');
                    $('#batchTable').html(response);
                    console.log(response);
                }
            },
            error:function(xhr){
                $('#msg').html('Error to submit course data');
            }
        });
    }

    function clearForm(){
        $('#startDate').val('');
        $('#EndDate').val('');
        $('#startTime').val('');
        $('#endTime').val('');
        $('.Days').prop('checked',false);
        $('#studentLimit').val(0);
        $('#batchFee').val(0);
        $('#enrolledStudents').val(0);
        $('#feeReceived').val(0);
    }

    $('#createBatch').click(function($e){
        $e.preventDefault();
        $('#batchMsg').html('');
        var form = $('#batchForm');
        var courseId = $('#courseId').val();
        console.log('Start time:'+startTime);
        console.log('End Time:'+endTime);
        $.ajax({
            url:"/createBatch?courseId="+courseId+"&startTime="+startTime+"&endTime="+endTime,
            type:"POST",
            data: form.serialize(),
            success:function(response){
                if(response=='1'){
                    console.log('data added successfully');
                    M.toast({html: 'Batch created successfully'});
                    var elem = $('#modal1');
                    var instance = M.Modal.getInstance(elem);                   
                    instance.close(); 
                }
                else{
                    $('#batchMsg').html('Please fill all fields to schedule batch');
                }
            },
            error:function(xhr){
                $('#msg').html('Error to submit course data');
            }
        });
    });



    $('#addSurveyDataBTN').click(function ($e) {
        $e.preventDefault();
        var form = $('#addSurveyForm');
        var surveyName = $('#surveyName').val();
        $.ajax({
            url: "/addNewSurvey",
            type: "POST",
            data: form.serialize(),
            success: function (formResponse) {
                if (formResponse == '0') {
                    $('#questionDiv').html('');
                    $("#surveyTable tbody").append(
                        '<tr>' +
                        '<td>' + surveyName + '</td>' +
                        '<td>0</td>' +
                        '<td>' + clicks + '</td>' +
                        '<td>Now</td>' +
                        '<td>-</td>' +
                        '</tr>'
                    );
                    $('#remark').val('');
                    M.toast({
                        html: '<h4>New Survey Created</h4>'
                    });
                    var elem = $('#createModal')
                    var instance = M.Modal.getInstance(elem);
                    instance.close();
                    clicks = 0;
                } else {
                    window.alert("Error");
                }
            },
            error: function (xhr) {
                window.alert("Error while creating survey");
            }
        });
    });

    $('.deleteBTNClass').click(function () {
        var survey_id = $(this).attr("name");
        $.ajax({
            url: "/archiveSurvey?survey_id=" + survey_id,
            type: "get",
            data: '',
            success: function (archiveResponse) {
                if (archiveResponse == '0') {
                    var surveyWithHash = '#' + survey_id;
                    $(surveyWithHash).remove();
                    M.toast({
                        html: '<h4>Survey deleted!</h4>'
                    })
                } else {
                    M.toast({
                        html: '<h4>Error deleting survey!</h4>'
                    })
                }
            }
        })
    });
    var startTimeEle = document.getElementById('startTime');
    var endTimeEle = document.getElementById('endTime');
    var startTime = ''
    var endTime = ''
    function onEndTimeChange() {
    var timeSplit = endTimeEle.value.split(':'),
        hours,
        minutes,
        meridian;
        hours = timeSplit[0];
        minutes = timeSplit[1];
    if (hours > 12) {
        meridian = 'PM';
        hours -= 12;
    } else if (hours < 12) {
        meridian = 'AM';
    if (hours == 0) {
        hours = 12;
    }
    } else {
        meridian = 'PM';
    }
    endTime = hours + ':' + minutes + ' ' + meridian;
    }
    function onStartTimeChange() {
    var timeSplit = startTimeEle.value.split(':'),
        hours,
        minutes,
        meridian;
        hours = timeSplit[0];
        minutes = timeSplit[1];
    if (hours > 12) {
        meridian = 'PM';
        hours -= 12;
    } else if (hours < 12) {
        meridian = 'AM';
    if (hours == 0) {
        hours = 12;
    }
    } else {
        meridian = 'PM';
    }
    startTime = hours + ':' + minutes + ' ' + meridian;
    }
</script>
{% endblock %}