{% extends "layout.html" %} {% block content %}
<div class="row col s12 m6 offset-m3 ">
        <div class="col s8 offset-s2" style="background: whitesmoke">    
        <div style="padding: 1px;margin-bottom: 20px;" class="white-text center green z-depth-1 lighten-1"><h3>My Profile</h3>
            
        </div>        
        <div class="right col s4 m8 l2">
                <a class="waves-effect waves-light btn" href="{{url_for('edit_profile')}}"><i class="material-icons">edit</i> Edit Profile</a>
            </div>  
        
           <div class="col s4 m4 l4 center" >               
               {% if teacher.profile_picture != none %}
            <img class="responsive-img " src="{{teacher.profile_picture}}">
            {%else%}
            <img class="responsive-img " src="https://alllearndatabucketv2.s3.ap-south-1.amazonaws.com/defaultAvatar.png">
            {%endif%}
            <h4 style="font-weight: bold;">{{teacher.teacher_name}}</h4>            
        </div>
        
            <div class="col s4 m4 l6">            
            <h4><b>Email:</b> {{user.email}}</h4>
            <h4><b>Phone:</b> {{teacher.phone}}</h4>
            <h4><b>Device Preference:</b> {{teacher.device_preference}}</h4> 
            <h4><b>Main Subjects:</b> {{teacher.subject_name}}</h4>
            <h4><b>Assigned Class:</b> {{teacher.class_sec_id}}</h4>
            <h4><b>Registration Date:</b> {{teacher.registration_date}}</h4>
            <h4><b>About Me:</b> {{user.about_me}}</h4>                                  
        </div>

        {% if accessRequestListRows!=none %}
        <div class="col s4 m6 l6">
                <h4>Access Requests</h4>
            <ul  class="collapsible">
            {%for row in accessRequestListRows%}
            <li>
            <div class="collapsible-header"><i class="material-icons">person_add</i>{{row.username}}</div>
            <div class="collapsible-body">
                <p>{{row.email}}</p>
                <p>{{row.phone}}</p>
                <p>{{row.user_type}}</p>
                <p>{{row.about_me}}</p>
                <a class="waves-effect waves-light btn">Grant Access</a>
            </div>
        </li>
            {%endfor%}
        </ul>
        </div>
        {%endif%}
        
    </div>            
  
    </div>

<script>
        $(document).ready(function(){
         $('.collapsible').collapsible();
       });                         
       </script>
{% endblock %}